@(orderList:List[domain.OrderDTO],payUrl:String,token:String)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部订单</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/obligation.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/obligation.js"></script>
    <script src="/assets/javascripts/my.js"></script>
</head>
<body>
<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>订单</h1>
</header>
<div class="wrap">
    <div class="nav-tab">
        <div class="nav-tab-top box">
            <ul>

                <li class="current">全部</li>
                <!--<li>待付款</li>-->
                <li>
                   <a href="javascript:;" class="message_list shopping">
                        <i class="message">待付款</i>
                        <span id="waitPay"></span>
                   </a>

                </li>

                <li>
                    <a href="javascript:;" class="message_list shopping">
                        <i class="message">待收货</i>
                        <span id="waitGoods"></span>
                    </a>

                </li>


            </ul>
        </div>
    </div>
    <div class="scroll-wrap">
        <div class="scroll-content">

            <!--全部订单-->

            <section class="current">
                <ul>
                    @for(order<-orderList){
                    <li value="@order.getOrder().getOrderId()" id="li@order.getOrder().getOrderId()">
                        <div class="con-stay clearfix">
                            <a href="/all/@order.getOrder().getOrderId()" class="clearfix">
                                <div class="day clearfix">
                                    <div class="day-l clearfix">
                                        <span>订单号: </span><i>@order.getOrder().getOrderId()</i>
                                        <span class="date">@order.getOrder().getOrderCreateAt()</span>
                                    </div>

    <!--//I:初始化即未支付状态，S:成功，C：取消， F:失败，R:已收货，D:已经发货，J:拒收，N已删除，T已退款，PI:拼购未支付状态，PS:拼购支付成功状态，PF:拼团失败还未成功退款-->
                                    <span class="day-r">

                                        @if(order.getOrder().getOrderStatus()=="I"){待支付}
                                        @if(order.getOrder().getOrderStatus()=="S"){待发货}
                                        @if(order.getOrder().getOrderStatus()=="C"){已取消}
                                        @if(order.getOrder().getOrderStatus()=="F"){失败}
                                        @if(order.getOrder().getOrderStatus()=="R"){已完成}
                                        @if(order.getOrder().getOrderStatus()=="D"){待收货}
                                        @if(order.getOrder().getOrderStatus()=="J"){拒收}
                                        @if(order.getOrder().getOrderStatus()=="N"){已删除}
                                        @if(order.getOrder().getOrderStatus()=="T"){已退款}
                                        @if(order.getOrder().getOrderStatus()=="PI"){拼购未支付状态}
                                        @if(order.getOrder().getOrderStatus()=="PS"){拼购支付成功状态}
                                        @if(order.getOrder().getOrderStatus()=="PF"){拼团失败还未成功退款}

                                    </span>
                                </div>
                            </a>
                            @for(sku<-order.getSku()){
                            <a href="@sku.getInvUrl()" class="commodity clearfix">
                                <div class="photo-img">
                                    <img src="@sku.getInvImg()" alt=""/>
                                </div>

                                <h2>@sku.getSkuTitle()</h2>

                                <div class="size"><span>@sku.getItemColor()</span><span>@sku.getItemSize()</span></div>

                                <span class="commodity-rmb clearfix"><i class="rmb">￥@sku.getPrice()</i><i class="number"> ×@sku.getAmount()</i></span>

                            </a>
                            }
                            <div class="payment">
                                @if(order.getOrder().getOrderStatus()=="I"||order.getOrder().getOrderStatus()=="F"){
                                    <a href="javascript:;" class="left cancelOrder">取消订单</a>
                                    <a href="javascript:;" class="right bg right-r" onclick="pay('@payUrl','@order.getOrder().getOrderId()','@token','@order.getOrder().getSecurityCode()')">去支付</a>
                                    <a href="javascript:;" class="right mi">应付金额:￥@order.getOrder().getPayTotal()</a>
                                }
                                @if(order.getOrder().getOrderStatus()=="D"){
                                    <a href="javascript:;" class="right bg">查看物流</a>
                                }
                                @if(order.getOrder().getOrderStatus()=="C"||order.getOrder().getOrderStatus()=="R"){
                                <a href="javascript:;" class="right bg discolour" onclick="delOrder(@order.getOrder().getOrderId(),0)">删除</a>

                                }

                            </div>
                        </div>
                    </li>
                    }

                </ul>
            </section>

            <section>
                <ul id="waitPayUl">
                    @for(order<-orderList){
                        @if(order.getOrder().getOrderStatus()=="I"||order.getOrder().getOrderStatus()=="F"){
                            <li value="@order.getOrder().getOrderId()">
                                <div class="con">
                                    <a href="/all/@order.getOrder().getOrderId()" class="clearfix">
                                        <div class="day clearfix">
                                            <div class="day-l">
                                                <span >订单号: </span><i>@order.getOrder().getOrderId()</i>
                                                <span class="date">@order.getOrder().getOrderCreateAt()</span>
                                            </div>

                                            <!--//I:初始化即未支付状态，S:成功，C：取消， F:失败，R:已收货，D:已经发货，J:拒收，N已删除，T已退款，PI:拼购未支付状态，PS:拼购支付成功状态，PF:拼团失败还未成功退款-->
                                            <span class="day-r">
                                                待支付
                                            </span>
                                        </div>
                                    </a>
                                    @for(sku<-order.getSku()){
                                    <a href="@sku.getInvUrl()" class="commodity clearfix">
                                        <div class="photo-img">
                                            <img src="@sku.getInvImg()" alt=""/>
                                        </div>
                                        <h2>@sku.getSkuTitle()</h2>
                                        <div class="size"><span>@sku.getItemColor()</span><span>@sku.getItemSize()</span></div>
                                        <span class="commodity-rmb"><i class="rmb">￥@sku.getPrice()</i><i class="number">数量: @sku.getAmount()</i></span>

                                    </a>
                                    }
                                    <div class="payment">
                                        <a href="javascript:;" class="left cancelOrder">取消订单</a>
                                        <a href="javascript:;" class="right bg right-r"  onclick="pay('@payUrl','@order.getOrder().getOrderId()','@token','@order.getOrder().getSecurityCode()')">去支付</a>
                                        <a href="javascript:;" class="right mi">应付金额:￥@order.getOrder().getPayTotal()</a>
                                    </div>
                                </div>
                            </li>
                        }
                    }

                </ul>
            </section>

            <section>
                <ul id="waitGoodsUl">
                    @for(order<-orderList){
                        @if(order.getOrder().getOrderStatus()=="D"){
                            <li>
                                <div class="con">
                                    <a href="/all/@order.getOrder().getOrderId()" class="clearfix">
                                        <div class="day clearfix">
                                            <div class="day-l">
                                                <span >订单号: </span><i>@order.getOrder().getOrderId()</i>
                                                <span class="date">@order.getOrder().getOrderCreateAt()</span>
                                            </div>

                                            <!--//I:初始化即未支付状态，S:成功，C：取消， F:失败，R:已收货，D:已经发货，J:拒收，N已删除，T已退款，PI:拼购未支付状态，PS:拼购支付成功状态，PF:拼团失败还未成功退款-->
                                            <span class="day-r">
                                                待收货
                                            </span>
                                        </div>
                                    </a>
                                    @for(sku<-order.getSku()){
                                    <a href="@sku.getInvUrl()" class="commodity clearfix">
                                        <div class="photo-img">
                                            <img src="@sku.getInvImg()" alt=""/>
                                        </div>
                                        <h2>@sku.getSkuTitle()</h2>
                                        <div class="size"><span>@sku.getItemColor()</span><span>@sku.getItemSize()</span></div>
                                        <span class="commodity-rmb"><i class="rmb">￥@sku.getPrice()</i><i class="number">数量: @sku.getAmount()</i></span>

                                    </a>
                                    }
                                    <div class="payment">
                                        <a href="javascript:;" class="right bg discolour">查看物流</a>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </section>





        </div>
    </div>
</div>
<div class="hint" id="tip" style="display:none"></div>
</body>
</html>