@(orderList:List[domain.OrderDTO],payUrl:String,token:String)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部订单</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/obligation.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/obligation.js"></script>
    <script src="/assets/javascripts/my.js"></script>
</head>
<body>
<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>订单</h1>
</header>
<div class="wrap">
    <!--<div class="bombbox-big">
        <div class="bombbox bombboxDivCss">
            <p class="bombbox-hd"></p>
            <p>企鹅为各位各位然后他如何如何</p>
            <div class="bombbo-b clearfix">
                <span class="confirmCss">确认</span>
                <span class="cancelCss">取消</span>
                </div>
        </div>
    </div>-->
   <div class="nav-tab">
        <div class="nav-tab-top box">
            <ul>

                <li class="current">全部</li>
                <!--<li>待付款</li>-->
                <li>
                   <a href="javascript:;" class="message_list shopping">
                        <i class="message">待付款</i>
                        <span id="waitPay"></span>
                   </a>

                </li>

                <li>
                    <a href="javascript:;" class="message_list shopping">
                        <i class="message">待收货</i>
                        <span id="waitGoods"></span>
                    </a>

                </li>

                <li>
                    <a href="javascript:;" class="message_list shopping">
                        <i class="message">待评价</i>
                        <span id="waitComment"></span>
                    </a>

                </li>


            </ul>
        </div>
    </div>
    <div class="scroll-wrap">
        <div class="scroll-content">
            <!--全部订单-->
            <section class="current">
                <ul>
                    @if(null!=orderList&&orderList.size>0){
                    @for(order<-orderList){
                    <li value="@order.getOrder().getOrderId()" id="li@order.getOrder().getOrderId()">
                        <div class="con-stay clearfix">
                            <a href="/all/@order.getOrder().getOrderId()" class="clearfix">
                                <div class="day clearfix">
                                    <div class="day-l clearfix">
                                        <span>订单号: </span><i>@order.getOrder().getOrderId()</i>
                                        <span class="date">@order.getOrder().getOrderCreateAt()</span>
                                    </div>

    <!--//I:初始化即未支付状态，S:成功，C：取消， F:失败，R:已收货，D:已经发货，J:拒收，N已删除，T已退款，PI:拼购未支付状态，PS:拼购支付成功状态，PF:拼团失败还未成功退款-->
                                    <span class="day-r">

                                        @if(order.getOrder().getOrderStatus()=="I"){待支付}
                                        @if(order.getOrder().getOrderStatus()=="S"){待发货}
                                        @if(order.getOrder().getOrderStatus()=="C"){已取消}
                                        @if(order.getOrder().getOrderStatus()=="F"){失败}
                                        @if(order.getOrder().getOrderStatus()=="R"){已完成}
                                        @if(order.getOrder().getOrderStatus()=="D"){待收货}
                                        @if(order.getOrder().getOrderStatus()=="J"){拒收}
                                        @if(order.getOrder().getOrderStatus()=="N"){已删除}
                                        @if(order.getOrder().getOrderStatus()=="T"){已退款}
                                        @if(order.getOrder().getOrderStatus()=="PI"){拼购未支付状态}
                                        @if(order.getOrder().getOrderStatus()=="PS"){拼购支付成功状态}
                                        @if(order.getOrder().getOrderStatus()=="PF"){拼团失败还未成功退款}

                                        @if(null!=order.getRefund()&&"Y"!=order.getRefund().getState()){
                                             <i class="color">(已锁定)</i>
                                         }

                                    </span>
                                </div>
                            </a>
                            @if(order.getSku().size()<=1){
                                @for(sku<-order.getSku()){
                                <a href="/all/@order.getOrder().getOrderId()" class="commodity clearfix">
                                    <div class="photo-img">
                                        <img src="@sku.getInvImg()" alt=""/>
                                    </div>

                                    <h2>@sku.getSkuTitle()</h2>

                                    <div class="size"><span>@sku.getItemColor()</span><span>@sku.getItemSize()</span></div>

                                    <span class="commodity-rmb clearfix"><i class="rmb">￥@sku.getPrice()</i><i class="number">x@sku.getAmount()</i></span>

                                </a>
                                }
                            }
                            @if(order.getSku().size()>1){
                             <a href="/all/@order.getOrder().getOrderId()" class="commodity clearfix">
                                @for(sku<-order.getSku()){
                                    <div class="photo-img">
                                        <img src="@sku.getInvImg()" alt="">
                                    </div>
                                }
                             </a>
                            }

                            @if(order.getOrder().getOrderStatus()=="I"||order.getOrder().getOrderStatus()=="F"){
                                <div class="payment clearfix">
                                    <a href="javascript:;" class="left cancelOrder" style="display:none;">取消订单</a>
                                    <a href="javascript:;" class="right red" onclick="pay('@payUrl','@order.getOrder().getOrderId()','@token','@order.getOrder().getSecurityCode()')">去支付</a>
                                    <span href="javascript:;" class="mi">应付金额:￥@order.getOrder().getPayTotal()</span>
                                </div>
                            }
                            @if(order.getOrder().getOrderStatus()=="D"||order.getOrder().getOrderStatus()=="R"){
                                <div class="payment clearfix">

                                    @if(order.getOrder().getOrderStatus()=="D"){
                                        <a href="javascript:;" class="right red" onclick="orderConfirmDelivery(@order.getOrder().getOrderId())">确认收货</a>
                                    }
                                    <!--@if(order.getOrder().getOrderStatus()=="R"){-->
                                        <!--<a href="javascript:;" class="right " onclick="delOrder(@order.getOrder().getOrderId(),0)">删除订单</a>-->
                                    <!--}-->
                                    <a href="/logistic/@order.getOrder().getOrderId()" class="left">查看物流</a>

                                </div>
                            }
                            @if(order.getOrder().getOrderStatus()=="C"||order.getOrder().getOrderStatus()=="T"){
                                <div class="payment clearfix">
                                    <a href="javascript:;" class="right " onclick="delOrder(@order.getOrder().getOrderId(),0)">删除订单</a>
                                </div>
                            }


                        </div>
                    </li>
                    }
                    }


                </ul>
            </section>

            <section>
                <ul id="waitPayUl">
                    @if(null!=orderList&&orderList.size>0){
                    @for(order<-orderList){
                        @if(order.getOrder().getOrderStatus()=="I"||order.getOrder().getOrderStatus()=="F"){
                            <li value="@order.getOrder().getOrderId()">
                                <div class="con-stay clearfix">
                                    <a href="/all/@order.getOrder().getOrderId()" class="clearfix">
                                        <div class="day clearfix">
                                            <div class="day-l">
                                                <span >订单号: </span><i>@order.getOrder().getOrderId()</i>
                                                <span class="date">@order.getOrder().getOrderCreateAt()</span>
                                            </div>

                                            <!--//I:初始化即未支付状态，S:成功，C：取消， F:失败，R:已收货，D:已经发货，J:拒收，N已删除，T已退款，PI:拼购未支付状态，PS:拼购支付成功状态，PF:拼团失败还未成功退款-->
                                            <span class="day-r">
                                                待支付
                                            </span>
                                        </div>
                                    </a>
                                    @if(order.getSku().size()<=1){
                                    @for(sku<-order.getSku()){
                                    <a href="/all/@order.getOrder().getOrderId()" class="commodity clearfix">
                                        <div class="photo-img">
                                            <img src="@sku.getInvImg()" alt=""/>
                                        </div>

                                        <h2>@sku.getSkuTitle()</h2>

                                        <div class="size"><span>@sku.getItemColor()</span><span>@sku.getItemSize()</span></div>

                                        <span class="commodity-rmb clearfix"><i class="rmb">￥@sku.getPrice()</i><i class="number">x@sku.getAmount()</i></span>

                                    </a>
                                    }
                                    }
                                    @if(order.getSku().size()>1){
                                    <a href="/all/@order.getOrder().getOrderId()" class="commodity clearfix">
                                        @for(sku<-order.getSku()){
                                        <div class="photo-img">
                                            <img src="@sku.getInvImg()" alt="">
                                        </div>
                                        }
                                    </a>
                                    }
                                    <div class="payment clearfix">
                                        <a href="javascript:;" class="left cancelOrder" style="display:none;">取消订单</a>
                                        <a href="javascript:;" class="right red"  onclick="pay('@payUrl','@order.getOrder().getOrderId()','@token','@order.getOrder().getSecurityCode()')">去支付</a>
                                        <span href="javascript:;" class="mi">应付金额:￥@order.getOrder().getPayTotal()</span>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    }

                </ul>
            </section>

            <section>
                <ul id="waitGoodsUl">
                    @if(null!=orderList&&orderList.size>0){
                    @for(order<-orderList){
                        @if(order.getOrder().getOrderStatus()=="D"){
                            <li>
                                <div class="con-stay clearfix">
                                    <a href="/all/@order.getOrder().getOrderId()" class="clearfix">
                                        <div class="day clearfix">
                                            <div class="day-l">
                                                <span >订单号: </span><i>@order.getOrder().getOrderId()</i>
                                                <span class="date">@order.getOrder().getOrderCreateAt()</span>
                                            </div>

                                            <!--//I:初始化即未支付状态，S:成功，C：取消， F:失败，R:已收货，D:已经发货，J:拒收，N已删除，T已退款，PI:拼购未支付状态，PS:拼购支付成功状态，PF:拼团失败还未成功退款-->
                                            <span class="day-r">
                                                待收货
                                            </span>
                                        </div>
                                    </a>
                                    @if(order.getSku().size()<=1){
                                    @for(sku<-order.getSku()){
                                    <a href="/all/@order.getOrder().getOrderId()" class="commodity clearfix">
                                        <div class="photo-img">
                                            <img src="@sku.getInvImg()" alt=""/>
                                        </div>

                                        <h2>@sku.getSkuTitle()</h2>

                                        <div class="size"><span>@sku.getItemColor()</span><span>@sku.getItemSize()</span></div>

                                        <span class="commodity-rmb clearfix"><i class="rmb">￥@sku.getPrice()</i><i class="number">x@sku.getAmount()</i></span>

                                    </a>
                                    }
                                    }
                                    @if(order.getSku().size()>1){
                                    <a href="/all/@order.getOrder().getOrderId()" class="commodity clearfix">
                                        @for(sku<-order.getSku()){
                                        <div class="photo-img">
                                            <img src="@sku.getInvImg()" alt="">
                                        </div>
                                        }
                                    </a>
                                    }
                                    <div class="payment clearfix">
                                        <a href="javascript:;" class="right red" onclick="orderConfirmDelivery(@order.getOrder().getOrderId())">确认收货</a>
                                        <a href="/logistic/@order.getOrder().getOrderId()" class="left">查看物流</a>

                                    </div>
                                </div>
                            </li>
                        }
                    }
                    }
                </ul>
            </section>

            <!--待评价-->
            <section>
                <!--
                                <ul>
                                    <li value="77703004" id="li77703004">
                                        <div class="con-stay clearfix">
                                            <a href="/all/77703004" class="clearfix">
                                                <div class="day-num clearfix">
                                                    <div class="day-l clearfix">
                                                        <span>订单号编号: </span><i>77703004</i>
                                                    </div>

                                                    <span class="num">
                                                        共<i>5</i>件商品
                                                    </span>
                                                </div>
                                            </a>

                                            <a href="/all/77703004" class="commodity clearfix">
                                                <div class="photo-img">
                                                    <img src="http://img.hanmimei.com/410fd58a4cf74dadb0593b34e69a55291451368819746.jpg" alt="">
                                                </div>
                                                <div class="photo-img">
                                                    <img src="http://img.hanmimei.com/410fd58a4cf74dadb0593b34e69a55291451368819746.jpg" alt="">
                                                </div>
                                                <div class="photo-img">
                                                    <img src="http://img.hanmimei.com/410fd58a4cf74dadb0593b34e69a55291451368819746.jpg" alt="">
                                                </div>
                                            </a>

                                            <div class="data-box clearfix">

                                                <a href="javascript:;" class="data">下单时间:<span>2016-05-05</span> <i>19:20:00</i></a>
                                            </div>
                                            <div class="payment clearfix">
                                                <a href="javascript:;" class="right red">评价晒单</a>
                                            </div>
                                         </div>
                                    </li>


                               </ul>
                -->
            <ul id="waitCommentUl">
                @if(null!=orderList&&orderList.size>0){
                    @for(order<-orderList){
                        @if(order.getOrder().getRemark()=="N"){
                        <li>
                            <div class="con-stay clearfix">
                                <a href="/all/@order.getOrder().getOrderId()" class="clearfix">
                                    <div class="day clearfix">
                                        <div class="day-l">
                                            <span >订单号: </span><i>@order.getOrder().getOrderId()</i>
                                        </div>
                                        <span class="num">
                                            共<i>@order.getSku().size()</i>件商品
                                        </span>
                                    </div>
                                </a>
                                @if(order.getSku().size()<=1){
                                @for(sku<-order.getSku()){
                                <a href="/all/@order.getOrder().getOrderId()" class="commodity clearfix">
                                    <div class="photo-img">
                                        <img src="@sku.getInvImg()" alt=""/>
                                    </div>


                                    <h2>@sku.getSkuTitle()</h2>

                                    <div class="size"><span>@sku.getItemColor()</span><span>@sku.getItemSize()</span></div>

                                    <span class="commodity-rmb clearfix"><i class="rmb">￥@sku.getPrice()</i><i class="number">x@sku.getAmount()</i></span>

                                </a>
                                }
                                }
                                @if(order.getSku().size()>1){
                                <a href="/all/@order.getOrder().getOrderId()" class="commodity clearfix">
                                    @for(sku<-order.getSku()){
                                    <div class="photo-img">
                                        <img src="@sku.getInvImg()" alt="">
                                    </div>
                                    }
                                </a>
                                }
                                <div class="data-box clearfix">
                                    <a href="javascript:;" class="data">下单时间:<span>@order.getOrder().getOrderCreateAt()</span></a>
                                </div>

                                <div class="payment clearfix">
                                    <a href="/comment/center/@order.getOrder().getOrderId()" class="right red">评论晒单</a>
                                    <a href="javascript:;" class="right " onclick="delOrder(@order.getOrder().getOrderId(),0)">删除订单</a>
                                </div>
                            </div>
                        </li>
                        }
                    }
                }
            </ul>
        </section>


        </div>
    </div>
</div>
@if(null==orderList||orderList.size<=0){
    <div class="not orderNot">
        <p>您还未有相关订单</p>
        <a href="/" class="look">去逛逛</a>
    </div>
}
@if(null!=orderList&&orderList.size>0){
<div class="not orderNot" style="display:none">
    <p>您还未有相关订单</p>
    <a href="/" class="look">去逛逛</a>
</div>
}
<div class="not orderNot" style="display:none">
    <p>您还未有待支付订单</p>
    <a href="/" class="look">去逛逛</a>
</div>

<div class="not orderNot" style="display:none">
    <p>您还未有待收货订单</p>
    <a href="/" class="look">去逛逛</a>
</div>
<div class="not orderNot" style="display:none">
    <p>您还未有待评论订单</p>
    <a href="/" class="look">去逛逛</a>
</div>

<div class="hint" id="tip" style="display:none"></div>
@comContent()
</body>
</html>