@(openType:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>施华洛世奇爱情水晶密码：520</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/article.css">
    <script src="/assets/javascripts/echo.min.js"></script>
    <script>
        echo.init();
    </script>

</head>
<body>
@if(openType=="M"||openType=="m"){
    <header class="head">
        <a href="/myView" class="back">
            <i></i>
            <b></b>
        </a>
        <h1>单品推荐</h1>
    </header>
    <div class="pd"></div>
}

<div class="wrap scope">
    <div class="case">
        <h1>施华洛世奇爱情水晶密码：520</h1>
        <p class="man">编辑:hmm</p>
        <div>
            <p>
                再过几天就是520（我爱你）网络情人节，再一次感受到世界对于单身狗们慢慢的恶意，除却2月14日的情人节，7月初七的七夕情人节，几乎每一个月都有那么一天是留给情人们以合理理由秀恩爱的。在即将来临的520网络情人节施华洛世奇献上一组爱情水晶密码：520，以璀璨的水晶表达无限爱意！温馨提示：单身汪们请提早备好狗粮。
            </p>
            <img src="/assets/images/d-320-320.png" data-echo="http://img.hanmimei.com/e1909936b85c4895a0ad5ae61d28cfd91463538757426.jpg">
           <!-- <img src="http://img.hanmimei.com/877e6bd2f98c489f9d86fafa026401671451371035343.jpg">-->

            <h2>尴尬一:晒斑增多</h2>
            <p>5月20日，见或者不见，爱就在那里，不离不弃！520是每一段爱情的密码，这不仅仅是简单的符号，包含的是对你无尽的爱意与璀璨而夺目的情感，正如施华洛世奇水晶耀眼的光芒，照亮爱情之路，相伴同行！</p>

            <a href="javascript:;" class="goods">
                <img src="/assets/images/d-320-320.png" data-echo="http://img.hanmimei.com/d9d31704e5bd4a37a05a1039718c60b91451367136487.jpg">
                <h3>施华洛世奇爱情水晶密码</h3>
                <p>￥52.00</p>
                <span>查看详情</span>
            </a>
        </div>

        <div>
            <h2>把水果做成首饰怎么样？</h2>
            <p>
                来自美国的设计师Zoe Einbinder，将水果化作少女脖颈上的迷人首饰，永远的挂在心上人的眼里。Zoe不仅仅是个首饰设计师，在此之前她首先是个摄影师，蔬菜与水果，食物与洋娃娃，任何美好的东西她都舍不得放弃拍摄。在一次短暂的失业期，她将试着将切片水果干燥，密封进透明树脂中，这样的处理让水果被定格进了最鲜艳特别的一瞬间，这一切都是由她手工完成。在这个暖暖的午后，看到这些栩栩如生的水果首饰
            </p>
            <img src="/assets/images/d-320-320.png"  data-echo="http://img.hanmimei.com/613756accdfe48488c703733c56c314f1463537610383.jpg">
            <!--<img src="http://img.hanmimei.com/6e4a84ad5aaf473ca76ce54ade30c59c1451367146194.jpg">-->
            <p>
                很多人喜欢夏天，那些充满生机的万物，看到心情也会变好了呢。而喜欢它最重要的原因是有各种各样的水果，满足了吃货的需求，多想留住夏天，留住水果的馨香和黏腻的阳光。该怎么做，设计师来教你。

            </p>
            <a href="javascript:;" class="goods">
                <img src="/assets/images/d-320-320.png" data-echo="http://img.hanmimei.com/de5a2f21a057478cb432fe4f9e903ed71451370005389.jpg">
                <h3>施华洛世奇爱情水晶密码</h3>
                <p>￥52.00</p>
                <span>查看详情</span>
            </a>
        </div>

    </div>

    <div class="interfix">
        <p class="interfix-p">相关商品</p>
        <ul class="product">
            <li>
                <a href="/detail/item/889634/112516">
                    <p class="figure figure-f">
                        <img src="/assets/images/d-320-320.png" data-echo="http://img.hanmimei.com/item/photo/20160406/1be47c613ac24ccda127321edd657ada1459923723240.jpg">
                    </p>
                    <p class="title-hd">海外直邮饰品</p>
                       <span class="title-fd">
                           <i class="naw">￥399</i>
                       </span>
                </a>

                <a href="/detail/item/888351/111387">
                    <p class="figure figure-f">

                        <img src="/assets/images/d-320-320.png" data-echo="http://img.hanmimei.com/7b557e46bded43358f6d06c8f0a10dbc1451370164326.jpg">
                    </p>
                    <p class="title-hd">韩秘美 Crystalshop 施华洛世奇 水晶巨星闪耀单钻银饰</p>
                       <span class="title-fd">
                           <i class="naw">￥228</i>
                       </span>
                </a>

            </li>

            <li>
                <a href="/detail/item/889634/112514">
                    <p class="figure figure-f">
                        <img src="/assets/images/d-320-320.png" data-echo="http://img.hanmimei.com/item/photo/20160406/774f309ff703497abd0da5a7086d330b1459923647631.jpg">
                    </p>
                    <p class="title-hd">海外直邮饰品</p>
                       <span class="title-fd">
                           <i class="naw">￥299</i>

                       </span>
                </a>

                <a href="/detail/item/888356/111396">
                    <p class="figure figure-f">

                        <img src="/assets/images/d-320-320.png" data-echo="http://img.hanmimei.com/de5a2f21a057478cb432fe4f9e903ed71451370005389.jpg">
                    </p>
                    <p class="title-hd">韩秘美 Crystalshop 施华洛世奇水晶 wendy温蒂爱的花环银饰</p>
                       <span class="title-fd">
                           <i class="naw">￥308</i>

                       </span>
                </a>
            </li>

            <!--<li>
                <a href="/detail/item/889637/112776">
                    <p class="figure figure-f">

                        <img src="http://img.hanmimei.com/item/photo/20160407/72a2b6c03c424990baf9f24e0544c5701459999030963.png">
                    </p>
                    <p class="title-hd">hhhhzzzz</p>
                       <span class="title-fd">
                           <i class="naw">￥222</i>

                                <i class="agio">￥222</i>
                                <b>0.9折</b>

                       </span>
                </a>

                <a href="/detail/item/889760/112788">
                    <p class="figure figure-f">
                        <img src="http://img.hanmimei.com/item/photo/20160407/72a2b6c03c424990baf9f24e0544c5701459999030963.png">
                    </p>
                    <p class="title-hd">hhhhzzzz</p>
                       <span class="title-fd">
                           <i class="naw">￥222</i>

                                <i class="agio">￥222</i>
                                <b>0.9折</b>
                       </span>
                </a>

            </li>-->
        </ul>

    </div>


</div>

</body>
</html>