@(openType:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>韩秘美单品推荐</title>
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/gather.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/article.css"/>
    <script src="/assets/javascripts/jquery/jquery-1.9.1.min.js"></script>
    <script src="/assets/javascripts/cartAmount.js"></script>

    <script>
        $(function(){
            $(window).load(function(){
                $("#loading").hide();
            });
        })

    </script>
</head>
<body>
@if(openType=="M"||openType=="m"){
    @headerH5("单品推荐")
}
<div id="loading">
    <img src="/assets/images/loading.gif"/>
</div>
<div class="warp scope">
    <div class="con">
        <img src="http://img.hanmimei.com/8ca4d388e3ce4ab0bbd67a60713d4ee81464340303468.png"/>
        <img src="http://img.hanmimei.com/999f43d5bd354c7097c60f99326f803c1464340333385.png"/>
        <img src="http://img.hanmimei.com/dc6b282ff5924eb49495d7023d9e9fdb1464340362529.png"/>
        <img src="http://img.hanmimei.com/6bbcb1c649054857b015bbed8ac5503c1464340388044.png"/>
        <img src="http://img.hanmimei.com/3a47f751e5564f318745bd0e009b8d0b1464340514143.png"/>
        <img src="http://img.hanmimei.com/b1f0a2a27726484d841b0cd1240ebc681464340408729.png"/>

        <img src="http://img.hanmimei.com/78fa93b0cfb64ae5aae41184e7be02501464340541360.png"/>
        <img src="http://img.hanmimei.com/26c4e587fe2647829470d7bbe79d8f0c1464340591204.png"/>
        <img src="http://img.hanmimei.com/d4da2cdcb12c41a8bcdfbe0a2dec60861464340616627.png"/>
        <img src="http://img.hanmimei.com/7b90c4a4e8c54cc19b9c13aa1a94a67d1464340632393.png"/>
        <img src="http://img.hanmimei.com/8d7a29746d9e473bb6b933e8a9f687581464340646124.png"/>
        <img src="http://img.hanmimei.com/b3126da208dc4277a6535426a346d8c21464340658420.png"/>

        <a href="/detail/item/888480/111675" class="nine redirect-app"></a>
        <a href="/detail/item/888477/111673" class="ten redirect-app"></a>
        <a href="/detail/item/888474/111671" class="eleven redirect-app"></a>
        <a href="/detail/item/888471/111669" class="twelve redirect-app"></a>
        <a href="/detail/item/888468/111667" class="thirteen redirect-app"></a>
        <a href="/detail/item/888465/111665" class="under-one redirect-app"></a>
        <a href="/detail/item/888462/111663" class="under-two redirect-app"></a>
        <a href="/detail/item/888459/111661" class="under-three redirect-app"></a>
        <a href="/detail/item/888456/111659" class="under-four redirect-app"></a>
        <a href="/detail/item/888453/111657" class="under-five redirect-app"></a>
        <a href="/detail/item/888450/111655" class="under-six redirect-app"></a>

    </div>
</div>
</body>
</html>