@(path:String,resultVo:domain.CartListResultVo,hisUrl:String)
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <meta http-equiv="Expires" CONTENT="0">

    <meta http-equiv="Cache-Control" CONTENT="no-cache">

    <meta http-equiv="Pragma" CONTENT="no-cache">

    <title>购物车</title>
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/com.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/sho.css"/>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/sho.js"></script>
    <script type="text/javascript" src="/assets/javascripts/cartAmount.js"></script>

</head>
<body onload="adSource()">
<!--头部开始-->
<div id="loading">
    <img src="/assets/images/loading.gif"/>
</div>

<header class="header">
   <!-- <a href="@hisUrl" class="home_link"></a>-->
    <div class="header-text">
        <h1 class="header-title">购物车</h1>
    </div>
    <!--<a href="@routes.ProductsCtrl.index()"><span class="icon-user-title" id="userBtn"></span></a>-->

</header>

<!--头部结束-->
<!--购买产品部分开始-->

<form id="settleForm" action="/settle" method="POST">
    <div class="hint-hd" id="hint-hd">友情提示 : 同一保税区商品总额有限制</div>
<div class="cart-goods" id="cart-goods">

    <input type="hidden" name="areaNum" value="@resultVo.getCartList().size()">


    @for((cart,index)<-resultVo.getCartList().zipWithIndex){
    <div class="areaAndSku">
        <div class="cart-goods-area">
            <div class="check-wrapper">
                <input type="checkbox" class="areac check" name="check_item" />
            </div>
            <span class="area">@cart.getInvAreaNm()</span>

            <!--<div class="xs postalCss" style="display:none;">行邮税: ￥<span>66.00</span></div>-->

            <input type="hidden" class="postalLimit" value="@cart.getPostalLimit()"/>
            <div id="hiddenArea@index" class="hiddenArea">
                <input type="hidden" name="invCustoms@index" value="@cart.getInvCustoms()" disabled="disabled"/>
                <input type="hidden" name="invArea@index" value="@cart.getInvArea()" disabled="disabled" class="invAreaCss"/>
                <input type="hidden" name="invAreaNm@index" value="@cart.getInvAreaNm()" disabled="disabled"/>
                <input type="hidden" name="cartNum@index" value="@cart.getCarts().size()" disabled="disabled"/>
            </div>
        </div>
        <ul class="cart-goods-list">

            @for((cartInfo,skuIndex)<-cart.getCarts().zipWithIndex){
                @if(cartInfo.getState()=="S"){
                    <li id="li@cartInfo.getCartId()" class="areaAndSku-s" >
                }
                @if(cartInfo.getState()!="S"){
                    <li id="li@cartInfo.getCartId()">
                }
                    <div class="item">
                        @if(cartInfo.getState()=="S"){
                        <div class="check-wrapper abate">
                        </div>
                        }
                        @if(cartInfo.getState()!="S"){
                            <div class="check-wrapper">
                                @if("Y"==cartInfo.getOrCheck()){
                                    <input type="checkbox" class="check-one check"  name="check_item" checked="checked" />
                                }else {
                                    <input type="checkbox" class="check-one check"  name="check_item" />
                                }

                            </div>
                        }
                        <div class="item-con">
                            <a href="javascript:;" class="item-con-l" target="_top">
                                <img src="@cartInfo.getInvImg()" alt=""/>
                            </a>
                            <div class="item-con-r">
                                <div class="cart-product-name">
                                    <a href="@cartInfo.getInvUrl()" target="_top" class="item-con-hd">
                                        <span>@cartInfo.getInvTitle()</span>
                                    </a>
                                </div>
                                <div class="cart-product-price clearfix">
                                    <div class="cart-product-price-l">
                                       <!--￥<span class="price">@cartInfo.getItemPrice()</span>-->
                                       <span class="spec">规格 :</span> <span class="spec">@cartInfo.getItemColor() @cartInfo.getItemSize()</span>
                                    </div>
                                    <div class="cart-product-price-r">
                                        ￥<span class="subtotal">@(cartInfo.getItemPrice().multiply(new java.math.BigDecimal(cartInfo.getAmount())))</span>
                                    </div>
                                </div>
                                <div class="cart-product-number">
                                    <a href="javascript:;" class="quantity-decrease">-</a>
                                    <input type="text" class="quantity" disabled='disabled' value="@cartInfo.getAmount()" required pattern="[0-9]" onkeyup="this.value=this.value.replace(/\D/g,'')" onblur=""/>
                                    <a href="javascript:;" class="quantity-increase">+</a>
                                    <i class="cart-del-btn" onclick="delCart(@cartInfo.getCartId())"></i>
                                </div>
                            </div>

                        </div>
                        @if(cartInfo.getState()!="S"){
                        <div id="hiddenSku@index-@skuIndex" class="hiddenSku">
                            @if("Y"==cartInfo.getOrCheck()){
                                <input type="hidden" name="cartId@index-@skuIndex" value="@cartInfo.getCartId()"  class="cartId"/>
                                <input type="hidden" name="skuId@index-@skuIndex" value="@cartInfo.getSkuId()" class="skuId"/>
                                <input type="hidden" name="amount@index-@skuIndex" value="@cartInfo.getAmount()" class="amount"/>
                                <input type="hidden" name="skuType@index-@skuIndex" value="@cartInfo.getSkuType()"  class="skuType"/>
                                <input type="hidden" name="skuTypeId@index-@skuIndex" value="@cartInfo.getSkuTypeId()"  class="skuTypeId"/>
                                <input type="hidden" name="state@index-@skuIndex" value="@cartInfo.getState()" class="state"/>
                                <input type="hidden" name="pinTieredPriceId@index-@skuIndex" value="0" />
                                <input type="hidden" name="skuTitle@index-@skuIndex" value="@cartInfo.getInvTitle()"/>
                                <input type="hidden" name="skuInvImg@index-@skuIndex" value="@cartInfo.getInvImg()"/>
                                <input type="hidden" name="skuPrice@index-@skuIndex" value="@cartInfo.getItemPrice()"/>
                            }else {
                                <input type="hidden" name="cartId@index-@skuIndex" value="@cartInfo.getCartId()" disabled="disabled" class="cartId"/>
                                <input type="hidden" name="skuId@index-@skuIndex" value="@cartInfo.getSkuId()" disabled="disabled" class="skuId"/>
                                <input type="hidden" name="amount@index-@skuIndex" value="@cartInfo.getAmount()" disabled="disabled" class="amount"/>
                                <input type="hidden" name="skuType@index-@skuIndex" value="@cartInfo.getSkuType()" disabled="disabled" class="skuType"/>
                                <input type="hidden" name="skuTypeId@index-@skuIndex" value="@cartInfo.getSkuTypeId()" disabled="disabled" class="skuTypeId"/>
                                <input type="hidden" name="state@index-@skuIndex" value="@cartInfo.getState()" disabled="disabled" class="state"/>
                                <input type="hidden" name="pinTieredPriceId@index-@skuIndex" value="0" disabled="disabled"/>
                                <input type="hidden" name="skuTitle@index-@skuIndex" value="@cartInfo.getInvTitle()" disabled="disabled"/>
                                <input type="hidden" name="skuInvImg@index-@skuIndex" value="@cartInfo.getInvImg()" disabled="disabled"/>
                                <input type="hidden" name="skuPrice@index-@skuIndex" value="@cartInfo.getItemPrice()" disabled="disabled"/>
                            }
                        </div>
                        }
                    </div>
                    <input type="hidden" class="restrictAmountCss" value="@cartInfo.getRestrictAmount()"/>
                    <input type="hidden" class="postalTaxRateCss" value="@cartInfo.getPostalTaxRate()"/>
                </li>
            }
        </ul>
    </div>
    }

</div>
<div class="hint" id="tip" style="display:none"></div>
<!--购买产品部分结束-->
<!--footer部分开始-->

<div class="last">

    <div class="footer-hd">
        <div class="footer-l">
            <!--
            <div class="footer-l-left">
                <i><input type="checkbox" class="check-all" name="check_all"/></i>
               全选
            </div>
            -->
            <div class="footer-l-right">
                总计:￥<span class="total" id="total">0.00</span>
                <div class="postage">包邮包税</div>
            </div>

        </div>
        <div class="footer-r settleBtn" id="selected">去结算(<span id="selectedTotal">0</span>)</div>
    </div>
</div>
    <input type="hidden" name="buyNow" value="2"/>
    <div class="adSourceCss"></div>
</form>
@footerMenu(4)
<!--footer部分结束-->
@comContent()
</body>
</html>