@(path:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/sho.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>

    <header class="head">
        <a href="@routes.ProductsCtrl.index()" class="back">
            <i></i>
            <b></b>
        </a>
        <h1>购物车空</h1>
    </header>


   <div class="wrap scope" style="padding:44px 0 0 0">
       <!--<img src="/assets/images/shoppingcart.png">
       <a href="@routes.ProductsCtrl.index()" class="bg">去逛逛</a>-->
       <div class="e-txt">
           <p>你的购物车是空的</p>
       </div>
       <div class="hot">
           <p class="hot-hd">为您推荐的今日商品</p>
           <ul class="product">
               <li class="clearfix">
                   <a href="/detail/item/888462/111663">
                       <p class="figure figure-f">
                           <img src="http://kgtest-images.oss-cn-hangzhou.aliyuncs.com/item/photo/20160519/4efe2848d1784414b10c2fdb12f0d87f1463642624730.jpg">
                       </p>
                       <p class="title-hd">韩秘美 Crystalshop 【只为你闪烁】施华洛世奇水晶奥斯汀手链</p>
                       <span class="title-fd">
                           <i class="naw">￥219</i>

                                <i class="agio">￥288</i>
                                <b>7.6折</b>

                       </span>
                   </a>

                   <a href="/detail/item/888432/111637">
                       <p class="figure figure-f">

                           <img src="http://kgtest-images.oss-cn-hangzhou.aliyuncs.com/item/photo/20160512/4de4121fdf11424f93309d13b337919b1463029200549.jpg">
                       </p>
                       <p class="title-hd"> W.DRESSROOM&amp;SNP 绅士欧巴面膜 </p>
                       <span class="title-fd">
                           <i class="naw">￥10</i>

                                <i class="agio">￥166.8</i>
                                <b>0.6折</b>

                       </span>
                   </a>
               </li>


               <li class="clearfix">
                   <a href="/detail/item/888462/111663">
                       <p class="figure figure-f">
                           <img src="http://kgtest-images.oss-cn-hangzhou.aliyuncs.com/item/photo/20160519/4efe2848d1784414b10c2fdb12f0d87f1463642624730.jpg">
                       </p>
                       <p class="title-hd">韩秘美 Crystalshop 【只为你闪烁】施华洛世奇水晶奥斯汀手链</p>
                       <span class="title-fd">
                           <i class="naw">￥219</i>

                                <i class="agio">￥288</i>
                                <b>7.6折</b>

                       </span>
                   </a>

                   <a href="/detail/item/888432/111637">
                       <p class="figure figure-f">

                           <img src="http://kgtest-images.oss-cn-hangzhou.aliyuncs.com/item/photo/20160512/4de4121fdf11424f93309d13b337919b1463029200549.jpg">
                       </p>
                       <p class="title-hd"> W.DRESSROOM&amp;SNP 绅士欧巴面膜 </p>
                       <span class="title-fd">
                           <i class="naw">￥10</i>

                                <i class="agio">￥166.8</i>
                                <b>0.6折</b>

                       </span>
                   </a>
               </li>
           </ul>

           <div class="bt-txt">
               <p>kakaogift 正品直邮 品质生活</p>
               <p>没有更多了</p>
           </div>
       </div>

   </div>


@comContent()
</body>
</html>