@(path:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/sho.css">
</head>
<body>

    <header class="head">
        <a href="@path" class="back">
            <i></i>
            <b></b>
        </a>
        <h1>购物车空</h1>
    </header>

   <div class="wrap scope">
       <img src="/assets/images/shoppingcart.png">
       <a href="@routes.ProductsCtrl.index()" class="bg">去逛逛</a>
   </div>
</body>
</html>