@(commentList:List[domain.CommentDetailDTO],pageCount:Integer,skuType:String,skuTypeId:Long)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评价详情</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/evaluate.css"/>
    <script type="text/javascript" src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/comment.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/hp.css">
    <script src="/assets/javascripts/jquery/TouchSlide.1.1.js"></script>

</head>
<body>

<header class="head">
    <a href="javascript:window.history.back()" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>评价</h1>
</header>

<div class="wrap">

    <div class="nav-tab">
        <div class="nav-tab-top box">
            <ul>
                <li onclick="commentTab('@skuType','@skuTypeId','1')">
                    <a href="javascript:;" class="message_list shopping current" >
                        <i class="message">全部</i>
                        <span>1234</span>
                    </a>
                </li>
                <li onclick="commentTab('@skuType','@skuTypeId','2')">
                    <a href="javascript:;" class="message_list shopping">
                        <i class="message">好评</i>
                        <span>1234</span>
                    </a>

                </li>
                <li onclick="commentTab('@skuType','@skuTypeId','3')">
                    <a href="javascript:;" class="message_list shopping">
                        <i class="message">差评</i>
                        <span>456</span>
                    </a>

                </li>
                <li onclick="commentTab('@skuType','@skuTypeId','4')">
                    <a href="javascript:;" class="message_list shopping">
                        <i class="message">晒图</i>
                        <span>32</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>
    <div class="scroll-wrap">
        <div class="scroll-content">
            <!--全部订单-->
            <section class="current">
                <ul id="commentUl1">
                    @if(null!=commentList&&commentList.size()>0){
                        @for(comment<-commentList){
                            <li>
                                <div class="hd clearfix">
                                    <span class="hd-l">
                                        <img src="@comment.getUserImg()"/>
                                    </span>
                                    <span class="hd-m">
                                        <i>@comment.getUserName()</i>
                                    </span>
                                    <span class="hd-r">
                                        <i>@comment.getCreateAt()</i>
                                    </span>
                                </div>

                                <div class="md">
                                    <p></p>
                                    <span>@comment.getContent()</span>
                                    <div class="clearfix">
                                        @if(null!=comment.getPictureList()&&comment.getPictureList().size()>0){
                                            @for(picture<-comment.getPictureList()){
                                                <img src="@picture">
                                            }
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </section>

            <section>
                <ul id="commentUl2">
                </ul>

            </section>

            <section>
                <ul id="commentUl3">
                    <!--
                    <li>
                        <div class="hd clearfix">
                            <span class="hd-l">
                                <img src="http://img.hanmimei.com/users/photo/20160229/14567165008891.jpg"/>
                            </span>
                            <span class="hd-m">
                                <i>a***</i>
                            </span>
                            <span class="hd-r">
                                <i>2016-04-25</i>
                                <b>15:56:50</b>
                            </span>
                        </div>

                        <div class="md">
                            <p></p>
                            <span>发货很快</span>
                            <div class="clearfix">
                                <img src="/assets/images/hmmapp-assess02.jpg">
                                <img src="/assets/images/hmmapp-assess02.jpg">
                                <img src="/assets/images/hmmapp-assess02.jpg">
                            </div>
                        </div>

                    </li>

                    <li>
                        <div class="hd clearfix">
                            <span class="hd-l">
                                <img src="http://img.hanmimei.com/users/photo/20160229/14567165008891.jpg"/>
                            </span>
                            <span class="hd-m">
                                <i>a***</i>
                            </span>
                            <span class="hd-r">
                                <i>2016-04-25</i>
                                <b>15:56:50</b>
                            </span>
                        </div>

                        <div class="md">
                            <p></p>
                            <span>发货快</span>
                        </div>

                        <div class="bm">
                            购买日期:
                            <i>2016-04-17</i>
                            <i>11:50:30</i>
                        </div>
                    </li>
                    -->
                </ul>

            </section>


            <section>
                <ul id="commentUl4">
                    <img src="/assets/images/0.jpg" alt="">
                    <img src="/assets/images/1.jpg" alt="">
                    <img src="/assets/images/2.jpg" alt="">
                    <img src="/assets/images/3.jpg" alt="">
                    <img src="/assets/images/0.jpg" alt="">
                    <img src="/assets/images/1.jpg" alt="">
                    <img src="/assets/images/2.jpg" alt="">
                    <img src="/assets/images/3.jpg" alt="">
                    <img src="/assets/images/0.jpg" alt="">
                    <img src="/assets/images/1.jpg" alt="">
                    <img src="/assets/images/2.jpg" alt="">
                    <img src="/assets/images/3.jpg" alt="">
                </ul>

            </section>
       </div>
</div>

</div>
    <input type="hidden" id="curPage1" value="1"/>
    <input type="hidden" id="curPage2" value="0"/>
    <input type="hidden" id="curPage3" value="0"/>
    <input type="hidden" id="curPage4" value="0"/>

<input type="hidden" id="skuType" value="@skuType"/>
<input type="hidden" id="skuTypeId" value="@skuTypeId"/>

    <div class="hint" id="tip" style="display:none"></div>
    @comContent()

<div class="previ" style="width: 100%;height: 100%;overflow: hidden;background: black;position: absolute;top: 0;left: 0;display: none">
    <div id="slideBox" class="slideBox">

        <div class="bd">
            <ul>

            </ul>
        </div>

        <div class="hd">
            <ul></ul>
        </div>
    </div>
</div>
</body>
</html>
