<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title></title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no"/>
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/gather.css"/>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script>
        $(function(){

            $(".favouone").click(function(){
                $(".cue").show();
            });
            setInterval(function(){
                $(".cue").hide();
            },3000);
        })
    </script>

</head>
<body>
<header class="head">
    <a href="/" class="back"></a>
    <h1>优惠</h1>
</header>

<div class="warp scope">
    <div class="con">
        <img src="/assets/images/groom/favourable01.png"/>
        <img src="/assets/images/favourable02.png"/>
        <img src="/assets/images/groom/favourable03.png"/>
        <img src="/assets/images/groom/favourable04.png"/>
        <img src="/assets/images/groom/favourable05.png"/>
        <img src="/assets/images/groom/favourable06.png"/>
        <img src="/assets/images/groom/favourable07.png"/>
        <img src="/assets/images/groom/favourable08.png"/>
        <img src="/assets/images/groom/favourable09.png"/>
        <img src="/assets/images/groom/favourable10.png"/>
        <a href="javascript:;" class="favouone"></a>
        <a href="/detail/item/888501/111689" class="favoutwo"></a>
    </div>

    <div class="cue">
        <p class="txt">恭喜你获得<span>20元</span>优惠券</p>
        <p class="coupon-deta">有效期 <span>2016-07-28</span> 至 <span>2016-08-27</span></p>
    </div>

</div>

</body>
</html>