<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拼团</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/fightgroups.css">
</head>
<body>
<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>我的拼团</h1>
</header>

<div class="wrap scope">
    <div class="fight-hd">
        <span class="color">拼团成功</span>
        <i>快去邀请好友加入吧!</i>
    </div>
    <div class="con">
        <a href="javascript:;" class="commodity">
            <img src="/assets/images/one.png" alt=""/>
            <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
            <span class="commodity-rmb"><i class="number color5">5人团</i> <i class="rmb color"> ￥75.00</i></span>

        </a>

    </div>
    <div class="urse-photo-box">

            <div class="urse-photo-m"><div class="urse-photo"><img src="/assets/images/personal-01.jpg"></div></div>
            <div class="urse-photo-m"><div class="urse-photo"><img src="/assets/images/personal-01.jpg"></div></div>
            <div class="urse-photo-m"><div class="urse-photo"><img src="/assets/images/100-2.png"></div></div>
            <div class="urse-photo-m"><div class="urse-photo"><img src="/assets/images/100-2.png"></div></div>
    </div>
    <div class="fight-txt"><p>还差<span class="color">2人</span>,盼你如北方人盼大蓝天</p></div>
    <div class="fight-timer">
        <span>团长</span>
        <i>2015-12-03 11:00开团</i>
    </div>

    <div class="fight-number">
        <span>还差<i class="color">2人</i>,邀请小伙伴来组团吧</span>
    </div>

    <div class="btn-box scope">
        <a href="#" class="btn bg">邀请好友</a>
    </div>



</div>


</body>
</html>

























