@(pin:domain.PinActivityDTO,url:String)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[拼团]@pin.getPinTitle()</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/fightgroups.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/my.js"></script>
    <script src="/assets/javascripts/countdown.js"></script>
    <script src="/assets/javascripts/detail.js"></script>
    <script src="/assets/javascripts/comfunc.js"></script>
    <script>window.urlParam = "@url"</script>
    <script>
        $(function(){
            $('.shade').click(function(){
                $(this).hide();
            });
            $('.inviteFriendCss').click(function(){
                $('.shade').show();
            });
        });
    </script>
</head>
<body>

<header class="head">
    <a href="/mypin" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>我的拼团</h1>
</header>

<div class="wrap scope">
    @if(pin.getPay()=="new"){
        <div class="fight-hd">
            @if(pin.getUserType=="master"){
               <img src="/assets/images/hmm_kaituan_success-.png"/>
            }
            @if(pin.getUserType!="master"){
                <img src="/assets/images/hmm_cantuan_success-.png"/>
            }
        </div>
    }
    @if(pin.getPay()!="new"){
        @if(pin.getStatus=="F"){
        <div class="fight-hd-txt">拼团失败,资金会在1~5个工作日内退回您的账户</div>
        <div class="fight-er">
        </div>
        }
        @if(pin.getStatus=="C"){
        <div class="fight-hd">
        </div>
        }
        @if(pin.getStatus=="N"){
        <div class="fight-er fight-hd">
            <span class="color"></span>
            <i></i>
        </div>
        }
    }


    <div class="con">
        <a href="@pin.getPinSkuUrl()" class="commodity">
            <div class="photo-img">
                <img src="@pin.getPinImg()" alt=""/>
            </div>
            <h2>@pin.getPinTitle()</h2>
            <span class="commodity-rmb"><i class="number color5">@pin.getPersonNum()人团</i> <i class="rmb color"> ￥@pin.getPinPrice()</i></span>
        </a>

        <div class="zutuan">
            @if(pin.getStatus=="F"){
                <img src="/assets/images/zutuan_fail.png"/>
            }
            @if(pin.getStatus=="Y"){
                 <img src="/assets/images/zutuan_z.png"/>
            }
            @if(pin.getStatus=="C"){
                <img src="/assets/images/zutuan_success.png"/>
            }
        </div>
        
    </div>

    <div class="urse-photo-box clearfix">
      @for(pinUser<-pin.getPinUsers()){
                <div class="urse-photo-m">
                    <div class="urse-photo">
                        <img src="@pinUser.getUserImg()">
                        @if(pinUser.isOrMaster()){
                            <span>团长</span>
                        }
                    </div>
                </div>
             }
            @{var i: Int=0}
            @for(i <- 1 to pin.getPersonNum()-pin.getPinUsers().size){
                <div class="urse-photo-m">
                    <div class="urse-photo">
                    <img src="/assets/images/100-2.png">
                    </div>
                </div>
            }
    </div>

    @if(pin.getStatus()=="Y"&&pin.getPersonNum()-pin.getPinUsers().size>0){
        <div class="fight-txt"><p>还差<span class="color">@(pin.getPersonNum()-pin.getPinUsers().size)人</span>,让小伙伴们都来组团吧!</p></div>
        <div class="txt"> <input type="hidden" id="countdown" value="@pin.getEndCountDown()"/>
            <span id="day_show"></span>
            <strong id="hour_show">&nbsp;</strong>
            <strong id="minute_show"></strong>
            <strong id="second_show"></strong>
        </div>
    }
    @if(pin.getStatus()=="C"){
        <div class="txt"> 谢谢大侠的鼎力相助</div>
    }


   <div class="fight-timer-big">
       <div class="triangle"></div>


    @for(pinUser<-pin.getPinUsers()){
        @if(pinUser.isOrMaster()==true){
            <div class="fight-timer">
                <div class="fight-photo">
                    <img src="@pinUser.getUserImg()">
                </div>
                <b>团长@pinUser.getUserNm()</b>
                <i>@pinUser.getJoinAt().substring(0,10)开团</i>
            </div>

        }
    }

   </div>

    @for(pinUser<-pin.getPinUsers()){
        @if(pinUser.isOrMaster()==false){
            <div class="fight-timer fight-f">
                <div class="fight-photo">
                    <img src="@pinUser.getUserImg()">
                </div>
                <b class="fight-f-b">@pinUser.getUserNm()</b>
                <i class="fight-f-i">@pinUser.getJoinAt().substring(0,10)参团</i>
            </div>
        }
    }

    
@if(pin.getOrJoinActivity()==0){
<div class="btn-box scope">
    <a href="/" class="home">
        <img src="/assets/images/home.png">
    </a>
    <form id="settleForm" action="/settle" method="POST">
        <input type="hidden" name="buyNow" value="-1"/>
        <input type="hidden" name="invCustoms0" value="@pin.getInvCustoms()"/>
        <input type="hidden" name="invArea0" value="@pin.getInvArea()"/>
        <input type="hidden" name="invAreaNm0" value="@pin.getInvAreaNm()"/>
        <input type="hidden" name="skuId0-0" value="@pin.getSkuId()"/>
        <input type="hidden" name="skuType0-0" value="@pin.getSkuType()"/>
        <input type="hidden" name="skuTypeId0-0" value="@pin.getSkuTypeId()"/>
        <input type="hidden" name="skuTitle0-0" value="@pin.getPinTitle()"/>
        <input type="hidden" name="skuInvImg0-0" value="@pin.getPinImg()"/>
        <input type="hidden" name="state0-0" value="@pin.getStatus()"/>
        <input type="hidden" name="skuPrice0-0"  value="@pin.getPinPrice()"/>
        <input type="hidden" name="pinTieredPriceId0-0"  value="@pin.getPinTieredPriceId()"/>
        <input type="hidden" name="pinActiveId" value="@pin.getPinActiveId()"/>
        <input type="hidden" id="curUrl" name="curUrl" value="@url" />
        <a href="hmmapp://data/@url" class="btn bg mabuy">立即下单</a>
    </form>
</div>
}

</div>

    @if(pin.getOrJoinActivity()!=0&&pin.getStatus()=="Y"&&pin.getPersonNum()-pin.getPinUsers().size>0){

    <!--最下面邀请组团-->
    <div class="fight-btn inviteFriendCss" id="inviteFriendDiv">
            <span>
                还差
                <i>@(pin.getPersonNum()-pin.getPinUsers().size)人</i>
                ,邀请小伙伴来组团吧
            </span>
    </div>
    }

    <div class="shade">
        <div class="box">
            <img src="/assets/images/img_share.png"/>
            <!--<span>
                还差
                <i>9人</i>
                ,邀请小伙伴来组团吧 !
            </span>-->
        </div>
    </div>


@comContent()

</body>
</html>

























