@(pin:domain.PinActivityDTO)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拼团</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/fightgroups.css">
</head>
<body>
<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>我的拼团</h1>
</header>

<div class="wrap scope">
    @if(pin.getStatus=="F"){
        <div class="fight-hd">
            <span class="color">拼团失败</span>
            <i>拼团失败,资金会在1~5个工作日内退回您的账户</i>
        </div>
    }
    @if(pin.getStatus=="C"){
        <div class="fight-hd">
            <span class="color">拼团成功</span>
            <i></i>
        </div>
    }
    @if(pin.getStatus=="N"){
    <div class="fight-hd">
        <span class="color">拼团取消</span>
        <i></i>
    </div>
    }


    <div class="con">
        <a href="javascript:;" class="commodity">
            <img src="@pin.getPinImg()" alt=""/>
            <h2>@pin.getPinTitle()</h2>
            <span class="commodity-rmb"><i class="number color5">@pin.getPersonNum()人团</i> <i class="rmb color"> ￥@pin.getPinPrice()</i></span>

        </a>

    </div>
    @{var needNum=pin.getPersonNum()-pin.getPinUsers().size}
    <div class="urse-photo-box">

             @for(pinUser<-pin.getPinUsers()){
                <div class="urse-photo-m"><div class="urse-photo"><img src="@pinUser.getUserImg()"></div></div>
             }
            @{var i: Int=0}
            @for(i <- 1 to pin.getPersonNum()-pin.getPinUsers().size){
                <div class="urse-photo-m"><div class="urse-photo"><img src="/assets/images/100-2.png"></div></div>
            }
    </div>
    @if(pin.getStatus()=="Y"&&pin.getPersonNum()-pin.getPinUsers().size>0){
        <div class="fight-txt"><p>还差<span class="color">@(pin.getPersonNum()-pin.getPinUsers().size)人</span>,让小伙伴们都来组团吧!</p></div>
    }

    @for(pinUser<-pin.getPinUsers()){
        @if(pinUser.isOrMaster()==true){
            <div class="fight-timer">
                <span>团长@pinUser.getUserNm()</span>
                <i>@pinUser.getJoinAt()开团</i>
            </div>
        }
        @if(pinUser.isOrMaster()==false){
            <div class="fight-timer">
                <span>@pinUser.getUserNm()</span>
                <i>@pinUser.getJoinAt()参团</i>
            </div>
        }

    }
    @if(pin.getStatus()=="Y"&&pin.getPersonNum()-pin.getPinUsers().size>0){
        <div class="fight-number">
            <span>还差<i class="color">@(pin.getPersonNum()-pin.getPinUsers().size)人</i>,邀请小伙伴来组团吧</span>
        </div>

        <div class="btn-box scope">
            <a href="#" class="btn bg">邀请好友</a>
        </div>
    }

</div>


</body>
</html>

























