<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/gather.css"/>
</head>
<body>
<div class="warp scope">
    <div class="con">
       <!-- <img src="http://img.hanmimei.com/2278b86a2a47414c9c4dd613f98516a71464229150506.jpg" width="750" height="2666" usemap="#Map" border="0" />-->
        <img src="http://img.hanmimei.com/ad57709cfb8240eb917bd1615ee26d321464240317628.png" width="750" height="2666" usemap="#Map" border="0" />
        <img src="http://img.hanmimei.com/0bcf45f67ba240b8b14873823520ab181464240381946.png" width="750" height="2666" usemap="#Map" border="0" />
        <a href="http://172.28.3.61:9000/themeDetail/447010" class="one"></a>
        <a href="http://172.28.3.61:9000/detail/customize/888301/112822" class="two"></a>
        <a href="http://172.28.3.61:9000/detail/vary/889586/112420" class="three"></a>
        <a href="http://172.28.3.61:9000/themeDetail/447010" class="four"></a>
        <a href="http://172.28.3.61:9000/detail/vary/889586/112420" class="five"></a>
        <a href="http://172.28.3.61:9000/themeDetail/447010" class="six"></a>
        <a href="http://172.28.3.61:9000/detail/vary/889586/112420" class="seven"></a>
    </div>
</div>
</body>
</html>