@(openType:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>韩秘美单品推荐</title>
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/gather.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/article.css"/>
    <script src="/assets/javascripts/jquery/jquery-1.9.1.min.js"></script>
    <script src="/assets/javascripts/list.js"></script>
    <script>
        $(function(){
            $(window).load(function(){
                $("#loading").hide();
            });
        })

    </script>
</head>
<body>
@if(openType=="M"||openType=="m"){
<header class="head">
    <a href="/" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>单品推荐</h1>
</header>
<div class="pd"></div>
}
<div id="loading">
    <img src="/assets/images/loading.gif"/>
</div>
<div class="warp scope">
    <div class="con">
       <!-- <img src="http://img.hanmimei.com/2278b86a2a47414c9c4dd613f98516a71464229150506.jpg" width="750" height="2666" usemap="#Map" border="0" />-->
        <img src="http://img.hanmimei.com/43482bd3279d44b6b15ddd5b8cc2685f1464340804432.png"/>
        <img src="http://img.hanmimei.com/9a70b5c4ee84499a9b4ead6f51c6285d1464340819432.png"/>
        <img src="http://img.hanmimei.com/f5272dc38c174003b35c1ad369768b4d1464340835815.png"/>
        <img src="http://img.hanmimei.com/854aa8bddb1a45459ffb4d0aac1557d41464340852622.png"/>
        <img src="http://img.hanmimei.com/92d0543f1e384f85b7ab607b858585841464340873676.png"/>
        <img src="http://img.hanmimei.com/1f43c6a68c074cebb016a17525b7eae51464340889121.png"/>

        <img src="http://img.hanmimei.com/da4f995c05d147a885878b2176bdd48e1464340906693.png"/>
        <img src="http://img.hanmimei.com/df017187812d422eaf5114fc4351a9f41464340922181.png"/>
        <img src="http://img.hanmimei.com/61199968ed544f0694b2a25d4ee2de451464340935223.png"/>
        <img src="http://img.hanmimei.com/601ce826e94446b6b5f9821659d0a62d1464340953393.png"/>
        <img src="http://img.hanmimei.com/d760ca3bca2b4138aac9b484f4545e301464340976486.png"/>
        <img src="http://img.hanmimei.com/0dcd8f79510f48d9964a37bf2f397a281464340989099.png"/>
        <a href="/detail/item/888501/111689" class="one redirect-app"></a>
        <a href="/detail/item/888498/111687" class="two redirect-app"></a>
        <a href="/detail/item/888495/111685" class="three redirect-app"></a>
        <a href="/detail/item/888492/111683" class="four redirect-app"></a>
        <a href="/detail/item/888489/111681" class="five redirect-app"></a>
        <a href="/detail/item/888486/111679" class="six redirect-app"></a>
        <a href="/detail/item/888483/111677" class="seven redirect-app"></a>
    </div>
</div>
</body>
</html>