@(orderRemarkList:List[domain.OrderRemarkDTO])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评价中心</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/graph.css"/>
    <script type="text/javascript" src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/comment.js"></script>
    <script type="text/javascript" src="/assets/javascripts/loading.js"></script>

</head>
<body>

<div id="loading">
    <img src="/assets/images/loading.gif"/>
</div>

<header class="head">
    <a href="/all" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>评价中心</h1>

</header>


<div class="wrap">
    <ul>
        @if(null!=orderRemarkList&&orderRemarkList.size()>0){
            @for(sku<-orderRemarkList){
                <li>
                    <div class="con-stay clearfix">

                        <a href="javascript:;" class="commodity clearfix" >
                            <div class="photo-img">
                                <img src="@sku.getOrderLine().getInvImg()" alt="">
                            </div>
                            <h2>@sku.getOrderLine().getSkuTitle()</h2>
                            @if(null!=sku.getComment()){
                                <span class="commodity-rmb clearfix" onclick="location.href='/comment/detail/@sku.getOrderLine().getSkuType()/@sku.getOrderLine().getSkuTypeId()/1/1'"><i class="number">查看评价</i></span>
                            }
                            @if(null==sku.getComment()){
                                <span class="commodity-rmb clearfix" onclick="commentView('@sku.getOrderLine().getOrderId()','@sku.getOrderLine().getSkuType()','@sku.getOrderLine().getSkuTypeId()','@sku.getOrderLine().getInvImg()')"><i class="number">去评价</i></span>
                            }

                        </a>
                    </div>
                </li>
            }
        }


    </ul>

</div>

</body>
</html>