@(orderList:List[domain.OrderDTO],payUrl:String,token:String)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/orderpage.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/my.js"></script>

</head>
<body>

<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>订单详情</h1>
    @if(orderList.get(0).getOrder().getOrderStatus()=="C"||orderList.get(0).getOrder().getOrderStatus()=="R"){
    <span onclick="delOrder(@orderList.get(0).getOrder().getOrderId(),1)"></span>
    }


</header>

<div class="wap">
    @if(orderList.get(0).getOrder().getOrderStatus()=="I"){
    <div class="time-item">
        <input type="hidden" id="countdown" value="@orderList.get(0).getOrder().getCountDown()"/>
        <span id="day_show">0天</span>
        <strong id="hour_show">0时</strong>
        <strong id="minute_show">0分</strong>
        <strong id="second_show">0秒</strong>
    </div>
    }
    <ul>
        @for(order<-orderList){
        <li>
            <p class="first">
                <span>订单号 :</span>
                <i id="orderId">@order.getOrder().getOrderId()</i>
            </p>

            <p>
                <span>订单状态 :</span>
                <i>@if(order.getOrder().getOrderStatus()=="I"){待支付}
                    @if(order.getOrder().getOrderStatus()=="S"){待发货}
                    @if(order.getOrder().getOrderStatus()=="C"){已取消}
                    @if(order.getOrder().getOrderStatus()=="F"){失败}
                    @if(order.getOrder().getOrderStatus()=="R"){已完成}
                    @if(order.getOrder().getOrderStatus()=="D"){待收货}
                    @if(order.getOrder().getOrderStatus()=="J"){拒收}
                    @if(order.getOrder().getOrderStatus()=="N"){已删除}
                    @if(order.getOrder().getOrderStatus()=="T"){已退款}
                    @if(order.getOrder().getOrderStatus()=="PI"){拼购未支付状态}
                    @if(order.getOrder().getOrderStatus()=="PS"){拼购支付成功状态}
                    @if(order.getOrder().getOrderStatus()=="PF"){拼团失败还未成功退款}
                </i>
            </p>

            <p>
                <span>支付方式 :</span>
                <i>
                    @if(order.getOrder().getPayMethod()=="JD"){京东}
                    @if(order.getOrder().getPayMethod()=="APAY"){支付宝}
                    @if(order.getOrder().getPayMethod()=="WEIXIN"){微信}
                </i>
            </p>

            <p>
                <span>下单时间 :</span>
                <i>@order.getOrder().getOrderCreateAt()</i>
            </p>

        </li>

        <li>
            <p class="first">
                <span>商品详情</span>
            </p>

            @for(sku<-order.getSku()){
                <div>
                    <a href="@sku.getInvUrl()" class="commodity">
                        <img src="@sku.getInvImg()" alt=""/>
                        <h2>@sku.getSkuTitle()</h2>
                        <span class="commodity-rmb">￥@sku.getPrice()<i class="rmb color"></i><i class="number">数量:@sku.getAmount()</i></span>
                    </a>
                    <a href="/service" class="right bg apply">申请售后</a>
                    @if(order.getOrder().getOrderStatus()=="R"){
                    <a href="/service" class="right bg">申请售后</a>
                    }
                </div>
            }
        </li>

        <li>
            <p class="first">
                <span>收货信息</span>
            </p>
            <p>
                <span>收货人 :</span>
                <i>@order.getAddress().getName()</i>
            </p>

            <p>
                <span>手机号码 :</span>
                <i>@order.getAddress().getTel()</i>
            </p>

            <p>
                <span>身份证 :</span>
                <i>@order.getAddress().getIdCardNum()</i>
            </p>

            <p>
                <span>收货地址 :</span>
                <i>@order.getAddress().getDeliveryCity()@order.getAddress().getDeliveryDetail()</i>
            </p>
        </li>

        <li>
            <p class="first">
                <span>订单金额</span>
            </p>
            <p>
                <span>订单总件数 :</span>
                <i>@order.getOrder().getOrderAmount()</i>
            </p>

            <p>
                <span>商品总费用 :</span>
                <i>@order.getOrder().getTotalFee()</i>
            </p>

            <p>
                <span>邮费 :</span>
                <i>@order.getOrder().getShipFee()</i>
            </p>

            <p>
                <span>行邮税 :</span>
                <i>@order.getOrder().getPostalFee()</i>
            </p>

            <p>
                <span>订单应付金额 :</span>
                <i>@order.getOrder().getPayTotal()</i>
            </p>
        </li>
        @if(order.getOrder().getOrderStatus()=="I"||order.getOrder().getOrderStatus()=="F"){
            <li value="@order.getOrder().getOrderId()" class="btn">
                <a href="javascript:;" class="left cancelOrder">取消订单</a>
                <a href="javascript:;" class="right bg"  onclick="pay('@payUrl','@order.getOrder().getOrderId()','@token','@order.getOrder().getSecurityCode()')">去支付</a>
            </li>
        }

        }
    </ul>

</div>
</body>
</html>