@(order:domain.OrderDTO,payUrl:String,token:String)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/orderpage.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/my.js"></script>
    <script src="/assets/javascripts/countdown.js"></script>

</head>
<body>
<div id="loading">
    <img src="/assets/images/loading.gif"/>
</div>

<header class="head">
    <a href="/all" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>订单详情</h1>
    @if(order.getOrder().getOrderStatus()=="C"||order.getOrder().getOrderStatus()=="R"||order.getOrder().getOrderStatus()=="T"){
         <span onclick="delOrder(@order.getOrder().getOrderId(),1)"></span>
    }


</header>


<div class="fixed-box" style="position:fixed;width: 100%">
<div class="wap">
    @if(order.getOrder().getOrderStatus()=="I"){
    <div class="time-item price" style="text-align:center">
        <input type="hidden" id="countdown" value="@order.getOrder().getCountDown()"/>
        <span id="day_show"></span>
        <strong id="hour_show">&nbsp;</strong>
        <strong id="minute_show"></strong>
        <strong id="second_show"></strong>
    </div>
    }
    <ul>
        <li>
            <p class="first">
                <span>订单号 :</span>
                <i id="orderId">@order.getOrder().getOrderId()</i>
            </p>

            <p>
                <span>订单状态 :</span>
                <i>@if(order.getOrder().getOrderStatus()=="I"){待支付}
                    @if(order.getOrder().getOrderStatus()=="S"){待发货}
                    @if(order.getOrder().getOrderStatus()=="C"){已取消}
                    @if(order.getOrder().getOrderStatus()=="F"){失败}
                    @if(order.getOrder().getOrderStatus()=="R"){已完成}
                    @if(order.getOrder().getOrderStatus()=="D"){待收货}
                    @if(order.getOrder().getOrderStatus()=="J"){拒收}
                    @if(order.getOrder().getOrderStatus()=="N"){已删除}
                    @if(order.getOrder().getOrderStatus()=="T"){已退款}
                    @if(order.getOrder().getOrderStatus()=="PI"){拼购未支付状态}
                    @if(order.getOrder().getOrderStatus()=="PS"){拼购支付成功状态}
                    @if(order.getOrder().getOrderStatus()=="PF"){拼团失败还未成功退款}
                </i>
                @if(null!=order.getRefund()&&"Y"!=order.getRefund().getState()){
                     <i class="color">(已锁定)</i>
                }
            </p>

            <p>
                <span>支付方式 :</span>
                <i>
                    @if(order.getOrder().getPayMethod()=="JD"){京东}
                    @if(order.getOrder().getPayMethod()=="APAY"){支付宝}
                    @if(order.getOrder().getPayMethod()=="WEIXIN"){微信}
                </i>
            </p>

            <p>
                <span>下单时间 :</span>
                <i>@order.getOrder().getOrderCreateAt()</i>
            </p>

        </li>

        <li>
            <p class="first">
                <span>商品详情</span>
            </p>

            @for(sku<-order.getSku()){
                <div class="clearfix">
                    <a href="@sku.getInvUrl()" class="commodity clearfix">
                        <div class="photo-img">
                            <img src="@sku.getInvImg()" alt=""/>
                        </div>

                        <h2>@sku.getSkuTitle()</h2>
                        <span class="commodity-rmb"><b>￥</b><i class="price">@sku.getPrice()</i><i class="rmb color"></i>数量:<i class="number">@sku.getAmount()</i></span>
                    </a>

                    @if(order.getOrder().getOrderStatus()=="R"){
                        <a  class="right apply" style="display:none">申请售后</a>
                    }
                    <input type="hidden" value="@sku.getSkuId()">
                </div>
            }
        </li>

        <li>
            <p class="first">
                <span>收货信息</span>
            </p>
            <p>
                <span>收货人 :</span>
                <i>@order.getAddress().getName()</i>
            </p>

            <p>
                <span>手机号码 :</span>
                <i>@order.getAddress().getTel()</i>
            </p>

            <p>
                <span>身份证 :</span>
                <i>@order.getAddress().getIdCardNum()</i>
            </p>

            <p>
                <span>收货地址 :</span>
                <i>@order.getAddress().getDeliveryCity()@order.getAddress().getDeliveryDetail()</i>
            </p>
        </li>

        <li>
            <p class="first">
                <span>订单金额</span>
            </p>
            <p>
                <span>订单总件数 :</span>
                <i>@order.getOrder().getOrderAmount()</i>
            </p>

            <p>
                <span>商品总费用 :</span>
                <i>@order.getOrder().getTotalFee()</i>
            </p>

            <p>
                <span>邮费 :</span>
                <i>@order.getOrder().getShipFee()</i>
            </p>

            <p>
                <span>行邮税 :</span>
                <i>@order.getOrder().getPostalFee()</i>
            </p>

            <p>
                <span>订单应付金额 :</span>
                <i id="payBackFee">@order.getOrder().getPayTotal()</i>
            </p>
        </li>
        @if(null!=order.getRefund()){
            <li>
                <p class="first">
                    <span>退货信息</span>
                </p>
                <p>
                    <span>退款金额 :</span>
                    <i>
                        ￥@order.getRefund().getPayBackFee()
                    </i>
                </p>
                <p>
                    <span>退款状态 :</span>
                    <i class="color">
                        @if(order.getRefund().getState()=="I"){申请受理中}
                        @if(order.getRefund().getState()=="A"){退款受理中，资金会在1-5个工作日内退回您的账户}
                        @if(order.getRefund().getState()=="R"){拒绝退款:@order.getRefund().getRejectReason()}
                        @if(order.getRefund().getState()=="N"){由于某种不可抗力量，导致退款受理失败，我们客服MM会及时联系您}
                        @if(order.getRefund().getState()=="Y"){退款受理成功}

                    </i>
                </p>
                <p>
                    <span>退款原因 :</span>
                    <i>
                        @order.getRefund().getReason()
                    </i>
                </p>

            </li>
        }
        <!--@if(order.getOrder().getOrderStatus()=="I"||order.getOrder().getOrderStatus()=="F"){
            <li value="@order.getOrder().getOrderId()" class="btn">
                <a href="javascript:;" class="left cancelOrder discolour" >取消订单</a>
                <a href="javascript:;" class="right bg"  onclick="pay('@payUrl','@order.getOrder().getOrderId()','@token','@order.getOrder().getSecurityCode()')">去支付</a>
            </li>
        }-->
        @if(order.getOrder().getOrderStatus()=="S"&&null==order.getRefund()){
            <li class="btn">
                <a href="javascript:;" class="left discolour applyRefundCss" >申请退货</a>
            </li>
        }
        @if(order.getOrder().getOrderStatus()=="D"){
            <li class="btn">
                <a href="/logistic/@order.getOrder().getOrderId()" class="left bg">查看物流</a>
                <a href="javascript:;" class="right bg" onclick="orderConfirmDelivery(@order.getOrder().getOrderId())">确认收货</a>
            </li>
        }
        @if(order.getOrder().getOrderStatus()=="R"){
            <li class="btn">
                <a href="/logistic/@order.getOrder().getOrderId()" class="left bg">查看物流</a>
            </li>
        }

        <input type="hidden" value="@order.getOrder().getOrderSplitId()" id="orderSplitId"/>
        <input type="hidden" value="@order.getOrder().getOrderStatus()" id="orderStatus"/>

    </ul>



</div>
    @if(order.getOrder().getOrderStatus()=="I"||order.getOrder().getOrderStatus()=="F"){
    <div value="@order.getOrder().getOrderId()" class="btn clearfix">

        <a href="javascript:;" class="right"  onclick="pay('@payUrl','@order.getOrder().getOrderId()','@token','@order.getOrder().getSecurityCode()')">去支付</a>
        <a href="javascript:;" class="left cancelOrder" >取消订单</a>
    </div>
    }

</div>



<div class="hint" id="tip" style="display:none"></div>
@comContent()
</body>
</html>