@(orderList:List[domain.OrderDTO])
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部订单</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/obligation.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/obligation.js"></script>
</head>
<body>
<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>订单详情</h1>
</header>
<div class="wrap">
    <div class="scroll-wrap">
        <div class="scroll-content">

            <!--全部订单-->

            <section class="current">
                <ul>
                    @for(order<-orderList){
                    <li>
                        <div class="con">
                            <div class="day">
                                <div class="day-l">
                                    <span >订单号: </span><i>@order.getOrder().getOrderId()</i>
                                    <span class="date">@order.getOrder().getOrderCreateAt()</span>
                                </div>

<!--//I:初始化即未支付状态，S:成功，C：取消， F:失败，R:已收货，D:已经发货，J:拒收，N已删除，T已退款，PI:拼购未支付状态，PS:拼购支付成功状态，PF:拼团失败还未成功退款-->
                                <span class="day-r">
                                    @if(order.getOrder().getOrderStatus()=="I"){<a href="/all/@order.getOrder().getOrderId()">待支付</a>}

                                </span>
                            </div>
                            @for(sku<-order.getSku()){
                            <a href="@sku.getInvUrl()" class="commodity">
                                <img src="@sku.getInvImg()" alt=""/>
                                <h2>@sku.getSkuTitle()</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥@sku.getPrice()</i><i class="number">数量: @sku.getAmount()</i></span>

                            </a>
                            }
                            <div class="payment">
                                <a href="javascript:;" class="left">取消订单</a>
                                <a href="javascript:;" class="right bg">完成</a>
                            </div>
                        </div>
                    </li>
                    }

                </ul>
            </section>

        </div>
    </div>
</div>

</body>
</html>