<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/obligation.css"/>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/obligation.js"></script>
</head>
<body>
<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>待收货</h1>

</header>

<div class="wrap">
    <div class="nav-tab">
        <div class="nav-tab-top">
            <ul>
                <li>全部</li>
                <li>待付款</li>
                <li>待发货</li>
                <li class="current">待收货</li>
                <li>待评价</li>
            </ul>
        </div>
    </div>
    <div class="scroll-wrap">
        <div class="scroll-content">
            <!--全部订单-->
            <section>
                <ul>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">订单状态</span>
                                <span class="day-r">待支付</span>
                            </div>
                            <a href="javascript:;" class="commodity">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>

                            </a>
                            <div class="payment">
                                <a href="javascript:;" class="left">取消订单</a>
                                <a href="javascript:;" class="right bg">立即支付</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">订单状态</span>
                                <span class="day-r">待支付</span>
                            </div>

                            <a href="javascript:;" class="commodity">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>

                            </a>
                            <div class="payment">
                                <a href="javascript:;" class="left">取消订单</a>
                                <a href="javascript:;" class="right bg">立即支付</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>

            <!-- 待支付 -->
            <section>
                <ul>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">订单状态</span>
                                <span class="day-r">待支付</span>
                            </div>
                            <a href="javascript:;" class="commodity">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>

                            </a>
                            <div class="payment">
                                <a href="javascript:;" class="left">取消订单</a>
                                <a href="javascript:;" class="right bg">立即支付</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">订单状态</span>
                                <span class="day-r">待支付</span>
                            </div>

                            <a href="javascript:;" class="commodity">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>

                            </a>
                            <div class="payment">
                                <a href="javascript:;" class="left">取消订单</a>
                                <a href="javascript:;" class="right bg">立即支付</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>


            <!-- 待发货-->
            <section>
                <ul>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">hmm123456</span>
                                <span class="day-r">买家已付款</span>
                            </div>
                            <a href="javascript:;" class="commodity">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>

                            </a>
                            <div class="payment">
                                <a href="javascript:;" class="left">取消订单</a>
                                <a href="javascript:;" class="right bg">提醒发货</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">hmm123456</span>
                                <span class="day-r">买家已付款</span>
                            </div>
                            <a href="javascript:;" class="commodity">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>

                            </a>
                            <div class="payment">
                                <a href="javascript:;" class="left">取消订单</a>
                                <a href="javascript:;" class="right bg">提醒发货</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>


            <!--待收货-->
            <section class="current">
                <ul>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">hmm123456</span>
                                <span class="day-r">卖家已发货</span>
                            </div>
                            <a href="javascript:;" class="commodity havenot">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>
                                <p>共计1件商品 合计:$75:00 (含关税$0.00 运费$0.00)</p>
                            </a>
                            <div class="duein">
                                <a href="javascript:;" class="right color">确认收货</a>
                                <a href="/logistics" class="right">查看物流</a>
                                <a href="javascript:;" class="left">延长收货</a>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">hmm123456</span>
                                <span class="day-r">卖家已发货</span>
                            </div>
                            <a href="javascript:;" class="commodity havenot">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>
                                <p>共计1件商品 合计:$75:00 (含关税$0.00 运费$0.00)</p>
                            </a>
                            <div class="duein">
                                <a href="javascript:;" class="right color">确认收货</a>
                                <a href="/logistics" class="right">查看物流</a>
                                <a href="javascript:;" class="left">延长收货</a>

                            </div>
                        </div>
                    </li>

                </ul>
            </section>



            <!--待评价-->
            <section>
                <ul>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">hmm123456</span>
                                <span class="day-r">交易成功</span>
                            </div>
                            <a href="javascript:;" class="commodity havenot">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>
                                <p>共计1件商品 合计:$75:00 (含关税$0.00 运费$0.00)</p>
                            </a>
                            <div class="duein">
                                <a href="/assess" class="right color">评价</a>
                                <a href="logistics" class="right">查看物流</a>
                                <a href="javascript:;" class="left">延长收货</a>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">hmm123456</span>
                                <span class="day-r">交易成功</span>
                            </div>
                            <a href="/assess" class="commodity havenot">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>
                                <p>共计1件商品 合计:$75:00 (含关税$0.00 运费$0.00)</p>
                            </a>
                            <div class="duein">
                                <a href="/assess" class="right color">评价</a>
                                <a href="logistics" class="right">查看物流</a>
                                <a href="javascript:;" class="left">延长收货</a>

                            </div>
                        </div>
                    </li>

                </ul>
            </section>
        </div>
    </div>
</div>

<div class="footer">
  <span class="color">
    <i>韩秘美,只卖韩国正品!</i>
    <i>app首单立减10元</i>
  </span>
    <a href="javascript:;" class="bg">立即下载</a>
</div>

</body>
</html>