@(orderId:String,splitOrderId:String,payBackFee:String)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/refundment.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/my.js"></script>
</head>


<body>
    <header class="head">
        <a href="javascript:window.history.back()" class="back">
            <i></i>
            <b></b>
        </a>
        <h1>申请退款</h1>
    </header>
    <form id="cell_refForm" method="post" action="/order/apply/refund" enctype="multipart/form-data">
    <div class="wap scope ">
        <div class="explain">
            <h3 class="explain-hd">退款说明:</h3>
            <section>
                <textarea class="" cols="140" name="reason" placeholder="最多200个字"></textarea>
            </section>
        </div>

        <div class="explain">
            <h3 class="explain-hd">退款金额: <span class="rmb">@payBackFee 元</span></h3>
        </div>


        <div class="explain">
            <h3 class="field-hd">选填写 ( 非必填 )</h3>
            <section>
                <input type="text" class="man" placeholder="联系人:" name="contactName" value="dddd">
                <input type="text" placeholder="联系电话:" name="contactTel" value="13716311853">

            </section>
        </div>


        <input type="hidden" name="orderId" value="@orderId">
        <input type="hidden" name="splitOrderId" value="@splitOrderId">
        <input type="hidden" name="payBackFee" value="@payBackFee">

        <input type="hidden" name="skuId" value="0">
        <input type="hidden" name="amount" value="1">
        <a href="javascript:;" class="refundBtnCss" >申请</a>


    </div>
   </form>

</body>
</html>