<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页立即购买</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/pay.css"/>
   <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/pay.js"></script>
</head>
<body>
<!--头部开始-->
<header class="head">
    <a href="/detail" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>支付结算</h1>
</header>

<div class="scope">
    <div class="address">
        <a href="javascript:;">
            <p><i class="add-icon"></i><span>姓名:</span><span>杨澜</span><span class="color">默认</span></p>
            <p><span>联系电话:</span><span>13260195155</span></p>
            <p><span>身份证号:</span><span>4130567708786866</span></p>
            <p><span>收货地址:</span><span>北京市东城区东小口兰各庄</span></p>
            <i>其它地址 ></i>
        </a>
    </div>
    <!--<div class="add">
        <a href="/addressnew" class="bg">添加收货地址</a>
    </div>-->


    <div class="money-box">
        <div class="text">杭州免税区</div>
        <h2><i class="picture"></i>冬季甜美风衣女学院风修身</h2>
        <div class="goods">
            <span class="order color">￥180.00</span>
            <span class="money">数量 : 1</span>
        </div>
    </div>



    <!--配送方式-->
    <div class="fashion">
        <div class="fashion-hd">

            <div class="account-j">
                   <span>发货时间</span>
                    <h2>
                        <input type="radio" class="pitch pitch-hd" checked>
                        <div class="quick">工作日与双休日与假期均可送货</div>
                    </h2>
                    <ul class="way">
                        <li>
                            <label>
                                <input type="radio" name="gol" class="pitch" checked>
                                <div class="quick">工作日与双休日与假期均可送货</div>
                            </label>
                        </li>

                        <li>
                            <label>
                                <input type="radio" name="gol" class="pitch">
                                <div class="quick">只工作日送达</div>
                            </label>
                        </li>

                        <li>
                            <label>
                                <input type="radio" name="gol" class="pitch">
                                <div class="quick">只休息日与假日送达</div>
                            </label>

                        </li>
                    </ul>
             </div>

             <div class="account-j">
                    <span>支付方式</span>
                    <h2>
                        <input type="radio" class="pitch pitch-hd" checked>
                        <div class="quick">在线支付</div>
                    </h2>
                    <ul class="way">
                        <li>
                            <label>
                                <input type="radio" name="go" class="pitch" checked>
                                <div class="quick">在线支付</div>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="go" class="pitch">
                                <div class="quick">京东支付</div>
                            </label>
                        </li>
                    </ul>
            </div>

        </div>

    </div>

    <div class="tariff">
        <ul>
            <li><span>可使用优惠券</span><i>未选择</i></li>
            <li><span>商品总价</span><i class="color">￥46.00</i></li>
            <li><span>优惠金额</span><i>￥00.00</i></li>
            <li><span>行邮税</span><i>￥00.00</i></li>
            <li><span>运费</span><i>￥00.00</i></li>

        </ul>
    </div>



</div>

<div class="refer-box">
    <span class="refer-rmb color">合计:￥46.00</span>
    <a href="javascript:;" class="refer bg">提交订单</a>

</div>


</body>
</html>