@(settle:domain.SettleVo,settleInfoList:List[domain.SettleInfo],buyNow:java.lang.Integer,pinActiveId:java.lang.Long,payUrl:String)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页立即购买</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <script type="text/javascript" src="/assets/javascripts/jquery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/assets/javascripts/jquery/area.js"></script>
    <script type="text/javascript" src="/assets/javascripts/my.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/address.css">
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/pay.css"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/pay.js"></script>
    <script src="/assets/javascripts/getAddress.js"></script>
</head>
<body>
<!--头部开始-->
<header class="head">
    <a href="javascript:;" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>支付结算</h1>
</header>
<form id="orderForm" action="/order/submit" method="POST">
    <div class="big">
        <div class="scope">
            <div class="address">
                @if(null==settle.getAddress()){
                <input type="hidden" name="addressId" value="0">
                <div class="settleAddressDiv">
                    <a href="javascript:;" class="plus-add bg de-add addressnew">新增收货地址</a>
                </div>
                <div class="alter clearfix otherAddressDiv" style="display:none;">
                    <a href="javascript:;" class="other">其它地址 ></a>
                </div>

                }
                @if(null!=settle.getAddress()){
                <input type="hidden" id="addressId" name="addressId" value="@settle.getAddress().getAddId()">
                <div class="settleAddressDiv">
                    <a href="javascript:;">
                        <p><i class="add-icon"></i><span>姓名:</span><span>@settle.getAddress().getName()</span>
                            @if(settle.getAddress().getOrDefault()==true){
                            <span class="color">默认</span>
                            }
                        </p>
                        <p><span>联系电话:</span><span>@settle.getAddress().getTel()</span></p>
                        <p><span>身份证号:</span><span>@settle.getAddress().getIdCardNum()</span></p>
                        <p><span>收货地址:</span><span>@settle.getAddress().getDeliveryCity() @settle.getAddress().getDeliveryDetail()</span></p>
                    </a>
                </div>
                <div class="alter clearfix otherAddressDiv">
                    <a href="javascript:;" class="other">其它地址 ></a>
                </div>

                }
            </div>
            <!--<div class="add">
                <a href="/addressnew" class="bg">添加收货地址</a>
            </div>-->
            <input type="hidden" name="areaNum" value="@settleInfoList.size()">
            @for((settleInfo,index)<-settleInfoList.zipWithIndex){
            <div class="money-box">
                <div class="text">@settleInfo.getInvAreaNm()</div>
                <input type="hidden" name="invCustoms@index" value="@settleInfo.getInvCustoms()"/>
                <input type="hidden" name="invArea@index" value="@settleInfo.getInvArea()"/>
                <input type="hidden" name="invAreaNm@index" value="@settleInfo.getInvAreaNm()"/>
                <input type="hidden" name="cartNum@index" value="@settleInfo.getCartInfos().size()"/>
                @for((cartInfo,cartIndex)<-settleInfo.getCartInfos().zipWithIndex){
                <div class="clearfix one">
                    <h2><i class="picture"> <img src="@cartInfo.getSkuInvImg()" alt="" height="80"/></i>@cartInfo.getSkuTitle()</h2>
                    <div class="goods">
                        <span class="order color">￥@cartInfo.getSkuPrice()</span>
                        <span class="money">数量 : @cartInfo.getAmount()</span>
                    </div>
                    <input type="hidden" name="cartId@index-@cartIndex" value="@cartInfo.getCartId()"/>
                    <input type="hidden" name="skuId@index-@cartIndex" value="@cartInfo.getSkuId()"/>
                    <input type="hidden" name="amount@index-@cartIndex" value="@cartInfo.getAmount()"/>
                    <input type="hidden" name="skuType@index-@cartIndex" value="@cartInfo.getSkuType()"/>
                    <input type="hidden" name="skuTypeId@index-@cartIndex" value="@cartInfo.getSkuTypeId()"/>
                    <input type="hidden" name="state@index-@cartIndex" value="@cartInfo.getState()"/>
                    <input type="hidden" name="pinTieredPriceId@index-@cartIndex" id="pinTieredPriceId" value="@cartInfo.getPinTieredPriceId()"/>
                </div>
                }
            </div>
            }

            <!--配送方式-->
            <div class="fashion">
                <div class="fashion-hd">

                    <div class="account-j">
                        <span>发货时间</span>
                        <h2>
                            <input type="radio" class="pitch pitch-hd" checked name="shipTime" value="1">
                            <div class="quick">工作日与双休日与假期均可送货</div>
                        </h2>
                        <ul class="way">
                            <li class="liOther">
                                <label>
                                    <input type="radio" name="shipTimeSub" class="pitch" checked value="1">
                                    <div class="quick">工作日与双休日与假期均可送货</div>
                                </label>
                            </li>

                            <li class="liOther">
                                <label>
                                    <input type="radio" name="shipTimeSub" class="pitch" value="2">
                                    <div class="quick">只工作日送达</div>
                                </label>
                            </li>

                            <li class="liOther">
                                <label>
                                    <input type="radio" name="shipTimeSub" class="pitch" value="3">
                                    <div class="quick">只休息日与假日送达</div>
                                </label>

                            </li>
                        </ul>
                    </div>

                    <div class="account-j">
                        <span>支付方式</span>
                        <h2>
                            <input type="radio" class="pitch pitch-hd" checked>
                            <div class="quick">在线支付</div>
                        </h2>
                        <ul class="way">
                            <li class="liOther">
                                <label>
                                    <input type="radio" name="payMethod" value="JD" class="pitch" checked>
                                    <div class="quick">在线支付</div>
                                </label>
                            </li>

                        </ul>
                    </div>
                    <div class="account-j">
                        <span>可使用优惠券</span>
                        <h2>
                            <input type="radio" class="pitch pitch-hd" checked>
                            <div class="quick couponDiv">不使用优惠券</div>
                        </h2>
                        <ul class="way">
                            <li class="liCoupon">
                                <label>
                                    <input type="radio" name="couponId" class="pitch" value="" checked>
                                    <div class="quick">不使用优惠券</div>
                                </label>
                            </li>
                            @if(null!=settle.getCoupons()){
                            @for(coupon<-settle.getCoupons()){
                            <li class="liCoupon">
                                <label>
                                    <input type="radio" name="couponId" value="@coupon.getCoupId()" class="pitch" >
                                    <div class="quick">满@coupon.getLimitQuota()减<i class="denominationSpan">@coupon.getDenomination()</i></div>
                                </label>
                            </li>
                            }
                            }
                        </ul>
                    </div>

                </div>

            </div>

            <div class="tariff">
                <ul>
                    <!--<li><span>可使用优惠券</span><i>未选择</i></li>-->
                    <li><span>商品总价</span><i class="color">￥@settle.getTotalFee()</i></li>
                    <li><span>优惠金额</span><i>￥@if(null==settle.getDiscountFee()){0} @if(null!=settle.getDiscountFee()){settle.getDiscountFee()}</i></li>
                    <li><span>行邮税</span><i>￥@settle.getPortalFee()</i></li>
                    <li><span>运费</span><i>￥@settle.getShipFee()</i></li>
                </ul>
            </div>


            <div class="shade">
                <div class="box">
                    <span>便宜不等人,请三思而行</span>
                    <div>
                        <a href="/" class="last">去意已决</a>
                        <a href="javascript:;" class="first">我在想想</a>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" name="buyNow" value="@buyNow"/>
        <input type="hidden" name="pinActiveId" value="@pinActiveId"/>
        <div class="refer-box">
            <span class="refer-rmb color">合计:￥<span id="totalPaySpan">@settle.getTotalPayFee()</span></span>
            <a href="javascript:;" class="refer bg submitOrder">提交订单</a>

        </div>
    </div>
</form>

<input type="hidden" id="tempTotal" value="@settle.getTotalPayFee()"/>
<form id="payForm" action="@payUrl" method="POST" accept-charset="utf-8">
    <input type="hidden" id="orderId" name="orderId" value="0"/>
    <input type="hidden" id="token" name="token" value=""/>
    <input type="hidden" id="securityCode" name="securityCode" value=""/>
</form>

<div class="hint" id="tip" style="display:none"></div>

<div id="addressArea" class="add-shade" style="height: 100%;overflow: scroll">

    <ul class="ul-box clearfix scope">

        <li class="amputate clearfix">
            <span> × </span>
        </li>

        <!--
        <li id="li700351" class="ul-box-li clearfix">
            <div class="address clearfix">
                <a href="javascript:;" class="sel_add clearfix">

                    <p><i class="add-icon"></i><span>姓名:</span><span>发奖金</span>

                        <span class="color">默认</span>

                    </p>
                    <p><span>联系电话:</span><span>18392861591</span></p>
                    <p><span>身份证号:</span><span>610124198903167511</span></p>
                    <p class="clearfix"><span class="add-l">收货地址:</span><span class="add-r">北京市 北京市 朝阳区积点口德都看到</span></p>
                </a>

                <div class="alter clearfix">

                    <a href="javascript:;" class="alter-btn color" onclick="delAddress(700351,true)">删除</a>
                    <a id="700351" href="javascript:;" class="color addup">修改</a>
                </div>
            </div>
        </li>
       -->


    </ul>
    <a href="javascript:;" class="plus-add bg de-add addressnew">新增收货地址</a>
</div>

<!--添加地址-->
<div class="xnew-add-shade" id="newAddressDiv"></div>
<!--更新地址-->
<div class="xnew-add-shade" id="updateAddressDiv"></div>



</body>
</html>