<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
	<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
	<!-- <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 400px)" name="viewport"> -->
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
    <title>韩秘美,只卖韩国正品</title>
 	<link rel="stylesheet" href="/stylesheets/button.css">
	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css" media="only screen and (min-width: 621px)">
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage_600.css"  media="only screen and (min-width: 320px) and (max-width: 620px)">
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage_300.css"  media="only screen and (max-width: 319px)"> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/homepage_index.css">
	<!--slider import -->
	<link rel="stylesheet" href="/stylesheets/hp.css">
	<style>
	.cycle-slideshow { width: 100%;}
	.cycle-slideshow div { width: 100%; height: auto }
	.cycle-caption {
	    position: absolute;
	    color: white;
	    bottom: 15px;
	    right: 15px;
	    z-index: 700;
	}
	#screen_wrap {
	    min-width: 320px;
	    max-width: 750px;
	    margin-left: auto;
	    margin-right: auto;
	    position: relative;
	    overflow: auto;
	}
	.nav_ban_detail {
	    position: absolute;
	    text-align: center;
	    width: 100%;
	    z-index: 200;
	    top: 10px;
	    left: 0;
	}
	.composite-slide > div .cycle-overlay {
	    color: white;
	    background: black;
	    opacity: .6;
	    filter: alpha(opacity=60);
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    padding: 15px;
	}
	.cycle-pager {
	    text-align: center;
	    width: 100%;
	    z-index: 500;
	    position: absolute;
	    top: 22px;
	    overflow: hidden;
	}
	.cycle-pager span {
	    font-family: arial;
	    font-size: 50px;
	    width: 17px;
	    height: 17px;
	    display: inline-block;
	    color: #ddd;
	    cursor: pointer;
	    line-height: 17px;
	}
	.cycle-pager span.cycle-pager-active { 
		color: #F22F65;
	}
	.cycle-pager > * { cursor: pointer;}
	</style>
</head>
<body>
	<div id='screen_wrap'>
		<div class='banner'>
			<img u="image" src="/billboard/55.jpg" style="width: 100%;">
			<!-- <a id="topbanner-close" class='bannerclose'></a> -->
			<a id="topbanner-close" href="javascript:void(0)" class="closeBtn" mars_sead="ads_close-3_btn">
				<span>×</span>
			</a>
		</div>
		<header id="M_headBar" class="ui-head-bar">
			<span class="icon-search-title" id="searchBtn"></span>
			<h1>
				<a href="/homepage" class="logo"></a>
			</h1>
			<a href="/login"><span class="icon-user-title" id="userBtn"></span></a>
		</header>
		<div id="M_search" style="display: none;">
				<form id="search_from" action="search">
					<input type="text" placeholder="请输入商品名">
					<div style="color: rgb(153, 153, 153);"></div>
				</form>
		</div>
		<div id='slide' class="cycle-slideshow composite-slide"
			data-cycle-slides="> div.slide-img"
			data-cycle-fx="scrollHorz"
			data-cycle-pause-on-hover="true"
		    data-cycle-speed=400
		    data-cycle-timeout=0
			data-cycle-swipe=true
			data-cycle-swipe-fx=scrollHorz
			data-cycle-pager-event="mouseover"
		>
			<div class="cycle-pager"></div>
			<div class='slide-img'>
				<img src="/images/750/0.jpg" style='display: block;' width='100%'>
			</div>
			<div class='slide-img'>
				<img style='display: block;' width='100%'>
			</div>
			<div class='slide-img'>
				<img style='display: block;' width='100%'>
			</div>
			<div class='slide-img'>
				<img style='display: block;' width='100%'>
			</div>
		</div>
		<!-- <div class="hmm_content">
			<div class="discount">
				<h2 class="title">折扣专区<span>Sale</span></h2>
				<div class='hmm_brand_container'>
					<ul>
						<li>
							<div class='brand_list_box'>
								<div class='brand_list_img'>
									<img style='max-width:100%;height:100%;border:0;padding:0;margin:0;border-image-width: 0;width: 100%;'src="/images/600x287/Crystalshop_1952033580.png">
									<div class='brand_list_title'>
										<span class='brand_discount'><b class='brand_discount_amount'>48</b><b class='brand_discount_percent'>%</b></span>
										<div class='brand_price_origin'>￥288.00</div>
										<div class='brand_price_current'>￥139.00</div>
										<div class='brand_vertical_line'></div>
										<div class='brand_span_text'>Crystalshop<span class='brand_span_text_font'> 施华洛世奇水晶银饰套装</span></div>
										<div class='brand_unpack_price'>项链+耳钉</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class='brand_list_box'>
								<div class='brand_list_img'>
									<img style='max-width:100%;height:100%;border:0;padding:0;margin:0;border-image-width: 0;width: 100%;'src="/images/600x287/Crystalshop_1952037109.png">
									<div class='brand_list_title'>
										<span class='brand_discount'><b class='brand_discount_amount'>61</b><b class='brand_discount_percent'>%</b></span>
										<div class='brand_price_origin'>￥388.00</div>
										<div class='brand_price_current'>￥239.00</div>
										<div class='brand_vertical_line'></div>
										<div class='brand_span_text'>Crystalshop<span class='brand_span_text_font'> 施华洛世奇水晶银饰套装</span></div>
										<div class='brand_unpack_price'>项链+耳钉</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class='brand_list_box'>
								<div class='brand_list_img'>
									<img style='max-width:100%;height:100%;border:0;padding:0;margin:0;border-image-width: 0;width: 100%;'src="/images/600x287/Crystalshop_1952039870.png">
									<div class='brand_list_title'>
										<span class='brand_discount'><b class='brand_discount_amount'>69</b><b class='brand_discount_percent'>%</b></span>
										<div class='brand_price_origin'>￥388.00</div>
										<div class='brand_price_current'>￥269.00</div>
										<div class='brand_vertical_line'></div>
										<div class='brand_span_text'>Crystalshop<span class='brand_span_text_font'> 8mm闪烁球14K金耳钉</span></div>
										<div class='brand_unpack_price'>耳钉</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div> 
			-->
			<div class="discount-floor info">
				<div class='discount'>
					<a class='half-floor'>					
						<img src="/images/discount/385.jpg" width="100%" border="0">				
					</a>				
					<a class='up-floor'>							
						<img src="/images/discount/55deb2acNa7d92567.jpg" width="100%">						
					</a>					
					<a class='down-floor'>					
						<img src="/images/discount/55deb2acNdcce46bd.jpg"  width="100%" >		
					</a>					
				</div>
			</div>
			<div class="info">
				<a class="clothes">				
					<img src="/images/hp_new/class_jewelry_title.png">
					<span>配饰畅销榜 >></span>			
				</a>
				<section>
					<a class='half-floor'>					
						<img src="/images/448/55dc148bN5471cb69.jpg" width="100%" border="0">
						<span class='hotsale-brand'>施华洛世奇水晶</span>
						<span class='hotsale-title'><b>NO.1</b> 项链 8mm水晶球 纯金</span>				
					</a>				
					<a class='up-floor'>							
						<img src="/images/448/55dc0b8cN73b8a08d.jpg" width="50%" border="0">
						<span class='hotsale-brand-down'>施华洛世奇水晶</span>
						<span class='hotsale-title-down'><b>NO.2</b> 手链 珍珠 松紧型</span>							
					</a>					
					<a class='down-floor'>							
						<img src="/images/448/55d69834Na7c567cd.jpg" width="50%" border="0">
						<span class='hotsale-brand-down' style='margin-top: 5px;'>施华洛世奇水晶</span>
						<span class='hotsale-title-down' style='top: 20px;'><b>NO.3</b> 耳钉 14K金 8mm珍珠</span>							
					</a>
				</section>
			</div>
			<div class="info">
				<a class="clothes">				
					<img src="/images/hp_new/class_makeup_title.png">
					<span>化妆品畅销榜 >></span>			
				</a>
				<section>
					<!-- <a>
						<dl class="main">
							<dt>
								<img src="/images/448/55d588ccN3949f909.jpg">
							</dt>
							<dd>Skin1004</dd>
							<dd>貂油霜50ML</dd>
						</dl>
					</a>
					<div class="count">
						<div class="list">
							<a>
								<img src="/images/448/55e6b7a0Nb1ce7f03.jpg" style="width: 50%;">
								<p>气垫粉+护手霜</p>
							</a>
						</div>
						<div class="list">
							<a>
								<img src="/images/448/55e6c360N971c73cd.jpg" style="width: 50%;">
								<p>BB霜+护手霜</p>
							</a>
						</div>
					</div>			 -->
					<a class='half-floor'>					
						<img src="/images/448/55d588ccN3949f909.jpg" width="100%" border="0">
						<span class='hotsale-brand'>Skin1004</span>
						<span class='hotsale-title'><b>NO.1</b> 貂油霜50ML</span>				
					</a>				
					<a class='up-floor'>							
						<img src="/images/448/55e6b7a0Nb1ce7f03.jpg" width="50%" border="0">
						<span class='hotsale-brand-down'>FASY</span>
						<span class='hotsale-title-down'><b>NO.2</b> 气垫粉 护手霜 套装</span>							
					</a>					
					<a class='down-floor'>							
						<img src="/images/448/55e6c360N971c73cd.jpg" width="50%" border="0">
						<span class='hotsale-brand-down'>FASY</span>
						<span class='hotsale-title-down'><b>NO.3</b> BB霜 护手霜 套装</span>							
					</a>
				</section>
			</div>
			<div class="info love">
				<h3>			
					<span></span> 精选推荐 <span></span>		
				</h3>
				<!-- <div class="goods_wall waterfall-container">
					<div class="poster_grid poster_wall">
						<figure class="wall_figure">
							<a class="pic_load">
								<img src="http://d03.res.meilishuo.net/pic/_o/6d/4e/0f0a940084ab8e65cdd2a4a77334_640_960.cf.jpg_14396d6d_s1_q0_150_5_0_226_800.jpg" title="印花长袖T恤+半身裙套装">
							</a>
							<p class="clothesTitle">印花长袖T恤+半身裙套装</p>
							<figcaption>
								<span class="price">￥99.00</span>
								<span class="like icon-heart">6</span>
							</figcaption>
						</figure>
					</div>
					<div class="poster_grid poster_wall">
						<figure class="wall_figure">
							<a class="pic_load">
								<img src="http://d03.res.meilishuo.net/pic/_o/56/59/ce28b2dddf4aa4b59c021634866c_640_832.ch.jpg_7792a193_s1_q0_150_5_0_226_800.jpg" title="复古印花及膝百褶半身裙">
							</a>
							<p class="clothesTitle">复古印花及膝百褶半身裙</p>
							<figcaption>
								<span class="price">￥79.00</span>
								<span class="like icon-heart">2680</span>
							</figcaption>
						</figure>
					</div> -->
					<!-- <div class="panel">
					   		<ul id="wall_wrap" class="wall_wrap">
								<div class="wall_col" id="item0wall">
									<div class="Pcontainer light" data-page="0" style="height: auto;">
										<li class="wall_item">
											<a>
												<div class="img-detail">
													<img class="fadeIn" src="http://s18.mogucdn.com/p1/150904/t0sqn_iezwmzbzmvsdqzjwgmzdambqgyyde_640x960.jpg_320x999.jpg">
													<div class="img-shadow"></div>
												</div>
												<div class="title-word">  汤姆家  韩版新款学院风假两件连衣裙  </div>
												<div class="priceattention">
													<span class="price">￥69.30</span>
													<span class="attention">17</span>
												</div>
											</a>
										</li>
										<li class="wall_item">
											<a>
												<div class="img-detail">
													<img class="fadeIn" src="http://s11.mogucdn.com/p1/150903/1sve5v_ieztqyrrmiytsojwgmzdambqgyyde_1000x1500.jpg_320x999.jpg">
													<div class="img-shadow"></div>
												</div>
												<div class="title-word">  【雅诗家】韩版显瘦两扣小脚裤  </div>
												<div class="priceattention">
													<span class="price">￥39.90</span>
													<span class="attention">109</span>
												</div>
											</a>
										</li>
									</div>
								</div>
								<div class="wall_col" id="item1wall">
									<div class="Pcontainer light" data-page="1" style="height: auto;">
										<li class="wall_item">
											<a>
												<div class="img-detail">
													<img class="fadeIn" src="http://s17.mogucdn.com/p1/150904/1goq84_ieztoojvgrrtazrwgmzdambqgyyde_640x960.jpg_320x999.jpg">
													<div class="img-shadow"></div>
												</div>
												<div class="title-word">  韩国东大门慵懒大码破洞条纹量感袖针织连衣裙  </div>
												<div class="priceattention">
													<span class="price">￥67.20</span>
													<span class="attention">9</span>
												</div>
											</a>
										</li>
										<li class="wall_item">
											<a>
												<div class="img-detail">
													<img class="fadeIn" src="http://s16.mogucdn.com/p1/150822/52pi1_ieytkyrzmm4wmyzsgmzdambqmeyde_640x960.jpg_320x999.jpg">
													<div class="img-shadow"></div>
												</div> <div class="title-word">  （宝贝童装馆）冬款男女小童熊猫棉衣  </div>
												<div class="priceattention">
													<span class="price">￥77.00</span>
													<span class="attention">21</span>
												</div>
											</a>
										</li>
									</div>
								</div>
							</ul>
						</div>
				</div> -->
				<div class="goods_wall">		
					<div class="poster_wall"> 
						<figure>  
							<a href='/detail' class="pic_load" >   
								<img src="http://d06.res.meilishuo.net/pic/_o/5c/e7/38cf8c4b0913778e78257cc94a68_640_899.cf.jpg_f8e2a3b2_s1_q0_150_5_0_226_800.jpg"  title="蝙蝠袖条纹宽松毛衣针织衫">  
							</a>     
							<p class="clothesTitle">蝙蝠袖条纹宽松毛衣针织衫</p>    
							<figcaption>      
								<span class="price">￥89.00</span>      
								<span class="like">67</span>  
							</figcaption> 
						</figure>
						<figure>  
							<a href='/detail' class="pic_load" >   
								<img src="http://d04.res.meilishuo.net/pic/_o/35/ba/7e3834ea67b71aebf2b1807914af_640_941.ch.jpg_213ac62c_s1_q0_150_5_0_226_800.jpg" title="秋装新款宽松BF韩版风衣">  
							</a>     
							<p class="clothesTitle">秋装新款宽松BF韩版风衣</p>    
							<figcaption>      
								<span class="price">￥169.00</span>      
								<span class="like">3408</span>  
							</figcaption> 
						</figure>
						<figure>  
							<a href='/detail' class="pic_load" >   
								<img src="http://d04.res.meilishuo.net/pic/_o/35/ba/7e3834ea67b71aebf2b1807914af_640_941.ch.jpg_213ac62c_s1_q0_150_5_0_226_800.jpg" title="秋装新款宽松BF韩版风衣">  
							</a>     
							<p class="clothesTitle">秋装新款宽松BF韩版风衣</p>    
							<figcaption>      
								<span class="price">￥169.00</span>      
								<span class="like">3408</span>  
							</figcaption> 
						</figure>
					</div>
					<div class="poster_grid poster_wall">
						<figure>  
							<a href='/detail' class="pic_load" >   
								<img src="http://d04.res.meilishuo.net/pic/_o/35/ba/7e3834ea67b71aebf2b1807914af_640_941.ch.jpg_213ac62c_s1_q0_150_5_0_226_800.jpg" title="秋装新款宽松BF韩版风衣">  
							</a>     
							<p class="clothesTitle">秋装新款宽松BF韩版风衣</p>    
							<figcaption>      
								<span class="price">￥169.00</span>      
								<span class="like">3408</span>  
							</figcaption> 
						</figure>
						<figure>  
							<a href='/detail' class="pic_load">   
								<img src="http://d05.res.meilishuo.net/pic/_o/11/c6/1e15f64b6de4cd01d97376c8abb2_640_900.cf.jpg_85ef8058_s1_q0_150_5_0_226_800.jpg" title="纯手工头层牛皮真皮女靴">  
							</a>     
							<p class="clothesTitle">纯手工头层牛皮真皮女靴</p>    
							<figcaption>      
								<span class="price">￥290.00</span>      
								<span class="like">5</span>  
							</figcaption> 
						</figure> 
						<figure>  
							<a href='/detail' class="pic_load" >   
								<img src="http://d06.res.meilishuo.net/pic/_o/59/9c/d0b5d4879f6f3280f48f37363d4b_640_899.cf.jpg_74cfaa3d_s1_q0_150_5_0_226_800.jpg" title="纯色连帽卫衣外套">  
							</a>     
							<p class="clothesTitle">纯色连帽卫衣外套</p>    
							<figcaption>     
								<span class="price">￥69.00</span>      
								<span class="like">130</span>  
							</figcaption> 
						</figure>
					</div>
				</div>
			</div>
			<!-- 购物图标  -->
			<div class="u-shopbag" data-shopcart="true">
				<a mars_sead="floating-cart_btn">
					<span class="u-icon-px i-flow-carticon"></span>
					<span class="u-flow-cartnum hide"></span>
					<span class="u-flow-carttime hide"></span>
				</a>
			</div>
			<footer class="record"><i class="icon-vip-logo"></i><!-- <span>没有更多了...</span> --></footer>
		</div>
	</div>
	<div id="M_Mask" class="ui-mask" style="display: none;"></div>
	<!-- <div id="rocket" class="rocket" style="opacity: 0; transform-origin: 0px 0px 0px; transform: scale(1, 1);"><strong></strong></div> -->
	<a id="rocket" class="u-backtop-rocket">
	    <span class="i-backtop-rocket"></span>
	</a>
	<!-- <div>
		<div id="rocket" class="rocket" style="opacity: 0; transform-origin: 0px 0px 0px; transform: scale(1, 1);"><strong></strong></div>
		<nav class="mainNav">
		          <ul>
		            <li class="home cur">
		              <a>
						  <span class="icon-home"></span>
						  <span class="fam-heiti"></span>
		              </a>
		            </li>
		            <li class="collection">
		              <a>
		                  <span class="icon-tag"></span>
						  <span class="fam-heiti"></span>
		              </a>
		            </li>
		            <li class="story">
		              <a>
		                  <span class="icon-story"></span>
		                  <span class="fam-heiti"></span>
		              </a>
		            </li>
		            <li class="cart">
		              <a>
		                  <span class="icon-cart"></span>
		                  <span class="fam-heiti"></span>
		              </a>
		            </li>
		            <li class="member">
		              <a>
						  <span class="icon-member"></span>
						  <span class="fam-heiti"></span>
		              </a>
		            </li>
		          </ul>
		 </nav>
	</div> -->

<!--reference script region-->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="/javascripts/homepage.js"></script>
<script src="/javascripts/hp.js"></script>

<script src="/javascripts/jquery/jquery.cycle2.min.js"></script>
<script src="/javascripts/jquery/jquery.cycle2.swipe.min.js"></script>
<script>
	$('#slide').on('cycle-next', function(event, opts) {
	    // console.log(opts.container.data('cycle.opts'));
		// console.log(opts.currSlide);
		// console.log(opts.nextSlide);
		// console.log(opts.slides);
		// console.log(opts.slides[opts.currSlide].src);
		if(opts.slides[opts.currSlide].firstElementChild.src===''){
			opts.slides[opts.currSlide].firstElementChild.src="/images/750/"+opts.currSlide+".jpg"
		}
		// console.log(opts.container.data('cycle.opts'));
		// opts.slides[opts.nextSlide].src='';
		// console.log('123123123');
		// console.log($('#slide').cycle('next').attr('src'));
		// console.log($('.cycle-slideshow').is( '.cycle-next' ));
	});
</script>
</body>
</html>