<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
	<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
    <title>韩秘美,专卖韩国正品</title>
	<link rel="stylesheet" href="/stylesheets/hp.css">
</head>
<body>
    <header id="M_headBar" class="ui-head-bar">
		<!--<span class="icon-search-title" id="searchBtn"></span>-->
		<h1>
			<a href="/homepage" class="logo"></a>
		</h1>
		<a href="/personal"><span class="icon-user-title" id="userBtn"></span></a>
		<a href="/shopping" class="shopping"></a>
    </header>
	<div id='screen_wrap'>
		<div class='banner'>
			<img u="image" src="/images/billboard/55.jpg" style="width: 100%;">
			<a id="topbanner-close" href="javascript:void(0)" class="closeBtn" mars_sead="ads_close-3_btn">
				<span>×</span>
			</a>
		</div>

		<div id="M_search" style="display: none;">
				<form id="search_from" action="search">
					<input type="text" placeholder="请输入商品名">
					<div style="color: rgb(153, 153, 153);"></div>
				</form>
		</div>
		<!--banner开始-->
		<div id='slide' class="cycle-slideshow composite-slide"
			data-cycle-slides="> div.slide-img"
			data-cycle-fx="scrollHorz"
			data-cycle-pause-on-hover="true"
		    data-cycle-speed=400
		    data-cycle-timeout=0
			data-cycle-swipe=true
			data-cycle-swipe-fx=scrollHorz
			data-cycle-pager-event="mouseover"
		>
			<div class="cycle-pager"></div>
			<div class='slide-img'>
				<img src="/images/slide_banners/0.jpg" style='display: block;' width='100%'>
			</div>
			<div class='slide-img'>
				<img style='display: block;' width='100%'>
			</div>
			<div class='slide-img'>
				<img style='display: block;' width='100%'>
			</div>
			<div class='slide-img'>
				<img style='display: block;' width='100%'>
			</div>
		</div>

        <!--内容开始-->
		    <div class="con">

               <div class="above">
					<a href="/list"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="/list"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>
					<a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
			   </div>
			   <div class="more">点击加载更多</div>


			   <div class="later">
				   <a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
				   <a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
				   <a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
				   <a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
				   <a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
				   <a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
				   <a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
				   <a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/281a17579ca7484fbbdd7900b94d49fb.png"></a>
				   <a href="javascript:;"><img src="http://172.28.3.18:3008/uploads/shot/c1f66538fdaf4275bd5e5409b361e83e.png"></a>



			    </div>


            </div>


			<!-- 购物图标  -->
			<!--<div class="u-shopbag" data-shopcart="true">
				<a mars_sead="floating-cart_btn">
					<span class="u-icon-px i-flow-carticon"></span>
					<span class="u-flow-cartnum hide"></span>
					<span class="u-flow-carttime hide"></span>
				</a>
			</div>-->
			<footer class="record"><i class="icon-vip-logo"></i><!-- <span>没有更多了...</span> --></footer>
	  </div>

	<div id="M_Mask" class="ui-mask" style="display: none;"></div>
	<a id="rocket" class="u-backtop-rocket">
	    <span class="i-backtop-rocket"></span>
	</a>
	<div class="download-box">
		<div class="download scope">
			<span class="ico"></span>

			<span class="info">
				<i>下载客户端</i>
				<i>立返惊喜优惠</i>
			</span>
			<a href="javascript:;">立即领取</a>
			<b>×</b>
		</div>


	</div>

<!--reference script region-->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="/javascripts/hp.js"></script>
<script src="/javascripts/jquery/jquery.cycle2.min.js"></script>
<script src="/javascripts/jquery/jquery.cycle2.swipe.min.js"></script>
</body>
</html>