<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">

    <link rel="stylesheet" href="/stylesheets/list.css">
</head>

<body>

<header class="head <!--scope-->">
    <a href="/" class="back">
        <i></i>
        <span></span>
    </a>
    化妆品专场
    <a href="/personal"><span class="icon-user-title" id="userBtn"></span></a>


</header>

<div class="banner scope">
    <a href="javascript:;"><img src="/images/21d291a16cac4f7eb9ee0e72d76372de1445941463583.png">
        <span class="bewrite">
            <p class="title">德国原产 深层修护经典护手霜100ml</p>
            <i class="money">￥43.00</i>
            <i class="agio">￥69.00</i>
        </span>
    </a>
    <a href="javascript:;" class="tag">
        <i>德国</i>
        <b></b>
    </a>
    <a href="javascript:;" class="tag two">
        <i>kamill</i>
        <b></b>
    </a>

</div>

<div class="content scope">
    <ul class="product">
        <li>
            <a href="/detail"><img src="/images/143824a29c084740b2b55436fcaa8f0c1445409319473.jpg">
               <span class="bewrite">
                    <i class="title">德国原产 深层修护经典护手霜100ml</i>
                    <i class="money">￥43.00</i>
                    <i class="agio">￥69.00</i>
               </span>
            </a>
            <a href="javascript:;"><img src="/images/0012a26d74a54b69bde4b2121ab411321445410248824.jpg">
               <span class="bewrite">
                    <i class="title">德国原产 深层修护经典护手霜100ml</i>
                    <i class="money">￥43.00</i>
                    <i class="agio">￥69.00</i>
               </span>
               <span class="out">已售完</span>

            </a>
        </li>
        <li>
            <a href="javascript:;"><img src="/images/143824a29c084740b2b55436fcaa8f0c1445409319473.jpg">
               <span class="bewrite">
                    <i class="title">德国原产 深层修护经典护手霜100ml</i>
                    <i class="money">￥43.00</i>
                   <i class="agio">￥69.00</i>
               </span>
           </a>
            <a href="javascript:;"><img src="/images/0012a26d74a54b69bde4b2121ab411321445410248824.jpg">
               <span class="bewrite">
                    <i class="title">德国原产 深层修护经典护手霜100ml</i>
                    <i class="money">￥43.00</i>
                   <i class="agio">￥69.00</i>
               </span>

            </a>
        </li>
        <li>
            <a href="javascript:;"><img src="/images/143824a29c084740b2b55436fcaa8f0c1445409319473.jpg">
               <span class="bewrite">
                    <i class="title">德国原产 深层修护经典护手霜100ml</i>
                    <i class="money">￥43.00</i>
                   <i class="agio">￥69.00</i>
               </span>
           </a>
            <a href="javascript:;"><img src="/images/0012a26d74a54b69bde4b2121ab411321445410248824.jpg">
               <span class="bewrite">
                    <i class="title">德国原产 深层修护经典护手霜100ml</i>
                    <i class="money">￥43.00</i>
                   <i class="agio">￥69.00</i>
               </span>

            </a>
        </li>

        <li>
            <a href="javascript:;"><img src="/images/143824a29c084740b2b55436fcaa8f0c1445409319473.jpg">
               <span class="bewrite">
                    <i class="title">德国原产 深层修护经典护手霜100ml</i>
                    <i class="money">￥43.00</i>
                   <i class="agio">￥69.00</i>
               </span>
            </a>
            <a href="javascript:;"><img src="/images/0012a26d74a54b69bde4b2121ab411321445410248824.jpg">
               <span class="bewrite">
                    <i class="title">德国原产 深层修护经典护手霜100ml</i>
                    <i class="money">￥43.00</i>
                   <i class="agio">￥69.00</i>
               </span>

            </a>
        </li>
        <li>
            <a href="javascript:;"><img src="/images/143824a29c084740b2b55436fcaa8f0c1445409319473.jpg">
               <span class="bewrite">
                    <i class="title">德国原产 深层修护经典护手霜100ml</i>
                    <i class="money">￥43.00</i>
                   <i class="agio">￥69.00</i>
               </span>
            </a>
            <a href="javascript:;"><img src="/images/0012a26d74a54b69bde4b2121ab411321445410248824.jpg">
               <span class="bewrite">
                    <i class="title">德国原产 深层修护经典护手霜100ml</i>
                    <i class="money">￥43.00</i>
                   <i class="agio">￥69.00</i>
               </span>

            </a>
        </li>

    </ul>



</div>

<!--
<footer class="foot scope">
    <ul class="lead">
       <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>


    </ul>


</footer>-->

</body>
</html>