<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>待发货</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <link rel="stylesheet" href="../stylesheets/orders.css"/>
    <link rel="stylesheet" href="../stylesheets/shopping.css"/>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
<header class="header">
    <a href="/personal" class="back">
        <i></i>
        <span></span>
    </a>

    <div class="header-text">
        <h1 class="header-title">待支付</h1>
    </div>
    <a href="/" class="home_link"></a>
</header>

<div class="box scope">
    <div class="con">
        <div class="day">2015-11-19</div>
        <a href="javascript:;" class="commodity">
            <img src="/images/two.png" alt=""/>
            <span><i>订单金额 </i> <i class="rmb">179.00</i></span>
            <span><i>支付方式 </i> <i class="app">移动微信app支付</i></span>
            <span><i>订单状态 </i> <i class="not">未支付订单</i></span>
        </a>
        <div class="payment">
            <a href="javascript:;">提醒发货</a>
        </div>
    </div>

    <div class="con">
        <div>2015-11-19</div>
        <a href="javascript:;" class="commodity">
            <img src="/images/one.png" alt=""/>
            <span><i>订单金额 </i> <i class="rmb">179.00</i></span>
            <span><i>支付方式 </i> <i class="app">移动微信app支付</i></span>
            <span><i>订单状态 </i> <i class="not">未支付订单</i></span>
        </a>
        <div class="payment">
            <a href="javascript:;">提醒发货</a>
        </div>
    </div>

    <div class="con">
        <div>2015-11-19</div>
        <a href="javascript:;" class="commodity">
            <img src="/images/one.png" alt=""/>
            <span><i>订单金额 </i> <i class="rmb">179.00</i></span>
            <span><i>支付方式 </i> <i class="app">移动微信app支付</i></span>
            <span><i>订单状态 </i> <i class="not">未支付订单</i></span>
        </a>
        <div class="payment">
            <a href="javascript:;">提醒发货</a>
        </div>
    </div>

    <div class="con">
        <div>2015-11-19</div>
        <a href="javascript:;" class="commodity">
            <img src="/images/one.png" alt=""/>
            <span><i>订单金额 </i> <i class="rmb">179.00</i></span>
            <span><i>支付方式 </i> <i class="app">移动微信app支付</i></span>
            <span><i>订单状态 </i> <i class="not">未支付订单</i></span>
        </a>
        <div class="payment">
            <a href="javascript:;">提醒发货</a>
        </div>
    </div>

    <div class="con">
        <div>2015-11-19</div>
        <a href="javascript:;" class="commodity">
            <img src="/images/one.png" alt=""/>
            <span><i>订单金额 </i> <i class="rmb">179.00</i></span>
            <span><i>支付方式 </i> <i class="app">移动微信app支付</i></span>
            <span><i>订单状态 </i> <i class="not">未支付订单</i></span>
        </a>
        <div class="payment">
            <a href="javascript:;">提醒发货</a>
        </div>
    </div>
</div>



</body>
</html>