<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>付款</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <link rel="stylesheet" href="../stylesheets/pay.css"/>
    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/javascripts/pay.js"></script>
</head>
<body>
<!--头部开始-->
<header class="head">
    <a href="/detail" class="back">
        <i></i>
        <span></span>
    </a>
    结算
</header>

<div class="scope">
    <div class="address">
        <p><span>杨澜</span><span>13260198632</span></p>
        <p>北京市东城区东小口兰各庄</p>
        <i>其它地址</i>

    </div>

    <div class="money-box">
        <h2>冬季甜美风衣女学院风修身</h2>
        <div class="goods">
            <span class="order">订单金额</span>
            <span class="money">￥180.00</span>
        </div>
    </div>

    <div class="way-box">
        <div class="way-hd">支付方式</div>
        <div class="account">
            <div class="way">
                <span class="pitch"></span>
                <i></i>
                <span class="quick">银行卡快捷支付</span>
            </div>
        </div>

        <div class="account">
            <div class="way">
                <span class="pitch"></span>
                <i></i>
                <span class="quick">微信支付</span>
            </div>
        </div>

        <div class="account">
            <div class="way">
                <span class="pitch"></span>
                <i></i>
                <span class="quick">支付宝支付</span>
            </div>
        </div>

    </div>




</div>


</body>
</html>