<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/stylesheets/personal.css">

</head>
<body>
<header class="head">
    <a href="/" class="back">
        <i></i>
        <span></span>
    </a>
    <h1>个人中心</h1>
    <a href="/" class="home_link"></a>
</header>
<div class="scope">

    <div class="user">
         <a href="/login" class="land">登录</a>
         <a href="/regist" class="enroll">注册</a>
    </div>
    <div class="apply">
        <ul>
            <li><a href="/obligation" class="">待支付</a></li>
            <li><a href="/orders" class="">待收货</a></li>
            <li><a href="/delivered" class="">全部订单</a></li>

        </ul>
   </div>

    <div class="list">
        <ul>
            <li><a href="#" class="">关注的商品</a></li>
            <li><a href="#" class="">收货地址</a></li>
            <li><a href="#" class="">收货地址</a></li>
            <li><a href="#" class="">收货地址</a></li>
            <li><a href="#" class="">收货地址</a></li>
            <li><a href="#" class="">收货地址</a></li>

        </ul>


    </div>
















</div>
</body>
</html>