.wap{
    height:1000px;
    background-color: #fff;
    padding:65px 2%;
}

ul li{
    padding:10px;
    border-bottom: 1px solid #ccc;
    background-color: #ededed;

}

ul li a{
    color: #4B4B4B;
}

.ul-box li{
    height: 300px;
}

li div{
    height:30px;
}

.touch-name{
    margin: 0 20% 0 0;
}


.alter{
    text-align: right;
}

.alter a:nth-child(1){
    margin: 0 5% 0 0;
}

.plus-add{
    margin:30px 0 0 0;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    display: block;
    width:100%;
    height:50px;
    color:#fff;
}



/*新建收货地址页面*/
.add-s,.add-m{
    width:100%;
    line-height:50px;
    border-bottom:1px solid #E1E1E1;

}

.add-s input{
    line-height:50px;
    font-size: 16px;
}

.cue{
    margin: 10px 0 0 0;
}

.dqld_div{
    width:100%;
    background-color:#fff;
    margin-top: -618px;
    position: absolute;
}

.dqld_div ul{
    width:90%;
    margin: 0 auto;
}

.dqld_div ul li{
    line-height:20px;
    border-bottom:1px solid #cccccc;
    padding-left:10px;
}
.address_input{
    border-bottom: 1px solid #ccc;
}
.address_input1{
    font-size: 16px;
    width: 200px;
    height:50px;

}


.money-box,.address,.refer-box{
    width:100%;
}
.money-box .picture{
    float: left;
    width:80px;
    height:80px;
    background: url("/assets/images/icon5.png") no-repeat;
    background-size:cover;
}
.address{
    padding:10px 20px 20px;
}

.address p{
    margin:0 0 20px 0;
}

.address p span{
    margin: 0 10px;
}

.address .add-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url("/assets/images/hmm_dingwei_icon.png") no-repeat;
    background-size: contain;
    margin: 0 0 0 -20px;
}

.address i{
    display: block;
    text-align: right;
}




