.wap{
    background-color: #fff;
    padding:55px 2%;
}

.wap-box{
    background-color:#F3F5F4 ;
}

.dqld_div{
    width:100%;
    background-color:#ededed;
    position: absolute;
    top:44px;
    z-index: 100;
}

.dqld_div ul{
    width:100%;
    margin: 0 auto;
}


.dqld_div ul li{
    height:40px;
    background-color: #ededed;
    line-height:40px;
    border-bottom:1px solid #cccccc;
    padding-left:10px;
}

ul li{
    background-color: #fff;

}

ul li a{
    color: #4B4B4B;
}

.ul-box-li{
    padding: 10px 10px 0px 10px;
    height:260px;
    margin: 0 0 10px 0;
}

li div{
    height:30px;
}

.touch-name{
    margin: 0 20% 0 0;
}


.alter{
    text-align: right;
    height: 30px;
}

.alter a:nth-child(1){
    margin: 0 5% 0 0;
}

.address .plus-add{
    margin:30px 0 0 0;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    display: block;
    width:100%;
    height:50px;
    color:#fff;
}

.plus-add{
    margin:30px 0 0 0;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    display: block;
    width:100%;
    height:50px;
    color:#fff;
}


/*新建收货地址页面*/
.add-s,.add-m{
    width:100%;
    line-height:50px;
    border-bottom:1px solid #E1E1E1;

}

.add-s input{
    line-height:50px;
    font-size: 16px;
}

.cue{
    margin: 10px 0 0 0;
    color: #999;
}




.address_input{
    border-bottom: 1px solid #ccc;
}
.address_input1{
    font-size: 16px;
    width: 200px;
    height:50px;

}


.money-box,.address,.refer-box{
    width:100%;
}
.money-box .picture{
    float: left;
    width:80px;
    height:80px;
    background: url("/assets/images/icon5.png") no-repeat;
    background-size:cover;
}
.address{
    padding:10px 20px 20px;
}

.address p{
    margin:0 0 20px 0;
}

.address .add-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url("/assets/images/hmm_dingwei_icon.png") no-repeat;
    background-size: contain;
    margin: 0 0 0 -20px;
}

.address i{
    display: block;
    text-align: right;
}

.add-l{
    float: left;
    width:75px;
}
.add-r{
    width:58%;
    float: left;
}

.add-sett input{
    width: 100%;
}
input{
    color: #666666;
}

.shut{
    position: absolute;
    top:50px;
    right:5%;
    z-index:1000;
    display: none;
}

.btn{
    -webkit-appearance
}