.wap{
    background-color: #fff;
}

.wap-box{
    background-color:#F3F5F4 ;
}

.dqld_div{
    width:100%;
    background-color:#ededed;
    position: absolute;
    top:44px;
    z-index: 100;
}

.dqld_div ul{
    width:100%;
    margin: 0 auto;
}


.dqld_div ul li{
    height:40px;
    background-color: #ededed;
    line-height:40px;
    border-bottom:1px solid #cccccc;
    padding-left:10px;
}

ul li{
    background-color: #fff;

}

ul li a{
    color: #4B4B4B;
}

.ul-box-li{
    padding: 10px 10px 0px 10px;
    /*height:195px;*/
    margin: 0 0 10px 0;
}

li div{
    /*height:30px;*/
}

.touch-name{
    margin: 0 20% 0 0;
}


.alter{
    text-align: right;
    height: 30px;
}

.alter a:nth-child(1){
    margin: 0 20px 0 0;
}

.address .plus-add{
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    display: block;
    width:100%;
    height:50px;
    color:#fff;
}

.plus-add{
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    display: block;
    width:100%;
    height:40px;
    color:#242424;

}

.plus-add-fixed{
    position:fixed;
    bottom:0;
}

.ul-box li:last-child{
    margin: 0 0 30px 0;
}


/*空地址页面*/

.add-hollow{
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 50%; */
    -webkit-transform: translate(-50%,-50%);
}
.plus-add-hollow{

}

/*新建收货地址页面*/
.add-s,.add-m{
    width:100%;
    height:50px;
    border-bottom:1px solid #E1E1E1;
    line-height: 50px;
    padding: 0 0 0 5px;

}

.add-s{

    padding: 10px 0 0 5px;
}

.add-s input{
    line-height:30px;
    height:30px;
    font-size: 16px;
}

.cue{
    color: #999;
    background-color: #F4F4F4;;
    padding: 0 0 0 5px;
    margin:10px 0;
}




.address_input{
    border-bottom: 1px solid #ccc;
    padding: 0 0 0 5px;
}

.address_input1{
    font-size: 16px;
    width: 200px;
    height:50px;

}


.money-box,.address,.refer-box{
    width:100%;
}
/*.money-box .picture{
    float: left;
    width:80px;
    height:80px;
    background: url("/assets/images/icon5.png") no-repeat;
    background-size:cover;
}*/
.address{
    padding:0 20px 20px;
}

.address-padding{
    border: none;
}

.address p{
    margin:0 0 10px 0;
}

.address .add-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url("/assets/images/hmm_dingwei_icon.png") no-repeat;
    background-size: contain;
    margin: 0 0 0 -20px;
}

.address i{
    display: block;
    text-align: right;
}

.add-l{
    float: left;
    width:75px;
}
.add-r{
    width:58%;
    float: left;
}

.add-sett input{
    width: 100%;
}
input{
    color: #666666;
}

.shut{
    position: absolute;
    top:50px;
    right:5%;
    z-index:1000;
    display: none;
}

.wap-padding{
    padding: 44px 0 0 0;
    background-color: #fff;
}

.ul-box-padding{
    padding: 44px 0 0 0;
}
.manage{
    padding: 44px 0 0 0;
}