
/*头部开始*/
.header{
    width: 100%;
    height:44px;
    position: fixed;
    left: 0;
    top: 0;
    line-height:44px;
    background-color:#ff5359;
    z-index: 999;
}
.header-text{
    width: 100%;
    height:44px;
    color:#fff ;
    text-align: center;

}
.header-title{
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header .back{
    position: absolute;
    top:11px;
    left:0;

}

.home_link {
    width: 20px;
    height: 20px;
    background: url(/assets/images/icon_back.png) no-repeat;
    color: rgb(102, 102, 102);
    background-size: cover;
    position: absolute;
    top: 13px;
    left: 2%;
}

.back i,.back span{
    position: absolute;
    width:0;
    height:0;
    border-width:14px;
    border-style:dashed solid dashed dashed ;
    border-color:transparent #fff transparent transparent ;
}
.back span{
    border-color:transparent #F58292 transparent transparent ;
    left:3px;

}



.icon-user-title {
    height: 20px;
    width: 20px;
    background: url("/assets/images/home.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 13px;
    right: 2%;
}
/*头部结束*/



/*商品上下排列样式开始*/
.indent-item{
    border-top: 1px solid #B5B5B6;
    border-bottom: 1px solid #B5B5B6;
    margin-top: -1px;
    background-color: #fff;
}

.item-con{
    padding: 10px 20px;
    overflow: hidden;
}
.item-con-l{
    display:inline-block;
    width: auto;
    height: auto;
    float: left;
    text-align: center;
}
.item-con-l img{
    width:80px;
    height:80px;
    text-align: center;
}
.item-con-r{
    margin-left: 80px;
    box-sizing: border-box;
    text-align: left;
}

.indent-product-name{
    text-align: left;
    line-height: 22px;
}
.indent-product-name a span{
    font-size: 16px;
    color: #727171;
}
.indent-product-detail{
    margin-top: 20px;
    line-height: 25px;
}
.indent-product-number{
    float: left;
}
.indent-product-price{
    font-size: 14px;
    line-height: 25px;
    color: #9FA0A0;
    margin-left: 80px;
}
/*商品上下排列样式结束*/


/*footer-hd部分开始*/
.footer-hd{
    width: 100%;
    height: 44px;
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
}
.footer-l{
    width: 68%;
    height: 44px;
    background-color: #fff;
    float: left;
    font-size: 16px;
    border-top:1px solid #ededed;
}
.footer-l-left{
    float: left;
    padding-left:45px;
    line-height: 44px;
}
.footer-l-left i{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 20px;
    top:100%;
    margin-top: -18px;
    text-align: center;
    vertical-align: middle;
}
.footer-l-right{
   text-align: center;
    color:#EF2528;
    padding: 2px 0 0 0;
}
.footer-r{
    width: 32%;
    height: 44px;
    background-color:#ff5359;
    float: left;
    text-align: center;
    cursor: pointer;
    line-height: 44px;
}

.postage{
    color: #666;
    font-size: 12px;
}
.discolour{
    background-color: #969696;
}


/*footer-hd部分结束*/

/*input样式*/
input[type=checkbox]{
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 20px;
    cursor: pointer;
    vertical-align: bottom;
    /* border: 1px solid #666; */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: url("/assets/images/select-.png") no-repeat;
    background-size: 20px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

}

input[name=check_all]{
    border: 2px solid #fff;
}
/*
input[type=checkbox]:active{
    border-color: green;
    background: #fff;
}
input[type=checkbox]:checked{
    background: #fff;
    border: 2px solid #9FA0A0;
}*/
input[type=checkbox]:checked::after {
    content: url("/assets/images/icon3.png");
    display: block;
    width: 18px;
    height: 18px;
    -webkit-transform: scale(0.49,0.49);
    -moz-transform: scale(0.55,0.55);
    position: absolute;
    top: -6px;
    left: -5px;
}

input[name=check_all]:focus{
    border: 2px solid #fff;
}
.check-all{
    position: absolute;
    left: -5px;
    top:-16px;
}