/* 禁用iPhone中Safari的字号自动调整 */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	font-family: Microsoft YaHei;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
	display: block;
}
/* 图片自适应 */
img {
	max-width: 100%;
	height: auto;
	width:auto\9; /* ie8 */
	-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
	display: block;
}
*:focus {
	outline:none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#565555; background:#f4f4f4; }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
a:hover{color:#969696; text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
fieldset,img{border: none;}
table {
	border-collapse:collapse;
	border-spacing:0;
}
caption, th {
	text-align:left;
}
q:before,
q:after {
	content:"";
}
input:password {
	ime-mode:disabled;
}
*{box-sizing:border-box;}

.c9{
	color:#999;
}

.picture_wrap {
	overflow: auto;
	position: relative;
	background-color: #f4f4f4;
}
/****-------------------------------cartempty-------------------------------************/
.nav_ban_detail {
	text-align: center;
	height:44px;
	width: 100%;
	z-index: 600;
	background:#F9F9F9;
	position: fixed;
	top:0;
	color:#fff;
	border-bottom: 1px solid #ededed;
}
/*头部*/


.back{
	position: absolute;
	background: url(/assets/images/hmm_through_page.png) center center no-repeat;
	background-size: contain;
	top: 25%;
	left: 2%;
	width: 20px;
	height: 20px;
	z-index: 10;
}

/*海报*/
/* 本例子css -------------------------------------- */
.slideBox{ margin:1px auto;position:relative; width:100%;  height:auto; overflow:hidden;padding: 40px 0 0 0; }
.slideBox .hd{ position: absolute;
	height: auto;
	line-height: 28px;
	bottom: 5px;
	left:50%;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	z-index: 1;
}
.slideBox .hd li{ display:inline-block; width:7px; height:7px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#ddd; text-indent:-9999px; overflow:hidden; margin:0 5px;   }
.slideBox .hd li.on{ background:#Fdd000;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative;  background: url("/assets/images/d-320-320.png") center no-repeat;}
.slideBox .bd li img{ width:100%;  height:auto; display:block;}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }



/*购物车*/
.nav_ban_detail .icon-cart {
	height: 33px;
	width: 33px;
	background: url("/assets/images/web/cart.png") center center no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 10px;


}
.nav_ban_detail .icon-back-detail {
	height: 33px;
	width: 33px;
	float: left;
	background: url("/assets/images/web/back_detail.png") center center no-repeat;
	background-size: 100%;
	line-height: 33px;
	margin-top: 10px;
	margin-left: 2%;

}

.nav_ban_detail h1{
	margin: 0 auto;
	line-height:44px;
	font-size:18px;
	width:30%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	-webkit-text-overflow:ellipsis;
	height:50px;
	color:#242424;

}



/****-------------------------------cartempty end-------------------------------************/
.picture_wrap .swipe {
	position: relative;
	overflow: hidden;
}
.picture_wrap .slider_wrap {
	height: 8rem;
}
.picture_wrap .image_item {
	float: left;
	position: relative;
	width: 6.4rem;
	height: 8rem;
	background: no-repeat center;
	background-size: cover;
	opacity: 0;
}


/************************************cycle-slide************************************/
.cycle-slideshow {
	background: url("/assets/images/d-320-320.png") center no-repeat;
	width: 100%;
}
.cycle-slideshow div {
	width: 100%;
	height: auto
}
.cycle-caption {
	position: absolute;
	color: white;
	bottom: 15px;
	right: 15px;
	z-index: 700;
}
#screen_wrap {
	min-width: 320px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: auto;
}

div .cycle-overlay {
	color: white;
	background: black;
	opacity: .6;
	filter: alpha(opacity=60);
	position: absolute;
	bottom: 0;
	width: auto;
	padding: 5px;
	border-radius: 20px;
	bottom:7%;
	left: 3%;
	z-index: 999;
}
.cycle-pager {
	text-align: center;
	width: 100%;
	z-index: 500;
	position: absolute;
	top: 22px;
	overflow: hidden;
}
.cycle-pager span {
	font-family: arial;
	font-size: 50px;
	width: 17px;
	height: 17px;
	display: inline-block;
	color: #ddd;
	cursor: pointer;
	line-height: 17px;
}
.cycle-pager span.cycle-pager-active {
	color: #F22F65;
}
.cycle-pager > * {
	cursor: pointer;
}
.custom-pager {
	text-align: center;
	width: 100%;
	z-index: 500;
	position: absolute;
	bottom:0;
	overflow: hidden;
}
.custom-pager span {
	font-family: arial;
	font-size:26px;
	width: 15px;
	height: 15px;
	display: inline-block;
	color: #ddd;
	cursor: pointer;
	line-height: 15px;
}
.custom-pager span.cycle-pager-active {
	color: #fdd000;
}
.custom-pager > * {
	cursor: pointer;
}


/***********************************************************************************/
.timer_box {
	text-align: center;
	line-height: 25px;
	padding: 0;
	margin: 0;
	position: absolute;
}
.u-icon {
	display: inline-block;
	background: url(/assets/images/web/timer_red.png) no-repeat;
	background-size: contain;
}
.i-clock-white {
	width: 25px;
	height: 25px;
}




/*切换tab*/
.detail-tabpanel-fixed {
	position:fixed;
	top: 0;
	z-index:1000;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	list-style-type: none;
	/*height: 35px;*/
	min-width: 320px;
	max-width: 750px;
}

.detail-tabpanel-ab {
	position:absolute;
	top:0px;
	z-index: 900;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	list-style-type: none;
	/*height: 35px;*/
	min-width: 320px;
	max-width: 750px;
}



.detail-tabpanel {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.detail-tabpanel .center li{
	float: left;
	font-size: 14px;
}
.tabpanel-tabs .tab-item {
	position: relative;
	width: 33%;
	padding:15px 0;
	text-align: center;
   color:#242424;
}

.detail-tabpanel .center li.current{
	border-bottom: 2px solid  #fdd000;
	color:#fdd000;
}

.tabpanel-tabs .tab-span {
	display: block;
	line-height: 20px;
	border-right: 1px solid #e5e5e5;
	text-align: center;
}




/**标题部分**/
.sku-meta {
	border-bottom: solid 1px #ddd;
}
.box{
	background-color: #fff;

}
.sku-title {
	color: #242424;
	font-family: 'Helvetica Neue', Helvetica, 'microsoft yahei', Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: normal;
	word-break: normal;
	word-wrap: break-word;
	text-align: left;
}
.u-detail-pricebox {
	margin: 15px 0 0 0;
}
.u-detail-price {
	float: left;
	font-weight:bold;
	color:#EF2528;
	font-size:20px ;
}

.u-detail-price i{
	font-size:20px ;
}
.u-detail-mprice {
	float: left;
	display: inline-block;
	margin:2px 0 0 10px;
	color: #BEBEBE;
	text-decoration: line-through;
	font-size: 12px;
}

.one{
	margin: 2px 0 0 10px;
	float: left;
	color: #FF4F4D;;
}
.u-detail-discount {
	display: inline-block;
	padding:1px 4px;
	color: #fff;
	font-size: 12px;
	background-color:#FF4F4D;
	margin:0 5px 0 0 ;
}
.thw-detail-other {
	color: #565555;
	height:28px;
	padding:0 2%;
	font-size:14px;
}


.thw-detail-other .xian{
	color: #999;
	padding: 1px 4px;
	float: left;
	font-size: 12px;

}
.two{
	float: left;
	margin: 0 0 0 15%;
}

.box{
	padding: 15px;
}
.three{
    padding:0 0 0 20px;
	font-size: 14px;
	float: right;
	color: #999;
}

.favourable{
	font-size: 14px;
	padding: 15px;
	background-color:#fff;
	color: #242424;
	margin: 10px 0 0 0;
}

.postage{
	font-size: 14px;
	margin: 10px 0;
	padding: 15px;
	background-color: #fff;

}
.postage-h{
	color: #242424;
}


/*分类*/
.classify{
	width:100%;
	padding:15px;
	margin: 0 0 10px 0;
	background-color: #fff;
}
.classify span{
	font-size: 14px;
	display: block;
	margin: 0 0 10px 0;
}


.classify ul li{
	text-align: center;
	padding:4px 8px;
	font-size: 12px;
	float: left;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 5px 10px 0;
	color: #242424;
}

.classify .current{
	border: 1px solid #fff;
	background-color: #fdd000;
}



/*.sale{
	margin:10px 0 0 0;
	width: 100%;
	padding:10px;
	background-color: #fff;
}
.sale p{
	line-height: 30px;
	color:#FF8308;
}*/



/*商品参数*/
.sku-measure {
	background: #fff;
	margin: 10px 0;
	padding: 0 10px;
}
.dc_tit{
	line-height: 40px;
}
.parameter-wrap .size-list table {
	width: 100%;
	background: #fff;
}
.parameter-wrap .size-list tr {
	border-bottom: 1px solid #f4f4f4;
}
.parameter-wrap .size-list td:first-child {
	width: 100px;
}
.parameter-wrap .size-list td {
	font-weight: 400;
	line-height: 38px;
	text-align: left;
	color: #727272;
}
.parameter-wrap .param-list {
	background: #fff;
	border-top: 1px solid #e6e6e6;

}
.parameter-wrap .param-list li {
	line-height: 40px;
	font-size: 12px;
}
.parameter-wrap .param-list .param-name {
	display: inline-block;
	width: 20%;
	color: #999;
}
.parameter-wrap .param-list .param-info {
	width: 80%;
	color: #242424;
	line-height: 40px;
}

/*热卖商品*/
.hot{
	background-color: #fff;
	width: 100%;
	margin: 0 0 44px 0;
	padding: 0 0 2% 0;

}
.hot .hot-hd{
	padding: 0 10px;
	line-height: 40px;
}

/*拼购产品*/

.product li {
	margin-bottom: 10px;
}
.product li:last-child{
	margin-bottom:40px;
}

.product li a{
	position: relative;
	display: block;
	border:1px solid #cfcfcf;
	background-color: #fff;
}

.title-hd{
	height: 45px;
	color: #4B4B4B;
	background-color: #fff;

	padding: 10px;
	overflow: hidden;
	line-height: 16px;
	-webkit-line-clamp:2;
	text-overline:ellipsis;
	-webkit-box-orient:vertical;
	display: -webkit-box

}

.product-box{
	position: absolute;
	top: 0;
	padding: 5px 0 0 0;
	z-index: 100;
}

.product-top{
	border-radius: 0 20px 20px 0px;
	background: url("/assets/images/hmm_klmpintuan.png") no-repeat 5px #ff5359;
	background-size: 20px;
	display: inline-block;
	padding: 1px 10px 0px 30px;
	color: #fff;
	font-size: 12px;
	height: 30px;
}

.product-top i {
	margin: 2px 0 0 -10px;
	display: inline-block;
	-webkit-transform: scale(0.8);
}


.product .title-fd{
	display: block;
	background:white;
	width:100%;
	height:35px;
	padding:0 5px;
	line-height:35px;
}

.naw{
	font-size:18px;
	color:#EF2528;
}
.agio{
	font-size:12px;
	text-decoration: line-through;
}

.title-fd b{
	float:right;
	font-size:12px;
	width:35px;
    text-align: center;
    font-weight: normal;
}

.product{
	witdh:100%;
}

.product li{
	width: 100%;
	padding: 0 10px;
}

.product li a{
	width: 49%;
	float: left;

}

.product li a:nth-child(2) {
	margin: 0 0 0 5px;
}



/*热卖结束*/


/*底部购物车*/

.buy_box a{
	color:#242424;
	display: block;
}


#shopCart{
	width: 50%;
	float: left;

}
.shopping{
	width:30px;
	height:30px;
	position: relative;
}

.shopping .cart_num{
	width: 17px;
	height: 17px;
	position: absolute;
	top:5px;
	left: 60%;
	background: #ff4242;
	line-height: 16px;
	cursor: pointer;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
}

.cart_num i{
	display: inline-block;
	-webkit-transform: scale(0.75);
}

.love{
	float: left;
	height:44px;
	width:33.3%;
	background:#F9F9F9;
	padding:0 2%;
}

.love a{
	display: inline-block;

}
.love .like{
	width:50%;
	padding: 10px 0 0 0;
	float: right;
}
.soul{
	width:100%;
	height: 25px;
	background: url("/assets/images/detail-shou.png") center center no-repeat;
	background-size: 20px;
	display: none;
	border-right: 1px solid #d7d7d7;
}


.soul.now{
	display: block;
}

.min{
	width:100%;
	height: 25px;
	background: url("/assets/images/icon_collect.png") center center no-repeat;
	background-size:20px;
}

.like-s{
	display: block;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color:rgba(255,0,0,0.6);
	color: #fff;
	border-radius: 50px;
	font-size: 14px;
	position: absolute;
	top:-30px;
	left:50%;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	display: none;
}

.like-x{
	display: block;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color:rgba(0,0,0,0.5);
	color: #fff;
	font-size: 14px;
	border-radius: 50px;
	position: absolute;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	top:-30px;
	left:50%;
	display: none;
}





/*加入购物车*/
.buy_box .add_cart {
	float: left;
	width:33.3%;
	background-color:#F9F9F9;
	font-size:18px;
	line-height:44px;
	text-align: center;
	word-wrap: normal;
	white-space: nowrap;
}



.buy_box .buy_btn {
	float: left;
	width:33.3%;
	font-size:18px;
	line-height:44px;
	text-align: center;
	color: #fff;
	background-color:#FEDB00;
	word-wrap: normal;
	white-space: nowrap;
}

.buy_box .message{
	display: block;
	background:url(/assets/images/cart02.png) no-repeat center;
	background-size: contain;
	width: 20px;
	height: 20px;
	margin:12px auto;
	position: relative;

}

.btnCart{
	display: block;
	width:100%;

}

.fly_item{
	position: absolute;
	left:25%;
	width:50px;
	height:50px;
	visibility: hidden;
	overflow: hidden;
	opacity: 0.9;

}





	.buy_box {
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index:1000;
	}







/*返回顶部*/
.top{
	position: fixed;
	bottom: 80px;
	right: 15px;
	display: none;
}
.top img{
	width:40px;
	height:40px;
	filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8;

}
.top-b{
	bottom:80px
}




.picture_wrap .item{
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.picture_wrap .item.now{
	visibility: visible;
	height: auto;
}


/*拼团详情 页面*/

/*拼团玩法*/
/*.pay{
	background-color: #F5F5F5;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
}
.pay-txt{
	height:30px;
	color:#242424 ;
}
.pay span{
	float: left;

}
.pay a{
	float: right;
	font-size:14px;

}*/

.love .pin-love{
	width:100%;
	height:44px;
	float: none;
}

.buy_box .pin-cart{
	background-color:#f9f9f9 ;
}

.buy_box .pin-buy {
	background-color:#CCCCCC ;

}
.pin-buy a{
	color:#666 ;
}


.pin-wrap{
	padding:44px 0 0 0;
}

.txt{
	padding:0 3%;
	margin:10px 0;
}

.txt .txt-pay{
	color:#E66255;
	font-size: 12px;
}

.diamond{
	width: 100%;
	margin: 5px 0 0 0;

}
.diamond a{
	display: inline-block;
	width: 49%;
}
.diamond a span{
	display: block;
	width: 100%;
	height: 30px;
	background-color: #Fdd000;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
}

.diamond a span:nth-child(2){
	background-color:#1c1b1b ;
}

.diamond a span.ed{
	background-color:#e0e0e0;
	color: #242423;
}

.diamond a span.big{
	height:40px;
	line-height:40px;
	font-size:18px;
}

.pin-hd {
	background-color: #fff;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	padding: 10px 0 0 0;
}

.pin-title{
    padding: 0 3%;
}

.sku-meta h2{
	font-size: 15px;
	height:20px;
	overflow: hidden;
	margin: 0 0 5px 0;
}

.num{
	text-align: right;
	color: #666;
}

.finish{
	position: absolute;
	bottom: -25px;
	right: 0;
	background-color:#49576e;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #fff;
	padding: 0 5px;
}

.finish-box{
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #49576e;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
}


.figure {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.figure span {
	display: block;
	width: 70px;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	color: #fff;
	height: 70px;
	background-color: rgba(0,0,0,0.4);
	font-size: 14px;
	text-align: center;
	line-height: 70px;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}




/*其他拼购*/
.toup{
	width: 100%;position: relative;
}
.toup .bg{
	width: 100%;height: 10000px;
	position: fixed;left: 0;bottom: 0;
	background: rgba(0,0,0,0.5);z-index: 1000;
}
.toup .con{
	width: 100%;position: fixed;left: 0;bottom: -295px;
	background: #fff;z-index: 1001;
}
.toup .con h3{
	font-size: 14px;
	background:#ff5359;color: #fff;text-align: center;
	padding-top: 10px;padding-bottom: 10px;
}
.toup .con .conaddr{
	width: 100%;overflow: scroll;
	background: #f9f9f9;
}

.toup .con .conaddr>div{
	width: 1000%;

}

.toup .con .item{
	position: relative;
	width: 180px;float: left;
}
.toup .con .item div{
	height: auto;
	background: #fff;
	margin: 0 10px 0 0;
}

.toup .con .item div:nth-of-type(1) span{
	width: 19px;
	height: 19px;
	text-align: center;
	line-height: 19px;
	display: inline-block;
	color: #E66255;
	background: #fff;
	border-radius: 50%;
}
.toup .con .item div:nth-of-type(1) p{
	display: inline;color: #fff;
}

.toup .con .item div:nth-of-type(3) p{
	font-size: 12px;
	padding: 0 12px 12px 5px;
	word-wrap: break-word;
	white-space:pre-wrap;
	height:35px;overflow: hidden;
	margin: 0 0 5px 0;
	color: #333;
	line-height:15px;
	padding: 5px;
}

.txt-box{
	height:80px;
}

.conaddr-p{
	height:160px;
}

.txt-box-title{
	width: 100%;
	display: block;
	padding: 0 10px;
	line-height: 30px;
	height: 30px;
}
.box-title-naw{
	color: #ff5359;
}
.box-title-agio{
	font-size: 12px;
	text-decoration: line-through;
	color:#999;
}
.txt-box-title b{
	font-size: 12px;
	color:#999;
	float: right;
}


/*玩法 页面*/
.footer{
	position: fixed;
	bottom:0;
	width: 100%;
	background-color:#FC555D;
	height:60px;
	padding:10px 2%;
}

.footer a{
	width: 80px;
	height: 30px;
	float: right;
	color: #242424;
	text-align: center;
	line-height: 30px;
	margin:6px 5px 0 0;
	font-size: 14px;
	border: 1px solid #fff;
}

.footer span{
	height: 50px;
	float: left;
	/*background: url("/assets/images/personal-down.png") -3px -5px no-repeat;
	background-size: 45px 45px;
	padding: 0 0 0 50px;*/
	color: #fff;
	font-size: 12px;
}

.footer p img,.footer p span{
	float: left;
}
.footer p img{
	margin: 0 5px 0 0;
	width:40px;
}

.footer p i{
	display:block;;
}

.footer p i:first-child{
	padding:4px 0 0 0;
	font-size: 14px;
}


.footer .delete-down{
	width: 24px;
	height: 24px;
	float: right;
	background: url("/assets/images/delete-down.png") no-repeat;
	margin: -8px 0 0 8px;
	background-size: 22px;

}

.flow{
	padding:44px 0 0 0;
	margin:0 0 100px 0;
}

/*提示信息*/
.hint{
    position: fixed;
    top:50%;
    left: 50%;
	color: #fff;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    padding: 0  10px;
	font-size: 14px;
	background-color:#ff5359;
    text-align: center;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
	z-index: 100;

}

.hd-js{
	text-align: center;
	font-size: 14px;
    width: 100px;
	color: #fff;
	margin:10px auto;
	padding: 10px;
	background-color:#ff5359   ;
	border-radius: 20px;
	display: none;

}


.shade{
	width: 100%;
	height: 2000px;
	position:fixed;
	top:0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 20;
	display: none;
}

.shade .shade-box{
	width: 80%;
	background-color:#fff;
	position: fixed;
	top:30%;
	left: 50%;
	margin-left:-40%;
	border-radius:3px;
}

.shade .shade-hd{
	width:100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background-color:#ff5359;

}

.shade-midd,.shade-bottom{
	font-size: 12px;
	padding: 0 5px;

}
.shade-midd{
	color: #ff5359;
	border-bottom: 1px solid #ededed;
	height: 35px;
	line-height: 35px;
	margin: 0 0 10px 0;
	text-decoration: line-through;
	font-size: 14px;
}


.shade-btn{
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color:#ff5359;
	color: #fff;
	margin:20px auto;
	font-size: 14px;
	border-radius: 3px;

}







/*好评*/
.opinion{
	background-color: #fff;
	line-height: 40px;
	margin:5px 0;
	padding: 0 10px;
	font-size: 14px;
}

.opinion a{
	color: #666;
	font-size: 16px;
}

.opinion-l{
	float: left;
}

.opinion-r{
	float: right;
}

.opinion b {
	display: inline-block;
	width: 18px;
	height: 20px;
	background: url("/assets/images/page_gray.png") 5px 7px no-repeat;
	background-size: 10px 14px;
}

.percent{
	color: #ff5359;
}

.slide-img img{
	width: 100%;
}

.message_list img{
	margin: 0 auto;
}


.under{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	line-height:100px;
	color: #fff;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}

.buy_btn a.invalid{
	background-color:#b0b0b0 ;

}
#loading{
	width: 100px;
	height: 100px;
	border-radius: 20px;
	background-color: rgba(0,0,0,0.4);
	position:fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	z-index:500;

}

#loading img{
	width: 90px;
	position: absolute;
	top: 0%;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
}

.minimum{
font-size: 12px;
margin:0 0 0 5px;
}

.rate{
    float:right;
    font-size: 12px;
     height: 20px;
     line-height: 37px;
}

.txt-box p{
	border-top: 1px solid #ededed;
	color: #666;
	height: 52px;
	background-color: #fff;
	padding: 5px 5%;
	line-height: 22px;
	overflow: hidden;
	font-size: 12px;
	-webkit-line-clamp: 2;
	text-overline: ellipsis;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-wekit-box-orient: vertical;
}
