/* 禁用iPhone中Safari的字号自动调整 */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	font-family: Microsoft YaHei;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
	display: block;
}
/* 图片自适应 */
img {
	max-width: 100%;
	height: auto;
	width:auto\9; /* ie8 */
	-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
	display: block;
}
*:focus {
	outline:none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#565555; background:#F0F0F0; }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
a:hover{color:#969696; text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
fieldset,img{border: none;}
table {
	border-collapse:collapse;
	border-spacing:0;
}
caption, th {
	text-align:left;
}
q:before,
q:after {
	content:"";
}
input:password {
	ime-mode:disabled;
}
*{box-sizing:border-box;}

.picture_wrap {
	overflow: auto;
	position: relative;
	background-color: #f4f4f4;
}
/****-------------------------------cartempty-------------------------------************/
.nav_ban_detail {
	text-align: center;
	height:44px;
	width: 100%;
	z-index: 200;
	background:#ff5359 ;
	position: fixed;
	top:0;
	color:#fff;
	border-bottom: 1px solid #ededed;
	min-width: 320px;
	max-width: 750px;

}
/*头部*/

.nav_ban_detail .back{
	position: absolute;
	top:12px;
	left:0;
	width:40px;
	height:40px;
}


.back i,.back b{
	position: absolute;
	left:0;
	width:0;
	height:0;
	border-width:10px;
	border-style:dashed solid dashed dashed ;
	border-color:transparent #fff transparent transparent ;
}
.back b{
	border-color:transparent #ff5359 transparent transparent ;
	left:2px;

}

/*海报*/
/* 本例子css -------------------------------------- */
.slideBox{ position:relative; width:100%;  height:auto; overflow:hidden; margin:10px auto; }
.slideBox .hd{ position:absolute; height:auto; line-height:28px; bottom:0; right:0; z-index:1; }
.slideBox .hd li{ display:inline-block; width:8px; height:8px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#333; text-indent:-9999px; overflow:hidden; margin:0 6px;   }
.slideBox .hd li.on{ background:#E66255;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative;  }
.slideBox .bd li img{ width:100%;  height:auto; display:block;   }
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }

/*购物车*/
.nav_ban_detail .icon-cart {
	height: 33px;
	width: 33px;
	background: url("/assets/images/web/cart.png") center center no-repeat;
	background-size: 100%;
	float: left;
	margin-top: 10px;


}
.nav_ban_detail .icon-back-detail {
	height: 33px;
	width: 33px;
	float: left;
	background: url("/assets/images/web/back_detail.png") center center no-repeat;
	background-size: 100%;
	line-height: 33px;
	margin-top: 10px;
	margin-left: 2%;

}

.nav_ban_detail h1{
	margin: 0 auto;
	line-height:44px;
	font-size:18px;
	width:30%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	-webkit-text-overflow:ellipsis;
	height:50px

}



/****-------------------------------cartempty end-------------------------------************/
.picture_wrap .swipe {
	position: relative;
	overflow: hidden;
}
.picture_wrap .slider_wrap {
	height: 8rem;
}
.picture_wrap .image_item {
	float: left;
	position: relative;
	width: 6.4rem;
	height: 8rem;
	background: no-repeat center;
	background-size: cover;
	opacity: 0;
}


/************************************cycle-slide************************************/
.cycle-slideshow {
	width: 100%;
}
.cycle-slideshow div {
	width: 100%;
	height: auto
}
.cycle-caption {
	position: absolute;
	color: white;
	bottom: 15px;
	right: 15px;
	z-index: 700;
}
#screen_wrap {
	min-width: 320px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: auto;
}

div .cycle-overlay {
	color: white;
	background: black;
	opacity: .6;
	filter: alpha(opacity=60);
	position: absolute;
	bottom: 0;
	width: auto;
	padding: 5px;
	border-radius: 20px;
	bottom:7%;
	left: 3%;
	z-index: 999;
}
.cycle-pager {
	text-align: center;
	width: 100%;
	z-index: 500;
	position: absolute;
	top: 22px;
	overflow: hidden;
}
.cycle-pager span {
	font-family: arial;
	font-size: 50px;
	width: 17px;
	height: 17px;
	display: inline-block;
	color: #ddd;
	cursor: pointer;
	line-height: 17px;
}
.cycle-pager span.cycle-pager-active {
	color: #F22F65;
}
.cycle-pager > * {
	cursor: pointer;
}
.custom-pager {
	text-align: center;
	width: 100%;
	z-index: 500;
	position: absolute;
	bottom:0;
	overflow: hidden;
}
.custom-pager span {
	font-family: arial;
	font-size: 50px;
	width: 17px;
	height: 17px;
	display: inline-block;
	color: #ddd;
	cursor: pointer;
	line-height: 17px;
}
.custom-pager span.cycle-pager-active {
	color: #F22F65;
}
.custom-pager > * {
	cursor: pointer;
}


/***********************************************************************************/
.timer_box {
	text-align: center;
	line-height: 25px;
	padding: 0;
	margin: 0;
	position: absolute;
}
.u-icon {
	display: inline-block;
	background: url(/assets/images/web/timer_red.png) no-repeat;
	background-size: contain;
}
.i-clock-white {
	width: 25px;
	height: 25px;
}




/*切换tab*/
.detail-tabpanel-fixed {
	position: fixed;
	top: 0;
	z-index: 900;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #eee;
	list-style-type: none;
	height: 35px;
	min-width: 320px;
	max-width: 750px;
}
.detail-tabpanel {
	height:60px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.detail-tabpanel .center li{
	float: left;
}
.tabpanel-tabs .tab-item {
	position: relative;
	width: 33%;
	padding:1.2rem 0;
	text-align: center;

}
.classify .current{
	border: 1px solid #E46359;
}
.current{
	border-bottom: 2px solid #f69;
}
.tabpanel-tabs .tab-span {
	display: block;
	line-height: 20px;
	border-right: 1px solid #e5e5e5;
	text-align: center;
}




/**标题部分**/
.sku-meta {
	border-bottom: solid 1px #ddd;
}
.box{
	background-color: #fff;
}
.sku-title {
	color: #000;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, 'microsoft yahei', Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: normal;
	word-break: normal;
	word-wrap: break-word;
	text-align: left;
	padding: 10px 0px 5px 10px;

}
.u-detail-pricebox {
	padding-left: 12px;
	line-height: 60px;

}
.u-detail-price {
	float: left;
	font-weight:bold;
	color:#ff5359;
	font-size:34px ;
}

.u-detail-price i{
	font-size:26px ;
}
.u-detail-mprice {
	float: left;
	margin-left: 10px;
	color:#BEBEBE;
	text-decoration: line-through;
	font-size:18px ;
}
.u-detail-discount {
	float: left;
	text-align: center;
	color: #fff;
	background-color:#ff5359;
	margin:22px 0 0 10px;
	line-height:20px;
	padding: 0px 5px;
}
.thw-detail-other {
	color: #565555;
	height: 36px;
	padding:0 2%;
	font-size:16px;
}
.one{
	float: left;
}
.one i{

}
.two{
	float: left;
	margin: 0 0 0 15%;
}


.three{
    padding:0 0 0 20px;
	font-size: 14px;
	background: url("/assets/images/hmm_dingwei_icon.png") 0 20px no-repeat;
	float: right;
	background-size: 20px 20px;
}


/*!*正品保障*!
.detail-service{
	width: 100%;
	height: 120px;
	background-color: #ededed;
}

.u-detail-introduce {
	padding:20px 0 0 0;
	width: 100%;
	height: 146px;
}

.u-detail-introduce li{
	float: left;
	width:25%;
	text-align: center;
	font-size: 16px;

}

.u-detail-introduce li i{
	width:100%;
	height:70px;
	display: block;
	background: url("/assets/images/detail-icon03.png") no-repeat top center;
	background-size: 70px;
}

.u-detail-introduce li .u-icon-time{
	background: url("/assets/images/detail-icon01.png") no-repeat top center;
	background-size: 70px;
}

.u-detail-introduce li .u-icon-pack{
	background: url("/assets/images/detail-icon02.png") no-repeat top center;
	background-size: 70px;
}

.u-detail-introduce li .u-icon-quick{
	background: url("/assets/images/detail-icon04.png") no-repeat top center;
	background-size: 70px;
}
*/




/*分类*/
.classify{
	margin: 20px 0 0 0;
	width:100%;
	height:90px;
	padding:0 2%;
	background-color: #fff;
}
.classify span{
	display: block;
	margin: 0 0 10px 0;
}


.classify ul li{
	text-align: center;
	width:22%;
	line-height:40px;
	font-size: 12px;
	float: left;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	cursor: pointer;
    margin: 0 5px 0 0;
}
.sale{
	margin: 2% 0 0 0;
	width: 100%;
	padding:2%;
	background-color: #fff;

}
.sale p{
	line-height: 30px;
	color:#ed145b ;
}



/*商品参数*/
.sku-measure {
	background: #fff;
	margin: 10px 0;
	padding: 0 2%;
}
.dc_tit{
	border-bottom: 1px solid #f4f4f4;
	line-height: 40px;
}
.parameter-wrap .size-list table {
	width: 100%;
	background: #fff;
}
.parameter-wrap .size-list tr {
	border-bottom: 1px solid #f4f4f4;
}
.parameter-wrap .size-list td:first-child {
	width: 100px;
}
.parameter-wrap .size-list td {
	font-weight: 400;
	line-height: 38px;
	text-align: left;
	color: #727272;
}
.parameter-wrap .param-list {
	background: #fff;
	border-top: 1px solid #e6e6e6;

}
.parameter-wrap .param-list li {
	display: -webkit-flex;
	display: -webkit-box;
	line-height: 40px;
	border-bottom: 1px solid #f4f4f4;
}
.parameter-wrap .param-list .param-name {
	display: inline-block;
	width: 100px;
	color: #727272;
	font-size: 12px;
}
.parameter-wrap .param-list .param-info {
	-webkit-flex: 1;
	-webkit-box-flex: 1;
	color: #eb4868;
	line-height: 40px;
}

/*热卖商品*/
.hot{
	background-color: #fff;
	width: 100%;
	margin: 0 0 50px 0;
	padding: 0 0 2% 0;

}
.hot .hot-hd{
	padding: 0 2%;
	line-height: 40px;
}

/*拼购产品*/

.product li {
	margin-bottom: 10px;
}


.product li a{
	position: relative;
	display: block;
	border:1px solid #cfcfcf;
	background-color: #fff;
}

.title-hd{
	height: 60px;
	color:#4B4B4B;
	background-color:#fff;
	border-bottom:1px solid #ececec;
	padding:10px 5%;
	overflow: hidden;
}

.product-box{
	padding: 10px 0 10px;
}

.product-top{
	border-radius: 0 20px 20px 0px;
	background: url("/assets/images/hmm_klmpintuan.png") no-repeat 5px #ff5359;
	background-size: 25px;
	display: inline-block;
	padding: 10px 10px 10px 35px;
	color: #fff;
	font-size: 12px;
	height: 40px;
}



.product .title-fd{
	display: block;
	background:white;
	width:100%;
	height:50px;
	padding:0 5%;
	line-height: 50px;
}

.naw{
	font-size:24px;
	color:#ff5359;
}
.agio{
	font-size:16px;
	text-decoration: line-through;
}

.title-fd b{
	float:right;
	width:50px;
	line-height:25px;
	text-align: center;
	border: 1px solid #e33a39;
	color: #ff5359;
	font-weight: normal;
	margin: 10px 0 0 0;
}

.product{
	witdh:100%;
}

.product li{
	width:100%;
}

.product li a{
	width:48%;
	display: inline-block;
	margin:0 0 0 1%;

}


@media screen and (min-width:390px) and (max-width:500px) {
	.naw{
		font-size:18px;

	}
	.agio{
		font-size:12px;

	}
	.title-fd b{

		width:45px;
		line-height:20px;
		text-align: center;
		border: 1px solid #e33a39;
		color: #e56254;
		font-weight: normal;
		margin: 15px 0 0 0;
	}



}

@media screen and (min-width:320px) and (max-width:389px) {
	.product .title-fd{

		padding:0 2%;

	}
	.naw{
		font-size:14px;

	}
	.agio{
		font-size:12px;

	}
	.title-fd b{
		font-size:12px;
		width:35px;
		line-height:20px;
		text-align: center;
		border: 1px solid #e33a39;
		color: #e56254;
		font-weight: normal;
		margin: 15px 0 0 0;
	}



}

/*热卖结束*/


/*底部购物车*/

.buy_box a{
	color:#fff;
}


#shopCart{
	width: 50%;
	float: left;

}
.shopping{
	width:30px;
	height:30px;
	position: relative;
}

.shopping i{
	background: url(/assets/images/white_shoppingcar.png) center center no-repeat;
	background-size: contain;
	width:30px;
	height:30px;
}

.shopping .cart_num{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 2px;
	left:45%;
	background: #ed145b;
	line-height: 20px;
	cursor: pointer;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
}

.love{
	float: left;
	height:44px;
	width:25%;
	background: #ccc;
	padding:0 2%;
}

.love a{
	display: inline-block;
	width:50%;
}
.love .like{
	padding: 10px 0 0 0;
	float: right;
	position: relative;
}
.soul{
	width:100%;
	height: 25px;
	display: block;
	background: url("/assets/images/detail-shou.png") center center no-repeat;
	background-size:25px 20px;
	display: none;
}


.soul.now{
	display: block;
}


.min{
	width:100%;
	height: 25px;
	background: url("/assets/images/icon_collect.png") center center no-repeat;
	background-size:30px 25px;
}

.like-s{
	display: block;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color:#565656;
	color: #fff;
	border-radius: 50px;
	position: absolute;
	top:-30px;
	left:0;
	display: none;


}

.like-x{
	display: block;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color:#565656;
	color: #fff;
	border-radius: 50px;
	position: absolute;
	top:-30px;
	left:0;
	display: none;

}





/*加入购物车*/

.buy_box .add_cart {
	float: left;
	width:37.5%;
	background-color:#565656;
	font-size:18px;
	line-height:44px;
	color: #666;
	text-align: center;
	word-wrap: normal;
	white-space: nowrap;
}



.buy_box .buy_btn {
	float: left;
	width:37.5%;
	font-size:18px;
	line-height:44px;
	text-align: center;
	color: #fff;
	background-color: #ff5359;
	word-wrap: normal;
	white-space: nowrap;
}

.buy_box .message{
	display: block;
	background:url(/assets/images/web/bc.png) no-repeat center;
	background-size: contain;
	width:25px;
	height:25px;
	margin: 10px auto;
	position: relative;

}

.btnCart{
	display: block;
	width:100%;

}

.fly_item{
	position: absolute;
	left:25%;
	width:50px;
	height:50px;
	visibility: hidden;
	overflow: hidden;
	opacity: 0.9;

}


@media (min-width: 750px) {
	.buy_box {
		position: fixed;
		bottom: 0;
		width: 100%;
		height:auto;
		background-color: rgba(255,255,255,0.95);
		box-shadow: 0 -1px 0 0 rgba(51,51,51,0.15);
		z-index:1000;
		word-wrap: normal;
		white-space: nowrap;
		margin-left: auto;
		margin-right: auto;
		min-width: 320px;
		max-width: 750px;
		font-size: 14px;
	}

}
@media (min-width: 450px) and (max-width:750px) {
	.buy_box {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: rgba(255,255,255,0.95);
		box-shadow: 0 -1px 0 0 rgba(51,51,51,0.15);
		z-index:1000;
		word-wrap: normal;
		white-space: nowrap;
		margin-left: auto;
		margin-right: auto;

	}

}

@media (max-width: 480px) and (min-width: 320px) {
	.buy_box {
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: rgba(255,255,255,0.95);
		box-shadow: 0 -1px 0 0 rgba(51,51,51,0.15);
		z-index:1000;
		word-wrap: normal;
		white-space: nowrap;

	}


}

/* 本例子css -------------------------------------- */
.slideBox{ position:relative; width:100%;  height:auto; overflow:hidden; margin:10px auto; }
.slideBox .hd{ position:absolute; height:auto; line-height:28px; bottom:0; right:0; z-index:1; }
.slideBox .hd li{ display:inline-block; width:8px; height:8px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#333; text-indent:-9999px; overflow:hidden; margin:0 6px;   }
.slideBox .hd li.on{ background:#E66255;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative;  }
.slideBox .bd li img{ width:100%;  height:auto; display:block;   }
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }




/*返回顶部*/
.top{
	position: fixed;
	bottom:80px;
	right:20px;
	display: none;
}
.top img{
	width:40px;
	height:40px;

}

/*ffqwfewafegargsdgga*/
.thw-detail-other .xian{
	background:#ff5359;
	color: #fff;
	padding: 2px 4px;
	border-radius: 3px;
	font-size: 12px;
}
.picture_wrap .item{
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.picture_wrap .item.now{
	visibility: visible;
	height: auto;
}


/*拼团详情 页面*/

/*拼团玩法*/
.pay{
	background-color: #F5F5F5;
	padding:2% 3%;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
}
.pay-txt{
	height:30px;
}
.pay span{
	float: left;

}
.pay a{
	float: right;
	font-size:14px;
	color:#ff5359 ;
}

.love .pin-love{
	width:100%;
	height:44px;
	float: none;
}

.buy_box .pin-cart{
	background-color:#ff5359 ;
}

.buy_box .pin-buy {
	background-color:#CCCCCC ;

}
.pin-buy a{
	color:#666 ;
}


.pin-wrap{
	padding:44px 0 0 0;
}







.txt{
	padding:0 3%;
	margin:20px 0;
}

.txt p{
	color:#E66255;
	margin:0 0 10px 0;

}

.diamond{
	width: 100%;

}
.diamond a{
	display: inline-block;
	width: 49%;
}
.diamond a span{
	display: block;
	width: 100%;
	height: 40px;
	background-color:#ff5359;
	text-align: center;
	line-height: 40px;
	color: #fff;
}

.diamond a span:nth-child(2){
	background-color:#404040 ;
}

.diamond a span.ed{
	background-color:#EDEDED;
	color: #999;
}

.diamond a span.big{
	height:40px;
	line-height:40px;
	font-size:20px;
}

.pin-hd {
	background-color: #fff;
	margin: 20px 0 0 0;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	padding: 20px 0 0 0;
}

.pin-title{
    padding: 0 3%;
}

.sku-meta h2{
	height:20px;
	overflow: hidden;
	margin: 0 0 5px 0;
}

.num{
	text-align: right;
}

.finish{
	position: absolute;
	bottom: -25px;
	right: 0;
	background-color: #FFEEDE;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #E66255;
	padding: 0 5px;
}

.finish-box{
	width: 100%;
	text-align: center;
	color:#ff5359;
	background-color: #FFEEDE;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
}


.figure {
	width: 100%;
	height:140px;
	overflow: hidden;
}





/*其他拼购*/
.toup{
	width: 100%;position: relative;
}
.toup .bg{
	width: 100%;height: 10000px;
	position: fixed;left: 0;bottom: 0;
	background: rgba(0,0,0,0.5);z-index: 1000;
}
.toup .con{
	position: fixed;left: 0;bottom: -295px;
	background: #fff;z-index: 1001;
}
.toup .con h3{
	background:#ff5359;color: #fff;text-align: center;
	padding-top: 10px;padding-bottom: 10px;
}
.toup .con .conaddr{
	width: 100%;overflow: scroll;
}

.toup .con .conaddr>div{
	width: 1000%;
}

.toup .con .item{
	width: 180px;float: left;
}
.toup .con .item div{
	margin-top: 10px;
	margin-right: 10px;
}
.toup .con .item div:nth-of-type(1){
	border-top-right-radius:14px;
	border-bottom-right-radius:14px;
	background: #ff5359;
	padding: 2px 0 2px 2px;
	font-size: 12px;
	color: #fff;
}
.toup .con .item div:nth-of-type(1) span{
	width: 24px;height:24px;text-align: center;line-height: 24px;
	display: inline-block;color: #E66255;background: #fff;border-radius: 50%;
}
.toup .con .item div:nth-of-type(1) p{
	display: inline;color: #fff;
}

.toup .con .item div:nth-of-type(3) p{
	font-size: 12px;padding: 0 12px 12px 5px;
	word-wrap: break-word;
	white-space:pre-wrap;
	height:32px;overflow: hidden;
	margin: 0 0 5px 0;
	color: #333;
	line-height:15px;
	padding: 5px;
}

.txt-box{
	height:80px;
}

.conaddr-p{
	height:125px;
}

.txt-box-title{
	width: 100%;
	display: block;
	padding: 5px;
	border-top:1px solid #ededed;
}
.box-title-naw{
	color: #ff5359;
}
.box-title-agio{
	font-size: 12px;
	text-decoration: line-through;
	color:#999;
}
.txt-box-title b{
	font-size: 12px;
	color:#999;
	float: right;
}


/*玩法 页面*/
.footer{
	position: fixed;
	bottom:0;
	width: 100%;
	background-color: #000;
	height:60px;
	padding:10px 2%;

}
.footer a{
	width:80px;
	height:30px;
	float: right;
	color:#fff;
	text-align: center;
	line-height:30px;
	margin: 5px 0 0 0;
	background-color: #E46359;
}
.footer span{
	width:210px;
	height:50px;
	float: left;
	background: url("/assets/images/personal-14.jpg") no-repeat;
	background-size: 40px 40px;
	padding:0 0 0 50px;
	color: #E46359;

}
.footer span i{
	display:block;
}


.flow{
	padding:44px 0 0 0;
	margin:0 0 100px 0;
}

/*提示信息*/
.hint{
    position: fixed;
    top:50%;
    left: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    margin: 0 auto;
    color:#E46359;
    padding: 10px;
    text-align: center;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}