body{
    background-color: #fff;
}
.wrap{
    padding:50px 0;
    background-color:#fff ;
}
.con{
    width:100%;
    background-color:#fff;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    margin:10px 0 10px 0;
    position:relative;
}

h2{
    color:#595758;
    font-size: 18px;
}
.commodity{
    width:100%;
    display: block;
    padding: 10px;
}

.commodity h2{
    height:35px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    font-size: 14px;
}

.commodity .commodity-rmb{
    display: block;
    margin:15px 0 0 0;
    height:20px;

}


span .rmb,span .number{
    float: left;
}
span .rmb{
    margin: 0 0 0 2%;
}
.photo-img{
    width:90px;
    height:60px;
    float: left;
    margin: 0 10px 0 0;
}

.commodity img{
    width:100%;
    float: left;
}


.commodity p{
    padding:10px 0 0 0;
    width: 100%;
    text-align: right;
}



.urse-photo-box{
    width:100%;
    margin: 10px;
}

.urse-photo-m{
    float: left;
    margin: 0 2% 0 0;
}
.urse-photo{
    width:60px;
    margin:0 auto;
}

.urse-photo-box img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ff5359;
}


.last{
    margin-right:0;
}


.fight-hd{
    width:100%;
}

.fight-hd span,.fight-hd i{
    display: block;
}

.fight-hd span{
    width: 130px;
    height: 37px;
    margin: 10px auto;
    line-height: 50px;
    background: url("/assets/images/pingou_success.png") no-repeat;
    background-size: contain;
    padding: 0 0 0 50px;
}
.fight-hd.fight-er span{
    width: 100px;
    height: 65px;
    line-height: 50px;
    background: url("/assets/images/hmm_pingou_fail.png") no-repeat;
    background-size:contain;
    padding:0 0 0 50px ;
    font-size:20px;
}
.fight-hd i{
    width: 100%;
    text-align: center;
    font-size:16px;

}

.fight-txt{
    margin: 20px 0 5px 0;
    width:100%;
    text-align: center;
}

.fight-txt p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.fight-timer{
    padding:0 2%;
   background-color: #999;
    color:#fff;
    height:40px;
    line-height:40px;
}

.fight-timer img{
    border-radius: 50%;
    margin:5px 0 0 0;
}
.fight-photo{
    width:30px;
    float: left;
}

.fight-timer span,.fight-number span{
    width:100px;
    height:50px;
    float: left;
    background: url("/assets/images/100-100.png") no-repeat;
    background-size:contain;
    padding:0 0 0 60px ;
    margin:4px 0 0 0;
}

.fight-timer i{
    float: right;
    color: #fff;
    font-size: 12px;
}

.fight-number{
    padding:0 2%;
    height:200px;
}
.fight-number span{
    margin:40px 0;
    width:100%;
    line-height:50px;
    background: url("/assets/images/100-2.png") no-repeat;
    background-size:contain;
    color: #999;
    font-size: 16px;
}

.zutuan{
   width:60px;
    height:60px;
    position: absolute;
    bottom:10px;
    right:5px;
}

.zutuan img{
    width: 100%;
}

.btn-box{
    background-color: #494949;
    height:70px;
    width: 100%;
    color:#fff;
    padding: 10px 2% 0 0;
    position: fixed;
    bottom:0;
}

.btn{
    width:80%;
    height:50px;
    float:right;
    border-radius: 5px;
    text-align: center;
    line-height:50px;
    font-size: 18px;
    color: #fff;

}


.fight-f{
  margin: 20px 0 0 0;
    background-color: #fff;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.fight-timer .fight-f-i{
    color: #999;
}

.fight-timer b{
    float: left;
    margin: 0 0 0 10px;
    font-size: 12px;
}

.fight-f-b{
    color: #999;
}

.txt{
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #999;
    margin: 0 0 -5px 0;
}

.home{
    float: left;
    width:20%;
    height: 50px;
}

.home img{
    margin: 0 auto;
}

.triangle{
    width: 0;
    border-width: 10px;
    border-color:transparent transparent #999 transparent;
    border-style: solid dashed dashed dashed;
    margin: 0 auto;
}

.urse-photo{
    position: relative;
}
.urse-photo span{
    position: absolute;
    top:-2px;
    right:2px;
    font-size: 10px;
    padding:2px;
    border-radius:5px;
    color: #fff;
    background-color: #ff5359;
}
















