.warp img{
    width: 100%;
    height: auto;
}

.con{
    position: relative;
}
.one,.two,.three,.four,.five,.six,.seven,.nine,.ten,.eleven,.twelve,.thirteen,.fourteen,.fifteen,.under-one,.under-two,
.under-three,.under-four,.under-five,.under-six{
    width: 20%;
    height: 9.2%;
    position: absolute;
    top: 22%;
    background-color: rgba(0,0,0,0.0);
}

.one{

    left: 17%;
}

.two{
    left: 42%;
}

.three{
    left:67%;
}

.four{
    width: 55%;
    height:8%;
    top: 46%;
    left: 3%;
}

.five{
    width: 36%;
    height: 14%;
    top: 51%;
    left: 60%;
}

.six{
    width: 85%;
    height: 10%;
    top: 73%;
    left: 8%;
}

.seven{
    width: 76%;
    height: 10%;
    top: 84%;
    left: 20%;
}


/*assemblage*/

.nine{
    width: 96%;
    top: 17%;
    left: 2%;
    height: 7.5%;

}


.ten{
    width: 47%;
    top: 25%;
    left: 2%;
    height: 6%;

}
.eleven,.thirteen{
    width: 46%;
    top: 25%;
    height: 6%;
    left: 51%;
}
.twelve{
    width: 47%;
    top: 31.7%;
    left: 2%;
    height: 6%;
}

.thirteen{
    top: 31.7%;

}

.under-one,.under-two,.under-three,.under-four,.under-five,.under-six{
    width: 47%;
    top: 47.7%;
    left: 2%;
    height: 14%;
}
.under-two,.under-four,.under-six{
    left: 51%;
}

.under-three,.under-four{
    top: 62.2%;
}

.under-five,.under-six{
    top: 77%;
}

#loading{

    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    z-index: 1000;
    background-color:rgba(255,255,255,0.0);
}

#loading img{
    width: 100px;
    position:absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}



.favouone,.favoutwo,.groomone,.groomtwo{
    width:80%;
    height: 4%;
    position: absolute;
    left: 50%;
    bottom:5%;
    background-color:rgba(0,0,0,0);
    -webkit-transform: translate(-50%,0);
}
.groomone{
    bottom:3%;
}
.favoutwo,.groomtwo{
    width:70%;
    bottom:2%;
    height:1.5%;
}
.groomtwo{
    bottom:0.5%;
}



.groomtwo-o,.groomtwo-t,.groomtwo-s,.groomtwo-f,.groomfour-o,.groomfour-t,.groomfour-s,.groomfour-f,.groomfour-fv,.groomfour-six{
    width:70%;
    position: absolute;
    height: 10%;
    left: 50%;
    top:8%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);

}
.groomtwo-t{
    top:33%;
    height:8%;
}

.groomtwo-s{
    height: 10%;
    top: 56%;
}
.groomtwo-f{
    height: 10%;
    top:81%;
}


/*exo h5-5*/
.groomfour-o{
    top: 52%;
    height: 6%;
    width: 100%;

}

.groomfour-t{
    width: 84%;
    top: 62.2%;
    height: 6%;

}
.groomfour-s{
    top:70%;
    height: 6%;

    width: 82%;
}
.groomfour-f{
    top: 76.5%;
    left:25%;
    height: 5%;
    width: 40%;
}

.groomfour-fv{
    top: 76.5%;
    left:71%;
    height: 5.2%;
    width: 40%;

}
.groomfour-six{

}







.cue{
    display: none;
    text-align: center;
    width: 80%;
    padding:20px 10px;
    position: fixed;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    background-color: #fdd000;
}
.cue .txt{
    color: #f73939;
}
.coupon-deta {
    margin: 10px 0 0 0;
    width: 100%;
    text-align: right;
    font-size: 12px;
}

.pd{
    padding: 44px 0 0 0;
}

/*h7*/

.groomsix-o,.groomsix-t,.groomsix-s,.groomsix-f,.groomsix-fv,.groomsix-six,.groomsix-se,.groomsix-ev,.groomsix-n,.groomsix-ten{
    width: 24%;
    position: absolute;
    height: 5%;
    left: 37%;
    top: 19%;
    background-color: pink;
}
.groomsix-t{
    width: 15%;
    height: 10%;
    left: 62%;
    top: 14%}

.groomsix-s{
    width: 16%;
    position: absolute;
    height: 9%;
    left: 78%;
    top: 15%;
}
.groomsix-f{
    width: 16%;
    height: 11%;
    left: 5%;
    top: 43%;
}

.groomsix-fv{
    width: 18%;
    height: 11%;
    left: 22%;
    top: 43%;
}
.groomsix-six{
    width: 27%;
    height: 6%;
    left: 41%;
    top: 48%;
}

.groomsix-se{
    width: 18%;
    position: absolute;
    height: 5%;
    left: 23%;
    top: 76%;}

.groomsix-ev{
    width: 21%;
    height: 5%;
    left: 42%;
    top: 76%;}


.groomsix-n{
    width: 16%;
    height: 9%;
    left: 64%;
    top: 72%;}

.groomsix-ten{
    width: 18%;
    height: 9.5%;
    left: 81%;
    top: 71%;}

.order-o,.order-t,.order-s,.order-f,.order-fv,.order-six,.order-se
,.order-to,.order-tt,.order-tf,.order-tfv,.order-tsix,.order-tse
,.order-so,.order-st,.order-ss{
    width: 10%;
    position: absolute;
    height: 4%;
    left: 7%;
    top: 36%;
    background-color: red;
}

.order-t{
    left: 20%;
}
.order-s{
    left: 32%;
}
.order-f{
    left: 44%;
}

.order-fv{
    left: 56%;
}

.order-six{
    left:69% ;
}
.order-se{
    left:82% ;
}
.order-to,.order-tt,.order-tf,.order-tfv,.order-tsix,.order-tse{
    top:63%
}
.order-tt{
    left:20%
}

.order-tf{
    left: 32%;
}

.order-tfv{
    left: 44%;
}

.order-so,.order-st,.order-ss{
    top:92.5%
}

.order-st{
    left:20%
}
.order-ss{
    left: 32%;
}


