
/* 禁用iPhone中Safari的字号自动调整 */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	font-family: Microsoft YaHei;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
	display: block;
}
/* 图片自适应 */
img {
	max-width: 100%;
	height: auto;
	width:auto\9; /* ie8 */
	-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
	display: block;
}
*:focus {
	outline:none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#ccc;background:#F0F0F0; }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
a:hover{color:#969696; text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
fieldset,img{border: none;}
table {
	border-collapse:collapse;
	border-spacing:0;
}
caption, th {
	text-align:left;
}
q:before,
q:after {
	content:"";
}
input:password {
	ime-mode:disabled;
}


.scope{min-width:320px; max-width:730px;}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #999
}
select,textarea {
	outline: 0;
	color: #424242;
	-webkit-appearance: none
}
textarea {
	-webkit-user-select: text
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
* {
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
:before,:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

body {
	font: 400 14px/1.5 Arial,sans-serif;
	color: #5e5e5e;
	background-color: #f6f6f6;
	overflow-x: hidden;
	-webkit-text-size-adjust: none
}
a {
	color: #5e5e5e;
	text-decoration: none
}

/***header****/
.ui-head-bar {
	position:fixed;
	width: 100%;
	height: 44px;
	line-height: 45px;
	display: -webkit-box;
	background: #F58292;
	background-size: 100% auto;
	z-index: 998;
}
.icon-search-title {
	height: 44px;
	width: 44px;
	display: inline-block;
	background: url("/images/web/searchIcon.png") no-repeat center center;
	background-size: contain;
	z-index: 10;
	cursor: pointer;
}

.shopping{
	background: url(/images/web/bc.png) center center no-repeat;
	background-size: contain;
	position: absolute;
	top:12%;
	right:2%;
	width:30px;
	height:30px;

}
h1 {
	height: 44px;
	position: relative;
	line-height: 44px;
	-webkit-flex: 1;
	-webkit-box-flex: 1;
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: 800;
}
h1 .logo {
	width: 59px;
	padding-top: 44px;
	display: inline-block;
	background: url("/images/web/title_hmm.png") no-repeat center center;
	background-size: 100%;
	/*	vertical-align: middle;*/
}
.icon-user-title {
	height: 44px;
	width: 44px;
	background: url("/images/web/userIcon.png") no-repeat center center;
	background-size: contain;
	display: inline-block;
    position: absolute;
    left: 0;
}
/****discount*****/
.discount {
	overflow: auto;
	padding: 10px 10px;
}





/********banner*********/
.banner {
	display: block;
	position: relative;
	overflow: auto;
	margin:44px 0 0 0 ;
}
.banner .bannerclose {
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(http://img11.360buyimg.com/da/jfs/t1000/283/179661858/1201/c7c60274/5507956eN735de046.png) 0px -19px no-repeat;
	z-index: 100;
}
.banner .bannerclose:hover {
	position: absolute;
	right: 5px;
	top: 5px;
	display: block;
	width: 19px;
	height: 19px;
	background: url(http://img11.360buyimg.com/da/jfs/t1000/283/179661858/1201/c7c60274/5507956eN735de046.png) 0px 0px no-repeat;
	z-index: 100;
}
.closeBtn {
	padding: 3px;
	z-index: 997;
	opacity: .8;
	filter: alpha(opacity=80);
	position: absolute;
	right: 1%;
	top: 1%;
	color: #000;
}
.closeBtn span {
	display: block;
	width: 25px;
	height: 25px;
	line-height: 23px;
	font-size: 17px;
	/* font-weight: 100; */
	color: #fff;
	vertical-align: middle;
	text-align: center;
	background: rgba(224, 79, 140, 0.77);
	border: 2px solid #fff;
	border-radius: 20px;
}
/***hot sale***/
.hotsale-brand {
	display: block;
	position: absolute;
	top: 0px;
	right: 3%;
	text-align: right;
	width: 63%;
	/* height: 20px; */
	/* line-height: 20px; */
	word-wrap: normal;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1em;
	font-weight: bold;
	color: #746870;
}
.hotsale-title {
	display: block;
	position: absolute;
	top: 20px;
	right: 3%;
	width: 75%;
	word-wrap: normal;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.3em;
	font-weight: 100;
	color: #a8a8a8;
	text-align: right;
}
.hotsale-title b {
	color: #f69;
	font-style: italic;
	font-size: 12px;
}
.hotsale-brand-down {
	display: block;
	position: absolute;
	top: 0px;
	right: 3%;
	text-align: right;
	width: 58%;
	word-wrap: normal;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bolder;
	color: #746870;
	font-size: .7em;
}
.hotsale-title-down {
	display: block;
	position: absolute;
	margin-top: 5px;
	top: 15px;
	right: 3%;
	width: 55%;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.1em;
	color: #a8a8a8;
	text-align: right;
}
.hotsale-title-down  b {
	color: #f69;
	font-style: italic;
	font-size: 12px;
}

.panel {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 1%;
}
.wall_wrap {
	width: 100%;
	height: auto;
	display: box;
	display: -webkit-box;
	display: -moz-box;
}
.wall_col {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	max-width: 50%;
	padding: 0 3px 0 6px;
}
.Pcontainer {
	-webkit-box-flex: 1;
	box-flex: 1;
}
.wall_item {
	position: relative;
	list-style: none;
	color: #bebebe;
	-webkit-transform: translateZ(0);
	margin-bottom: 6px;
	position: relative;
	list-style: none;
	color: #bebebe;
	-webkit-transform: translateZ(0);
	border: 1px #ededed solid;
	width: 100%;
}
.img-detail {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.img-detail img {
	width: 100%;
	/*    height: auto;*/
	/*    position: absolute;*/
	/*    top: 0;*/
	/*    left: 0;*/
}
.img-shadow {
	width: 100%;
	height: 6px;
	background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,0)),to(rgba(0,0,0,.1)));
	background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.1));
	background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.1));
	background: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.1));
	background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.1));
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.title-word {
	width: 100%;
	padding: 0 7px;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
}
.priceattention {
	width: 100%;
	height: 20px;
	padding: 0 7px;
	line-height: 20px;
	font-size: 12px;
	color: #ee4566;
	display: box;
	display: -webkit-box;
}
.priceattention .price {
	-webkit-box-flex: 1;
	display: block;
}
.priceattention .attention {
	text-indent: 13px;
	background: url("http://d04.res.meilishuo.net/pic/_o/0b/af/01f834bdf72c210229a9d6277440_27_24.cg.jpg") 0 center no-repeat;
	background-size: 10px auto;
	color: #727272;
	text-align: right;
	display: block;
}


.con{
	width:100%;
	padding:10px;
}

.con a{
	display: block;
	width:100%;
	height:auto;
	margin: 0 0 10px 0;

}

.con a img{
	width:100%;
}

.more{

	width:100%;
	height:40px;
	background: white;
	color:#F58292;
	border-radius:3px;
	margin: 0 0 70px 0;
	text-align: center;
	line-height: 40px;
	cursor:pointer;


}


/*********购物图标******************/
.u-shopbag {
	position: fixed;
	bottom: 22px;
	left: 15px;
	min-width: 42px;
	height: 42px;
	z-index: 997;
	background: rgba(224, 79, 140, 0.74);
	border-radius: 22px;
	cursor:pointer;
}
.u-shopbag a {
	display: block;
	padding: 11px 10px;
	position: relative;
}
.i-flow-carticon {
	width: 24px;
	height: 24px;
}
.u-flow-cartnum {
	position: absolute;
	left: 24px;
	top: 6px;
	width: 14px;
	height: 14px;
	font-style: normal;
	text-align: center;
	line-height: 14px;
	background-color: #fbe943;
	border-radius: 7px;
	color: #4c1f02;
	font-size: 12px;
}
.hide {
	display: none;
}
.u-icon-px {
	display: inline-block;
	background: url(/images/web/bc.png) center center no-repeat;
	background-size: contain;
}
.u-flow-carttime {
	width: 50px;
	height: 50px;
}
/******************rocket***********************/
.rocket {
	z-index: 11;
	position: fixed;
	bottom: 110px;
	right: 10px;
}
.rocket strong {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: rgba(224, 79, 140, 0.77);
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/*****rocket*******/
.u-backtop-rocket {
	position: fixed;
	right: 15px;
	bottom:61px;
	display: block;
	width: 39px;
	height: 39px;
	border-radius: 22px;
	background: rgba(224, 79, 140, 0.77);
	z-index: 9999;
	padding: 8px 8px;
	opacity: 0;
	cursor: pointer;
}
.i-backtop-rocket {
	height: 100%;
	display: block;
	background: url(/images/web/rocket.png) center center no-repeat;
	background-size: contain;
	position: relative;
	width: 24px;
	height: 24px;
}
/****************搜索mask*****************/
.ui-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0,0,0,.6);
}
#M_search {
	width: 100%;
	height: 46px;
	background: #f6f6f6;
	position: relative;
	top: 0;
	left: 0;
	z-index: 9999;
	border-bottom: 1px #d1d1d1 solid;
	display: block;
	text-align: center;
	overflow: auto;
}
#M_search form {
    width: 96%;
    height: 35px;
    margin: 5px auto 0 auto;
    border-radius: 4px;
    border: 1px #d1d1d1 solid;
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: block;
}
#M_search form input {
	display: block;
	border: 0;
	border-radius: 4px 0 0 4px;
	color: #424242;
	background: 0 0;
	text-indent: 10px;
	font-size: 14px;
	-webkit-box-flex: 1;
	box-flex: 1;
	height: 100%;
	line-height: 20px;
}
.badge.search-text:before {
	content: "取消";
	color: #fff;
	font-size: 14px;
	position: absolute;
	left: 6px;
}
/*********************************分割线****************************************/
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
	position: relative;
}
li {
	display: list-item;
	text-align: -webkit-match-parent;
	height: auto;
	position: relative;
}
.discount {
	background: #fff;
	width: 100%;
	border-bottom: 1px solid #eee;
}
.title {
	font-size: 14px;
	color: #746870;
	line-height: 37.5px;
	font-weight: normal;
	padding-left: 28px;
	position: relative;
	background-color: #f8f8f8;
}
.title span {
	color: #f69;
	font-style: italic;
	font-size: 12px;
}
.hmm_brand_container {
	margin-bottom: 10px;
/*	border-bottom: 1px solid #eee;*/
}




/*****************************************slide**************************************/
.cycle-slideshow { width: 100%;}
.cycle-slideshow div { width: 100%; height: auto }
.cycle-caption {
    position: absolute;
    color: white;
    bottom: 15px;
    right: 15px;
    z-index: 700;
}
#screen_wrap {
    min-width: 320px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: auto;
}
.nav_ban_detail {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 200;
    top: 10px;
    left: 0;
}
.composite-slide > div .cycle-overlay {
    color: white;
    background: black;
    opacity: .6;
    filter: alpha(opacity=60);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
}
.cycle-pager {
    text-align: center;
    width: 100%;
    z-index: 500;
    position: absolute;
	bottom:0;
    overflow: hidden;
}
.cycle-pager span {
    font-size: 50px;
    width: 17px;
    height: 17px;
    display: inline-block;
    color: #ddd;
    cursor: pointer;
    line-height: 17px;
}
.cycle-pager span.cycle-pager-active { 
	color: #F22F65;
}
.cycle-pager > * { cursor: pointer;}

.later{
	display: none;
}

.download-box{
	width:100%;
	height: 60px;
	position: fixed;
	bottom:0;
	padding:

}

.download{
    height: 60px;

    background-color: rgba(0,0,0,0.7);
	margin: 0 auto;
	color:#fff;
	padding:10px 0 0 0;
	position: relative;
	overflow: hidden;

}


.ico{
	float: left;
	background: url("/images/web/title_hmm.png")  no-repeat;
	width:100px;
	height:100px;
	background-size:contain;
	margin:5px 0 0 25%;

}

.download .info{
	float: left;
	margin: 0 0 0 3%;

}

.download a{
	float:left;
	width:120px;
	height:40px;
	background-color:#ed145b;
	border-radius: 5px;
	color:#fff;
	text-align: center;
	line-height: 40px;
	margin: 0 0 0 15%;

}

.download i{
	display: block;
}



.download b{
	position: absolute;
	top:-9px;
	left:-7px;
	width:30px;
	height:30px;
	border-radius: 50%;
	background-color:#000;
	padding:7px 0 0 12px;
	cursor: pointer;

}

@media screen and (min-width:400px) and (max-width:534px){
	.ico{

		width:80px;
		height:80px;
		background-size:contain;
		margin: 9px 0 0 15%;

	}

	.download a{
		width:90px;
		margin: 0 0 0 10%;
	}

}

@media screen and (min-width:320px) and (max-width:399px){
	.ico{

		width:80px;
		height:80px;
		background-size:contain;
		margin: 9px 0 0 10%;


	}

	.download a{
		width:90px;
		margin: 0 0 0 4%;
	}

}















