/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-family: Microsoft YaHei;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
    display: block;
}
*:focus {
    outline:none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#ccc;background:#F0F0F0; }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
a:hover{color:#969696; text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
fieldset,img{border: none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
caption, th {
    text-align:left;
}
q:before,
q:after {
    content:"";
}
input:password {
    ime-mode:disabled;
}
*{box-sizing:border-box;}

.scope{min-width:320px; max-width:640px; margin: 0 auto;}



.head{
    color:white;
    font-size:16px;
    width:100%;
    height:50px;
    background: #F58292;
    line-height:50px;
    text-align: center;
    position:fixed;

    /*margin-left:50%;
    transform:translate(-50%,0);*/
    z-index: 100;
}

.head .back{
    position: absolute;
    top:11px;
    left:0;


}

.back i,.back span{
    position: absolute;
    width:0;
    height:0;
    border-width:14px;
    border-style:dashed solid dashed dashed ;
    border-color:transparent #fff transparent transparent ;
}
.back span{
    border-color:transparent #F58292 transparent transparent ;
    left:3px;

}


.banner{
    margin-bottom:10px;
    padding:50px 0 0 0;
    position: relative;
}

.banner a{
    display: block;
}

.banner .bewrite,.content .bewrite{
    display: block;
    background:white;
    width:100%;
    height:65px;
    padding:5px 24px 10px 10px;
}

.tag,.tag i,.tag b{
    position: absolute;


}
.tag{
    left:30%;
    top:30%;
    z-index:300;
    width:50px;
    height:25px;

}
.tag i{
    width:50px;
    height:27px;
    color:#fff;
    background:#433A38;
    border-radius:3px;
    text-align: center;
    line-height:26px;
    font-size: 14px;
}

.tag b{
    border-width:14px;
    border-style:dashed dashed dashed solid;
    border-color:transparent transparent transparent #433A38;
    right:-27px;
    border-radius: 3px;
}

.two{
    left:20%;
    top:50%;
}

.banner .two b{
    border-width:14px;
    border-style:dashed solid dashed dashed ;
    border-color:transparent #433A38 transparent transparent ;
    border-radius: 3px;
    right:49px;
}


.out {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 26%;
    left: 50%;
    -moz-transform:translate(-50%,-15%);
    -webkit-transform:translate(-50%,-15%);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 120px;
    font-size:24px;
}

@media screen and (min-width:540px) and (max-width:720px){
    .out {
        width: 110px;
        height: 110px;
        -moz-transform:translate(-50%,-15%);
        -webkit-transform:translate(-50%,-15%);
        line-height: 110px;
    }

}

@media screen and (min-width:320px) and (max-width:539px){
    .out {
        width: 80px;
        height:80px;
        position: absolute;
        top: 26%;
        left: 50%;
        -moz-transform:translate(-50%,-15%);
        -webkit-transform:translate(-50%,-15%);
        background: rgba(0, 0, 0, 0.5);
        line-height:80px;
        font-size:18px;
    }

}




.product a{
    position: relative;
}

.icon-user-title {
    height: 44px;
    width: 44px;
    background: url("/images/web/userIcon.png") no-repeat center center;
    background-size: contain;

    position: absolute;
    top:4px;
    right: 0;
}

.banner .title,.content span .title{
    font-size:14px;
    display: block;
    margin-bottom: 5px;

}

.banner .money,.content span .money{
    color:#E80B0B;

}

.agio{
   font-size:12px;
    text-decoration: line-through;

}



.product{
    witdh:100%;
}

.product li{
    width:100%;
}

.product li a{
    width:48%;
    display: inline-block;
    margin:0 0 0 1%;

}


.content ul li {
    margin-bottom: 10px;

}

.content ul li:nth-child(3){
    margin-bottom: 0;
}


.foot{
    width:100%;
    height:60px;
    background:#F6F8F7 ;


}

.foot{
    line-height: 60px;
    padding:0 0 0 50px;
}

.foot .lead li{
    float: left;
    margin-right:25%;
}





























