body{
    background-color:#F5F5F5;
}

.header{
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.shopp{
    background: url(/assets/images/white_shoppingcar.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    top:22%;
    right:2%;
    width:30px;
    height:30px;
}
.shopp i{
    background: url(/assets/images/white_shoppingcar.png) center center no-repeat;
    background-size: contain;
    position: absolute;
    top:0;
    right:0;
    width:30px;
    height:30px;
}

.shopp .cart_num{
    width:21px;
    height:21px;
    position: absolute;
    top:-7px;
    left:15px;
    background:#ed145b;
    line-height: 21px;
    cursor: pointer;
    color:#fff;
    border-radius:50%;
    text-align: center;

}

.banner .title{
    font-size:14px;
    display: block;
}

.banner{
    margin-bottom: 10px;
    position: relative;
    padding: 50px 0 0 0;
}

.banner .left,.banner .right{
    position: absolute;
    width: 400px;

}

.banner .left{
    top:30%;
    left:20%;
}


.banner .right{
    top:60%;
    left:30%;
}
/*雷达动画*/
@-webkit-keyframes run1 {
    from{
        bottom:-50px;
    }
    to{
        bottom:-20px;
    }
}

.cartoon,.cartoon-right{
    position:absolute;
    height: 25px;
    padding:0 5px;
    line-height: 25px;
    background-color:rgba(0,0,0,0.5);
    border-radius: 5px;
    color: #fff;
}
.banner .cartoon {
    top: 50%;
    left:32%;
}

.cartoon-right{
    top:20%;
    left:32%;
}

.cartoon i,.cartoon-right i{
    display: block;
    border-width:12px;
    position: absolute;
}

.cartoon i{
    border-color:transparent transparent transparent rgba(0,0,0,0.5);
    border-style:dashed dashed dashed solid;
    position: absolute;
    right:-22px;
    top:0;
}

.cartoon-right i{
    border-color:transparent rgba(0,0,0,0.5) transparent transparent ;
    border-style:dashed  solid dashed dashed ;
    left:-22px;
    top:0;
}

.ripple,.ripple-right{
    width:15px;
    height:15px;
    position:absolute;
    top:50%;
    left:50%;

}
.ripple{
    top:50%;
    left:50%;
}

.ripple-right{
    top:20%;
    left:20%;
}
.ripple div,.ripple-right div{
    width: 100%;
    height: 100%;
    background-color:#fff;
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
}


.ripple .c2,.ripple-right .c2{
    -webkit-animation: run2 1s linear infinite;
}
.ripple .c3,.ripple-right .c3{
    -webkit-animation: run2 1s linear 0.5s infinite;
}

@-webkit-keyframes run2 {
    from{
        transform:scale(1);
        opacity: 1;
    }
    to{
        transform: scale(2.5);
        opacity: 0;
    }
}


/*拼购*/
.puy{
	margin-top:20px;
	margin-bottom:5px;}

/*倒计时*/
.timing{
    width:100%;
    text-align:center;
}


/*主体*/
.purchase-box{
	width:100%;
    height:auto;
	padding:0 10px;
	}
	
.purchase-big{
	width:100%;
	border:1px solid #ccc;
	background:#fff;
	padding:20px 5%;
    margin:20px 0;
}

.purchase{
    position: relative;
    display: block;
    width: 100%;

}

.graph{
	float:left;
    width:40%;
    position: relative;
}

.graph span{
    position: absolute;
    top:0;
    left:0;
}

.con-box{
    width:60%;
    float: right;
    padding:0 0 0 7%;
}

.con h2{
    font-size:18px;
    color:#504e4d;
}

.ag{
    height:90px;
}

.sale{
    float: left;
    margin:5px 0 0 0;
}

.sale i:nth-child(2){
    color:#b1b1b1;
    display: block;
    margin: -13px 0 0 0;}

.ag .sale-rate{
    color:#e56254;
    font-size:50px;
}

.sale-rate i{
    font-size:28px;
}
.sale span{
   display: block;
}

.money{
    margin-top:8px;
    float: right;

}
.money-raw{
    display: block;
    color:#b1b1b1;
    margin-bottom:5px;
}

.now{color:#b1b1b1;}

.money-raw i{
    text-decoration: line-through;
}
.money-raw i,.now i{
   font-size:24px;


}
.now i{
    color:#e56254;

}

.fight{
    width:55%;
    height:40px;
    text-align: center;
    line-height: 40px;
    border:1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    right:0;
}

.fight span,.fight i{

    display: inline-block;
    color:#565656;

}

.fight span{

    font-size: 18px;
}
.fight i{
    font-size: 13px;
    margin-top:3px;
}
.fight b{
    display: inline-block;
    color:#e56254;
    font-size:26px ;
}

@media screen and (min-width:460px) and (max-width:550px){
    .purchase-big{
        padding:40px 2%;
    }
    .graph span {
        width:50px;
    }

    .ag .sale-rate{
        color:#e56254;
        font-size:40px;
    }
    .sale i:nth-child(2){
        margin: -10px 0 0 0;
    }

    .sale{
        margin:14px 0 0 0;
    }

    .sale-rate i{
        font-size:28px;
    }
    .sale span{
        display: block;
    }

    .money{
        margin-top:16px;
        float: right;

    }
    .money-raw{
        display: block;
        color:#b1b1b1;
        margin-bottom:5px;
        font-size: 14px;
    }

    .now{color:#b1b1b1;
    font-size: 14px;}

    .money-raw i{
        text-decoration: line-through;
    }
    .money-raw i,.now i{
        font-size:20px;
    }
    .now i{
        color:#e56254;

    }

    .fight{
        width:55%;
        height:35px;
        line-height: 35px;
        text-align: center;
        border:1px solid #ccc;
        border-radius: 5px;
        position: absolute;
        bottom:-20px;
        right:0;
    }

    .fight span,.fight i{

        display: inline-block;
        color:#565656;

    }

    .fight span{
        font-size: 18px;
    }
    .fight i{
        font-size: 14px;
        margin-top:3px;
    }
    .fight b{
        display: inline-block;
        color:#e56254;
        font-size:22px ;
    }
}


@media screen and (min-width:401px) and (max-width:459px){
    .purchase-big{
        padding:20px 3% 60px 0;
    }
    .con-box{
        padding:0 0 0 5%;
    }

    .con h1{
        font-size:16px;
    }


    .sale{
        margin: 12px 0 0 0;
    }

    .sale i:nth-child(2){
        margin: -6px 0 0 0;
        font-size: 12px;}

    .ag .sale-rate{
        font-size:36px;
    }

    .ag .sale-rate i{
        font-size:28px;
    }

    .money{
        margin-top:12px;
        float: right;

    }
    .money-raw{
        display: block;
        color:#b1b1b1;
        margin-bottom:7px;

    }
    .money-raw,.now{
        font-size: 14px;
    }
    .money-raw i,.now i{
        font-size:20px;
    }
    .money .now i{
        color:#e56254;

    }
    .fight{
        width:80%;
        padding:0 5%;
        bottom:-45px;
        left:50%;
        margin: 0 0 0 -40%;
    }

    .fight span{
        font-size: 15px;
    }

    .fight b{
        font-size:20px ;
    }
}

@media screen and (min-width:320px) and (max-width:400px){
    .purchase-big{
        padding:20px 0 60px 0;
    }
    .con-box{
        padding:0 0 0 5%;
    }

    .con h1{
        font-size:16px;
    }


    .sale{
        margin: 15px 0 0 0;
    }

    .sale i:nth-child(2){
        margin: -6px 0 0 0;
        font-size: 12px;}

    .ag .sale-rate{

        font-size:30px;
    }

    .ag .sale-rate i{
        font-size:28px;
    }

    .money{
        margin-top:12px;
        float: right;

    }
    .money-raw{
        display: block;
        color:#b1b1b1;
    }
    .money-raw,.now{
        font-size: 13px;
    }
    .money-raw i,.now i{
        font-size:18px;


    }
    .money .now i{
        color:#e56254;

    }
    .fight{
        width:80%;
        padding:0 5%;
        bottom:-39px;
        left:50%;
        margin: 0 0 0 -40%;
    }

    .fight span{
        font-size: 15px;
    }

    .fight b{
        font-size:20px ;
    }
}


/*拼购产品*/

.content ul li {
    margin-bottom: 10px;
}


.content li a{
    position: relative;
    display: block;
    border:1px solid #cfcfcf;
    background-color: #fff;
}

.title-hd{
    color:#4B4B4B;
    height: 55px;
    background-color:#fff;
    padding:10px 5%;
    overflow: hidden;
    margin-bottom: 10px;
    overflow : hidden;
}

.product-box{
    height:65px;

    padding: 10px 0 10px;
}

.product-top{
    height: 45px;
    line-height: 45px;
    background: url("/assets/images/hmm_klmpintuan.png") no-repeat 5px #F8616A;
    display: inline-block;
    padding: 0 5px 10px 40px;
    color: #fff;
    font-size: 14px;
}


.figure{
    width: 100%;
    height:110px;
    overflow: hidden;
}


.content .title-fd{
    display: block;
    background:white;
    width:100%;
    height:50px;
    padding:0 5%;
    line-height: 50px;
    border-bottom: 1px solid #ececec;
    border-top:1px solid #ececec;
}

.naw{
    font-size:24px;
    color:#EF2628;
}
.agio{
   font-size:16px;
   text-decoration: line-through;
}

.title-fd b{
    float:right;
    width:50px;
    line-height:25px;
    text-align: center;
    border: 1px solid #e33a39;
    color: #e56254;
    font-weight: normal;
    margin: 10px 0 0 0;
}

.product{
    witdh:100%;
}

.product li{
    width:100%;
}

.product li a{
    width:48%;
   float: left;
    margin:0 0 0 1%;

}

/*拼购结束*/

.footer {
    width:100%;
    text-align: center;
    margin: 0 0 100px 0;
}

h2{
    color:#e56254;

}

h2 span{

    color:#454545;
}


@media screen and (min-width:390px) and (max-width:500px) {
    .naw{
        font-size:18px;

    }
    .agio{
        font-size:12px;

    }
    .title-fd b{

        width:45px;
        line-height:20px;
        text-align: center;
        border: 1px solid #e33a39;
        color: #e56254;
        font-weight: normal;
        margin: 15px 0 0 0;
    }
    .footer {

        margin: 0 0 70px 0;

    }


}

@media screen and (min-width:320px) and (max-width:389px) {
    .content .title-fd{

        padding:0 2%;

    }
    .naw{
        font-size:14px;

    }
    .agio{
        font-size:12px;

    }
    .title-fd b{
        font-size:12px;
        width:35px;
        line-height:20px;
        text-align: center;
        border: 1px solid #e33a39;
        color: #e56254;
        font-weight: normal;
        margin: 15px 0 0 0;
    }
    .footer {

        margin: 0 0 70px 0;

    }


}



/*底部*/

.buy i{
    background: url("/assets/images/02.png") no-repeat;
    background-size: contain;
}

.story i {
    background: url("/assets/images/story.png") no-repeat;
    background-size: contain;
}

.shopping i {
    background: url("/assets/images/shopping.png") no-repeat;
    background-size: contain;
}


.my i {
    background: url("/assets/images/my.png") no-repeat;
    background-size: contain;
}


.top{
    position: fixed;
    bottom:100px;
    right:20px;
}
.top img{
    width:50px;
    height:50px;

}

/*
.timing{
    background: url("/images/timer.png")  no-repeat;
    width:30px;
    height:30px;
}

*/




















