body{
    background-color: #F5F5F5;
    color:#999999;
}

.wrap{
    padding:50px 0;
}


.logistics-hd{
    width:100%;

    background-color: #fff;
    padding:10px 2%;
    border-bottom: 1px solid #e1e1e1;

}
.logistics-l,.logistics-r{

    color: #666;
}
.logistics-l{
    margin: 0 2% 0 0 ;
}
.logistics-l img{
    width:100px;
    height:100px;
}
.logistics-r span{
    display: block;
    margin: 0 0 10px 0;
}
.nub{
    color:#87C0FA;
}


.logis-hd{
    width:100%;
    line-height:50px;
    font-size: 18px;
    color: #565656;
    border-bottom: 1px solid #ededed;
}

.logistics-fd{
    background-color: #fff;
    margin: 20px 0 0 0;
    border-top: 1px solid #ededed;
    padding:0 2%;
}

.logis-fd ul{
    padding:10px 2%;
}

.logis-fd li{

    font-size: 16px;


}

.logis-box{
    border-left:3px solid #ccc;
    padding:0 0 0 30px;
    position: relative;
}

.logis-content{
    padding:10px 0;
    border-bottom: 1px solid #ededed;
}

.logis-box::after{
    content: '';
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 30px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    background: #BDBDBD;
    border: 2px solid #EEE;
}


.logis-fd ul li:first-child .logis-box:after{
    background: #F40;
}

.logis-content-timer{
    margin: 5px 0 0 0;
}

.phone{
    color: #6BA7E5;
}

.logis-l{

}


.logis-r img{
    width:50px;
    height:50px;
    border-radius: 50%;
}


.logis-l{
    width:70%;
}
.man-box{
    position: relative;
}

.logis-r{
   position: absolute;
    top:50%;
    right: 5px;
    width:20%;
    -webkit-transform: translate(0,-50%);
}
.man,.man-timer{
    display: block;
}




