.wap a{
    color:#555555;
    font-size: 16px;
}

/*灰层开始*/
.grayDiv { width: 100%; height: 100%; position:fixed; bottom:0;background: #000; opacity: 0.5; z-index: 99; padding:0 2%; display: none;}

.grayDiv-box{width:90%; height:300px;position: absolute; bottom:0;}

.grayDiv-box span,.closeBtn{
    display: block;
    width:100%;
    height:60px;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
}
.grayDiv-box .closeBtn{
    margin: 10px 0 0 0;
    font-size: 16px;
    color:#E46359;
}
.grayDiv-box span{
    position: relative;
}
.grayDiv-box input{
    width:100%;
    height:60px;
    z-index: 110;
    filter: alpha(opacity = 0);
    -moz-opacity:0;
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
}
.wap,.tick{
    width:100%;
    background-color:#F4F4F4;
    padding:44px 0 0 0 ;
}



.face-box{
    width:100%;
    height:60px;
    border-bottom:1px solid #ccc;
    padding:0 2%;
    line-height: 60px;
    background: #fff;
}

.face-box i{
    float: left;
}

.face-box span{
    float: right;
    height:30px;
    background: url("/assets/images/right-arrow.png") right center no-repeat;
    background-size:10px 15px;
    margin: 15px 0 0 0;
    line-height:30px;
    padding:0 22px 0 0;
}

.face-box span img{
    border-radius: 50%;
    margin:-5px 0 0 0;
}

.face-box .none{
    background: none;
    color: #ccc;
    padding: 0;

}

/*下载*/
.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color:#FC555D;
    height:60px;
    padding:10px 2%;
}

.footer a{
    width:80px;
    height:30px;
    float: right;
    color:#fff;
    text-align: center;
    line-height:30px;
    margin:6px 0 0 0;
    border: 1px solid #fff;
}

.footer span{
    width: 185px;
    height: 50px;
    float: left;
    background: url("/assets/images/personal-down.png") -3px -5px no-repeat;
    background-size: 55px 55px;
    padding: 0 0 0 50px;
    color: #fff;
    font-size: 12px;
}


.footer span i{
    display:block;;
}

.footer span i:first-child{
    padding:4px 0 0 0;
    font-size: 14px;
}


.footer .delete-down{
    width: 18px;
    height: 20px;
    float: right;
    background: url("/assets/images/delete-down.png") no-repeat;
    margin: -8px 0 0 8px;
    background-size: 18px;
}




/*意见反馈页面*/
.tick{
    padding:60px 2% 0;
}
.text-box{
    position: relative;
}

textarea{
    width:100%;
    height:200px;
    resize: none;
}
.text{
    text-align: right;
    padding:0 2%;
    color:#e1e1e1;
    position: absolute;
    bottom:10px;
    right:0;
}
.tick-m{
    margin:20px 0;
}

button{
    width:100%;
    line-height:40px;
    text-align: center;
    color: #fff;
    font-size: 18px;

}

.mw{
    width: 100%;
    background-color: #ccc;
    padding: 2%;
    text-align: center;
    display: none;

}

.mw p{
    margin: 0 0 20px 0;
}
.mw span{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ed145b;
    border-radius: 5px;
    margin: 0 10px 0 0;
}


/*修改昵称页面*/

.substance{
    width: 100%;
    padding: 2%;
}

.tex{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin: 0 0 20px 0;
    padding:0 10px;
}
.substance p{
    color: #999;
}
.button {
    width: 100%;
    line-height: 45px;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0 0 0;
    background-color:#ff5359;
}

.warn-info-box{
    width: 100%;
    height:30px;
    margin: 0 auto;
}

.warn-info {
    width:300px;
    display:none;
    line-height:40px;
    height:40px;
    background-color: #E46359;
    color:#fff;
    text-align:center;
    border-radius:20px;
    margin: 20px auto;
    font-size: 14px;
}






























