.fit{
    width: 25px;
    height: 25px;
    background: url("/assets/images/icon_setting.png") no-repeat;
    background-size: contain;
    position: absolute;
    top:10px;
    right:5%;

}

.scope{min-width:320px; max-width:750px; margin: 0 auto;}

.wap{
    background-color: #F4F4F4;
}
.user{
     width:100%;
     height:170px;
}

.user span{
    padding:0 0 0 23px;
}

.man{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/assets/images/icon_nan.png") no-repeat;
    background-size: contain;
}


.girl{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/assets/images/icon_nv.png") no-repeat;
    background-size: contain;
}

.land{
    padding:25px 0 0 0;
    height:100px;
    width:60%;
    display: block;
    color:#fff;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;

}
.land img{
    width:80px;
    height:80px;
    margin: 0 auto;
    border-radius: 50%;
}

.apply{
    width:100%;
    height:120px;
    background:#fff;
}

.apply ul{
    width:100%;
    padding:10px 0 0 0;
}

.apply ul li {
    height:100px;
    width:20%;
    float: left;
    text-align: center;
    padding:20px 0 0 0;

}

.apply li a{
    display: block;
    width:100%;
    border-right:1px solid #ccc;
    font-size: 14px;
}

.apply li img{
    margin: 0 auto;
    margin-bottom:5px ;
    width:30px;
    height:30px;
}

.list{
    width:100%;

}

.list div{
    width:100%;
    height:50px;
    padding:0 2%;
    line-height: 50px;
    margin: 0 0 10px 0;
    background-color: #fff;
}

.whole .icon,.buy-box .icon,.agio-box .icon,.add-box .icon,.advise-box .icon{
    width: 25px;
    height: 25px;
    background: url("/assets/images/personal-07.jpg") left center no-repeat;
    background-size: contain;
    float: left;
    padding:0 0 0 35px;
    margin: 12px 0 0 0;

}
.whole span,.buy-box span,.agio-box span,.add-box span,.advise-box span{
    float: right;
    background: url("/assets/images/right-arrow.png") right center no-repeat;
    background-size:9px 14px;
    padding:0 20px 0 0;
}

.icon-txt{
    color:#333;
}
.buy-box .icon{
    width:25px;
    height:25px;
    background: url("/assets/images/personal-08.jpg") no-repeat;
    background-size: contain;

}
.buy-box span,.add-box span,.advise-box span{
    width:20px;
    height:30px;
    background: url("/assets/images/right-arrow.png") right center no-repeat;
    background-size:9px 14px;
    margin: 15px 0 0 0;
}

.agio-box .icon{
    width: 25px;
    height: 25px;
    background: url("/assets/images/personal-09.jpg") no-repeat;
    background-size: contain;

}

.add-box .icon{
    width: 25px;
    height: 25px;
    background: url("/assets/images/personal-10.jpg") no-repeat;
    background-size: contain;
}

.advise-box .icon{
    width: 25px;
    height: 25px;
    background: url("/assets/images/personal-12.jpg") no-repeat;
    background-size: contain;
}









/*底部*/
.buy i{
    background: url("/assets/images/buy.png") no-repeat;
    background-size: contain;
}

.story i {
    background: url("/assets/images/story.png") no-repeat;
    background-size: contain;
}

.shopping i {
    background: url("/assets/images/shopping.png") no-repeat;
    background-size: contain;
}


.my i {
    background: url("/assets/images/05.png") no-repeat;
    background-size: contain;
}


.top{
    position: fixed;
    bottom:100px;
    right:20px;
}
.top img{
    width:50px;
    height:50px;

}

.main{
    padding:60px 0 0 0;
}



















