*{
    box-sizing: border-box;
}
body{
    background: rgb(243,244,245);
}
/*header{
    !*background: #E66255;*!
    color: #666;
    overflow: hidden;
    height: 42px;
    border-bottom: 1px solid #ccc;
}
header div:nth-of-type(1){
    width: 20%;height: 100%;
    line-height: 42px;
    float: left;
}
header div:nth-of-type(1) i{
    display:inline-block;
    -webkit-transform: scale(1,2);
    -moz-transform: scale(1,2);
    -ms-transform: scale(1,2);
    -o-transform: scale(1,2);
    transform: scale(1,2);
}
header div:nth-of-type(2){
    width: 60%;height: 100%;
    float: left;text-align: center;line-height: 42px;
}
header div:nth-of-type(3){
    width: 20%;height: 100%;
    float: right;padding-left: 25px;
}
header div:nth-of-type(3) i{
    display: inline-block;
    border: 2px solid #666;
    border-radius: 1px;
    margin-left: 5px;
    margin-top: 20px;
}
.logo{
    color: #fff;
}*/


img{
    width: 100%;
}
.con{
    margin-top: 10px;background: #fff;
}
.up{
    width: 100%;
    overflow: hidden;border-bottom: 1px solid #ccc;
}
.down{
    overflow: hidden;padding: 8px;
}
.up .pinimg{
  padding: 8px;
}

.pinimg-photo{
    width:80px;
    height: 80px;

}

.pinimg-photo img{
    width: 100%;
    height: auto;
}
.up .info{
    width: 70%;font-size: 12px;padding: 8px;
}
.up .info div{
    height: 36px;
    background: url("/assets/images/price_bg.png") no-repeat left center;
    background-size: 200px;color: #fff;line-height: 36px;
    text-indent:4em;margin-top: 5px;
}
.up>div,.down>div{
    float: left;
}
.down>div:nth-of-type(2){
    float: right;
}
.down input{
    background: #fff;color: #E66255;
    padding: 6px 8px;border: 1px solid #E66255;
    border-radius: 5px;
}
.down button{
    background: #E66255;color: #fff;
    padding: 6px 8px;border: 1px solid #E66255;
    border-radius: 5px;
}
.down .tuansuc{
    color: #E66255;line-height: 30px;
}
.imm{
    position: fixed;bottom: 0;left: 0;
    width: 100%;
    height: 60px;padding: 10px 8px;
    background: #777;
}
.imm .homeicon{
    width: 40px;height: 40px;float: left;
    background: #000;
}
.imm-click{
    background: #E66255;
    float: right;width: 82%;height: 40px;
    border-radius: 2px;color: #fff;font-size: 16px;
}


/*detail*/
.detailcon .process{
    padding: 20px 40px;border-bottom: 1px solid #ccc;
}
.detailcon ul{
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.detailcon ul>li{
    margin-bottom: 10px;
}
.detailcon ul>li b{
    width: 25%;
    padding-left: 5%;float: left;
}
.detailcon ul>li span{
    display: inline-block;width: 70%;
    color: rgb(167,168,168);
}
.detailcon .good-infos>div{
    padding: 15px 5%;overflow: hidden;
    border-bottom: 1px solid rgb(238,239,240);
    border-top: 1px solid rgb(238,239,240);
    font-size: 14px;
}
.detailcon .good-infos>div p{
    margin-bottom: 10px;
}
.detailcon .good-infos>h2{
    margin: 10px 0;padding-left: 5%;
}
.detailcon .goodimg{
    width: 20%;float: left;
}
.detailcon .oneprice{
    float: right;color: #E66255;
}
.detailcon .good-info{
    width: 80%;
    float: left;padding-left: 5%;
}
.detailcon .tuan{
    float: right;margin: 10px 5%;
    background: #fff;color: #333;
    padding: 6px 8px;border: 1px solid #ccc;
    border-radius: 1px;
}
.detailcon ul>li .orderstate,.ordermoney{
    color: #E66255;
}
/* tabpin */
.tabpin{
    width: 100%;overflow: hidden;
}
.tabpin>li{
    float: left;width: 50%;text-align: center;line-height: 36px;
    background: #fff;
}
.tabpin>li.cur{
    border-bottom: 2px solid #E66255;
}
div.myall:nth-of-type(2){
    display: none;
}

.p-txt{
   height: 40px;
    overflow: hidden;
}