body{
    background: #f4f4f4;
}

/*主体部分*/
/*导航部分*/
.wrap{
    padding:44px 0 0px 0 ;
    background-color: #f4f4f4;
}

.nav-tab-top li.current{
    border-bottom: 2px solid #fdd000;
}

section{
    display: none;
}

section.current{
    display: block;
}

.nav-tab-top{
    font-size: 14px;
    line-height:35px;
    height:35px;
    width:100%;
    background-color: #fff;
    margin: 0 0 5px 0;
}

.nav-tab-top ul{
    width: 100%;
    height:35px;

}
.nav-tab-top li{
    float: left;
    width:20%;
    text-align: center;
    line-height:33px;
}
.box{
    width:100%;

}

.con,.con-stay{
    width:100%;
    background-color:#fff;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #ededed;
    margin: 0 0 5px 0;
}
.con{
    padding: 10px 10px 60px 10px;
}

.day-l{
    font-size: 14px;
    float: left;
    color: #666;
}




.day-l .date{
   display: block;
    font-size: 12px;
    color:#999;
    margin: 5px 0;
}
.day-r{
    font-size: 14px;
    float: right;
    color:#ff5359;
    margin: 8px 0 0 0;
}

.estimate{
    margin: 0 0 10px 0;
}


h2{
    color:#595758;
    font-size: 18px;
}

.commodity{
    width:100%;
    display: block;
    padding:10px 0;
    border-top:1px solid #ededed;
}

.commodity .commodity-rmb{
    color: #f73939;
    float: right;
    font-size: 14px;
    display: block;
}

.commodity .photo-img{
    width:80px;
    height:80px;
    float: left;
    margin: 0 10px 0 0;
    border: 1px solid #ededed;
}

.commodity .photo-img img{
    width: 100%;
    height:100%;
}
.commodity h2{
    font-size: 14px;
    height:45px;
    overflow: hidden;
    font-weight: normal;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    color: #666;
    margin: 0 0 2px 0;
}

.havenot{
    height:180px;
}

.commodity p{
    width: 100%;
    text-align: right;
    font-size: 14px;
    height: 50px;
    line-height: 30px;
    border-top: 1px solid #e1e1e1;
}
.payment,.duein {
    width:100%;
    border-top:1px solid #ededed;
}

.payment a{
    margin: 10px 0 0 0;
    display: block;
    height: 30px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #ededed;
    line-height: 30px;
    color: #666;
    width:60px;
    text-align: center;
}

.payment .right,.payment .left{

    float:right;
}

.payment .mi{
    border: none;
    margin: 10px 10px 0 0;
    font-size: 14px;
    display: inline-block;
    line-height: 30px;

}

.duein a{
    float:right;
    display: block;
    width:80px;
    height:40px;
    text-align: center;
    line-height: 40px;
    margin: 10px 0 0 1%;
    border: 1px solid #e1e1e1;
}

.payment .left{

    color:#8D8D8D;
}



.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #000;
    height:60px;
    padding:10px 2%;

}
.footer a{
    width:80px;
    height:30px;
    float: right;
    color:#fff;
    text-align: center;
    line-height:30px;
    margin: 5px 0 0 0;
}
.footer span{
    width:210px;
    height:50px;
    float: left;
    background: url("/assets/images/personal-14.jpg") no-repeat;
    background-size: 40px 40px;
    padding:0 0 0 50px;

}
.footer span i{
    display:block;;
}





/*退款页面 drawback*/
.commodity p {
    font-size: 12px;
}

.commodity p span{
    margin: 0 2% 0 0;
}

.drawback-box{
    display: block;
}





/*全部订单页面 all*/
.box li{
     width:25%;
}





/*优惠券页面 coupon*/

/*.coupon-body{
    background-color:#ededed;
}*/
.coupon li{
    width:33.3%;
}
.coupon-box ul{
    width: 100%;
}

.coupon-box li{
    width:320px;
    height:120px;
    color: #333;
    background: url("/assets/images/youhuiquan_bg.png") no-repeat;
    background-size: contain;
    margin:5px auto;
    padding:5px 15px;
}

.coupon-s li{
    width:320px;
    height:120px;
    background: url("/assets/images/coupon_shiyong.png") no-repeat;
    background-size: contain;
}

.coupon-box li p{
    width: 100%;
}
.coupon-box-l{
    float: left;
    margin: 12px 18px 0 18px;
}

.coupon-box-r{
    float: left;
    margin:25px 0px 0px 0;
    padding: 0 0 0 5px;
}

.coupon-m{
    font-size: 18px;
}

.coupon-deta{
    width:100%;
    text-align: right;
    line-height:50px;
    font-size: 12px;
}

.coupon-box li img{
    margin:10px auto;

}

.coupon-box-r{
    color: #FAA728;
    width:80px;
    border-right: 1px solid #ededed;
}
.coupon-rmb{
    font-size:24px;
}
.coupon-hd,.coupon-deta{
    color: #999;
}
.coupon-hd,.Fullcut{
    font-size: 12px;
    margin:1% 0 0 0;
}

.coupon-s .coupon-box-r{
    color: #4C4C4C;
}






/*收藏页面*/
.coll{
    padding-top:44px;

}
.coll p{
    background-color: #FEEEDF;
    color:#E66255 ;
    padding:5px 5px;
}
.coll ul .con{
    border: 0;margin: 0;padding: 0;
}
.coll ul .con a{
    margin: -1px 0 0 0;padding: 15px 8px;height: auto;
}

.coll ul .size span{
    padding-right: 10px;
    font-size: 12px;
}
.coll ul .commodity-rmb span{
    float: left;
}
.coll .cancelColl{
    float: right;
    padding: 3px 6px;
    color: #ccc;
    font-size: 12px;
}
.coll .pin{
    position:relative;
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 5px 0 0;
}
.coll .pin .pinicon{
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background:#fdd000;
}
.coll .pin .pinicon span{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 3px;
    border-radius: 50%;
    background: #fff;
    color:#f73939;
    font-size: 12px;

}


.shopping{
    width:30px;
    height:30px;
    position: relative;
   color: #242424;
}

.shopping i{
    background: url(/assets/images/white_shoppingcar.png) center center no-repeat;
    background-size: contain;
    width:30px;
    height:30px;
}

.shopping .cart_num{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -7px;
    font-size:9px;
    left: 38px;
    background: #ff5359;
    line-height: 15px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    -webkit-text-size-adjust:none;
}



.size{
    float: left;
    font-size: 12px;
}

.size span{
    margin: 0 5px 0 0;
}

.payment .red{

    border: 1px solid #FF5359;
    color: #FF5359;
}

.num{
    float: right;
    color: #999;
    font-size: 14px;
}

.day-num{
    padding: 0 0 8px 0;
}

.data-box{
    border-top:1px solid #ededed;
    padding: 10px 5px;
    font-size: 14px;
    color: #999;
}

.data{
    float: right;
}

.message_list b{
    display: inline-block;
    font-weight: normal;
    -webkit-transform: scale(0.75);
}

.size-box{
    padding: 17px 0 0 0;
}
