body{
    background-color: #FAFAFA;
}

.warp{
   padding:60px 2% 0;

}

.choose-top,.choose-m{
    background-color: #fff;
    border-radius:10px;
    border: 1px solid #ededed;
    padding:10px 0;
}
.choose-top h2{
    font-size: 16px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    margin:20px 0 0 0;
    height:40px;
    overflow: hidden;
}

.choose-top img{
    height: 106px;
    float: left;
    margin: 0 10px;
}

.choose-m{
    margin: 20px 0;
    padding: 10px 2% 20px 2%;
}

.mold{
    background-color:#ff5359;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding: 0 0 0 2%;

}

ul li div{
    padding: 0 40px 0 0;


}

ul li{
    height:50px;
    line-height: 50px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 0 0 0 2%;


}

.first{
    background: url("/assets/images/hmm_icon_tuijian.png") right no-repeat;
    background-size:38px;
}

ul li .b-big{
    float: left;
}

ul li span{
    float: left;
    margin: 0 0 0 5px;

}

ul li p{
    float: right;

}

ul li.current{
    color:#ff5359;;
    border-bottom: 2px solid #ff5359;;
}

.choose-b{
    height:40px;
    line-height:40px;
    color: #fff;
    text-align: center;
    background-color:#ff5359;
    border-radius:5px;
    margin: 0 0 10px 0;

}
