body{
    background-color: #FAFAFA;
}

.warp{
   padding:60px 2% 0;

}

.choose-top,.choose-m{
    background-color: #fff;
    border-radius:10px;
    border: 1px solid #ededed;
    padding:10px 0;
}
.choose-top h2{
    font-size: 16px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    margin:20px 0 0 0;
    height:40px;
    overflow: hidden;
}

.choose-top img{
    height: 106px;
    float: left;
    margin: 0 10px;
}

.choose-m{
    margin: 20px 0;
    padding: 10px 2% 20px 2%;
}

.mold{
    background-color:#fdd000;
    height:35px;
    line-height:35px;
    color: #242424;
    padding: 0 0 0 10px;

}

ul li .num-hd{
    padding: 0 40px 0 0;
    height: 35px;
    line-height: 35px;
}

ul li{
    color: #333;
    padding: 0px 2%;
    font-size: 14px;
    border-bottom: 1px solid #ededed;
}

.first{
    background: url("/assets/images/hmm_icon_tuijian.png") right 5px no-repeat;
    background-size: 30px;
}

ul li .b-big{
    float: left;
}

ul li span{
    float: left;
}

ul li span:nth-child(2){
    margin: 0 0 0 2px;
}

ul li p{
    float: right;

}

ul li.current{
    color:#ff5359;
    border-bottom: 2px solid #ff5359;
}

.choose-b{
    height:40px;
    line-height:40px;
    color: #242424;
    text-align: center;
    background-color:#Fdd000;
    border-radius:3px;
    margin: 0 0 10px 0;

}

.xian{
    background:#ff5359;
    color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    float: left;
    border-radius: 3px;
    font-size: 10px;
    margin: 2px 2px 0 0;
}
.xian-j{
    float: left;
    color: #999;
    font-size: 12px;
    margin: 2px 0 0 0;
}

.xian-j-b{
    /*margin: 0 0 0 17px;*/
    margin: 0 0 0 0;
}

.favourable{
    margin: 0 0 10px 0;
}