/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-family: Microsoft YaHei;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
    display: block;
}
*:focus {
    outline:none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#555656; background-color:#acacac;  }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
a:hover{text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
fieldset,img{border: none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
caption, th {
    text-align:left;
}
q:before,
q:after {
    content:"";
}
input:password {
    ime-mode:disabled;
}
*{box-sizing:border-box;}

body{
    background-color: #ccc;
}


.wap{
    padding:44px 2%;
}

.head span{
    width: 18px;
    height: 18px;
    background: url("/assets/images/icon_delete_hui.png");
    background-size: contain;
    position: absolute;
    top: 14px;
    right: 2%;
}

.wap ul li{
    width: 100%;
    background-color:#fff;
    border-radius: 5px;
    border: 1px solid #ededed;
    padding:10px 2%;
    margin: 0 0 10px 0;
}
.wap ul p{
    width: 100%;
    margin: 0 0 10px 0;
    font-size: 14px;
}


.first{
    border-bottom: 1px solid #ededed;
    padding:0 0 2% 0 ;
}

.first span{
   color: #999;
}
.commodity{
    width:100%;
    display: block;
    float: left;
}

.commodity .commodity-rmb {
    display: block;

}
.price,.commodity-rmb b{
    color:#EF2528 ;
}

span .rmb{
    font-size:20px;
    margin: 0 10px 0 0 ;
}


.commodity .photo-img{
    width: 80px;
    float: left;
    margin: 0 10px 0 0;
}

.photo-img img{
    width: 100%;
}

.commodity h2{
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    margin: 0 0 10px 0;
    color: #666;
}

.wap .btn{
    padding: 10px 0 10px 8%;
}

.btn a{
    display: inline-block;
    width: 45%;
    text-align: center;
    line-height: 40px;
    background-color: #E66255;
    color: #fff;
}

.btn .left{
    background-color:#969696 ;
}

.apply{
    padding: 5px;
    float: right;
    border: 1px solid #ededed;
    font-size: 14px;
    border-radius: 5px;
}

.time-item{
    width: 100%;
    padding:10px 2%;
}











