/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-family: Microsoft YaHei;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
    display: block;
}
*:focus {
    outline:none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#ccc;background:#F0F0F0; }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#969696; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
a:hover{color:#969696; text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
fieldset,img{border: none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
caption, th {
    text-align:left;
}
q:before,
q:after {
    content:"";
}
input:password {
    ime-mode:disabled;
}
*{box-sizing:border-box;}

.scope{min-width:320px; max-width:640px; margin: 0 auto;}


.head{
    width:100%;
    height:60px;
    background: #F58292;
    text-align: center;
    position: relative;
    line-height: 60px;
    color:#504e4d;
    font-size: 20px;

}

.head .back{
    position: absolute;
    top:14px;
    left:0;


}
.back i,.back span{
    position: absolute;
    width:0;
    height:0;
    border-width:14px;
    border-style:dashed solid dashed dashed ;
    border-color:transparent #ccc transparent transparent ;
}
.back span{
    border-color:transparent  #fff  transparent transparent ;
    left:3px;

}

.home_link {
    width:25px;
    height:21px;
    background: url(/assets/images/web/home-cf.png) no-repeat;
    color: rgb(102, 102, 102);
    background-size:cover;
    position: absolute;
    top:0;
    right:0;
    margin: 18px 1% 0 0;
}

.scope{
    background-color: #fff;

}


.user{
    height:60px;
    width:100%;
    line-height: 60px;
    color:#333;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left:10px;

}

.fit-box{
    width:100%;
}


.fit-box li{
    width:100%;
    height:60px;
    border-bottom: 1px solid #ccc;
    line-height: 60px;
    padding-left:10px;

}

.control-lable,.controls{
    float: left;
}

.control-lable{
    color:#333;
}

.controls{
    font-size:18px;
}
.btn{
    float: right;
    padding:2%  ;
    border-radius: 5px;
    margin:8px 5px 0 0;
    color:#999;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    font-size:14px;
    background-color: #d6d6d6;


}

input{
    font-size:16px;
}

.control-group{
    position: relative;
}

.icon{
    position: absolute;
    right:5px;
    top:10px;
    background: url(/assets/images/icon7.png) no-repeat;
    width:30px;
    height:30px;
    background-size:cover;

}

.plate-controls{
    width:100%;
    padding:20px;
}

.next{
    width:100%;
    padding:2%;
    font-size: 18px;
    color:#999;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    border-radius: 5px;
    background-color: #d6d6d6;
}
















