

.scope{min-width:320px; max-width:750px; margin: 0 auto; background-color: #fff; padding:60px 2% 0; }

.color{
    color:#ff5359;
}

.colore{
    color:#EF2528;
}

/*收货地址*/
.add{
    width:100%;
    height:120px;
    padding:35px 0;
    font-size: 18px;
}
.add a{
    display: block;
    margin: 0 auto;
    color:#fff;
    text-align: center;
    line-height: 50px;
    width:50%;
}


.fashion {
    width:100%;
}

.fashion .fashion-hd{
    border-top:1px solid #EBEBEB;
    border-bottom:1px solid #EBEBEB;
    margin: -1px 0 0 0 ;
}
.fashion p span{
   float: left;
}

.fashion p i{
    float:right;
}


.money-box,.address,.refer-box{
    width:100%;
}
.money-box .picture{
    float: left;
    width:80px;
    height:80px;
    /*background: url("/assets/images/icon5.png") no-repeat;*/
    background-size:cover;
}
.address{
    border-bottom: 1px solid #ededed;
}
.address-padding{
    border: none;
}
.address a{
    color: #666;
}

.address p{
    margin:0 0 10px 0;
}

.address p span{
    margin: 0 10px 0 0;
}

.address .add-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url("/assets/images/hmm_dingwei_icon.png") no-repeat;
    background-size: contain;
    margin: 0 0 0 -20px;
}

.address i{
    display: block;
    text-align: right;
}


.money-box .text{
    line-height:50px;
    border-bottom:1px solid #EBEBEB;
    margin: 0 0 20px 0;

}

.money-box{
    margin: 0 0 20px 0px;
}

.money-box h2{
    padding:0 0 20px 0;
}

.money-box .goods{
    padding:20px 2%;
}

.order{
    float: left;
    font-size: 20px;
}

.money{
    float: right;
}

.account-j span{
    display: block;
}

.account-j span,.account-j .usable,.account-j h2{
    line-height:50px;
    height: 50px;
    border-bottom: 1px solid #ededed;

}

.usable span{
    float: left;
}
.usable i{
    float: right;
}
.way{
    display: none;
}
.way li{
    font-size: 14px;
    background-color: #f4f4f4;
    padding: 0 0 0 20px;
    line-height: 36px;
    height: 36px;
    border-bottom: 1px solid #ededed;
}
label{
    display: block;
    width:100%;
    height:40px;
}
.pitch{
    width:25px;
    height:25px;
    border: 1px solid #ccc;
    border-radius: 50%;
    float: left;
    margin: 5px 5px 0 0;
}
.pitch-hd{
    margin: 13px 5px 0 0;
}
.quick{
    float: left;
}

input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: bottom;
    border: 2px solid #E56254;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

}



.current{
    width:25px;
    height:25px;
    background: #ed145b;
    border-radius: 50%;
    float: left;
    margin: 5px 5px 0 0;
}

.refer-box{
 margin: 0 auto; background-color: #fff;
    height:44px;
    position: fixed;
    bottom: 0;
    border-top:1px solid #ededed;
}
.refer{
    width:100%;
}

.refer-rmb{
    width:60%;
    float: left;
    text-align: right;
    padding:0 2%0 0;
    line-height:44px;
}
.refer{
    float: left;
    width:40%;
    height:44px;
    text-align: center;
    line-height:44px;
    font-size:18px;
    color:#fff;
}

.tariff{
    width:100%;
    font-size: 16px;
}
.tariff ul li{
    padding:15px 2%;
    border-top:1px solid #EBEBEB;
    height:50px;
    margin-top:-1px;
}

.tariff ul li:last-child{
    margin: 0 0 43px 0;
}
.tariff li span{
    float: left;
}
.tariff li i{
    float: right;
}

.shade{
    height:100%;
}
.shade,.add-shade{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    display: none;

}

.add-shade{
    position:absolute;
    background-color:#F4F4F4 ;
}

.xnew-add-shade{
    width: 100%;
    padding: 45px 0 0 0;
    position:absolute;
    top:0;
    left: 0;
    background-color: #fff;
    z-index:100;
    display: none;
}

.shade .box{
    width: 80%;
    background-color:#fff;
    padding:5% 5%;
    position: fixed;
    top:30%;
    left: 50%;
    margin-left:-40%;
    border-radius:10px;

}
.box span{
    width:100%;
    text-align: center;
    display: block;
    font-weight: bold;

}

.box,.box div{
    width:100%;

}
.box a{
    display: inline-block;
    width:47%;
    text-align: center;
    line-height: 40px;
    margin:10px 0 0 0;
    color: #333;
    background-color:#ededed;

}
.box .first{
    background-color:#ff5359;
    color:#fff
}

.one{
    margin: 0 0 20px 0;
}

.ul-box{
    padding:45px 0 0 0;
}
.amputate{
    position: fixed;
    top:10px;
    right: 2%;
    background: none;
}
.amputate span,.amput span{
    margin:40px 0 0 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color:#ff5359;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    float: right;
}

.ul-box-li{
    padding: 10px 10px 0px 10px;
    margin:0px 0 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}

.alter{
    text-align: right;
    height: 30px;
}

.de-add{
    margin:5px 0 0 0;
}

.amput{
    position: fixed;
    padding: 0 2% 0 0;
    right: 2%;
    top: 10px;
}
.plus-add-x{
    width: 98%;
}

input[type=radio]:checked::after {
    content: url("/assets/images/sett-input.png");
    display: block;
    width:20px;
    height: 20px;
    -webkit-transform: scale(0.49,0.49);
    -moz-transform: scale(0.55,0.55);
    position: absolute;
    top: -8px;
    left: -8px;
}
