
body{
    background-color: #f4f4f4;
}
.scope{min-width:320px; max-width:750px; margin: 0 auto;padding:44px 0 0; }

.color{
    color:#ff5359;
}

.colore{
    color:#f73939;
}

/*收货地址*/
.add{
    width:100%;
    height:120px;
    padding:35px 0;
    font-size: 18px;
}
.add a{
    display: block;
    margin: 0 auto;
    color:#fff;
    text-align: center;
    line-height: 50px;
    width:50%;
}


.fashion {
    width:100%;
}

.fashion .fashion-hd{
    border-top:1px solid #EBEBEB;
    border-bottom:1px solid #EBEBEB;
    margin: -1px 0 0 0 ;
}
.fashion p span{
   float: left;
}

.fashion p i{
    float:right;
}

.money-box,.address,.refer-box{
    width:100%;
}

.money-box .picture{
    width: 25%;
    float: left;
}

.picture img{
    margin: 0 auto;
}
.address-padding{
    border: none;
}
.address a{
    color: #242424;
}

.address p.personal{
    font-size: 14px;
}
.address p{
    margin:0 0 10px 0;
    font-size: 12px;
}

.address p span{
    margin: 0 10px 0 0;

}
.address p .default{
    background-color: #Fdd000;
    color: #fff;
    padding:1px 4px;
    font-size: 12px;
}


.address .add-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url("/assets/images/hmm_dingwei_icon.png") no-repeat;
    background-size: contain;
    margin: 0 0 0 -20px;
}

.address i{
    display: block;
    text-align: right;
}


.money-box .text{
    color: #242424;
    border-bottom:1px solid #EBEBEB;
    padding: 10px 0;
}

.money-box{
    padding: 0 10px;
    margin: 10px 0 10px 0px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
}

.money-box h2{
    padding:0 0 20px 0;
    color: #242424;
}

.money-box .goods{
    float: left;
    width: 70%;
    margin: 0 0 0 10px;
    font-size: 14px;
}

.order-pay{
    float: left;
}

.money{
    float: right;
    color: #999;
}

.account-j span{
    float: left;
    color: #242424;
    display: block;
}

.account-j .usable,.account-j h2{
    height: 45px;
    padding: 0 10px;
    line-height: 45px;
    border-bottom: 1px solid #ededed;
}

.usable span{
    float: left;
    color: #242424;
    font-size: 14px;
}
.usable i{
    float: right;
}
.way{
    display: none;
}
.way li{
    padding: 0 10px;
    font-size: 14px;
    background-color: #F9F9F9;
    line-height: 45px;
    height: 45px;
    border-bottom: 1px solid #ededed;
}
label{
    display: block;
    width:100%;
    height:40px;
}
.pitch{
    width:25px;
    height:25px;
    border: 1px solid #ccc;
    border-radius: 50%;
    float: left;
    margin: 5px 5px 0 0;
}
.pitch-hd{
    margin: 13px 5px 0 0;
}
.quick{
    color: #242424;
    float: left;
}

input[type=radio] {
    margin: 15px 0 0 0;
    float: right;
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
    vertical-align: bottom;
    border: 1px solid #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

}



.current{
    width:25px;
    height:25px;
    background: #ed145b;
    border-radius: 50%;
    float: left;
    margin: 5px 5px 0 0;
}

.refer-box{
 margin: 0 auto; background-color: #fff;
    height:44px;
    position: fixed;
    bottom: 0;
    border-top:1px solid #ededed;
}
.refer{
    width:100%;
}

.refer-rmb{
    width:60%;
    float: left;
    text-align: right;
    padding:0 2%0 0;
    line-height:44px;
}
.refer{
    float: left;
    background-color: #fdd000;
    width:40%;
    height:44px;
    text-align: center;
    line-height:44px;
    font-size:18px;
    color:#242424;
}

.tariff{
    background-color: #fff;
    width:100%;
    font-size: 14px;
    padding: 0 10px;
    color: #242424;
}
.tariff ul li{
    border-top: 1px solid #EBEBEB;
    height: 45px;
    line-height: 45px;
    margin-top: -1px;
    color: #242424;
}
.tariff ul li:first-child{
    border: none;
}

.tariff ul li:last-child{
    margin: 0 0 65px 0;
}
.tariff li span{
    float: left
}
.tariff li i{
    float: right;
}

.shade{
    height:100%;
}
.shade,.add-shade{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
    display: none;

}

.add-shade{
    position:absolute;
    background-color:#F4F4F4 ;
}

.xnew-add-shade{
    width: 100%;
    padding: 45px 0 0 0;
    position:absolute;
    top:0;
    left: 0;
    background-color: #fff;
    z-index:100;
    display: none;
}

.shade .box{
    width: 80%;
    background-color:#fff;
    padding:5% 5%;
    position: fixed;
    top:30%;
    left: 50%;
    margin-left:-40%;
    border-radius:10px;

}
.box span{
    width:100%;
    text-align: center;
    display: block;
    font-weight: bold;

}

.box,.box div{
    width:100%;

}
.box a{
    display: inline-block;
    width:47%;
    text-align: center;
    line-height: 40px;
    margin:10px 0 0 0;
    color: #333;
    background-color:#ededed;

}
.box .first{
    background-color:#Fdd000;
    color:#242424;
}

.one{
    padding: 14px 0 10px;

}

.ul-box{
    padding:45px 0 0 0;
}
.amputate{
    position: fixed;
    top:10px;
    right: 2%;
    background: none;
}
.amputate span,.amput span{
    margin:40px 0 0 0;
    width:20px;
    height:20px;
    line-height:20px;
    background-color:#ff5359;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    float: right;
}

.ul-box-li{
    padding: 10px 10px 0px 10px;
    margin:2px 0 10px 0;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}

.amputate-current{
    border: 1px solid #ff5359;
}

.alter{
    text-align: right;
    height: 30px;
    background: url("/assets/images/rightr.png") right 2px no-repeat;
    background-size: 10px;
    position: absolute;
    top:50%;
    right:10px;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
}

.de-add{
    margin:5px 0 0 0;
}

.amput{
    position: fixed;
    padding: 0 2% 0 0;
    right: 2%;
    top: 10px;
}
.plus-add-x{
    width: 98%;
}

input[type=radio]:checked::after {
    /*content: url("/assets/images/sett-input.png");*/
    content: "";
    background-color: #58D46E;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-transform: scale(0.49,0.49);
    -moz-transform: scale(0.55,0.55);
    position: absolute;
    top: -8px;
    left: -8px;
}


.ul-box-padding{
    padding: 44px;
}

.account-j h2 i{
    color: #999;
    padding: 0 15px 0 0;
    float: right;
    background: url("/assets/images/rightr.png") right no-repeat;
    background-size:10px;
}

.address-r{
    padding: 14px 30px 14px;
    /*background:url("/assets/images/dizhi.png") bottom no-repeat #fff;
    background-size: 1440px 3px;*/
    background-color: #fff;
    position: relative;
}
.account-j{
    font-size: 14px;
    background-color: #fff;
}


.alter-x{
    text-align: right;
}

.account-j h2.nothave{
    border: none;
}

.explain{
    width: 100%;
    display: block;
    background-color: #ededed;
    padding: 2px 10px;
    font-size: 12px;
    position: absolute;
    top:-20px;
}
.discolour{
    background-color: #969696;
}