#screen_wrap {
   background-color:#F3F5F4;
}

.login-t{
    color: #999;
    padding: 0 0 0 2%;
    font-size: 14px;
    margin: 10px 0;
}
.list dd>.input-weak {
    float: left;
    width:70%;
    border:none;
    margin: 0 ;
    font-size: 14px;

}

.list{
    width: 100%;
    background-color: #fff;
    height: 45px;
}

.list span{
   float: left;
    width:70px;
    height: 45px;
    line-height: 45px;
    padding:0 0 0 10px;

}

.back{
    margin:20px 0;
}


.shade{
    width: 100%;
    height: 2000px;
    position:fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 20;
    display: none;

}

.shade .box{
    width: 80%;
    background-color:#fff;
    padding:2% 5%;
    position: fixed;
    top:30%;
    left: 50%;
    margin-left:-40%;

}
.box span{
    width:100%;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size:22px;
    color: #333;

}

.box-a{
    width:212px;
    margin:20px auto;
}

.box-a .box-l,.box-a .box-r{
    width:100px;
    text-align: center;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border:1px solid #ccc ;
    color: #E4634F;

}

.delet {
    width: 20px;
    right: 40px;
    top: 20px;
}

.delet-box{
    top:60px;
}

/*找回密码*/
.shade-box{

}