#screen_wrap {
   background-color:#F3F5F4;
}

.login-t{
    color: #999;
    padding: 0 0 0 2%;
    font-size: 14px;
    margin: 10px 0;
}
.list dd>.input-weak {
    float: left;
    width:70%;
    border:none;
    margin: 0 ;
    font-size: 14px;

}
.list{
    width: 100%;
    height:150px;
}

.list span{
    width:80px;
    height: 45px;
    line-height: 41px;
    padding:0 0 0 10px;
    position: absolute;
    top:2px;
    left:0;
}

.list label{
    width: 80px;
    height: 45px;
    line-height: 45px;
    padding: 0 0 0 10px;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
}

.list-regist{
    height:60px;
}


.input-rese{
    width:55%;
    border: none;
    font-size: 14px;
    vertical-align: middle;
    margin: 14px 0 0 88px;
}

.input-res-t{
    width:31% ;
}

.input-r{
    width: 75%;
    margin: 13px 0 0 70px;
}

.shade{
    width: 100%;
    height: 2000px;
    position:fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 20;
    display: none;

}

.shade .box{
    width: 80%;
    background-color:#fff;
    padding:2% 5%;
    position: fixed;
    top:30%;
    left: 50%;
    margin-left:-40%;

}
.box span{
    width:100%;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size:22px;
    color: #333;

}

.box-a{
    width:212px;
    margin:20px auto;
}

.box-a .box-l,.box-a .box-r,.box-s .box-q,.box-s .box-d{
    width:100px;
    text-align: center;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border:1px solid #ccc ;
    color: #E4634F;

}

.delet{
    width: 20px;
    right:10px;
    top:14px;
}

.delet-box{
    top:14px;

}

.delet-re{
    top:15px;
    right:24px;
}

.delet-rese{
    top:13px;
    right:24px;
}
/*找回密码*/
.box-s{
    width:100%;
}
.box-s .box-q,.box-s .box-d{
    width:50%;
    float: left;
    border: none;
    background-color: #ededed;
}
.box-s .box-q{
    border-right:1px solid #ccc;
    color: #999;
}
.proof-box{
    width: 100%;
    border: 1px solid #ccc;
    height:50px;
    padding: 0 0 0 10px;
}

input.input-proof{
    width:46%;
    float: left;
    margin: 15px 0 0 0;
}

.proof-box div{
    width:52%;
    float: right;
}

#imageCodeImage{
   float: right;
    width:70px;
    margin: 12px 0 0 0;
}
.proof-icon{
    width:30px;
    height:30px;
    background: url("/assets/images/icon_shuaxin.png") no-repeat;
    background-size: contain;
    float: right;
    margin: 10px 10px 0 0;
}

/*找回密码*/
.dd-one{
    margin: 0 0 10px 0;

}

.hq{
    padding:11px 0 ;
    width:110px;
    text-align: center;
    border: 1px solid #ccc;
    position: absolute;
    top:0;
    right:0;
    font-size: 14px;
}



.cue{
    background-color:#FFEEDE;
    color: #E66255;
}


.howl-re{
    top:13px;
}


