/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-family: Microsoft YaHei;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
    display: block;
}
*:focus {
    outline:none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#ccc;background:#F0F0F0; }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#999; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
a:hover{text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
fieldset,img{border: none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
caption, th {
    text-align:left;
}
q:before,
q:after {
    content:"";
}
input:password {
    ime-mode:disabled;
}
*{box-sizing:border-box;}


/*购买产品部分开始*/

.areaAndSku:first-child{
    padding: 25px 0 0 0;
}

.areaAndSku:last-child{
    margin: 0 0 43px 0;
}

.cart-goods {
    margin-top: 44px;
    width: 100%;
    background-color: #fff;
    padding: 25px 0 0 0;
}
.cart-goods-area{
    border-bottom: 1px solid #ccc;
    position: relative;
    height: 40px;
}
.cart-goods-area .check-wrapper{
    left: 10px;
}
.cart-goods-list{
    overflow: hidden;
}
.cart-goods-list li{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    background-color: white;
}
.item{
    padding: 10px 10px;
    margin-left: 20px;
    position: relative;
}
.check-wrapper{
    height: 22px;
    width: 22px;
    position: absolute;
    top: 50%;
    left:-10px;/*这里修改了*/
    margin: -10px 0 0 -5px;
}

.item-con-hd{
    height: 46px;
    display: block;
    overflow: hidden;
    -webkit-line-clamp:2;
    text-overline:ellipsis;
    -webkit-box-orient:vertical;
    display: -webkit-box
}

/*.area*/
.area{
    position: absolute;
    top: 50%;
    left:35px;
    margin-top: -10px;
    color: #333;
}

.item-con{
    overflow: hidden;
    padding: 0;/*这里修改了*/
    position: relative;
}
.item-con-l{
    float: left;
    display: block;
    position:absolute;
    left: 0;
    top:40%;
    transform: translate(0,-50%);
    width: auto;
    height: auto;
}
.item-con-l img{
    width:70px;
    height:70px;
    text-align: center;
}
.item-con-r{
    margin-left: 80px;
    box-sizing: border-box;
    text-align: left;
}
.cart-product-name{
    text-align: left;
    line-height: 22px;
}
.cart-product-name a span{
    font-size: 16px;
    color: #333;
}

.cart-product-price{
    font-size: 14px;
    line-height: 25px;
    color: #9FA0A0;
    overflow: hidden;
}
.cart-product-price-l{
    float: left;
    color: #EF2528;
}
.spec{
    color: #9FA0A0;
    font-size: 12px;
}
.cart-product-price-r{
    float: right;
    color:#EF2528;
}
.cart-product-number{
    height: 24px;
    padding-top:6px;
    text-align: center;
}
.quantity-decrease,.quantity-increase{
    display: block;
    line-height:20px;
    height: 20px;
    width: 25px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border: 1px solid #ccc;
    overflow: hidden;
    float: left;
    font-size: 14px;

}

.quantity-increase{
    -webkit-border-radius: 0 2px 2px 0 ;
    -moz-border-radius: 0 2px 2px 0 ;
}
.quantity{
    display: block;
    line-height: 20px;
    height: 20px;
    width: 35px;
    color: #666;
    border: 1px solid #ccc;
    border-width: 1px 0 1px 0;
    overflow: hidden;
    float: left;
    font-size: 14px;
    text-align: center;

}
.quantity-decrease{
    font-size: 18px;
    line-height: 16px;
}
.cart-del-btn {
    width:15px;
    height:15px;
    background: url("/assets/images/icon_delete_hui.png") no-repeat;
    background-size: contain;
    padding: 0 10px;
    float: right;
    outline: none;
}
/*购买产品部分结束*/

/*footer部分开始*/
.footer-hd{
    position: fixed;
    left: 0;
    bottom:0;
}
/*footer部分结束*/









/*空购物车*/
body{
    background-color: #fff;
}

.wrap{
    padding: 140px 0 0 0;
    background-color: #FFFFFF;

}

.wrap img{
    width: 200px;
   margin: 0 auto;
}
.wrap a{
    display: block;
    width:120px;
    height:50px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin:10px auto;
}





/*底部*/
.foot{
    width:100%;
    height:90px;
    background-color: #000;
    position: fixed;
    bottom:0;

}

.foot ul {
    padding:22px 0 0 0;
}

.foot ul li{
    float: left;
    width:20%;

}

.foot ul a{
    display: block;
    width:100%;

}


.foot span{
    text-align: center;
    display: block;
    margin: 3px 0 0 0;
    color:#b1b1b1;
}


.foot i{
    display: block;
    background: url("/assets/images/home.png") no-repeat;
    background-size: contain;
    width:30px;
    height:30px;
    margin: 0 auto;
}

@media screen and (min-width:320px) and (max-width:500px) {
    .foot {
        height: 60px;
        font-size: 12px;
    }

    .foot ul {
        padding: 15px 0 0 0;
    }

    .foot i {
        display: block;
        background: url("/assets/images/home.png") no-repeat;
        background-size: contain;
        width: 20px;
        height:20px;
        margin: 0 auto;

    }

    .foot span{
        text-align: center;
        display: block;
    }

    .more{
        margin:0 0 60px 0;
    }
}

@media screen and (min-width:500px) and (max-width:759px) {
    .more{
        margin:0 0 90px 0;
    }
}

@media screen and (min-width:760px)  {
    .more{
        margin:0 0 110px 0;
    }
}

.buy i{
    background: url("/assets/images/buy.png") no-repeat;
    background-size: contain;
}

.story i {
    background: url("/assets/images/story.png") no-repeat;
    background-size: contain;
}

.shopping i {
    background: url("/assets/images/04.png") no-repeat;
    background-size: contain;
}


.my i {
    background: url("/assets/images/my.png") no-repeat;
    background-size: contain;

}

.hint-hd{
    position: fixed;
    background-color: #FFEEDE;
    color:#ff5359;
    padding: 5px;
    z-index: 10;
    width: 100%;
    font-size: 12px;
}

.xs{
    position: absolute;
    top:12px;
    right:5px;
    font-size: 14px;
    color: #666;
}

.xs span{
    color: #EF2528;
}

/*提示信息*/
.hint{
    background-color:#E46359 ;
    position: fixed;
    top:50%;
    left: 50%;
    border-radius: 20px;
    margin: 0 auto;
    color:#fff;
    padding: 10px;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    z-index:999;
}




.cart-goods-list .areaAndSku-s{
    background: url("/assets/images/shixiao.png") bottom right no-repeat #ededed;
    background-size:60px;

}


.abate{
    background: url("/assets/images/select-.png") no-repeat;
}


#loading{
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    z-index: 1000;
    background-color:rgba(255,255,255,0.1);
}

#loading img{
    width: 100px;
    position:absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}
