/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input{/* -webkit-appearance:none; */ resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    font-family: Microsoft YaHei;}
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
    display: block;
}
/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width:auto\9; /* ie8 */
    -ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
    display: block;
}
*:focus {
    outline:none;
}
/* 清零 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article,
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self; color:#ccc;background:#F0F0F0; }
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#999; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
a:hover{text-decoration:none;}
ul,ol,li{list-style:none;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;}
fieldset,img{border: none;}
table {
    border-collapse:collapse;
    border-spacing:0;
}
caption, th {
    text-align:left;
}
q:before,
q:after {
    content:"";
}
input:password {
    ime-mode:disabled;
}
*{box-sizing:border-box;}


/*购买产品部分开始*/

.areaAndSku:first-child{
    padding: 25px 0 0 0;
}

.areaAndSku:last-child{
    margin: 0 0 60px 0;
}

.cart-goods {
    margin-top: 44px;
    width: 100%;

    padding: 25px 0 0 0;
}
.cart-goods-area{
    border-bottom: 1px solid #d9d9d9;
    position: relative;
    height: 40px;
    background-color: #fff;
}
.cart-goods-area .check-wrapper{
    left: 10px;
}
.cart-goods-list{
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
}
.cart-goods-list li{
    width: 100%;
    float: left;

    background-color: white;
}

.cart-goods-list li:last-child{
    margin: 0 0 50px 0;
}


.item{
    margin: 0 0 -1px 20px;
    position: relative;
}



.check-wrapper{
    height: 22px;
    width: 22px;
    position: absolute;
    top: 50%;
    left:-10px;/*这里修改了*/
    margin: -10px 0 0 0px;
}

.item-con-hd{
    display: block;
    overflow: hidden;
    -webkit-line-clamp:2;
    text-overline:ellipsis;
    -webkit-box-orient:vertical;
    display: -webkit-box
}
.areaAndSku{
    margin: 0 0 20px 0;
}

/*.area*/
.area{
    position: absolute;
    top: 50%;
    font-size: 14px;
    left:35px;
    margin-left: 10px;
    margin-top: -10px;
    color: #242424;
}

.item-con{
    width: 100%;
    padding: 15px;
    overflow: hidden;
    margin: 0 0 0 20px;
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}
.item-con-l{
    float: left;
    display: block;
    position:absolute;
    left: 0;
    top:15%;
    width: auto;
    height: auto;
}
.item-con-l img{
    width:70px;
    height:70px;
    text-align: center;
}
.item-con-r{
    width: 100%;
    float: left;
    padding: 0 15px 0 70px;
    box-sizing: border-box;
    text-align: left;
}
.cart-product-name{
    line-height: 22px;
}
.cart-product-name a span{
    font-size: 14px;
    color: #242424;
}

.cart-product-price{
    font-size: 14px;
    color: #9FA0A0;
    overflow: hidden;
}
.cart-product-price-l{
    float: left;
    color: #EF2528;
}
.spec{
    color: #999;
    font-size: 12px;
}
.cart-product-price-r{
    float: right;
   color: #f73939;
}
.cart-product-number{
    height: 24px;
    padding-top:10px;
    text-align: center;
}
.quantity-decrease,.quantity-increase{
    display: block;
    line-height:17px;
    height: 20px;
    width: 25px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border: 1px solid #ccc;
    overflow: hidden;
    float: left;
    font-size: 14px;

}

.quantity-increase{
    -webkit-border-radius: 0 2px 2px 0 ;
    -moz-border-radius: 0 2px 2px 0 ;
}
.quantity{
    display: block;
    line-height: 20px;
    height: 20px;
    width: 35px;
    color: #666;
    border: 1px solid #ccc;
    border-width: 1px 0 1px 0;
    -webkit-appearance: none;
    border-radius: 0;
    overflow: hidden;
    float: left;
    font-size: 14px;
    text-align: center;

}

.cart-del-btn {
    width:15px;
    height:15px;
    background: url("/assets/images/icon_delete_hui.png") no-repeat;
    background-size: contain;
    padding: 0 10px;
    float: right;
    outline: none;
}
/*购买产品部分结束*/

/*footer部分开始*/
.footer-hd{
    position: fixed;
    left: 0;
    bottom:0;
    margin: 0 0 53px 0;
}
/*footer部分结束*/









/*空购物车*/
body{
    background-color: #f4f4f4;
}


.wrap{
    padding:44px 0 0 0;

}

/*
.wrap img{
    width:120px;
   margin: 0 auto;
}
.wrap a{
    display: block;
    width: 100px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: 10px auto;
}
*/





/*底部*/

.foot .footicon{
    display: block;
    background: url("/assets/images/01.png") no-repeat;
    background-size: contain;
}

.buy .footicon{
    background: url("/assets/images/buy.png") no-repeat;
    background-size: contain;
}

.story .footicon {
    background: url("/assets/images/story.png") no-repeat;
    background-size: contain;
}

.shopping .footicon {
    background: url("/assets/images/shopping.png") no-repeat;
    background-size: contain;
}


.shopping .footicon.current{
    position: relative;
    background: url("/assets/images/04.png") no-repeat;
    background-size: contain;
}


.my .footicon {
    background: url("/assets/images/my.png") no-repeat;
    background-size: contain;

}

.hint-hd{
    background: url("/assets/images/tishi.png") 4px 2px no-repeat #dddddd;
    position: fixed;
    color:#424242;
    padding: 5px 5px 5px 30px;
    z-index: 10;
    width: 100%;
    font-size: 12px;
}

.xs{
    position: absolute;
    top:12px;
    right:5px;
    font-size: 14px;
    color: #666;
}

.xs span{
    color: #EF2528;
}

/*提示信息*/
.hint{
    background-color:#Fdd000;
    font-size: 12px;
    color: #242424;
    position: fixed;
    top:50%;
    left: 50%;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    z-index:999;
}




.cart-goods-list .areaAndSku-s{
    background: url("/assets/images/shixiao.png") bottom right no-repeat #ededed;
    background-size:60px;

}


.abate{
    background: url("/assets/images/select-.png") no-repeat;
}


#loading{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.4);
    position:fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    z-index: 100;

}

#loading img{
    width: 90px;
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
}
