@(path:String, str:String)
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <title>关于韩秘美</title>
</head>
<link rel="stylesheet" href="/assets/stylesheets/global.css">
<body>
<header class="head">
    <a href="@path" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>关于韩秘美</h1>
</header>
@comContent()
</body>
</html>
<div>
    @Html(str)
</div>