<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>Document</title>
</head>
<style>
    body{
        margin: 0;background: url("/assets/images/hmmapp.jpg");
    }
    h3,p{
        margin: 0;padding: 8px 20px;
        letter-spacing: 1px;line-height:1.5;
        font-size: 16px;color: rgb(127,129,128);
    }
    h3{
        padding-bottom: 0;
    }
    .hmm-icon{
        padding: 30px 38% 10px 38%;
    }
    .hmm-icon img{
        width: 100%;
    }
</style>
<body>
<div class="hmm-icon">
    <img src="/assets/images/ic_launcher.png" alt="">
</div>
<p>韩秘美致力于为消费者提供愉悦的在线购物体验，满足了中国消费者不出国门就能轻松便捷购买到韩国优质商品的需求。韩秘美以提供具有丰富品类及卓越的商品和服务,以快速可靠的方式送达消费者为服务宗旨;</p>
<h3>丰富优质的商品</h3>
<p>韩秘美提供丰富优质的商品，品类包括化妆品、配饰、数码产品、⽇用品、服装类等。商品均严格精选，独家策划，充分迎合了热爱韩流，喜欢个性、时尚、潮流的年轻男女。</p>
<h3>实惠的价格</h3>
<p>韩秘美价格是韩代的7折。</p>
<h3>优质的服务</h3>
<p>我们在上海跟杭州以及广州都拥有24小时的恒温仓，并是将实现三地保温仓全城保税直送到家服务。</p>
<p style="padding-bottom: 40px">韩秘美，我们只卖韩国正品。手机时尚最前沿的饰物，不用到处找韩代。</p>
</body>
</html>