@(path:String, addressList:List[domain.Address], selId:Long)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地址列表</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/address.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/my.js"></script>
</head>

<body>
<header class="head">
    <a href="@path" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>地址列表</h1>
</header>

<div class="scope wap wap-box">
    <ul class="ul-box">
        @for(address<-addressList){
        <li id="li@address.getAddId()" class="ul-box-li clearfix">
            <div class="address">
                <a href="javascript:;" class="sel_add">
                    @if(selId!=1 && selId==address.getAddId()) {
                    <input id="sel_rad" type="radio" checked="checked">
                    }
                    <p><i class="add-icon"></i><span>姓名:</span><span>@address.getName()</span>
                        @if(address.getOrDefault()==true){
                             <span class="color">默认</span>
                        }
                    </p>
                    <p><span>联系电话:</span><span>@address.getTel()</span></p>
                    <p><span>身份证号:</span><span>@address.getIdCardNum()</span></p>
                    <p class="clearfix"><span class="add-l">收货地址:</span><span class="add-r">@address.getDeliveryCity()@address.getDeliveryDetail()</span></p>
                </a>

                <div class="alter clearfix">
                    @if(selId==1) {
                    <a href="javascript:;" class="alter-btn color" onclick="delAddress(@address.getAddId(),@address.getOrDefault())">删除</a>
                    }
                    <a id="@address.getAddId()" href="/address/update/@address.getAddId()/@selId" class="color addup">修改</a>
                </div>
            </div>
        </li>
        }
    </ul>
    <input type="hidden" id="selId" value="@selId">
    <a href="/addressnew/@selId" id="addressnew" class="plus-add bg">新增收货地址</a>

</div>
</body>
</html>


<script>

    var selId = $("#selId");

    //新增收货地址
    <!--$(document).on("click", "#addressnew", function() {-->
        <!--var url = '/addressnew';-->
        <!--var form = $('<form action="' + url + '" method="post">' +-->
        <!--'<input type="hidden" name="selId" value="'+selId+'" />' +-->
        <!--'</form>');-->
        <!--$('body').append(form);-->
        <!--form.submit();-->
    <!--});-->

    //修改收货地址
    <!--$(document).on("click", ".addup", function() {-->
        <!--var addId = $(this).attr("id");-->
        <!--var url = '/address/update/'+addId;-->
        <!--var form = $('<form action="' + url + '" method="post">' +-->
        <!--'<input type="hidden" name="selId" value="'+selId+'" />' +-->
        <!--'</form>');-->
        <!--$('body').append(form);-->
        <!--form.submit();-->
    <!--});-->

    //地址可被点击选择
    $(document).on("click", ".sel_add", function() {
        if (selId!=1) {
            var liId = $(this).parent().parent().attr("id");
            var addId = liId.substring(2,liId.length);
            $("#sel_rad").remove();
            $(this).prepend("<input type='radio' id='sel_rad' checked='checked'>");
            window.history.back() ;
        }
    });


</script>