@(addressList:List[domain.Address])
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地址列表</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/address.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/my.js"></script>
</head>

<body>
<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>地址列表</h1>
</header>

<div class="scope wap">
    <ul>
        @for(address<-addressList){
        <li id="li@address.getAddId()">
            <div class="address">
                <a href="javascript:;">
                    <p><i class="add-icon"></i><span>姓名:</span><span>@address.getName()</span>
                        @if(address.getOrDefault()==true){
                             <span class="color">默认</span>
                        }
                    </p>
                    <p><span>联系电话:</span><span>@address.getTel()</span></p>
                    <p><span>身份证号:</span><span>@address.getIdCardNum()</span></p>
                    <p><span>收货地址:</span><span>@address.getDeliveryCity()@address.getDeliveryDetail()</span></p>
                </a>

                <div class="alter">
                    <a href="javascript:;" class="alter-btn color" onclick="delAddress(@address.getAddId(),@address.getOrDefault())">删除</a>
                    <a href="/address/update/@address.getAddId()" class="color">修改</a>
                </div>
            </div>
        </li>
        }
    </ul>

    <a href="/addressnew" class="plus-add bg">新增收货地址</a>


</div>



</body>
</html>