@(str:String)
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <title>Kakao Gift服务条款</title>
</head>
<link rel="stylesheet" href="/assets/stylesheets/global.css">

<header class="head">
    <a href="javascript:history.back(-1)" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>Kakao Gift服务条款</h1>
</header>
@comContent()
<body>
<div class="agree">
    @Html(str)
</div>
</body>
</html>