@(imageCode:String, uri:String, state:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>绑定手机号</title>
    <meta charset="UTF-8">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="/assets/stylesheets/login.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <style type="text/css">
        input:required:valid, input:focus:invalid {
        background-image: url('/assets/images/ex.png');
        background-position:right 2px;
        background-repeat: no-repeat;
        -moz-box-shadow: none;
        }
        input:required:valid {
        background-image: url("/assets/images/dui.png");
        background-position:right 2px;
        background-repeat: no-repeat;
        }
        .shade{
            width: 100%;
            height: 2000px;
            position:fixed;
            top:0;
            left: 0;
            background-color: rgba(0,0,0,0.8);
            z-index: 20;
            display: none;

        }

        .shade .box{
            width: 80%;
            background-color:#fff;
            padding:2% 5%;
            position: fixed;
            top:30%;
            left: 50%;
            margin-left:-40%;

        }
        .box span{
            width:100%;
            text-align: center;
            display: block;
            font-weight: bold;
            font-size:22px;
            color: #333;

        }

        .box-a{
            width:212px;
            margin:20px auto;
        }

        .box-a .box-l,.box-a .box-r{
            width:100px;
            text-align: center;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            border:1px solid #ccc ;
            color: #E4634F;

        }

    </style>
    <script>
        $(function(){

            var phoneReg = new RegExp(/^1[345678]\d{9}$/);      //手机号
            var passwordReg = new RegExp(/^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-Z0-9]{6,12}/);//密码
            var code_regexp = new RegExp(/^[0-9a-zA-Z]{4}$/);   //校验码

            $("#btn-bind").css('background', '#C0C0C0');
            $('#js-userinfo-error').hide();

            //输入手机号格式正确可以点击下一步
            $('#phone').bind('input propertychange', function() {
                if (phoneReg.test($(this).val())) {
                    $("#btn-bind").css('background-color', '#ff5359');
                    $("#btn-bind").css('cursor', 'pointer');
                    $('#btn-bind').attr("disabled",false);
                }
                if (!phoneReg.test($(this).val())) {
                    $("#btn-bind").css('background', '#C0C0C0');
                    $("#btn-bind").css('cursor', 'default');
                    $('#btn-bind').attr("disabled",true);
                }
            });

            //弹框取消按钮
            $('.box-l').click(function(){
                $('.shade-reg').hide();
            })

            /*删除*/
            $(".delet").click(function () {
                $("input[name='phone']").val("").focus(); // 清空并获得焦点
            });
            $(".out").click(function () {
                $("input[name='password']").val("").focus(); // 清空并获得焦点
            });

            /*按下回车键事件*/
            $(document).keydown(function (event) {
                if (event.keyCode == 13) {
                    $('#btn-bind').click();
                }
            });

            /*显示密码*/
            var of = true;
            $('.howl').click(function () {
                $(this).toggleClass('bg1');
                if (of) {
                    $('.input-weak-show').attr({'type': 'text'});
                    of = false;
                } else {
                    $('.input-weak-show').attr({'type': 'password'});
                    of = true;
                }
            });

            /*验证码*/
            $(document).on('click', '.proving-txt', function () {
                $("#imageCodeImage").attr("src", "\@imageCode" + Math.round(Math.random() * 1000000));
            });

            $(document).on('click', '#btn-bind', function() {
                //绑定下一步检测手机号
                if ($("#btn-bind").val()=="下一步") {
                        $("#password").removeAttr("name");
                        $("#auto").removeAttr("name");
                        $("#code").val("-1");
                        var phone = $("#phone").val();
                        console.log($('form#cell_bindForm').serialize());
                        $.ajax({
                                url: "/phone/verify",
                                dataType: 'json',
                                data: $('form#cell_bindForm').serialize(),
                                type: 'POST',
                                success: function(data) {
                                       console.log(data);
                                       $("#password").attr({"name":"password"});
                                       $("#auto").attr({"name":"auto"});
                                       //用户已经注册,输入密码
                                       if (data.code === 5001) {
                                            $('#js-userinfo-error').text('该手机号已经注册,请输入密码').show();;
                                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                                            $('.pwd').css("display","block");
                                            $('#btn-bind').val("登录");
                                            $('.loginInfo').css("display","block");
                                       }
                                       //用户未注册,弹框提示
                                       if (data.code === 4003) {
                                            $('.shade-reg').show();
                                       }
                                }
                        });
                }
                //输入密码登录
                if ($("#btn-bind").val()=="登录") {
                        if (11 != $('#phone').val().length) {
                            $('#js-userinfo-error').text('请输入11位的手机号').show();;
                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                        } else if (!phoneReg.test($('#phone').val())) {
                            $('#js-userinfo-error').text('请输入正确位数的手机号').show();;
                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                        }
                        else  if ($('#password').val().length<6 || $('#password').val().length>12) {
                            $('#js-userinfo-error').text('请输入6-12位密码').show();;
                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                        }
                        else if (!passwordReg.test($('#password').val())) {
                            $('#js-userinfo-error').text('密码必须是字母数字组合').show();;
                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                        }
                        else {
                            if ($("#imgCode").val()=="") $("#code").val("-1");
                            else $("#code").val($("#imgCode").val());
                            console.log($('form#cell_bindForm').serialize());
                            $.ajax({
                                    url: "/login/submit",
                                    dataType: 'json',
                                    data: $('form#cell_bindForm').serialize(),
                                    type: 'POST',
                                    success: function(data) {
                                        console.log(data);
                                        if(data.code === 200){
                                            $('#js-userinfo-error').text('绑定并登录成功').show();
                                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                                            setTimeout(function(){
                                                window.location.href = $("#uri").val();
                                            }, 1000);
                                        } else if (data.code == 4001) {
                                            //密码输入次数多,请求输入验证码
                                            $("#imgCode").val("");
                                            $(".proving-box").show();
                                            var code = $("#code").val();
                                            if (!code_regexp.test(code)) {
                                                $('#js-userinfo-error').text("请输入正确格式的验证码").show();
                                                setTimeout("$('#js-userinfo-error').hide()", 2000);
                                            }
                                        } else if (data.code === 4003) {
                                            //用户未注册,弹框提示
                                            $('.shade-reg').show();
                                        } else {
                                            $('#js-userinfo-error').text(data.message).show();
                                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                                        }
                                    }
                            });
                        }
                }
            });

            //立即注册
            $(document).on('click', '.box-r', function() {
                $("#code").removeAttr("name");
                $("#auto").removeAttr("name");
                var phone = $("#phone").val();
                $.ajax({
                    url: "/phone/code",
                    dataType: 'json',
                    data: $('form#cell_bindForm').serialize(),
                    type: 'POST',
                    success: function(data) {
                        console.log(data);
                        $("#code").attr({"name":"code"});
                        $("#auto").attr({"name":"auto"});
                        //手机验证码发送成功
                        if (data.code === 200) {
                                var url = '/register'+$("#state").val();;
                                var form = $('<form action="' + url + '" method="post">' +
                                '<input type="hidden" name="phone" value="' + phone + '" />' +
                                '</form>');
                                $('body').append(form);
                                form.submit();
                        }
                        else {
                                $('#js-userinfo-error').text(data.message).show();
                                setTimeout("$('#js-userinfo-error').hide()", 2000);
                        }
                    }
                });
            });

        })

    </script>

</head>
<body>
<div id='screen_wrap'>
    <div class="nav_ban">
        <h1>绑定手机号</h1>
        <a href=""><span class="icon-back" id="backBtn"></span></a>
        <input type="hidden" id="uri" value="@uri">
        <input type="hidden" id="state" value="@state">
    </div>
    <div class="login">
        <div id="js-userinfo-error" class="cue"></div>
        <fieldset>
            <form id="cell_bindForm" method="post" onsubmit="return false" action="">
                    <dl class="list list-in list-regist">
                            <dd class="dd-padding lonin-dd code ">
                                    <input id="phone" class="input-weak" maxlength="11" type="text" placeholder="请输入您的手机号" name="phone" required pattern="[1][345678]\d{9}" onkeyup="this.value=this.value.replace(/\D/g,'')">
                                    <i class="delet"></i>
                            </dd>
                            <dd class="dd-padding lonin-dd code pwd" style="display:none;">
                                    <input id="password" class="input-weak input-weak-show" maxlength="12" type="password" placeholder="请输入您的密码" name="password" required pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-Z0-9]{6,12}">
                                    <i class="out"></i>
                                    <i class="howl"></i>
                            </dd>
                            <dd class="dd-padding  proving-box" style="display:none;">
                                    <input class="proving" id="imgCode" value="" maxlength="4" type="text" size="5" placeholder="请输验证码"/>
                                    <input type="hidden" id="code" name="code" value="">
                                    <img id="imageCodeImage" style="-webkit-user-select: none;" onclick="getImageCode()" src="@imageCode@Math.round(Math.random()*1000000)">
                                    <a href="javascript:;" class="proving-txt">看不清换一张</a>
                            </dd>
                    </dl>
                    <input type="hidden" id="auto" name="auto" value="true">
            </form>
            <div class="submitBox">
                <input id="btn-bind" class="registBtn button" type="button" disabled="disabled" value="下一步">
            </div>
        </fieldset>

            <div class="loginInfo" style="display:none;">
                    <div class="findWord">
                            <a href="/retrieve@state" class="password">忘记密码?</a>
                    </div>
            </div>
    </div>

    <div class="shade shade-reg">
        <div class="box">
            <span>该手机号尚未注册</span>
            <div class="box-a">
                <a href="javascript:;" class="box-l">取消</a>
                <a class="box-r">立即注册</a>
            </div>
        </div>
    </div>


</div>
</body>
</html>
<script>
    function getImageCode() {
        document.getElementById("imageCodeImage").src = "\@imageCode" + Math.round(Math.random() * 1000000);
    }
</script>