@(collectList:List[domain.CollectDto])

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的收藏</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/obligation.css"/>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/my.js"></script>
</head>

<body>
<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>我的收藏</h1>
</header>

<div class="scope wap">

    <div class="coll">

        <ul>
            @if(null==collectList||collectList.size()<=0){暂无收藏的商品}
            @for(collect<-collectList){
            <li value="@collect.getCollectId()">
                <div class="con">
                    <a href="@collect.getCartSkuDto().getInvUrl()" class="commodity havenot">
                        <div class="pin">
                            <img src="@collect.getCartSkuDto().getInvImg()" alt=""/>
                            @if(collect.getSkuType=="pin"){
                                <div class="pinicon">
                                    <span>拼</span>
                                </div>
                            }
                        </div>

                        <h2>@collect.getCartSkuDto().getSkuTitle()</h2>
                        <div class="size"><span>@collect.getCartSkuDto().getItemColor()</span><span>@collect.getCartSkuDto().getItemSize()</span></div>
                        <span class="commodity-rmb">
                             <span>
                                 @if(collect.getSkuType=="pin"){最低至}
                                 @if(collect.getSkuType!="pin"){单价}
                                : </span>

                            <i class="rmb color">￥@collect.getCartSkuDto().getPrice()</i>
                            <i class="cancelColl">取消收藏</i>
                        </span>
                    </a>
                </div>
            </li>
            }

            <li value="951">
                <div class="con">
                    <a href="/detail/pin/889604/112472" class="commodity havenot">
                        <div class="pin">
                            <img src="http://img.hanmimei.com/item/photo/20160315/b3730fc560ab471a9faa38bd19535d981458023469090.jpg" alt="">

                            <div class="pinicon">
                                <span>拼</span>
                            </div>

                        </div>

                        <h2>商品标题商品标题商品标题</h2>
                        <div class="size"><span>白色</span><span>100ml</span></div>
                        <span class="commodity-rmb">
                             <span>
                                 最低至

                                : </span>

                            <i class="rmb color">￥30</i>
                            <i class="cancelColl">取消收藏</i>
                        </span>
                    </a>
                </div>
            </li>

            <li value="951">
                <div class="con">
                    <a href="/detail/pin/889604/112472" class="commodity havenot">
                        <div class="pin">
                            <img src="http://img.hanmimei.com/item/photo/20160315/b3730fc560ab471a9faa38bd19535d981458023469090.jpg" alt="">

                            <div class="pinicon">
                                <span>拼</span>
                            </div>

                        </div>

                        <h2>商品标题商品标题商品标题</h2>
                        <div class="size"><span>白色</span><span>100ml</span></div>
                        <span class="commodity-rmb">
                             <span>
                                 最低至

                                : </span>

                            <i class="rmb color">￥30</i>
                            <i class="cancelColl">取消收藏</i>
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="hint">
    本商品限购10件本商品限购
</div>


</body>
</html>