@(couponList:List[domain.CouponVo])

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优惠券</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/obligation.css"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/obligation.js"></script>
    <style>
        body{
            background-color: #fff;
        }
    </style>
</head>
<body>
<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>优惠券</h1>
</header>

<div class="wrap coupon-body scope">
    <div class="nav-tab">
        <div class="nav-tab-top coupon">
            <ul>
                <li class="current">未使用</li>
                <li>已使用</li>
                <li>已过期</li>

            </ul>
        </div>
    </div>

    <div class="scroll-coupon">
        <div class="coupon-content">
            <!--未使用-->
            <section class="coupon-box current">
                <ul>
                    <li>
                        <div class="coupon-box-bjg clearfix">

                            <div class="coupon-box-r">
                                ￥<i class="coupon-rmb">20</i>
                            </div>
                            <div class="coupon-box-l">
                                <p class="coupon-hd">使用范围:</p>
                                <p class="coupon-m">全场通用</p>
                            </div>
                            <div class="Fullcut">订单满300减50</div>


                        </div>
                        <p class="coupon-deta">有效期至 <span>2016-04-30 11:13:20</span></p>
                    </li>
                    @for(coupon<-couponList){
                        @if(coupon.getState()=="N"){
                            <li>
                                <div class="coupon-box-bjg clearfix">

                                    <div class="coupon-box-r">
                                        ￥<i class="coupon-rmb">@coupon.getDenomination()</i>
                                    </div>
                                    <div class="coupon-box-l">
                                        <p class="coupon-hd">使用范围:</p>
                                        <p class="coupon-m">@coupon.getCateNm()</p>
                                    </div>
                                    <div class="Fullcut">订单满300减50</div>


                                </div>
                                <p class="coupon-deta">有效期至 <span>@coupon.getEndAt()</span></p>
                            </li>
                        }
                    }
                </ul>
            </section>

            <!--已使用-->
            <section class="coupon-box coupon-s">
                <ul>
                    @for(coupon<-couponList){
                        @if(coupon.getState()=="Y"){
                            <li>
                                <div class="coupon-box-bjg clearfix">

                                    <div class="coupon-box-r">
                                        ￥<i class="coupon-rmb">@coupon.getDenomination()</i>
                                    </div>
                                    <div class="coupon-box-l">
                                        <p class="coupon-hd">使用范围:</p>
                                        <p class="coupon-m">@coupon.getCateNm()</p>
                                    </div>
                                    <div class="Fullcut">满@coupon.getLimitQuota()可用</div>


                                </div>
                                <p class="coupon-deta">有效期至 <span>@coupon.getEndAt()</span></p>
                            </li>
                        }
                    }
                </ul>
            </section>

            <!--已过期-->
            <section class="coupon-box coupon-s">
                <ul>
                    @for(coupon<-couponList){
                        @if(coupon.getState()=="S"){
                        <li>
                            <div class="coupon-box-bjg clearfix">

                                <div class="coupon-box-r">
                                    ￥<i class="coupon-rmb">@coupon.getDenomination()</i>
                                </div>
                                <div class="coupon-box-l">
                                    <p class="coupon-hd">使用范围:</p>
                                    <p class="coupon-m">@coupon.getCateNm()</p>
                                </div>
                                <div class="Fullcut">满@coupon.getLimitQuota()可用</div>


                            </div>
                            <p class="coupon-deta">有效期至 <span>@coupon.getEndAt()</span></p>
                        </li>
                        }
                    }
                </ul>
            </section>


            <!--全部订单

            <section class="coupon-box coupon-s">
                <ul>
                    @for(coupon<-couponList){
                        @if(coupon.getState()=="N"){
                            <li>
                                <div class="coupon-box-bjg clearfix">
                                    <div class="coupon-box-l">
                                        <p class="coupon-hd">@coupon.getCateNm()</p>
                                        <p class="coupon-m">满@coupon.getLimitQuota()可用</p>

                                    </div>
                                    <div class="coupon-box-r"><i class="coupon-rmb">￥@coupon.getDenomination()</i></div>
                                </div>
                                <p class="coupon-deta">有效期至 <span >@coupon.getEndAt()</span></div>
                            </li>
                        }
                    }
                </ul>
            </section>

            <section class="coupon-box coupon-s">
                <ul>
                    @for(coupon<-couponList){
                        @if(coupon.getState()=="Y"){
                            <li>
                                <div class="coupon-box-bjg clearfix">
                                    <div class="coupon-box-l">
                                        <p class="coupon-hd">@coupon.getCateNm()</p>
                                        <p class="coupon-m">满@coupon.getLimitQuota()可用</p>

                                    </div>
                                    <div class="coupon-box-r"><i class="coupon-rmb">￥@coupon.getDenomination()</i></div>
                                </div>
                                <p class="coupon-deta">有效期至 <span >@coupon.getEndAt()</span></p>
                            </li>
                        }
                    }

                </ul>
            </section>

            <section class="coupon-box coupon-g">
                <ul>
                    @for(coupon<-couponList){
                        @if(coupon.getState()=="S"){
                            <li>
                                <div class="coupon-box-bjg clearfix">
                                    <div class="coupon-box-l">
                                        <p class="coupon-hd">@coupon.getCateNm()</p>
                                        <p class="coupon-m">满@coupon.getLimitQuota()可用</p>

                                    </div>
                                    <div class="coupon-box-r"><i class="coupon-rmb">￥@coupon.getDenomination()</i></div>
                                </div>
                                <p class="coupon-deta">有效期至 <span >@coupon.getEndAt()</span></p>
                            </li>
                        }
                    }
                </ul>
            </section>
            -->
       </div>
   </div>
</div>
</body>
</html>