@(couponList:List[domain.CouponVo])

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优惠券</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/obligation.css"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/obligation.js"></script>
    <script type="text/javascript" src="/assets/javascripts/cartAmount.js"></script>
    <style>
        body{
            background-color: #f4f4f4;
        }
    </style>
    <script>
        $(document).ready(function() {
           if($('.scroll-coupon .coupon-content section').eq(0).find("li").length<=0){
                $(".not").eq(0).css("display","block");
                var html=$("#recommendUl").html().trim();
                if(null==html||""==html||html.length<=0){
                   getRecommendSku(5);
                }
            }
        });
    </script>
</head>
<body>

<div id="loading">
    <img src="/assets/images/loading.gif"/>
</div>

<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>优惠券</h1>
</header>


<div class="wrap coupon-body scope">
    <div class="nav-tab">
        <div class="nav-tab-top coupon">
            <ul>
                <li class="current">未使用</li>
                <li>已使用</li>
                <li>已过期</li>

            </ul>
        </div>
    </div>

    <div class="scroll-coupon">
        <div class="coupon-content">
            <!--未使用-->
            <section class="coupon-box current">
                <ul>
                    @for(coupon<-couponList){
                        @if(coupon.getState()=="N"){
                            <li>
                                <div class="coupon-box-bjg clearfix">

                                    <div class="coupon-box-r">
                                        ￥<i class="coupon-rmb">@coupon.getDenomination()</i>
                                    </div>
                                    <div class="coupon-box-l">
                                        <p class="coupon-hd">使用范围:</p>
                                        <p class="coupon-m">@coupon.getCateNm()</p>
                                        @if(null!=coupon.getLimitQuota()&&coupon.getLimitQuota().doubleValue()>0){
                                            <div class="Fullcut">满@coupon.getLimitQuota()可用</div>
                                        }else {
                                            <div class="Fullcut">无限制</div>
                                        }

                                    </div>
                                </div>
                                <p class="coupon-deta">有效期 <span>@coupon.getStartAt().substring(0,10)</span> 至 <span>@coupon.getEndAt().substring(0,10)</span></p>
                            </li>
                        }
                    }
                </ul>
            </section>

            <!--已使用-->
            <section class="coupon-box coupon-s">
                <ul>
                    @for(coupon<-couponList){
                        @if(coupon.getState()=="Y"){
                            <li>
                                <div class="coupon-box-bjg clearfix">

                                    <div class="coupon-box-r">
                                        ￥<i class="coupon-rmb">@coupon.getDenomination()</i>
                                    </div>
                                    <div class="coupon-box-l">
                                        <p class="coupon-hd">使用范围:</p>
                                        <p class="coupon-m">@coupon.getCateNm()</p>
                                        @if(null!=coupon.getLimitQuota()&&coupon.getLimitQuota().doubleValue()>0){
                                            <div class="Fullcut">满@coupon.getLimitQuota()可用</div>
                                        }else {
                                            <div class="Fullcut">无限制</div>
                                        }
                                    </div>
                                </div>
                                <p class="coupon-deta">有效期 <span>@coupon.getStartAt().substring(0,10)</span> 至 <span>@coupon.getEndAt().substring(0,10)</span></p>
                            </li>
                        }
                    }
                </ul>
            </section>

            <!--已过期-->
            <section class="coupon-box coupon-s">
                <ul>
                    @for(coupon<-couponList){
                        @if(coupon.getState()=="S"){
                        <li>
                            <div class="coupon-box-bjg clearfix">

                                <div class="coupon-box-r">
                                    ￥<i class="coupon-rmb">@coupon.getDenomination()</i>
                                </div>
                                <div class="coupon-box-l">
                                    <p class="coupon-hd">使用范围:</p>
                                    <p class="coupon-m">@coupon.getCateNm()</p>
                                    @if(null!=coupon.getLimitQuota()&&coupon.getLimitQuota().doubleValue()>0){
                                        <div class="Fullcut">满@coupon.getLimitQuota()可用</div>
                                    }else {
                                        <div class="Fullcut">无限制</div>
                                    }
                                </div>
                            </div>
                            <p class="coupon-deta">有效期 <span>@coupon.getStartAt().substring(0,10)</span> 至 <span>@coupon.getEndAt().substring(0,10)</span></p>
                        </li>
                        }
                    }
                </ul>
            </section>
       </div>
   </div>
</div>


<div>

</div>

<div class="not couponNot scope" style="@if(null==couponList||couponList.size<=0){}else{display:none}">
        <div class="orderNot" style="display: block;">
            <!--<img src="/assets/images/order.png">
            <a href="/" class="look">去逛逛</a>-->
            <div class="e-txt">
                <img src="/assets/images/dindan.png"/>
                <p>暂无优惠券</p>
            </div>
            <div class="hot">
                <p class="hot-hd"><img src="/assets/images/tuijian.png"/></p>
                <ul class="product" id="recommendUl">@if(null==couponList||couponList.size<=0){<script type="text/javascript">getRecommendSku(5)</script>}</ul>
            </div>
        </div>

</div>
@comContent()
</body>
</html>