@(imageCode:String)
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <title>登录</title>
        <link rel="stylesheet" href="/assets/stylesheets/login.css">
        <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
        <script src="/assets/javascripts/hp.js"></script>
        <style type="text/css">
            input:required:valid, input:focus:invalid {
            background-image: url('/assets/images/ex.png');
            background-position: right 14px;
            background-repeat: no-repeat;
            -moz-box-shadow: none;
            }
            input:required:valid {
            background-image: url("/assets/images/dui.png");
            background-position: right 14px;
            background-repeat: no-repeat;
            }
        </style>

        <script>
            $(function() {
                $(document).on('click', '#bt_login', function () {
                    var name_regexp = new RegExp(/^1[345678]\d{9}$/);
                    var password_regexp = new RegExp(/^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-Z0-9]{6,12}/);

                    if (11 != $('#input_username').val().length) {
                        $('#js-userinfo-error').removeClass("pcue").text('请输入正确位数的手机号').addClass("cue");
                        setTimeout("$('#js-userinfo-error').removeClass('cue').addClass('pcue')", 2000);
                    }
                    else if (!name_regexp.test($('#input_username').val())) {
                        $('#js-userinfo-error').removeClass("pcue").text('请输入正确的手机号').addClass("cue");
                        setTimeout("$('#js-userinfo-error').removeClass('cue').addClass('pcue')", 2000);
                    }
                    else if ($('#input_password').val().length < 6 || $('#input_password').val().length > 12) {
                        $('#js-userinfo-error').removeClass("pcue").text('请输入正确的密码').addClass("cue");
                        setTimeout("$('#js-userinfo-error').removeClass('cue').addClass('pcue')", 2000);
                    }
                    else if (!password_regexp.test($('#input_password').val())) {
                        $('#js-userinfo-error').removeClass("pcue").text('请输入正确的密码').addClass("cue");
                        setTimeout("$('#js-userinfo-error').removeClass('cue').addClass('pcue')", 2000);
                    }
                    else {

                        if ($('#autoLogin').is(':checked')) $('form#account_loginForm').append("<input name='auto' type='hidden' value='true'>");
                        else $('form#account_loginForm').append("<input name='auto' type='hidden' value='false'>");

                        $.ajax({
                            url: "/login/submit",
                            dataType: 'json',
                            data: $('form#account_loginForm').append("<input name='code' type='hidden' value='-1'>").serialize(),
                            type: 'POST',
                            success: function (data) {
                                console.log(data);
                                if (data.code === 200) {
                                    $('#js-userinfo-error').removeClass("pcue").text('登录成功').addClass("cue");
                                    setTimeout("$('#js-userinfo-error').removeClass('cue').addClass('pcue')", 1000);
                                    setTimeout(function () {
                                        window.location.href = '/myView';
                                    }, 1500);
                                } else if (data.code == 4001) {

                                }
                                else {
                                    $('#js-userinfo-error').removeClass("pcue").text(data.message).addClass("cue");
                                    setTimeout("$('#js-userinfo-error').removeClass('cue').addClass('pcue')", 1000);
//                                    setTimeout(function(){
//                                        window.location.href='/login';
//                                    }, 1200);

                                }
                            }
                        });
                    }
                });
                /*显示密码*/
                var of = true;
                $('.howl').click(function () {
                    $(this).toggleClass('bg1');
                    if (of) {
                        $('.input-weak-show').attr({'type': 'text'});
                        of = false;
                    } else {
                        $('.input-weak-show').attr({'type': 'password'});
                        of = true;
                    }
                });

                /*按下回车键事件*/
                $(document).keydown(function (event) {
                    if (event.keyCode == 13) {
                        $('#bt_login').click();
                    }
                });

                /*删除*/
                $(".delet").click(function () {
                    $("input[name='name']").val("").focus(); // 清空并获得焦点
                });
                $(".out").click(function () {
                    $("input[name='password']").val("").focus();
                });


                /*验证码*/
                $('.proving-txt').click(function () {
                    $(".proving-box img").attr('src:"http://172.28.3.51:9004/getImageCodes/123+"?""+Math.random()');

                    $(document).on('click', '.proving-txt', function () {
                        $("#imageCodeImage").attr("src", "\@imageCode" + Math.round(Math.random() * 1000000));

                    })

                })
                function getImageCode() {
                    document.getElementById("imageCodeImage").src = "\@imageCode" + Math.round(Math.random() * 1000000);
                }

            })
        </script>
    </head>

    <body>
        <div id="screen_wrap">
            <div class="nav_ban">
                <h1>登录</h1>
                <a href="/"><span class="icon-back" id="backBtn"></span></a>
            </div>
            <div class="login">
                <div id="js-userinfo-error" class="pcue"></div>
                <fieldset>
                    <form id="account_loginForm" method="post" action="/login/submit">
                        <dl class="list list-in">
                            <dd class="dd-padding code">
                                <input id="input_username" class="input-weak" maxlength="11" type="text" placeholder="请输入您的手机号" name="name" required pattern="[1][345678]\d{9}">
                                <i class="delet"></i>
                            </dd>
                            <dd class="dd-padding code">
                                <input id="input_password" class="input-weak input-weak-show" maxlength="12" type="password" placeholder="请输入您的密码" name="password" required pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-Z0-9]{6,12}">
                                <i class="out"></i>
                                <i class="howl"></i>
                            </dd>



                            <dd class="dd-padding proving-box">
                                <input class="proving" maxlength="4" type="text" size="5" placeholder="请输验证码"/>
                                <img id="imageCodeImage" style="-webkit-user-select: none;" onclick="getImageCode()" src="@imageCode@Math.round(Math.random()*1000000)">
                                <a href="javascript:;" class="proving-txt">看不清换一张</a>

                            </dd>

                            <dd class="dd-padding code">
                                <img style="-webkit-user-select: none;" src="@imageCode">


                            </dd>
                        </dl>
                    </form>
                    <div class="submitBox">
                        <input id="bt_login" class="loginBtn button" type="button" value="登录">
                    </div>
                </fieldset>

                <div class="loginInfo">
                    <div class="findWord">
                        <a href="/regist" class="resist">快速注册</a>
                        <a href="/user/reset/passwd" class="password">忘记密码?</a>
                    </div>
                    <div class="min">
                        <label>
                            <input id="autoLogin" type="checkbox" checked="checked">
                            一周内免登录
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
