@(userInfo:domain.UserDTO)
@scripts = {
<link rel="stylesheet" href="/assets/stylesheets/global.css">
<link rel="stylesheet" href="/assets/stylesheets/myhmm.css">
<script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
}

@layout(title="韩秘美,专卖韩国正品")(scripts) {
<!--
<header class="head">
    <a href="/pin/list" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>我的</h1>

</header>-->
<div>
<a class="wap scope">
    <a href="/setting" class="fit">设置</a>
    <div class="user bg">
         <a  href="/means" class="land">
             <img id="photo" src="@userInfo.getPhoto()">
             @userInfo.getName()
             @if(userInfo.getGender()=="M") {男}
             @if(userInfo.getGender()=="") {女}
         </a>
        <!--<input id="gender" type="hidden" value="@userInfo.getGender()">-->
        <!--<input id="name" type="hidden" value="@userInfo.getName()">-->
        <!--<input id="phone" type="hidden" value="@userInfo.getPhoneNum()">-->
    </div>
</a>
    <!--<section class="apply">-->
        <!--<ul>-->
            <!--<li>-->
                <!--<a href="/obligation" class="">-->
                    <!--<img src="/assets/images/personal-02.jpg">-->
                    <!--待支付-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/delivered" class="">-->
                    <!--<img src="/assets/images/personal-03.jpg">-->
                    <!--待发货-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/orders" class="">-->
                    <!--<img src="/assets/images/personal-04.jpg">-->
                    <!--待收货-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/appraise" class="">-->
                    <!--<img src="/assets/images/personal-05.jpg">-->
                    <!--待评价-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/drawback" class="">-->
                    <!--<img src="/assets/images/personal-06.jpg">-->
                    <!--退款-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
   <!--</section>-->

    <section class="list">
        <a href="/all" class="whole-box">
            <div href="/all" class="whole">
                <i>我的订单</i>
                <span>查看全部订单</span>
            </div>
        </a>
        <a href="/mypin" class="list-buy">
            <div class="buy-box">
                <i>我的拼团</i>
                <span></span>
            </div>
        </a>
        <a href="/coupon" class="list-agio">
            <div class="agio-box">
                <i>我的优惠券</i>
                <span>
                   @userInfo.getCouponsCount()张可用
                </span>
            </div>
        </a>
        <a href="/address" class="list-add">
            <div class="add-box">
                <i>我的地址</i>
                <span></span>
            </div>
        </a>
        <a href="/tickling" class="list-advise">
            <div class="advise-box">
                <i>意见反馈</i>
                <span></span>
            </div>
        </a>
        <a href="/collect" class="whole-box">
            <div class="whole">
                <i>我的收藏</i>
                <span>&nbsp;</span>
            </div>
        </a>
    </section>


 </div>

<script>
    /**
    $(document).on('click', '.land', function () {
        var url = '/means';
        var photo = $("#photo").attr("src");
        var name = $("#name").val();
        var gender = $("#gender").val();
        var phoneNum = $("#phone").val();
        var form = $('<form action="' + url + '" method="post">' +
        '<input type="hidden" name="photo" value="' + photo + '" />' +
        '<input type="hidden" name="name" value="' + name + '" />' +
        '<input type="hidden" name="gender" value="' + gender + '" />' +
        '<input type="hidden" name="phoneNum" value="' + phoneNum + '" />' +
        '</form>');
        $('body').append(form);
        form.submit();
    });
    **/
</script>
}