@(path:String, userInfo:domain.UserDTO)
@scripts = {
<link rel="stylesheet" href="/assets/stylesheets/global.css">
<link rel="stylesheet" href="/assets/stylesheets/myhmm.css">
<script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
}

@layout(title="韩秘美,专卖韩国正品")(scripts) {
<!--
<header class="head">
    <a href="/pin/list" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>我的</h1>

</header>-->

<div class="wap">
    <a href="@path"  class="back">
        <i></i>
        <b></b>
    </a>
    <a href="/setting" class="fit"></a>
    <div class="user bg">
         <a  href="/means" class="land">
             <img id="photo" src="@userInfo.getPhoto()">
             @userInfo.getName()
             @if(userInfo.getGender()=="M") {<i class="man"></i>}
             @if(userInfo.getGender()=="F") {<i class="girl"></i>}
         </a>
    </div>

    <!--<section class="apply">-->
        <!--<ul>-->
            <!--<li>-->
                <!--<a href="/obligation" class="">-->
                    <!--<img src="/assets/images/personal-02.jpg">-->
                    <!--待支付-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/delivered" class="">-->
                    <!--<img src="/assets/images/personal-03.jpg">-->
                    <!--待发货-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/orders" class="">-->
                    <!--<img src="/assets/images/personal-04.jpg">-->
                    <!--待收货-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/appraise" class="">-->
                    <!--<img src="/assets/images/personal-05.jpg">-->
                    <!--待评价-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a href="/drawback" class="">-->
                    <!--<img src="/assets/images/personal-06.jpg">-->
                    <!--退款-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
   <!--</section>-->

    <section class="list">
        <a href="/all" class="whole-box">
            <div href="/all" class="whole">
                <i class="icon"></i>
                <i class="icon-txt">我的订单</i>
                <span>查看全部订单</span>
            </div>
        </a>
        <a href="/mypin" class="list-buy">
            <div class="buy-box">
                <i class="icon"></i>
                <i class="icon-txt">我的拼团</i>
                <span></span>
            </div>
        </a>
        <a href="/coupon" class="list-agio">
            <div class="agio-box">
                <i class="icon"></i>
                <i class="icon-txt">我的优惠券</i>
                <span>
                   @userInfo.getCouponsCount()张可用
                </span>
            </div>
        </a>
        <a id="myAdd" href="/address/1"  class="list-add">
            <div class="add-box">
                <i class="icon"></i>
                <i class="icon-txt">我的地址</i>
                <span></span>
            </div>
        </a>
        <a href="/collect" class="whole-box">
            <div class="whole">
                <i class="icon"></i>
                <i class="icon-txt">我的收藏</i>
                <span>&nbsp;</span>
            </div>
        </a>
    </section>


 </div>
}

<script>
    $(function() {

        <!--$(document).on("click", "#myAdd", function() {-->
            <!--var url = '/address';-->
            <!--var form = $('<form action="' + url + '" method="post">' +-->
            <!--'<input type="hidden" name="selId" value="1" />' +-->
            <!--'</form>');-->
            <!--$('body').append(form);-->
            <!--form.submit();-->
        <!--});-->

    });

</script>