<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypin.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
    <header>
        <div>
            <i style="display:inline-block;transform: scale(1,2);">&lt;</i>
            <span>返回</span>
        </div>
        <div class="logo">

        </div>
        <div>
            <i></i><i></i><i></i>
        </div>
    </header>
    <div>
        <div class="con">
            <div class="up">
                <div class="pinimg">
                    <img src="/assets/images/HMM--01_07.jpg" alt="">
                </div>
                <div class="info">
                    <p>韩国法系sadsa可还是快点好缩放12sd2阿斯顿撒上是的撒上点</p>
                    <div>成员价:&nbsp;&nbsp;&nbsp;&nbsp;¥<span>75:00</span></div>
                </div>
            </div>
            <div class="down">
                <div class="tuansuc">团购成功</div>
                <div>
                    <input type="button" class="tuan" value="查看团详情">
                    <button class="order">查看订单详情</button>
                </div>
            </div>
        </div>
        <div class="con">
            <div class="up">
                <div class="pinimg">
                    <img src="/assets/images/HMM--01_07.jpg" alt="">
                </div>
                <div class="info">
                    <p>韩国法系sadsa可还是快点好缩放12sd2阿斯顿撒上是的撒上点</p>
                    <div>成员价:&nbsp;&nbsp;&nbsp;&nbsp;¥<span>75:00</span></div>
                </div>
            </div>
            <div class="down">
                <div class="tuansuc">团购成功</div>
                <div>
                    <input type="button" class="tuan" value="查看团详情">
                    <button class="order">查看订单详情</button>
                </div>
            </div>
        </div>
        <div class="con">
            <div class="up">
                <div class="pinimg">
                    <img src="/assets/images/HMM--01_07.jpg" alt="">
                </div>
                <div class="info">
                    <p>韩国法系sadsa可还是快点好缩放12sd2阿斯顿撒上是的撒上点</p>
                    <div>成员价:&nbsp;&nbsp;&nbsp;&nbsp;¥<span>75:00</span></div>
                </div>
            </div>
            <div class="down">
                <div class="tuansuc">团购成功</div>
                <div>
                    <input type="button" class="tuan" value="查看团详情">
                    <button class="order">查看订单详情</button>
                </div>
            </div>
        </div>
    </div>

    <div class="imm">
        <div class="homeicon">
            <img src="/assets/images/home_un.png" alt="">
        </div>
        <button class="imm-click">立即下单</button>
    </div>
</body>
</html>