@(order:domain.OrderDTO)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拼购详情</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypin.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/loading.js"></script>
</head>
<body style="background: #fff">
    <div id="loading">
        <img src="/assets/images/loading.gif"/>
    </div>

    <header class="head">
        <a href="/myView" class="back">
            <i></i>
            <b></b>
        </a>
        <h1>拼购详情</h1>
    </header>

    <div class="fixed-box" style="position:fixed;width: 100%">
    <div class="detailcon">
        <div class="process">
            @if(order.getOrder().getOrderStatus()=="S"){
                <img src="/assets/images/hmm_order_submit.png" alt="">
            }
            @if(order.getOrder().getOrderStatus()=="D"){
            <img src="/assets/images/hmm_ distribution.png" alt="">
            }
            @if(order.getOrder().getOrderStatus()=="R"){
            <img src="/assets/images/hmm_sign.png" alt="">
            }
            @if(order.getOrder().getOrderStatus()=="F"){
            <img src="/assets/images/hmm_order_error.png" alt="">
            }
        </div>
        <ul>
            <li>
                <b>订单状态:</b>
                <span class="orderstate">
                    @if(order.getOrder().getOrderStatus()=="I"){待支付}
                    @if(order.getOrder().getOrderStatus()=="S"){待发货}
                    @if(order.getOrder().getOrderStatus()=="C"){已取消}
                    @if(order.getOrder().getOrderStatus()=="F"){失败}
                    @if(order.getOrder().getOrderStatus()=="R"){已完成}
                    @if(order.getOrder().getOrderStatus()=="D"){待收货}
                    @if(order.getOrder().getOrderStatus()=="J"){拒收}
                    @if(order.getOrder().getOrderStatus()=="N"){已删除}
                    @if(order.getOrder().getOrderStatus()=="T"){已退款}
                    @if(order.getOrder().getOrderStatus()=="PI"){拼购未支付}
                    @if(order.getOrder().getOrderStatus()=="PS"){拼购支付成功}
                    @if(order.getOrder().getOrderStatus()=="PF"){拼团失败还未成功退款}
                </span>
            </li>
            <li>
                <b>总额:</b>
                <span><i class="ordermoney">@order.getOrder().getPayTotal()</i> (@order.getOrder().getPayMethod())</span>
            </li>
            <li>
                <b>送至:</b>
                <span>@order.getAddress().getDeliveryCity()@order.getAddress().getDeliveryDetail()</span>
            </li>
            <li>
                <b>收货人:</b>
                <span>@order.getAddress().getName() @order.getAddress().getTel()</span>
            </li>
            <li>
                <b>订单编号:</b>
                <span>@order.getOrder().getOrderId()</span>
            </li>
            <li>
                <b>下单时间:</b>
                <span>@order.getOrder().getOrderCreateAt()</span>
            </li>
        </ul>
        <div class="good-infos">
            <h2>商品信息</h2>
            @for(sku<-order.getSku()){
                <div>
                    <div class="goodimg">
                        <img src="@sku.getInvImg()" alt="">
                    </div>
                    <div class="good-info">
                        <p class="good-info-hd">@sku.getSkuTitle()</p>
                        <div>
                            <span>数量: <i>@sku.getAmount()</i></span>
                            <span class="oneprice">¥<b>@sku.getPrice()</b>/件</span>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if(order.getOrder().getRemark()=="N"){
            <div>
                <input type="button" class="tuan" value="评论晒单" onclick="location.href='/comment/center/@order.getOrder().getOrderId()'">
            </div>
        }

        <!--
        <div>
            <input type="button" class="tuan" value="查看团详情(取不到actId)" onclick="location.href='/pin/activity/@order.getOrder().getPinActiveId()'">
        </div>
        -->
    </div>
  </div>
    @comContent()
</body>
</html>