<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypin.css">
</head>
<body style="background: #fff">
    <header style="background: rgb(243,244,245)">
        <div>
            <i style="display:inline-block;transform: scale(1,2);margin-left: 20px">&lt;</i>
        </div>
        <div>
            团购订单详情
        </div>
    </header>
    <div class="detailcon">
        <div class="process">
            <img src="/assets/images/hmm_order_submit.png" alt="">
        </div>
        <ul>
            <li>
                <b>订单状态:</b>
                <span class="orderstate">提交订单</span>
            </li>
            <li>
                <b>总额:</b>
                <span><i class="ordermoney">19.90</i> (微信支付)</span>
            </li>
            <li>
                <b>送至:</b>
                <span>北京朝阳区望京开发街道利泽中二路203洛娃大厦A座三层东方爱怡斯</span>
            </li>
            <li>
                <b>收货人:</b>
                <span>赵婷婷 12345678454</span>
            </li>
            <li>
                <b>订单编号:</b>
                <span>124354654253</span>
            </li>
            <li>
                <b>下单时间:</b>
                <span>2015-12-13 09:00:42</span>
            </li>
        </ul>
        <div class="good-infos">
            <h2>商品信息</h2>
            <div>
                <div class="goodimg">
                    <img src="/assets/images/HMM--list_03.jpg" alt="">
                </div>
                <div class="good-info">
                    <p>韩国发希fascy陆心媛娃娃护手霜80ml3支深层滋润保湿五件套</p>
                    <div>
                        <span>数量: <i>1</i></span>
                        <span class="oneprice">¥<b>75.00</b>/件</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="button" class="tuan" value="查看团详情">
        </div>
    </div>
</body>
</html>