@(pinList:List[domain.PinActivityListDTO])
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的拼团</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/mypin.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script>
        $(function(){
            $(".tabpin>li").click(function(){
                var index = $(".tabpin>li").index($(this));
                $(".tabpin>li").removeClass("cur");
                $(this).addClass("cur");
                $(".myall").css("display","none");
                $(".myall").eq(index).css("display","block");
            })
        })
    </script>
</head>
<body>
    <header>

        <div>
            <a href="/myView">
                <i style="display:inline-block;transform: scale(1,2);">&lt;</i>
                <span>返回</span>
            </a>
        </div>
        <div class="logo">

        </div>

        <div>
            <i></i><i></i><i></i>
        </div>

    </header>
    <ul class="tabpin">
        <li class="cur">我的开团</li>
        <li>我的参团</li>
    </ul>
    <div class="myall">
        @for(pin<-pinList){
            @if(pin.getOrMaster()==1){
                <div class="con">
                    <div class="up">
                        <div class="pinimg">
                            <img src="@pin.getPinImg()" alt="">
                        </div>
                        <div class="info">
                            <p>@pin.getPinTitle()</p>
                            <div>成员价:&nbsp;&nbsp;&nbsp;&nbsp;¥<span>@pin.getPinPrice()</span></div>
                        </div>
                    </div>
                    <div class="down">
                        <div class="tuansuc">
                            <!--Y-正常， N－取消 ，C－完成 ，F-失败-->
                            @if(pin.getStatus()=="Y"){拼团中}
                            @if(pin.getStatus()=="N"){拼团取消}
                            @if(pin.getStatus()=="C"){拼团成功}
                            @if(pin.getStatus()=="F"){拼团失败}
                        </div>
                        <div>
                            <input type="button" class="tuan" value="查看团详情" onclick="location.href='/pin/activity/@pin.getPinActiveId()'">
                            @if(pin.getStatus()=="C"){
                                <button class="order" onclick="location.href='/pin/order/detail/@pin.getOrderId()'">查看订单详情</button>
                            }
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <div class="myall">
        @for(pin<-pinList){
            @if(pin.getOrMaster()==0){
                <div class="con">
                    <div class="up">
                        <div class="pinimg">
                            <img src="@pin.getPinImg()" alt="">
                        </div>
                        <div class="info">
                            <p>@pin.getPinTitle()</p>
                            <div>成员价:&nbsp;&nbsp;&nbsp;&nbsp;¥<span>@pin.getPinPrice()</span></div>
                        </div>
                    </div>
                    <div class="down">
                        <div class="tuansuc">
                            <!--Y-正常， N－取消 ，C－完成 ，F-失败-->
                            @if(pin.getStatus()=="Y"){拼团中}
                            @if(pin.getStatus()=="N"){拼团取消}
                            @if(pin.getStatus()=="C"){拼团成功}
                            @if(pin.getStatus()=="F"){拼团失败}
                        </div>
                        <div>
                            <input type="button" class="tuan" value="查看团详情" onclick="location.href='/pin/activity/@pin.getPinActiveId()'">
                            @if(pin.getStatus()=="C"){
                            <button class="order" onclick="location.href='/pin/order/detail/@pin.getOrderId()'">查看订单详情</button>
                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>

    <div class="imm">
        <div class="homeicon">
            <img src="/assets/images/home_un.png" alt="">
        </div>
        <button class="imm-click">立即下单</button>
    </div>
</body>
</html>