<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>空购物车</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/sho.css">
</head>
<body>

    <header class="head">
        <a href="/list" class="back">
            <i></i>
            <b></b>
        </a>
        <h1>支付结算</h1>
    </header>

   <div class="wrap scope">
       <img src="/images/shoppingcart.png">
       <a href="javascript:;" class="bg">去逛逛</a>
   </div>
    <div class="foot-box scope">
        <footer class="foot scope">
            <nav>
                <ul>
                    <li>
                        <a href="/" class="home">
                            <i></i>
                            <span>首页</span>
                        </a>
                    </li>

                    <li>
                        <a href="" class="buy">
                            <i></i>
                            <span>拼购</span>
                        </a>
                    </li>

                    <li>
                        <a href="" class="story">
                            <i></i>
                            <span>品牌故事</span>
                        </a>
                    </li>

                    <li>
                        <a href="/sho" class="shopping">
                            <i></i>
                            <span>购物车</span>
                        </a>
                    </li>

                    <li class="my-icon">
                        <a href="/personal" class="my">
                            <i></i>
                            <span>我的</span>
                        </a>
                    </li>


                </ul>

            </nav>

        </footer>
    </div>
</body>
</html>