@(nickname:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/means.css">
</head>
<body>

<header class="head">
    <a href="/means" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>修改昵称</h1>

</header>

<div class="wap">
    <div class="substance">
        <input type="text"  class="tex" value="@nickname"/>



        <p>1.字符个数应在2-12位之间</p>
        <p>2.与韩秘美有冲突的昵称,韩秘美将保留收回的权利</p>
        <p>3.创建或更改昵称,请遵守相关法律法规</p>



        <input id="bt_login" class="button" type="button" value="保存">
    </div>



</div>

</body>
</html>