@(path:String, state:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手机注册</title>
    <meta charset="UTF-8">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="/assets/stylesheets/login.css">
    <link rel="stylesheet" href="/assets/stylesheets/regist.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <style type="text/css">
        input:required:valid, input:focus:invalid {
        background-image: url('/assets/images/ex.png');
            background-position:85% 0px;
            background-repeat: no-repeat;
            -moz-box-shadow: none;
        }
        input:required:valid {
        background-image: url("/assets/images/dui.png");
            background-position:85% 0px;
            background-repeat: no-repeat;
        }
    </style>
    <script>
        $(function(){

            var phoneReg = new RegExp(/^1[345678]\d{9}$/);
            $("#btn-reg").css('background', '#C0C0C0');
            $('#js-userinfo-error').hide();

            //输入手机号格式正确可以点击下一步
            $('#phone').bind('input propertychange', function() {
                if (phoneReg.test($(this).val())) {
                    $("#btn-reg").css('background-color', '#ff5359');
                    $("#btn-reg").css('cursor', 'pointer');
                    $('#btn-reg').attr("disabled",false);
                }
                if (!phoneReg.test($(this).val())) {
                    $("#btn-reg").css('background', '#C0C0C0');
                    $("#btn-reg").css('cursor', 'default');
                    $('#btn-reg').attr("disabled",true);
                }
            });

            //弹框取消按钮
            $('.box-reg').click(function(){
                $('.shade-reg').hide();
            })

            /*删除*/
            $(".delet").click(function () {
                $("input[name='phone']").val("").focus(); // 清空并获得焦点
            });

            /*按下回车键事件*/
            $(document).keydown(function (event) {
                if (event.keyCode == 13) {
                    $('#btn-reg').click();
                }
            });


            //用户注册检测手机号
            $(document).on('click', '#btn-reg', function() {
                var phone = $("#phone").val();
                //console.log($('form#cell_verifyForm').serialize());
                $.ajax({
                        url: "/phone/verify",
                        dataType: 'json',
                        data: $('form#cell_verifyForm').serialize(),
                        type: 'POST',
                        success: function(data) {
                               console.log(data);
                               //用户已经注册,弹框提示
                               if (data.code === 5001) {
                                    $('.shade-reg').show();
                               }
                               //用户未注册,请求手机验证码接口
                               if (data.code === 4003) {
                                       $("#code").removeAttr("name");
                                       console.log($('form#cell_verifyForm').serialize());
                                       $.ajax({
                                                url: "/phone/code",
                                                dataType: 'json',
                                                data: $('form#cell_verifyForm').serialize(),
                                                type: 'POST',
                                                success: function(data) {
                                                    console.log(data);
                                                    $("#code").attr({"name":"code"});
                                                    //手机验证码发送成功
                                                    if (data.code === 200) {
                                                            var url = '/register'+$("#state").val();
                                                            var form = $('<form action="' + url + '" method="post">' +
                                                            '<input type="hidden" name="phone" value="' + phone + '" />' +
                                                            '</form>');
                                                            $('body').append(form);
                                                            form.submit();
                                                    }
                                                    else {
                                                            $('#js-userinfo-error').text(data.message).show();
                                                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                                                    }
                                                }
                                       });
                               }
                        }
                });
            });

            //找回密码
            $(document).on('click', '.box-r', function() {
                $("#code").removeAttr("name");
                var phone = $("#phone").val();
                //请求手机验证码
                $.ajax({
                        url: "/phone/code",
                        dataType: 'json',
                        data: $('form#cell_verifyForm').serialize(),
                        type: 'POST',
                        success: function(data) {
                           console.log(data);
                           $("#code").attr({"name":"code"});
                           //手机验证码发送成功
                           if (data.code === 200) {
                                var url = '/retrieve'+$("#state").val();;
                                var form = $('<form action="' + url + '" method="post">' +
                                '<input type="hidden" name="phone" value="' + phone + '" />' +
                                '</form>');
                                $('body').append(form);
                                form.submit();
                           }
                           else {
                                $('#js-userinfo-error').text(data.message).show();
                                setTimeout("$('#js-userinfo-error').hide()", 2000);
                           }
                        }
                });
            });


        })

    </script>

</head>
<body>
<div id='screen_wrap'>
    <div class="nav_ban">
        <h1>手机注册</h1>
        <a href="@path"><span class="icon-back" id="backBtn"></span></a>
        <input type="hidden" id="state" value="@state">
    </div>
    <div class="login">
        <div id="js-userinfo-error" class="cue"></div>
        <div class="login-t">我们将发送验证码到你的手机</div>
        <fieldset>
            <form id="cell_verifyForm" method="post" onsubmit="return false" action="" >
                <dl class="list list-in list-regist">
                    <dd class="dd-padding">
                       <label>手机号</label> <input id="phone" type="text" class="input-rese input-r" name='phone' placeholder="请输入手机号" maxlength="11" required pattern="[1][345678]\d{9}" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
                        <i class="delet delet-box"></i>
                            <input type="hidden" id="code" name="code" value="-1">
                    </dd>
                </dl>
            </form>
            <div class="submitBox">
                <input id="btn-reg" class="registBtn button" type="submit" disabled="disabled" value="下一步">
            </div>
            <div class="back"><a href="/login@state">已有账号? 去登录</a></div>
        </fieldset>
    </div>


    <div class="shade shade-reg">
        <div class="box">
            <span>该手机号已经注册</span>
            <div class="box-a">
                <a href="javascript:;" class="box-l box-reg">取消</a>
                <a class="box-r">找回密码</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>