@(path:String, phone:String, uri:String)
<!DOCTYPE HTML>
<html xmlns:filter="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>注册</title>
    <link rel="stylesheet" href="/assets/stylesheets/login.css">
    <link rel="stylesheet" href="/assets/stylesheets/regist.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>

    <style type="text/css">
        input:required:valid, input:focus:invalid {
            background-image: url('/assets/images/ex.png');
            background-position: right 0px;
            background-repeat: no-repeat;
            -moz-box-shadow: none;
        }
        input:required:valid {
            background-image: url("/assets/images/dui.png");
            background-position: right 0px;
            background-repeat: no-repeat;
        }
    </style>

</head>
<body>
<div id='screen_wrap'>
    <div class="nav_ban">
        <h1>账号注册</h1>
        <a href="@path"><span class="icon-back" id="backBtn"></span></a>
        <input type="hidden" id="uri" value="@uri">
    </div>
    <div id="js-userinfo-error" class="cue">验证码发送成功</div>

    <div class="login">
        <div class="login-t" id="phone-send-code"></div>
        <fieldset>
            <form id="cell_regForm" method="post" onsubmit="return false" action="" >
                <dl class="list list-in">
                    <dd class="dd-padding clearfix dd-one">
                        <input type="hidden" id="phone" name="phone" value="@phone">
                        <span>验证码</span>
                        <input id="code" name="code" type="text" class="input-rese input-res-t" placeholder="短信验证码" maxlength="6" required pattern="[0-9]{6}" onkeyup="this.value=this.value.replace(/\D/g,'')"/>
                        <div class="hq" id="get-code">获取验证码 <i id="time"></i></div>
                        <input type="hidden" id="smsType" name="smsType" value="register"/>
                    </dd>
                    <dd class="dd-padding clearfix">
                        <span>设置密码</span> <input id="password" name="password" type="password" class="input-rese input-reseT" placeholder="6-12位字母/数字组合" maxlength="12"  required pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-Z0-9]{6,12}"/>
                        <i class="delet delet-re"></i>
                        <i class="howl howl-reT"></i>
                    </dd>
                    <dd class="dd-padding clearfix">
                        <span class="dd-t">确认密码</span>
                        <input id="re_password" type="password" class="input-rese input-reseB" placeholder="再次填写密码" maxlength="12" required pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-Z0-9]{6,12}"/>
                        <div class="dd-b">
                            <i class="delet delet-rese"></i>
                            <i class="howl howl-reB"></i>
                        </div>

                    </dd>
                </dl>
            </form>

            <div class="agree">
                <input id="tip" class="inp" type="checkbox">
                <a class="tip" href="/agreement">我已阅读并接受 <span>Kakao Gift服务条款</span></a>
            </div>
            <div class="submitBox">
                <input id="btn-reg" class="registBtn button" type="submit" value="完成">
            </div>
            <!--<div class="back"><a href="/login">< 已有账号 返回登录</a></div>-->
        </fieldset>
    </div>
</div>
<!--reference script region-->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
@comContent()
</body>
</html>

<script>

    $(function() {

        //$('#js-userinfo-error').text('验证码发送成功!').show();
        setTimeout("$('#js-userinfo-error').hide()", 1000);

        var flag = false;

        var phone = $("#phone").val();

        $("#phone-send-code").text("已发送验证码至"+phone.substring(0,3)+"*****"+phone.substring(7,11));

        //验证码获取倒计时
        var time = 80;
        $("#time").html(time+"s");
        timer = window.setInterval(function() {
            $("#time").html(--time+"s");
            if (time == 0) {
                window.clearInterval(timer);
                $("#time").html("");
                $("#get-code").css("color", "#E46359");
                $("#get-code").css('cursor', 'pointer');
                flag = true;
            }
        }, 1000);

        //再次获取验证码
        $("#get-code").click(function() {
            if(!flag){
                return;
            } else {
                $("#password").removeAttr("name");
                $("#code").removeAttr("name");
                console.log($('form#cell_regForm').serialize());
                $.ajax({
                    url: "/phone/code",
                    dataType: 'json',
                    data: $('form#cell_regForm').serialize(),
                    type: 'POST',
                    success: function (data) {
                        flag = false;
                        console.log(data);
                        $("#password").attr({"name": "password"});
                        $("#code").attr({"name": "code"});
                        if (data==null || data=="") {
                            $('#js-userinfo-error').text("网络连接异常,请检查网络").show();
                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                        } else if (data.code === 200) {
                            //手机验证码发送成功
                            $('#js-userinfo-error').text('验证码发送成功!').show();
                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                            $("#get-code").css("color", "#000");
                            $("#get-code").css('cursor', 'auto');
                            var ctime = 80;
                            $("#time").html(ctime + "s");
                            timer2 = window.setInterval(function () {
                                $("#time").html(--ctime + "s");
                                if (ctime == 0) {
                                    window.clearInterval(timer2);
                                    $("#time").html("");
                                    $("#get-code").css("color", "#E46359");
                                    $("#get-code").css('cursor', 'pointer');
                                    flag = true;
                                }
                            }, 1000);
                        } else {
                            $('#js-userinfo-error').text(data.message).show();
                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                        }
                    }
                });
            }
        });


        //注册提交数据
        $(document).on('click', '#btn-reg', function() {
            var codeReg = new RegExp(/^[0-9]{6}$/);
            var passwordReg = new RegExp(/^(?![0-9]+$)(?![a-zA-Z]+$)[a-zA-Z0-9]{6,12}/);

            if ($('#code').val().length!=6 || !codeReg.test($('#code').val())) {
                $('#js-userinfo-error').text('请输入6位验证码').show();
                setTimeout("$('#js-userinfo-error').hide()", 2000);
            }
            else if ($('#password').val().length<6 || $('#password').val().length>12) {
                $('#js-userinfo-error').text('请输入6-12位密码').show();
                setTimeout("$('#js-userinfo-error').hide()", 2000);
            }
            else if (!passwordReg.test($('#password').val())) {
                $('#js-userinfo-error').text('密码必须是字母数字组合').show();
                setTimeout("$('#js-userinfo-error').hide()", 2000);
            }
            else if ($('#re_password').val()!=$('#password').val()) {
                $('#js-userinfo-error').text('两次密码输入的不一致').show();
                setTimeout("$('#js-userinfo-error').hide()", 2000);
            }
            else if ($("#tip").is(":checked")==false) {
                $('#js-userinfo-error').text('请阅读并确定是否接受注册协议!').show();
                setTimeout("$('#js-userinfo-error').hide()", 2000);
            }
            else {
                $("#smsType").removeAttr("name");
                console.log($('form#cell_regForm').serialize());
                $.ajax({
                    url: "/regist/submit",
                    dataType: 'json',
                    data: $('form#cell_regForm').serialize(),
                    type: 'POST',
                    success: function(data) {
                        $("#smsType").attr({"name": "smsType"});
                        console.log(data);
                        if (data==null || data=="") {
                            $('#js-userinfo-error').text("网络连接异常,请检查网络").show();
                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                        } else if(data.code === 200){
                            $('#js-userinfo-error').text("注册并登录成功!").show();
                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                            setTimeout(function(){
                                window.location.href = $("#uri").val();
                            }, 1500);
                        } else {
                            $('#js-userinfo-error').text(data.message).show();
                            setTimeout("$('#js-userinfo-error').hide()", 2000);
                        }
                    }
                });
            }
        });

        $(".delet-re").click(function() {
            $("input[id='password']").val("").focus(); // 清空并获得焦点
        });
        $(".delet-rese").click(function() {
            $("input[id='re_password']").val("").focus(); // 清空并获得焦点
        });

        /*显示密码*/
        var of = true;
        var of2 = true;
        $('.howl-reT').click(function(){
            $(this).toggleClass('bg2');
            if(of){
                $('.input-reseT').attr({'type':'text'});
                of = false;
            }else{
                $('.input-reseT').attr({'type':'password'});
                of = true;
            }
        });

        $('.howl-reB').click(function(){
            $(this).toggleClass('bg3');
            if(of2){
                $('.input-reseB').attr({'type':'text'});
                of2 = false;
            }else{
                $('.input-reseB').attr({'type':'password'});
                of2 = true;
            }
        });

        /*按下回车键事件*/
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                $('#btn-reg').click();
            }
        });

    });

</script>

