<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>注册 － 韩秘美</title>
    <link rel="stylesheet" href="/assets/stylesheets/login.css">
    <link rel="stylesheet" href="/assets/stylesheets/hp.css">
</head>
<body>
<div id="screen_wrap">
    <div class="nav_ban">
        <h1>设置新密码</h1>
        <a href="/login"><span class="icon-back" id="backBtn"></span></a>
        <!--<a href="/login"><span class="icon-user-title" id="userBtn"></span></a>		-->
    </div>
    <div class="login">
        <fieldset>
            <form id="cell_loginForm" method="post" onsubmit="return false" action="" >
                <dl class="list list-in">
                    <dd>
                        <dl>
                    <dd class="dd-padding">
                        <input id="cell_login_phonenum" class="input-weak" type="text" value="" maxlength="4" placeholder="请输入手机号">
                        <div class="cell_login_sms">

                        </div>
                    </dd>
                    <dd class="dd-padding">
                        <input id="cell_login_checkcode" class="input-weak two" type="text" placeholder="请输入验证码" name="email" value="" required="">
                        <button id="smsCode" type="button" class="code" disabled="disabled">获取验证码</button>
                    </dd>
                    <dd class="dd-padding">
                        <input id="password" class="input-weak" type="password" placeholder="请输入新密码" name="password" required="">
                    </dd>
                    <dd class="dd-padding">
                        <input id="password" class="input-weak" type="password" placeholder="请再次输入新密码" name="password" required="">
                    </dd>
                    <div class="cue">验证码输入错误</div>
                </dl>
                </dd>
                </dl>
            </form>
            <div class="submitBox">
                <input class="registBtn button" type="submit" value="完成">
            </div>
        </fieldset>
    </div>
</div>
<!--reference script region-->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</body>
</html>