@(path:String, sku:domain.CartSkuDto, orderId:Long)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请售后服务</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection"content="telephone=no, email=no" />
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/service.css"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/my.js"></script>
    <style>
        .pre-img{width:100px;height:100px;}
    </style>
</head>
<body>

<div id="loading">
    <img src="/assets/images/loading.gif"/>
</div>

<header class="head">
    <a href="@path" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>申请售后服务</h1>
</header>

<div class="fixed-box" style="position:fixed;width: 100%">
<div class="warp">
    <form id="cell_refForm" method="post" onsubmit="return false" action="/order/apply/refund" enctype="multipart/form-data">
    <div class="detail-box">
        <div>
            <a class="commodity">
                <div class="se-back">
                    <img src="@sku.getInvImg()" alt="">
                </div>

                <h2>@sku.getSkuTitle()</h2>
                <span class="commodity-rmb">￥@sku.getPrice()<i class="rmb color"></i>数量:<i class="number">@sku.getAmount()</i></span>
            </a>
        </div>

    </div>


    <div class="detail-box clearfix">
        <p>申请数量</p>
        <div class="detail-m clearfix">
            <a href="javascript:;" id="cut">-</a>
            <span class="num">@sku.getAmount()</span>
            <a href="javascript:;" class="last" id="add">+</a>
        </div>
        <p class="p-last">您最多可提供数量为@sku.getAmount()个</p>

    </div>

    <div class="detail-box">
        <p>问题描述</p>
        <div class="detail-m">
            <input class="detail-m-inp" type="text"  placeholder="请您在此描述详细问题" id="reason" name="reason"/>
        </div>

    </div>


    <div class="detail-box clearfix">
        <div class="detail-m clearfix">
            <div id="gallery" style="display:inline-block;">
                <!--<div>-->
                    <!--<img class="pre-img" src="">-->
                    <!--&lt;!&ndash;<img class="pre-img" src="http://img.hanmimei.com/users/photo/20160401/14594869510021.jpg">&ndash;&gt;-->
                <!--</div>-->
            </div>
            <span class="picture"><input type="file" class="face"></span>
        </div>
        <p class="p-last">您最多上传3张</p>
        <p>上传图片</p>
    </div>

    <div class="next btn">下一步</div>

    <div class="shade">
        <div class="box">
            <span class="box-hd">联系人信息</span>
            <ul>
                <li>
                    <span class="">联系人:</span>
                    <input type="text" class="input-rese" id="contactName" name="contactName"  required/></li>
                <li>
                    <span>联系人电话:</span>
                    <input type="text" class="input-rese" id="contactTel" name="contactTel" maxlength="11" required pattern="[1][345678]\d{9}"/>
                </li>
            </ul>

            <div class="box-btn btn">提交</div>

            <div class="hint" id="warn" style="display:none"></div>
        </div>

    </div>

        <input type="hidden" id="orderId" name="orderId" value="@orderId">
        <input type="hidden" id="skuId" name="skuId" value="@sku.getSkuId()">
        <input type="hidden" id="amount" name="amount" value="@sku.getAmount()">
    </form>

    <div class="hint" id="tip" style="display:none"></div>
</div>
</div>
@comContent()
</body>
</html>