<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/means.css">
    <link rel="stylesheet" href="/assets/stylesheets/install.css">

</head>

<body>

<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>设置</h1>

</header>

<div class="wap scope ">
    <section class="list">
        <p class="color">账号与安全</p>
        <div>
            <a href="/means" class="install-g">
                <i>个人资料</i>
                <span></span>
            </a>
        </div>
        <div>
            <a href="javascript:;" class="install-g">
                <i>修改密码</i>
                <span></span>
            </a>
        </div>
        <p class="color">韩秘美</p>
        <div>
            <a href="javascript:;" class="install-g">
                <i>关于韩秘美</i>
                <span></span>
            </a>
        </div>
        <div>
            <a href="javascript:;" class="install-g">
                <i>服务与条款</i>
                <span></span>
            </a>
        </div>

    </section>



</div>

<div class="footer">
  <span class="color">
    <i>韩秘美,只卖韩国正品!</i>
    <i>app首单立减10元</i>
  </span>
    <a href="javascript:;" class="bg">立即下载</a>

</div>

</body>
</html>