<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">

    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/means.css">
    <link rel="stylesheet" href="/assets/stylesheets/install.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/regist.css">
    <script>
        $(function() {
            $(document).on("click", ".tell", function() {
                $(".shade").show();
            });

            //弹框取消按钮
            $('.box-l').click(function(){
                $('.shade').hide();
            })

            //退出登录
            $(document).on("click", "#logout-btn", function() {
                window.location.href = "/logout";
            });
        });
    </script>

</head>

<body>

<header class="head">
    <a href="/myView" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>设置</h1>

</header>

<div class="wap scope ">
    <section class="list">
        <!--<p class="color">账号与安全</p>-->
        <!--<div>-->
            <!--<a href="/means" class="install-g">-->
                <!--<i>个人资料</i>-->
                <!--<span></span>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a href="javascript:;" class="install-g">-->
                <!--<i>修改密码</i>-->
                <!--<span></span>-->
            <!--</a>-->
        <!--</div>-->
        <div>
            <a href="/aboutus" class="install-g">
                <i>关于韩秘美</i>
                <span></span>
            </a>
        </div>
        <div>
            <a href="/tickling" class="install-g">
                <i>意见反馈</i>
                <span></span>
            </a>
        </div>
        <div>
            <a class="install-g tell">
                <i>联系我们</i>
                <span></span>
            </a>
        </div>
        <div>
            <a href="javascript:;" class="install-g">
                <i>服务与条款</i>
                <span></span>
            </a>
        </div>

    </section>

    <button type="button" id="logout-btn" style="width:90%;margin: 30px 5%;background: #E66255;border-radius: 2px">退出登录</button>

    <div class="shade">
        <div class="box">
            <span>拨打客服电话400100108888</span>
            <div class="box-a">
                <a href="javascript:;" class="box-l">取消</a>
                <a href="tel:400100108888" class="box-r" style="background-color:#E46359;color:#fff;">拨打</a>
            </div>
        </div>
    </div>

</div>

<div class="footer">
  <span class="color">
    <i>韩秘美,只卖韩国正品!</i>
    <i>app首单立减10元</i>
  </span>
    <a href="javascript:;" class="bg">立即下载</a>

</div>

</body>
</html>