@(openType:String,couponUrlPrefix:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KakaoGift 热流来袭 正品低价 注册领券更优惠</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/gather.css"/>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script>

    function couponRec(recCouponId){
            var obj=new Object();
        obj.recCouponId=recCouponId;
        $.ajax({
                type: 'POST',
                url: "/coupons/rec",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(obj),
                error : function(request) {
                },
                success: function(data) {
                      if (data!=null){ //成功
                            if(data.code==200){
                             //   $(".cue").show();
                             //   setInterval(function(){$(".cue").hide();},3000);
                             tip(data.message);
                            }else if(data.code==5006) { //您还未登录,请先登录
                                    setTimeout("location.href='"+data.message+"'", 2000);//您还未登录,请先登录
                            }else{
                                tip(data.message);
                            }
                       }else {
                            tip("操作失败请重新尝试");
                       }
                }
        });
    };

    //APP获取优惠券
    function couponApp(urlPrefix,recCouponId){
            setTimeout(function () {
                        try {
                            getCouponIos(urlPrefix+recCouponId);
                        } catch (err) {
                            window.android.getCoupon(urlPrefix+recCouponId);
                        } finally {

                        }
                    }, 1000);
    }


    </script>

</head>
<body>
@if(openType=="M"||openType=="m"){
    @headerH5("KakaoGift 领券享优惠")
}

<div class="warp scope">
    <div class="con">
        <img src="/assets/images/groom/favourable01.png"/>
        <img src="/assets/images/favourable02.png"/>
        <img src="/assets/images/groom/favourable04.png"/>
        <img src="/assets/images/groom/favourable05.png"/>
        <img src="/assets/images/groom/favourable06.png"/>
        <img src="/assets/images/groom/favourable07.png"/>
        <img src="/assets/images/groom/favourable08.png"/>
        <img src="/assets/images/groom/favourable09.png"/>
        <img src="/assets/images/groom/favourable10.png"/>
        @if(openType=="M"||openType=="m"){
            <a href="javascript:;" class="favouone" onclick="couponRec(888018)"></a>
        }else{
            <a href="javascript:;" class="favouone" onclick="couponApp('@couponUrlPrefix','888018')"></a>
        }
        @if(openType=="M"||openType=="m"){
            <a href="javascript:;" class="favoutwo" onclick="couponRec(888018)"></a>
        }else{
            <a href="javascript:;" class="favoutwo" onclick="couponApp('@couponUrlPrefix','888018')"></a>
        }
    </div>

    <!--<div class="cue">-->
        <!--<p class="txt">恭喜你获得<span>20元</span>优惠券</p>-->
        <!--<p class="coupon-deta">有效期 <span>2016-07-28</span> 至 <span>2016-08-27</span></p>-->
    <!--</div>-->

</div>
@comContent()
</body>
</html>