@(openType:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>不用去韩国,韩国本土面膜一样到手</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no"/>
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/gather.css"/>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
@if(openType=="M"||openType=="m"){
    @headerH5("面膜专场")
}

<div class="warp scope">
    <div class="con">

        <img src="/assets/images/groom/groomthree_01.png"/>
        <a href="https://m.kakaogift.cn/detail/item/888015/111014" class="redirect-app">
          <img src="/assets/images/groom/groomthree_02.png"/>
        </a>
        <a href="https://m.kakaogift.cn/detail/item/888228/111184" class="redirect-app">
            <img src="/assets/images/groom/groomthree_03.png"/>
        </a>
        <a href="https://m.kakaogift.cn/detail/item/888030/111026" class="redirect-app">
            <img src="/assets/images/groom/groomthree_04.png"/>
        </a>
    </div>

</div>

</body>
</html>