@(openType:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>面膜专场</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/gather.css"/>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
@if(openType=="M"||openType=="m"){
@headerH5("后 尽享皇后的高贵")
}
<div class="warp scope">
    <div class="con">
        <img src="/assets/images/groom/groomsix_01.png"/>
        <img src="/assets/images/groom/groomsix_02.png"/>
        <img src="/assets/images/groom/groomsix_03.png"/>
        <img src="/assets/images/groom/groomsix_04.png"/>
        <img src="/assets/images/groom/groomsix_05.png"/>
        <img src="/assets/images/groom/groomsix_06.png"/>
        <img src="/assets/images/groom/groomsix_07.png"/>

        <a href="/detail/item/888507/111854" class="groomsix-o redirect-app"></a>
        <a href="/detail/item/888501/111850" class="groomsix-t redirect-app"></a>
        <a href="/detail/item/888504/111852" class="groomsix-s redirect-app"></a>
        <a href="/detail/item/888522/111316" class="groomsix-f redirect-app"></a>
        <a href="/detail/item/888312/111864" class="groomsix-fv redirect-app"></a>
        <a href="/detail/item/888519/111862" class="groomsix-six redirect-app"></a>
        <a href="/detail/item/888516/111860" class="groomsix-se redirect-app"></a>
        <a href="/detail/item/888312/111316" class="groomsix-ev redirect-app"></a>
        <a href="/detail/item/888528/111868" class="groomsix-n redirect-app"></a>
        <a href="/detail/item/888531/111870" class="groomsix-ten redirect-app"></a>

   <!--建议使用顺序1-->
        <a href="/detail/item/888495/111846" class="order-o redirect-app"></a>
        <a href="/detail/item/888510/111856" class="order-t redirect-app"></a>
        <a href="/detail/item/888492/111844" class="order-s redirect-app"></a>
        <a href="/detail/item/888501/111850" class="order-f redirect-app"></a>
        <a href="/detail/item/888504/111852" class="order-fv redirect-app"></a>
        <a href="/detail/item/888534/111872" class="order-six redirect-app"></a>
        <a href="/detail/item/888498/111848" class="order-se redirect-app"></a>


        <!--建议使用顺序2-->
        <a href="/detail/item/888522/111864" class="order-to redirect-app"></a>
        <a href="/detail/item/888513/111858" class="order-tt redirect-app"></a>
        <a href="/detail/item/888519/111862" class="order-ts redirect-app"></a>
        <a href="/detail/item/888516/111860" class="order-tf redirect-app"></a>


        <!--建议使用顺序3-->
        <a href="/detail/item/888525/111866" class="order-so redirect-app"></a>
        <a href="/detail/item/888531/111870" class="order-st redirect-app"></a>
        <a href="/detail/item/888528/111868" class="order-ss redirect-app"></a>


    </div>

</div>
@comContent()
</body>
</html>