@(openType:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3ce兰芝口红</title>
    <!-- 视图窗口，移动端特属的标签。 -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- 忽略页面中的数字识别为电话号码,email识别 -->
    <meta name="format-detection"content="telephone=no, email=no"/>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/stylesheets/global.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/gather.css"/>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
@if(openType=="M"||openType=="m"){
@headerH5("3ce兰芝口红")
}
<div class="warp scope">
    <div class="con">

        <img src="/assets/images/groom/h9_01.png"/>
        <img src="/assets/images/groom/h9_02.png"/>
        <img src="/assets/images/groom/h9_03.png"/>
        <img src="/assets/images/groom/h9_04.png"/>
        <img src="/assets/images/groom/h9_05.png"/>
        <img src="/assets/images/groom/h9_06.png"/>

        <a href="/detail/item/888561/111964" class="hs-o"></a>
        <a href="/detail/item/888561/111966" class="hs-t"></a>
        <a href="/detail/item/888561/111976" class="hs-s"></a>
        <a href="/detail/item/888561/111970" class="hs-f"></a>
        <a href="/detail/item/888561/111958" class="hs-fv"></a>
        <a href="/detail/item/888558/112012" class="hs-six"></a>
        <a href="/detail/item/888558/111996" class="hs-se"></a>
        <a href="/detail/item/888558/112002" class="hs-ev"></a>
        <a href="/detail/item/888558/111998" class="hs-n"></a>
        <a href="/detail/item/888558/112002" class="hs-ten"></a>

    </div>

</div>
@comContent()
</body>
</html>