@(itemMain:domain.Item,itemFeaturesList:List[Array[Object]],pushList:List[List[domain.ThemeItem]],inventoryList:List[domain.Inventory],stockSize:Int,preImgList:List[List[String]],publicityList:List[String],url:String)
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>详情页 － 韩秘美</title>
	<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
	<link rel="stylesheet" href="/assets/stylesheets/detail.css">
	<script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/assets/javascripts/jquery/TouchSlide.1.1.js"></script>
	<script src="/assets/javascripts/detail.js"></script>
	<script src="/assets/javascripts/cartAmount.js"></script>
	<script src="/assets/javascripts/commonDetail.js"></script>
	<script>window.urlParam = "@url"</script>

</head>
<body>

<div id="loading">
	<img src="/assets/images/loading.gif"/>
</div>

<div id='screen_wrap'>

	<form id="settleForm" action="/settle" method="POST">
		<input type="hidden" name="buyNow" value="1"/>
		<div class="nav_ban_detail">
			<a href="javascript:window.history.back()" class="back">
				<i></i>
				<b></b>
			</a>
			<h1>商品详情</h1>
		</div>
		<div class="picture_wrap">
			@for((inventory,index) <- inventoryList.zipWithIndex){
				@if(inventory.getOrMasterInv()){
					<div class="item now">
						<div class="hiddenInput">
							<input type="hidden" name="invCustoms0" value="@inventory.getInvCustoms()"/>
							<input type="hidden" name="invArea0" value="@inventory.getInvArea()"/>
							<input type="hidden" name="invAreaNm0" value="@inventory.getInvAreaNm()"/>
							<input type="hidden" name="skuId0-0" value="@inventory.getId()"/>
							<input type="hidden" name="skuType0-0" value="@inventory.getSkuType()"/>
							<input type="hidden" name="skuTypeId0-0" value="@inventory.getSkuTypeId()"/>
							<input type="hidden" name="skuTitle0-0" value="@inventory.getInvTitle()"/>
							<input type="hidden" name="skuInvImg0-0" value="@inventory.getInvImg()"/>
							<input type="hidden" name="state0-0" value="@inventory.getState()"/>
							<input type="hidden" name="skuPrice0-0" value="@inventory.getItemPrice()"/>
						</div>

				}
				@if(!inventory.getOrMasterInv()){
					<div class="item">
						<div class="hiddenInput">
							<input type="hidden" name="invCustoms0" value="@inventory.getInvCustoms()" disabled="disabled"/>
							<input type="hidden" name="invArea0" value="@inventory.getInvArea()" disabled="disabled"/>
							<input type="hidden" name="invAreaNm0" value="@inventory.getInvAreaNm()" disabled="disabled"/>
							<input type="hidden" name="skuId0-0" value="@inventory.getId()" disabled="disabled"/>
							<input type="hidden" name="skuType0-0" value="@inventory.getSkuType()" disabled="disabled"/>
							<input type="hidden" name="skuTypeId0-0" value="@inventory.getSkuTypeId()" disabled="disabled"/>
							<input type="hidden" name="skuTitle0-0" value="@inventory.getInvTitle()" disabled="disabled"/>
							<input type="hidden" name="skuInvImg0-0" value="@inventory.getInvImg()" disabled="disabled"/>
							<input type="hidden" name="state0-0" value="@inventory.getState()" disabled="disabled"/>
							<input type="hidden" name="skuPrice0-0" value="@inventory.getItemPrice()" disabled="disabled"/>
						</div>
				}

						<div id="slideBox@index" class="slideBox">

							<div class="bd">
								<ul>
									@for(imgUrl <- preImgList.get(index)){
										<li>
											<a class="pic" href="#"><img src="@imgUrl"/></a>

										</li>
									}
								</ul>
							</div>

							<div class="hd">
								<ul></ul>
							</div>
						</div>
						<div class="sku-meta box">
							<div class="sku-title">
								@if(inventory.getItemDiscount().toString() != "0"){
									<span class="u-detail-discount">[ @inventory.getItemDiscount()折 ]</span>
								}
								<span>@inventory.getInvTitle()</span>
							</div>
							<p class="u-detail-pricebox clearfix">
								<span class="u-detail-price"><i>¥</i>@inventory.getItemPrice()</span>
								@if(inventory.getItemDiscount().toString() != "0"){
									<span class="u-detail-mprice">¥@inventory.getItemSrcPrice()</span>
								}
								<span class="three">@inventory.getInvAreaNm()</span>
							</p>
							<section class="thw-detail-other" style="margin-bottom: 2px;">
								<span class="one">
									<span class="xian">限</span>
									<span class="xian-j">@inventory.getRestrictAmount()件</span>
								</span>
								@if(inventory.getInvArea()=="K"){
									<span class="four directSpec" style="text-decoration: underline">直邮税</span>
								}
								@if(inventory.getInvArea()!="K"){
									<span class="four" style="text-decoration: underline">行邮税  @inventory.getPostalTaxRate()%</span>
								}
							</section>
						</div>
					</div>
			}
			<script type="text/javascript">
				for(var i=0;i<@stockSize;i++){
					var sliderName = "#slideBox" + i;
					TouchSlide({
						slideCell:sliderName,
						titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
						mainCell:".bd ul",
						effect:"leftLoop",
						autoPage:true //自动分页
					});
				}
			</script>
		</div>
		<!--标题-->
		<div class="sku-meta">
			<!--正品保障-->
			<div class="classify clearfix">
				<span>规格</span>
				<ul>
					@for(inventory <- inventoryList){
						@if(inventory.getOrMasterInv()){
							@if(inventory. getState() == "D" || inventory. getState() == "N" || inventory. getState() == "K"){
								<li class="sel-none" style="color:#DDD;">@inventory.getItemColor()</li>
							}else{
								<li class="current" id="master-sku">@inventory.getItemColor()</li>
							}
						}else{
							@if(inventory. getState() == "D" || inventory. getState() == "N" || inventory. getState() == "K"){
								<li class="sel-none" style="color:#DDD;">@inventory.getItemColor()</li>
							}else{
								<li>@inventory.getItemColor()</li>
							}
						}
						<!--@if(!inventory.getOrMasterInv()){-->
						<!--<li>@inventory.getItemColor()</li>-->
						<!--}-->
					}
				</ul>
			</div>
			<div class="sale">
				@for(publicity <- publicityList){
					<p>@publicity</p>
				}
			</div>
		</div>

		<!-- 切换tab -->
		<div class="detail-tabpanel">
			<div class="tabpanel-occupying" id="TabpanelOccupying">
				<!-- 标签 -->
				<nav class="tabpanel-tabs center">
					<ul>
						<li class="tab-item active pic-tex current"> <span class='tab-span'>图文详情</span> <i></i> </li>
						<li class="tab-item goods-para"> <span class='tab-span'>商品参数</span> <i></i> </li>
						<li class="tab-item hot-sale"> <span>热卖推荐</span> <i></i> </li>
					</ul>
				</nav>
			</div>
		</div>


		<!-- 详情图片 -->

		<div class="sku-measure01">
			@Html(itemMain.getItemDetailImgs())
		</div>

		<!-- 参数 -->
		<div class='sku-measure'>
			<div class="parameter-wrap">
				<p class="dc_tit" id="J_proParam_scroll">商品参数<!--<i class="far">Detail</i>--></p>


				<div class="param-list">
					<ul>
						@for(feature <- itemFeaturesList){
							<li>
								<span class="param-name">@feature(0)</span>
								<p class="param-info">@feature(1)</p>
							</li>
						}
					</ul>
				</div>
			</div>
		</div>
		<div class="hot">
			<p class="hot-hd">热卖商品</p>
			<ul class="product">

				<!--<li>-->
					<!--<a href="/detail/item/888356/111396">-->
						<!--<p class="figure figure-f">-->
							<!--<span>该商品已售罄</span>-->
							<!--<img src="http://img.hanmimei.com/de5a2f21a057478cb432fe4f9e903ed71451370005389.jpg">-->
						<!--</p>-->
						<!--<p class="title-hd">韩秘美 Crystalshop 施华洛世奇水晶 wendy温蒂爱的花环银饰</p>-->
					   <!--<span class="title-fd">-->
						   <!--<i class="naw">￥308</i>-->
						   <!--<i class="agio">￥308</i>-->
						   <!--<b>0折</b>-->
					   <!--</span>-->
					<!--</a>-->

					<!--<a href="/detail/item/888351/111387">-->
						<!--<p class="figure figure-f">-->
							<!--<img src="http://img.hanmimei.com/7b557e46bded43358f6d06c8f0a10dbc1451370164326.jpg">-->
						<!--</p>-->
						<!--<p class="title-hd">韩秘美 Crystalshop 施华洛世奇 水晶巨星闪耀单钻银饰</p>-->
					   <!--<span class="title-fd">-->
						   <!--<i class="naw">￥228</i>-->
						   <!--<i class="agio">￥228</i>-->
						   <!--<b>0折</b>-->
					   <!--</span>-->
					<!--</a>-->
                 <!--</li>-->


				@for(rowList <- pushList){
					<li>
						@for(pushItem <- rowList){
							@if(pushItem.getItemType() == "item" || pushItem.getItemType() == "vary" || pushItem.getItemType() == "customize"){
								<a href="/detail/@pushItem.getItemUrl()">
									<p class="figure figure-f">
										@if(!(pushItem.getState() == "Y" || pushItem.getState() == "P")){
											<span>该商品已售罄</span>
										}
									   <img src="@pushItem.getItemImg()">
									</p>
									<p class="title-hd">@pushItem.getItemTitle()</p>
									   <span class="title-fd">
										   <i class="naw">￥@pushItem.getItemPrice()</i>
										   @if(pushItem.getItemDiscount().toString() != "0"){
										   		<i class="agio">￥@pushItem.getItemSrcPrice()</i>
										   		<b>@pushItem.getItemDiscount()折</b>
										   }
									   </span>
								</a>
							}
							@if(pushItem.getItemType() == "pin"){
								<a href="/detail/@pushItem.getItemUrl()">
									<p class="product-box">
										<span class="product-top">@pushItem.getEndAt()</span>
									</p>
									<p class="figure figure-f">
										<img src="@pushItem.getItemImg()">
									</p>
									<p class="title-hd">@pushItem.getItemTitle()</p>
							   <span class="title-fd">
								   <i class="naw">￥@pushItem.getItemPrice()</i>
								   @if(pushItem.getItemDiscount().toString() != "0"){
								   		<i class="agio">￥@pushItem.getItemSrcPrice()</i>
								   		<b>@pushItem.getItemDiscount()折</b>
								   }
							   </span>
								</a>
							}
						}
					</li>
				}

				<!--<li>-->
					<!--<a href="/detail">-->
						<!--<p class="product-box">-->
							<!--<span class="product-top">已结束</span>-->
						<!--</p>-->
						<!--<img src="/assets/images/HMM&#45;&#45;list_01.jpg">-->
						<!--<p class="title-hd">德国原产 深层修护经典护手霜100ml</p>-->
					   <!--<span class="title-fd">-->
						   <!--<i class="naw">￥75.00</i>-->
						   <!--<i class="agio">￥125.00</i>-->
						   <!--<b>5.6折</b>-->
					   <!--</span>-->
					<!--</a>-->
					<!--<a href="javascript:;">-->
						<!--<p class="product-box">-->
							<!--<span class="product-top">截止7月14日下午14:00</span>-->
						<!--</p>-->
						<!--<img src="/assets/images/HMM&#45;&#45;list_01.jpg">-->
						<!--<p class="title-hd">德国原产 深层修护经典护手霜100ml</p>-->
					   <!--<span class="title-fd">-->
						   <!--<i class="naw">￥75.00</i>-->
						   <!--<i class="agio">￥125.00</i>-->
						   <!--<b>5.6折</b>-->
					   <!--</span>-->
					<!--</a>-->
				<!--</li>-->

				<!--<li>-->
					<!--<a href="/detail"><img src="/assets/images/HMM&#45;&#45;list_01.jpg">-->
						<!--<p class="title-hd">德国原产 深层修护经典护手霜100ml</p>-->
					   <!--<span class="title-fd">-->
						   <!--<i class="naw">￥75.00</i>-->
						   <!--<i class="agio">￥125.00</i>-->
						   <!--<b>5.6折</b>-->
					   <!--</span>-->
					<!--</a>-->
					<!--<a href="javascript:;"><img src="/assets/images/HMM&#45;&#45;list_01.jpg">-->
						<!--<p class="title-hd">德国原产 深层修护经典护手霜100ml</p>-->
					   <!--<span class="title-fd">-->
						   <!--<i class="naw">￥75.00</i>-->
						   <!--<i class="agio">￥125.00</i>-->
						   <!--<b>5.6折</b>-->
					   <!--</span>-->
					<!--</a>-->
				<!--</li>-->
			</ul>
		</div>
		<!--加入购物车-->
		<div class="buy_box">

				<div class="finish-box" style="display:none">
					该商品已售罄
				</div>

			<div class="love">
				<div id="shopCart">
					<a href="/cart" class="message_list shopping">
						<i class="message"></i>
						<span class="cart_num" id="cartAmountSpan">0</span>
					</a>
				</div>

				<!--收藏-->
				<a href="javascript:;" class="like">

					@for((inventory) <- inventoryList){
					<div>
						@if(inventory.getOrMasterInv()){
							<input class="collectId" value="@inventory.getCollectId()" style="display:none">
							@if(inventory.getCollectId() != 0){
								<span class="soul now min"></span>
							}
							@if(inventory.getCollectId() == 0){
								<span class="soul now"></span>
							}
						}
						@if(!inventory.getOrMasterInv()){
							<input class="collectId" value="@inventory.getCollectId()" style="display:none">
							@if(inventory.getCollectId() != 0){
								<span class="soul min"></span>
							}
							@if(inventory.getCollectId() == 0){
								<span class="soul"></span>
							}
						}
					</div>
					}
					<i class="like-s">收藏成功</i>
					<i class="like-x">取消收藏</i>
				</a>

			</div>

			<div class="add_cart btns" data-type="cart">
				<a href="javascript:;" class="btnCart add_cart_large cartAdd">
					加入购物车
				</a>
			</div>

			<div class="buy_btn" data-type="buy">
				<a href="javascript:;" class="mabuy">
					立即购买
				</a>
			</div>

			<div id="flyItem" class="fly_item">
				<img src="/assets/images/gouwu.jpg" width="25" height="25" id="flyImgId" style="z-index:1;"/>
			</div>
		</div>
		<!--加入购物车 end-->

		<div class="top top-b">
			<img src="/assets/images/backtop.png">
		</div>
	</div>
	<input type="hidden" id="curUrl" name="curUrl" value="" />
	<input type="hidden" id="isCanBuy" value="1" />
	</form>
</div>
<!--购物车-->
<script type="text/javascript" src="/assets/javascripts/jquery/jquery.js"></script>
<!--[if lte IE 8]>
<script src="/assets/javascripts/jquery/ieBetter.js"></script>
<![endif]-->
<script type="text/javascript" src="/assets/javascripts/jquery/parabola.js"></script>
<!--
<script type="text/javascript">

	// 元素以及其他一些变量
	var eleFlyElement = document.querySelector("#flyItem"), eleShopCart = document.querySelector("#shopCart");
	// 抛物线运动
	var myParabola = funParabola(eleFlyElement, eleShopCart, {
		speed:30, //抛物线速度
		curvature: 0.0090, //控制抛物线弧度
		complete: function() {
			eleFlyElement.style.visibility = "hidden";
			var numberItem = parseInt($("#cartAmountSpan").html());
			eleShopCart.querySelector("span").innerHTML = ++numberItem;
		}
	});
	// 绑定点击事件
	if (eleFlyElement && eleShopCart) {

		[].slice.call(document.getElementsByClassName("btnCart")).forEach(function(button) {
			button.addEventListener("click", function(event) {
				var src = $(this).parents(".cycle-slideshow").find('.slide-img').find("img").attr("src");
				$("#flyItem").find("img").attr("src", src);
				// 滚动大小
				var scrollLeft = document.documentElement.scrollLeft || document.body.scrollLeft || 0,
						scrollTop = document.documentElement.scrollTop || document.body.scrollTop || 0;
				//eleFlyElement.style.left = event.clientX + scrollLeft + "px";
				//eleFlyElement.style.top = event.clientY + scrollTop + "px";
				eleFlyElement.style.visibility = "visible";

				// 需要重定位
				myParabola.position().move();
			});
		});
	}

</script>
-->
<div class="hint" id="tip"></div>
<div class="shade">
	<div class="shade-box">
		<div class="shade-hd">行邮税费用</div>
		<div class="shade-midd">30.00</div>
		<div class="shade-bottom">本商品适用税率为0%,若该保税仓总税额<50则免征(税额 = 单价 × 数量 × 税率</div>
		<div class="shade-btn">确定</div>
	</div>
</div>

<div id="directSpecDiv" style="display:none">
	<div class="shade-box">
		<div class="shade-hd">直邮费用说明</div>
		<div class="shade-midd">0.00</div>
		<div class="shade-bottom">直邮物品在海关处依据实际情况分为三类：物品1、2、3。其中物品1、2是属于个人物品，物品价值1000元以下免税，超过1000元，按照20%的进口综合税征收税费。如果被判定为物品3，也就是贸易物品（商业贸易入关），则需要征收17%的增值税和0-10%不等的关税。</div>
		<div class="shade-btn">确定</div>
	</div>
</div>

</body>

</html>