<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>详情页 － 韩秘美</title>
	<link rel="stylesheet" href="/assets/stylesheets/detail.css">
	<script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
	<script src="/assets/javascripts/jquery/TouchSlide.1.1.js"></script>
	<script src="/assets/javascripts/detail.js"></script>
	<script>
		window.onload = function(){
			var oSp = document.getElementById()

		}
	</script>

</head>


<body>
<div id='screen_wrap'>
	<div class="picture_wrap">
		<div class="nav_ban_detail">
			<a href="/pin/list" class="back">
				<i></i>
				<b></b>
			</a>
			<h1>秋季新品甜美两件套秋季新品甜美两件套</h1>


		</div>

		<!-- Start ================================ -->
		<div id="slideBox" class="slideBox">

			<div class="bd">
				<ul>
					<li>
						<a class="pic" href="#"><img src="/assets/images/HMM&#45;&#45;detail02.jpg" /></a>

					</li>
					<li>
						<a class="pic" href="#"><img src="/assets/images/HMM&#45;&#45;detail02.jpg"/></a>

					</li>
					<li>
						<a class="pic" href="#"><img src="/assets/images/HMM&#45;&#45;detail02.jpg"/></a>
					</li>

				</ul>
			</div>

			<div class="hd">
				<ul></ul>
			</div>
		</div>
		<script type="text/javascript">
			TouchSlide({
				slideCell:"#slideBox",
				titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
				mainCell:".bd ul",
				effect:"leftLoop",
				autoPage:true //自动分页
			});
		</script>
		<!--End ================================ -->


		<!--加入购物车-->
		<div class="buy_box">
			<div class="love">
				<div id="shopCart">
					<a href="" class="message_list shopping">
						<i class="message"></i>
						<span class="cart_num">0</span>
					</a>
				</div>
				<!--收藏-->
				<a href="javascript:;" class="like">
					<span class="soul"></span>
					<i class="like-s">收藏成功</i>
					<i class="like-x">取消收藏</i>
				</a>

			</div>

			<div class="add_cart btns" data-type="cart">
				<a href="javascript:;" class="btnCart add_cart_large">
					加入购物车
				</a>
			</div>

			<div class="buy_btn" data-type="buy">
				<a href="/pay" class="">
					立即购买
				</a>
			</div>

			<div id="flyItem" class="fly_item">
				<img src="/assets/images/gouwu.jpg" width="25" height="25"/>
			</div>
		</div>
		<!--加入购物车 end-->

		<div class="custom-pager">


		</div>

	</div>
	<!--标题-->
	<div class="sku-meta">
		<div class="sku-meta box">
			<div class="sku-title">秋季新品学院风甜美两件套</div>
			<p class="u-detail-pricebox clearfix">
				<span class="u-detail-price"><i>¥</i>88</span>
				<span class="u-detail-mprice">¥125</span>
				<span class="u-detail-discount">5.6折</span>
			</p>
			<section class="thw-detail-other" style="margin-bottom: 2px;">
				<span class="one">快递 <i>免运费</i></span>
				<span class="two">月销<i>2000笔</i></span>
				<span class="three">杭州保税仓直邮</span>
			</section>
		</div>

		<!--正品保障-->
		<div class="classify">
			<span>规格</span>
			<ul>
				<li>经典200ml</li>

			</ul>
		</div>
		<div class="sale">
			<p>全场满299减30</p>
			<p>全场满299减30</p>
			<p>全场满299减30</p>
			<p>全场满299减30</p>
		</div>
		<!--<div class="detail-service">
			<ul class="u-detail-introduce">
				<li>
					<i class="u-icon-intro"></i>
					<span class="">韩国正品</span>
				</li>
				<li>
					<i class="u-icon-time"></i>
					<span class="">韩国货源</span>
				</li>
				<li>
					<i class="u-icon-pack"></i>
					<span class="">韩国直供</span>
				</li>
				<li>
					<i class="u-icon-quick"></i>
					<span class="">快速清关</span>
				</li>
			</ul>
		</div>-->


	</div>


	<!-- 切换tab -->
	<div class="detail-tabpanel">
		<div class="tabpanel-occupying" id="TabpanelOccupying">
			<!-- 标签 -->
			<nav class="tabpanel-tabs center">
				<ul>
					<li class="tab-item active pic-tex current"> <span class='tab-span'>图文详情</span> <i></i> </li>
					<li class="tab-item goods-para"> <span class='tab-span'>商品参数</span> <i></i> </li>
					<li class="tab-item hot-sale"> <span>热卖推荐</span> <i></i> </li>
				</ul>
			</nav>
		</div>
	</div>

	<!-- 详情图片 -->
	<div class="conner">
		<img src="/assets/images/img1.png"/>
		<img src="/assets/images/img2.png"/>

	</div>
	<div class="sku-measure01">
		<img src="/assets/images/img3.png"/>
		<img src="/assets/images/img4.png"/>
		<img src="/assets/images/img5.png"/>
		<img src="/assets/images/img6.png"/>
		<img src="/assets/images/img7.png"/>
		<img src="/assets/images/img8.png"/>
	</div>
	<div class='sku-measure'>
		<div class="parameter-wrap">
			<p class="dc_tit" id="J_proParam_scroll">商品参数<!--<i class="far">Detail</i>--></p>

			<!-- 参数 -->
			<div class="param-list">
				<ul>
					<li>
						<span class="param-name">鞋面材质</span>
						<p class="param-info">头层牛皮</p>
					</li>
					<li>
						<span class="param-name">内里材质</span>
						<p class="param-info">人造短毛绒</p>
					</li>
					<li>
						<span class="param-name">皮质特征</span>
						<p class="param-info">磨砂皮</p>
					</li>
					<li>
						<span class="param-name">鞋头</span>
						<p class="param-info">尖头</p>
					</li>
					<li>
						<span class="param-name">跟高</span>
						<p class="param-info">中跟(3-5cm)</p>
					</li>
					<li>
						<span class="param-name">鞋跟款式</span>
						<p class="param-info">粗跟</p>
					</li>
					<li>
						<span class="param-name">闭合方式</span>
						<p class="param-info">套筒</p>
					</li>
					<li>
						<span class="param-name">流行元素</span>
						<p class="param-info">擦色</p>
					</li>
					<li>
						<span class="param-name">鞋底材质</span>
						<p class="param-info">木底</p>
					</li>
				</ul>
			</div>
			<!-- 尺码图片 -->  <!-- 尺码图片 -->
		</div>
	</div>
	<div class="hot">
		<p class="hot-hd">热卖商品</p>
		<ul class="product">
			<li>
				<a href="/detail">
					<p class="product-box">
						<span class="product-top">已结束</span>
					</p>
					<img src="/assets/images/HMM--list_01.jpg">
					<p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
				</a>
				<a href="javascript:;">
					<p class="product-box">
						<span class="product-top">截止7月14日下午14:00</span>
					</p>
					<img src="/assets/images/HMM--list_01.jpg">
					<p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
				</a>
			</li>

			<li>
				<a href="/detail"><img src="/assets/images/HMM--list_01.jpg">
					<p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
				</a>
				<a href="javascript:;"><img src="/assets/images/HMM--list_01.jpg">
					<p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
				</a>
			</li>




		</ul>
	</div>

	<div class="top">
		<img src="/assets/images/top.png">
	</div>
</div>
<div class="toup">
	<div class="bd"></div>
	<div class="con">
		<h3>该活动已结束，去看看其他拼购吧</h3>
		<div class="conaddr">
			<div>
				<div class="item">
					<div>
						<span>拼</span>
						<p>截止3月17日下午5:16</p>
					</div>
					<div>
						<img src="/assets/images/banner_03.jpg" alt="">
					</div>
					<div>
						<p>韩秘美 Crystalshop 施华洛世奇水晶。。。</p>
					</div>
				</div>
				<div class="item">
					<div>
						<span>拼</span>
						<p>截止3月17日下午5:16</p>
					</div>
					<div>
						<img src="/assets/images/banner_03.jpg" alt="">
					</div>
					<div>
						<p>韩秘美 Crystalshop 施华洛世奇水晶。。。</p>
					</div>
				</div>
				<div class="item">
					<div>
						<span>拼</span>
						<p>截止3月17日下午5:16</p>
					</div>
					<div>
						<img src="/assets/images/banner_03.jpg" alt="">
					</div>
					<div>
						<p>韩秘美 Crystalshop 施华洛世奇水晶。。。</p>
					</div>
				</div>
				<div class="item">
					<div>
						<span>拼</span>
						<p>截止3月17日下午5:16</p>
					</div>
					<div>
						<img src="/assets/images/banner_03.jpg" alt="">
					</div>
					<div>
						<p>韩秘美 Crystalshop 施华洛世奇水晶。。。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!--购物车-->
<script type="text/javascript" src="/assets/javascripts/jquery/jquery.js"></script>
<!--[if lte IE 8]>
<script src="/assets/javascripts/jquery/ieBetter.js"></script>
<![endif]-->
<script type="text/javascript" src="/assets/javascripts/jquery/parabola.js"></script>
<script type="text/javascript">
	// 元素以及其他一些变量
	var eleFlyElement = document.querySelector("#flyItem"), eleShopCart = document.querySelector("#shopCart");
	var numberItem = 0;
	// 抛物线运动
	var myParabola = funParabola(eleFlyElement, eleShopCart, {
		speed:30, //抛物线速度
		curvature: 0.0090, //控制抛物线弧度
		complete: function() {
			eleFlyElement.style.visibility = "hidden";
			eleShopCart.querySelector("span").innerHTML = ++numberItem;
		}
	});
	// 绑定点击事件
	if (eleFlyElement && eleShopCart) {

		[].slice.call(document.getElementsByClassName("btnCart")).forEach(function(button) {
			button.addEventListener("click", function(event) {
				var src = $(this).parents(".cycle-slideshow").find('.slide-img').find("img").attr("src");
				$("#flyItem").find("img").attr("src", src);
				// 滚动大小
				var scrollLeft = document.documentElement.scrollLeft || document.body.scrollLeft || 0,
						scrollTop = document.documentElement.scrollTop || document.body.scrollTop || 0;
				//eleFlyElement.style.left = event.clientX + scrollLeft + "px";
				//eleFlyElement.style.top = event.clientY + scrollTop + "px";
				eleFlyElement.style.visibility = "visible";

				// 需要重定位
				myParabola.position().move();
			});
		});
	}
</script>




</body>

</html>