@scripts = {
}

@layout(title="韩秘美,专卖韩国正品")(scripts) {
<!--头部-->
<div class="header">
    <header class="head">
		<!--<span class="icon-search-title" id="searchBtn"></span>-->
		<h1>
			<a href="/homepage" class="logo"></a>
		</h1>
		<a href="/personal"><span class="icon-user-title" id="userBtn"></span></a>
		<a href="/" class="search"></a>
    </header>
</div>

<!--主体	-->
	<div id='screen_wrap'>

		<!--banner开始-->

		<!-- 本例主要代码 Start ================================ -->
		<div id="slideBox" class="slideBox">

			<div class="bd">
				<ul>
					<li>
						<a class="pic" href="#"><img src="/assets/images/HMM--01_02.jpg" /></a>
					</li>
					<li>
						<a class="pic" href="#"><img src="/assets/images/HMM--01_02.jpg"/></a>
					</li>
					<li>
						<a class="pic" href="#"><img src="/assets/images/HMM--01_02.jpg"/></a>
					</li>
					<li>
						<a class="pic" href="#"><img src="/assets/images/HMM--01_02.jpg"/></a>
					</li>
				</ul>
			</div>

			<div class="hd">
				<ul></ul>
			</div>
		</div>
		<script type="text/javascript">
			TouchSlide({
				slideCell:"#slideBox",
				titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
				mainCell:".bd ul",
				effect:"leftLoop",
				autoPage:true,//自动分页
				autoPlay:true //自动播放
			});
		</script>
		<!-- 本例主要代码 End ================================ -->

        <!--内容开始-->
		<div class="con">

               <div class="above">
				   <!--<div class="goods">
						<a href="/list"><img src="/images/banner_03.jpg"></a>
						<div class="good-illustrate">
							<div class="illustrate-box">
								<div class="illustrate-l">
									<div class="sale">
									&lt;!&ndash;	<span class="sale-rate">20</span><i>%</i>&ndash;&gt;
										<span class="sale-rate"></span>
										<i>打折率:</i>
									</div>
									<div class="money">
										<span class="money-raw">市场价:<i>￥600</i></span>
										<span class="now">折扣价:<i>￥480</i></span>
									</div>

								</div>
								<div class="illustrate-r">
									<span class="one">拼购打折<i>(最低)</i></span>
									<span class="two">2人拼购</span>
									<span class="three">￥400</span>
									<span class="four">已拼购2345人</span>
								</div>


							</div>
						</div>-->


					<a href="/list"><img src="/assets/images/HMM--index01.jpg"></a>
					<a href="/list"><img src="/assets/images/HMM--01_03.jpg"></a>
					<a href="/list"><img src="/assets/images/HMM--03.3_03.jpg"></a>
					<a href="/list"><img src="/assets/images/HMM--index01.jpg"></a>
					<a href="/list"><img src="/assets/images/HMM--01_03.jpg"></a>
					<a href="/list"><img src="/assets/images/HMM--03.3_03.jpg"></a>
			   </div>

			   <div class="more">点击加载更多</div>


			   <div class="later">
				   <a href="javascript:;"><img src="/assetsimages/HMM--01_06.jpg"></a>
				   <a href="javascript:;"><img src="/assetsimages/HMM--01_06.jpg"></a>
				   <a href="javascript:;"><img src="/assetsimages/HMM--01_06.jpg"></a>
				   <a href="javascript:;"><img src="/assetsimages/HMM--01_06.jpg"></a>
				   <a href="javascript:;"><img src="/assetsimages/HMM--01_06.jpg"></a>
				   <a href="javascript:;"><img src="/assetsimages/HMM--01_06.jpg"></a>
				   <a href="javascript:;"><img src="/assetsimages/HMM--01_06.jpg"></a>
			   </div>

		</div>
		<div class="top">
			<img src="/assets/images/top.png">
		</div>
</div>

}