@(sliderList:List[domain.Slider],sliderNavList:List[domain.SliderNav],themeList:List[domain.Theme],pageCount:Int)
@scripts = {
<link rel="stylesheet" href="/assets/stylesheets/hp.css">
<script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
<script src="/assets/javascripts/jquery/TouchSlide.1.1.js"></script>
<script src="/assets/javascripts/jquery/jquery-1.9.1.min.js"></script>
<script src="/assets/javascripts/hp.js"></script>
<script src="/assets/javascripts/cartAmount.js"></script>
<script src="/assets/javascripts/echo.min.js"></script>
<script>
	echo.init();

	$(document).ready(function() {
		var closeDownload=false;
		var arrStr = document.cookie.split("; ");
		for(var i = 0;i < arrStr.length;i ++){
			var temp = arrStr[i].split("=");
			if(temp[0] == "downloadState"){
				closeDownload=true;
			}
		}
		if(!closeDownload){
			$("#downloadDiv").show();
		}else{
			$("#downloadDiv").hide();
		  	$("#topDiv").addClass("top-bottom");
		}
	});

</script>

}

@layout(title="Kakao Gift,专卖韩国正品")(scripts){

<div id="loading">
	<img src="/assets/images/loading.gif"/>
</div>

<!--头部-->
	<div class="battener">
		<header class="batten">
			<!--<span class="icon-search-title" id="searchBtn"></span>-->
			<!--<h1>
				KakaoGift
			</h1>-->
			<img src="/assets/images/kakaogift_logo.png"/>
			<a href="/myView"><span class="icon-user-title" id="userBtn"></span></a>
			<a href="/cart" class="shopp">
				<span class="cart_num" id="cartAmountSpan"><i>0</i></span>
			</a>
		</header>
	</div>



<!--主体	-->



	<div id='screen_wrap'>

		<!--banner开始-->

		<!-- 本例主要代码 Start ================================ -->
		<div id="slideBox" class="slideBox">

			<div class="bd">
				<ul>
					@for(slider <- sliderList){

					    @if(null==slider.getTargetType()){
							<li>
								<a class="pic" href="javascript:;"><img src="@slider.getImg()" /></a>
							</li>
						}else {
							<li>
								<a class="pic" href="@slider.getItemTarget()"><img src="@slider.getImg()" /></a>
							</li>
						}

					}
				</ul>
			</div>

			<div class="hd">
				<ul></ul>
			</div>
		</div>
		<script type="text/javascript">
			TouchSlide({
				slideCell:"#slideBox",
				titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
				mainCell:".bd ul",
				effect:"leftLoop",
				autoPage:true,//自动分页
				autoPlay:true //自动播放
			});
		</script>
		<!-- 本例主要代码 End ================================ -->

		<!--分类模块-->
		<div class="classify">
			<ul class="clearfix">

				@for(slider <- sliderNavList){

					@if(null==slider.getTargetType()){
						<li>
							<a href="javascript:;"><img src="@slider.getImg()" /><span class="classify-text">@slider.getNavText()</span></a>
						</li>
					}else {
						<li>
							<a href="@slider.getItemTarget()"><img src="@slider.getImg()" /><span class="classify-text">@slider.getNavText()</span></a>
						</li>
					}

				}

			</ul>
		</div>
        <!--内容开始-->

		<div id="container">
			<ul class="col" id="col-bottom">
				@for(theme <- themeList){
					<li>
						<a href="@theme.getThemeUrl()">
							<!--标题和简介-->
							@if(null!=theme.getTitle()&&""!=theme.getTitle()){
								<h2 class="col-text">@theme.getTitle()</h2>
							}
							@if(null!=theme.getThemeConfigInfo()&&""!=theme.getThemeConfigInfo()){
								<span>@theme.getThemeConfigInfo()</span>
							}
							<img src="/assets/images/hp-320.png" data-echo="@theme.getThemeImg()"/>
						</a>

					</li>

				}
			</ul>
		</div>


		<script type="text/javascript">
			function getMinUl(){//每次获取最短的ul,将图片放到其后
				var $arrUl = $("#container .col");
				var $minUl =$arrUl.eq(0);
				$arrUl.each(function(index,elem){
					if($(elem).height()<$minUl.height()){
						console.log($(elem));
						$minUl = $(elem);
					}
				});
				return $minUl;
			}
			//url data function dataType
			function loadMeinv(count){
				var url = "/indexAjax/" + count;
				$.ajax({
					type: 'GET',
					url:  url,
					//data: JSON.stringify(pageCount), 
					contentType: "application/json; charset=utf-8",
					dataType: 'json',
					success: function(data) {
						if(data.length != 0){
							for(var i=0;i<data.length;i++){
								if(data[i].type == "ordinary"){
									var html = '<li><a href="/themeDetail/'+ data[i].themeUrl+ '"><img src="' + data[i].themeImg + '"/></a></li>';
									$minUl = getMinUl();
									$minUl.append(html);
								}
								if(data[i].type == "h5"){
									var html = '<li><a href='+ data[i].themeUrl+ '"><img src="' + data[i].themeImg + '"/></a></li>';
									$minUl = getMinUl();
									$minUl.append(html);
								}
							}
						}
					},
					error: function() {
						console.log("ajax get data fail!");
					}
				});
//					var data = 0;
//					for(var i=0;i<4;i++){//每次加载时模拟随机加载图片
//						data = parseInt(Math.random()*4);
//						var html = "";
//						html = '<li><img src =/assets/images/'
//								+data+'.jpg></li>';
//						$minUl = getMinUl();
//						$minUl.append(html);
//					}
			}

			$(function(){
				var currentPageCount = 2;
				//loadMeinv();

				$(window).on("scroll",function(){
					var pageCount = @pageCount;
					if(currentPageCount <= pageCount){
						$minUl = getMinUl();
						if($minUl.height() <= $(window).scrollTop()+$(window).height()){
							//当最短的ul的高度比窗口滚出去的高度+浏览器高度大时加载新图片
							loadMeinv(currentPageCount);
							currentPageCount = currentPageCount + 1;
						}
					}
				});
			})
		</script>

		<div class="top" id="topDiv"  style="display:none;">
			<img src="/assets/images/backtop.png">
		</div>
</div>

@download()

}