@(itemMain:domain.Item,itemFeaturesList:List[Array[Object]],pinInvDetail:domain.PinInvDetail,pushList:List[List[domain.ThemeItem]],preImgList:List[String],SoldOutPushList:List[domain.ThemeItem],url:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>详情页 － 韩秘美</title>
    <link rel="stylesheet" href="/assets/stylesheets/detail.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script src="/assets/javascripts/jquery/jquery-1.9.1.min.js"></script>
    <script src="/assets/javascripts/jquery/jquery.cycle2.min.js"></script>
    <script src="/assets/javascripts/jquery/jquery.cycle2.swipe.min.js"></script>
    <script src="/assets/javascripts/detail.js"></script>
    <script>window.urlParam = "@url"</script>

</head>

<body>
<form id="settleForm" action="/settle" method="POST">
<div id='screen_wrap' class="pin-wrap">
    <div class="picture_wrap">
        <div class="nav_ban_detail">
            <a href="javascript:window.history.back()" class="back">
                <i></i>
                <b></b>
            </a>
            <h1>商品详情</h1>
            <!--分享icon-->
            <div id="shopCart">
                <a href="" class="message_list shopping">
                    <i class="message"></i>
                </a>
            </div>
                @if(pinInvDetail.isSoldOut() == true){
                    <span class="finish">该商品已售罄</span>
                }

        </div>

        <div id='slide' class="cycle-slideshow composite-slide"
             data-cycle-slides="> div.slide-img"
             data-cycle-fx="scrollHorz"
             data-cycle-pause-on-hover="true"
             data-cycle-speed=400
             data-cycle-timeout=0
             data-cycle-next="#next"
             data-cycle-manual-fx="scrollHorz"
             data-cycle-manual-speed="200"
             data-cycle-swipe=true
             data-cycle-swipe-fx=scrollHorz
             data-cycle-pager=".custom-pager"
             data-cycle-pager-event="mouseover"
        >
            <div class="cycle-pager"></div>
            <div class="item now">
                <input id="skuId" value="@pinInvDetail.getId()" style="display:none">
                <input id="skuType" value="@pinInvDetail.getSkuType()"  style="display:none">
                <input id="skuTypeId" value="@pinInvDetail.getSkuTypeId()" style="display:none">
            </div>
            @for(img <- preImgList){
                <div class='slide-img'>
                    <img src='@img' style='display: block;' width='100%'>
                </div>
           }
        </div>


        <div class="custom-pager"></div>

    </div>
    <!--标题-->
    <div class="sku-meta pin-hd">
        <div class="sku-title pin-title">
            <h2>@pinInvDetail.getPinTitle()</h2>
            <p class="num">已售: @pinInvDetail.getSoldAmount()件</p>
        </div>

        <div class="txt">
            <span class="txt-pay">支付开团并邀请2人参团,人数不足自动退款,详见下方拼团玩法</span>
            <div class="diamond">
                @if(pinInvDetail.isSoldOut() != true){
                    <a href="/pinTieredPrice/@url" class="mabuy">
                }
                @if(pinInvDetail.isSoldOut() == true){
                    <a href="javascript:;" class="soldOut">
                }
                    <span class="big">@pinInvDetail.getFloorPrice()元/件</span>
                    <span>@pinInvDetail.getFloorPricePersonNum()人成团</span>
                    </a>

                @if(pinInvDetail.isSoldOut() != true){
                    <a href="javascript:document.getElementById('settleForm').submit();" class="mabuy">
                }
                @if(pinInvDetail.isSoldOut() == true){
                    <a href="javascript:;" class="soldOut" >
                }
                <span class="big ed">@pinInvDetail.getInvPrice()元/件</span>
                <span>单独购买</span>
                </a>
            </div>
        </div>

        <div class="pay">
            <div class="pay-txt">
                <span>拼团玩法</span>
                <a href="/pinInstruction">查看详情 ></a>
            </div>
            <img src="/assets/images/img9.png"/>
        </div>
    </div>


    <!-- 切换tab -->
    <div class="detail-tabpanel">
        <div class="tabpanel-occupying" id="TabpanelOccupying">
            <!-- 标签 -->
            <nav class="tabpanel-tabs center">
                <ul>
                    <li class="tab-item active pic-tex pin-pic current"> <span class='tab-span'>图文详情</span> <i></i> </li>
                    <li class="tab-item goods-para"> <span class='tab-span'>商品参数</span> <i></i> </li>
                    <li class="tab-item hot-sale"> <span class='tab-span'>热卖推荐</span> <i></i> </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- 详情图片 -->


        <div class="sku-measure01">
            @Html(itemMain.getItemDetailImgs())
        </div>


        <!-- 参数 -->
        <div class="sku-measure">
            <div class="parameter-wrap">
                <p class="dc_tit" id="J_proParam_scroll">商品参数<!--<i class="far">Detail</i>--></p>

                <div class="param-list">
                    <ul>
                        @for(feature <- itemFeaturesList){
                        <li>
                            <span class="param-name">@feature(0)</span>
                            <p class="param-info">@feature(1)</p>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <!-- 热卖商品 -->
        <div class="hot">
            <p class="hot-hd">热卖商品</p>
            <ul class="product">
                @for(rowList <- pushList){
                <li>
                    @for(pushItem <- rowList){
                    @if(pushItem.getItemType() == "item" || pushItem.getItemType() == "vary" || pushItem.getItemType() == "customize"){
                    <a href="/detail/@pushItem.getItemUrl()">
                        <p class="figure figure-f">
                            <img src="@pushItem.getItemImg()">
                        </p>
                        <p class="title-hd">@pushItem.getItemTitle()</p>
                                       <span class="title-fd">
                                           <i class="naw">￥@pushItem.getItemPrice()</i>
                                           <i class="agio">￥@pushItem.getItemSrcPrice()</i>
                                           <b>@pushItem.getItemDiscount()折</b>
                                       </span>
                    </a>
                    }
                    @if(pushItem.getItemType() == "pin"){
                    <a href="/detail/@pushItem.getItemUrl()">
                        <p class="product-box">
                            <span class="product-top">@pushItem.getEndAt()</span>
                        </p>
                        <p class="figure figure-f">
                            <img src="@pushItem.getItemImg()">
                        </p>
                        <p class="title-hd">@pushItem.getItemTitle()</p>
                               <span class="title-fd">
                                   <i class="naw">￥@pushItem.getItemPrice()</i>
                                   <i class="agio">￥@pushItem.getItemSrcPrice()</i>
                                   <b>@pushItem.getItemDiscount()折</b>
                               </span>
                    </a>
                    }
                    }
                </li>
                }
                <!--<li>-->
                    <!--<a href="/detail/item/item/888356/111396">-->
                        <!--<p class="figure figure-f">-->
                            <!--<img src="http://img.hanmimei.com/de5a2f21a057478cb432fe4f9e903ed71451370005389.jpg">-->
                        <!--</p>-->
                        <!--<p class="title-hd">韩秘美 Crystalshop 施华洛世奇水晶 wendy温蒂爱的花环银饰</p>-->
                           <!--<span class="title-fd">-->
                               <!--<i class="naw">￥308</i>-->
                               <!--<i class="agio">￥308</i>-->
                               <!--<b>0.0折</b>-->
                           <!--</span>-->
                    <!--</a>-->

                    <!--<a href="/detail/item/item/888351/111387">-->
                        <!--<p class="figure figure-f">-->
                            <!--<img src="http://img.hanmimei.com/7b557e46bded43358f6d06c8f0a10dbc1451370164326.jpg">-->
                        <!--</p>-->
                        <!--<p class="title-hd">韩秘美 Crystalshop 施华洛世奇 水晶巨星闪耀单钻银饰</p>-->
                           <!--<span class="title-fd">-->
                               <!--<i class="naw">￥228</i>-->
                               <!--<i class="agio">￥228</i>-->
                               <!--<b>0.0折</b>-->
                           <!--</span>-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a href="/detail/item/item/888366/111405">-->
                        <!--<p class="figure figure-f">-->
                            <!--<img src="http://img.hanmimei.com/4817629168024ff6bec95b05cb7c41d71451369519437.jpg">-->
                        <!--</p>-->
                        <!--<p class="title-hd">韩秘美 Crystalshop 施华洛世奇水晶ONLY YOU我心只有你心形银饰</p>-->
                           <!--<span class="title-fd">-->
                               <!--<i class="naw">￥318</i>-->
                               <!--<i class="agio">￥318</i>-->
                               <!--<b>0.0折</b>-->
                           <!--</span>-->
                    <!--</a>-->

                    <!--<a href="/detail/item/item/888391/111450">-->
                        <!--<p class="figure figure-f">-->
                            <!--<img src="http://img.hanmimei.com/f8739cc1d100490983de8c66f725d9e11451365061997.jpg">-->
                        <!--</p>-->
                        <!--<p class="title-hd">韩秘美 Crystalshop 施华洛世奇水晶 brilliant亮彩水晶银饰 水晶色 项链</p>-->
                           <!--<span class="title-fd">-->
                               <!--<i class="naw">￥424</i>-->
                               <!--<i class="agio">￥424</i>-->
                               <!--<b>0.0折</b>-->
                           <!--</span>-->
                    <!--</a>-->
                <!--</li>-->

                <!--<li>-->
                    <!--<a href="/detail/item/item/888331/111354">-->
                        <!--<p class="figure figure-f">-->
                            <!--<img src="http://img.hanmimei.com/6553d754065c4a10bed16f6fb1b1da561451367341039.jpg">-->
                        <!--</p>-->
                        <!--<p class="title-hd">韩秘美 Crystalshop 施华洛世奇水晶 凯莉水晶银饰</p>-->
                           <!--<span class="title-fd">-->
                               <!--<i class="naw">￥201</i>-->
                               <!--<i class="agio">￥201</i>-->
                               <!--<b>0.0折</b>-->
                           <!--</span>-->
                    <!--</a>-->

                    <!--<a href="/detail/item/item/888346/111378">-->
                        <!--<p class="figure figure-f">-->
                            <!--<img src="http://img.hanmimei.com/8a998e2589264b54a2ae8e0c77d926041451370316252.jpg">-->
                        <!--</p>-->
                        <!--<p class="title-hd">韩秘美 Crystalshop 施华洛世奇水晶 双色条形银饰</p>-->
                           <!--<span class="title-fd">-->
                               <!--<i class="naw">￥185.5</i>-->
                               <!--<i class="agio">￥193</i>-->
                               <!--<b>7.5折</b>-->
                           <!--</span>-->
                    <!--</a>-->
                <!--</li>-->

            </ul>
        </div>





    <!--加入购物车-->
    <div class="buy_box">
        <div class="hd-js">活动已结束</div>
        @if(pinInvDetail.isSoldOut() == true){
            <div class="finish-box">
                该商品已结束去看看其他拼购吧
            </div>
        }

        <div class="love">
           <!-- <div id="shopCart">
                <a href="/cart" class="message_list shopping">
                    <i class="message"></i>
                    <span class="cart_num">0</span>
                </a>
            </div>-->

            <!--收藏-->
            <a href="javascript:;" class="like pin-love">
                <div>
                <input class="collectId" value="@pinInvDetail.getCollectId()" style="display:none">
                @if(pinInvDetail.getCollectId() != 0){
                    <span class="soul now min"></span>
                }
                @if(pinInvDetail.getCollectId() == 0){
                <span class="soul now"></span>
                }
                <i class="like-s">收藏成功</i>
                <i class="like-x">取消收藏</i>
                </div>
            </a>

        </div>

        <div class="add_cart btns" data-type="cart">
            @if(pinInvDetail.isSoldOut() != true){
                <a href="/pinTieredPrice/@url" class="btnCart add_cart_large pin-cart mabuy">
                    立即开团
                </a>
            }
            @if(pinInvDetail.isSoldOut() == true){
                <a href="javascript:;" class="btnCart add_cart_large pin-cart soldOut">
                    立即开团
                </a>
            }
        </div>
        <div class="buy_btn pin-buy" data-type="buy">
            @if(pinInvDetail.isSoldOut() != true){
                <a href="javascript:document.getElementById('settleForm').submit();;" class="mabuy">
                    单独购买
                </a>
            }
            @if(pinInvDetail.isSoldOut() == true){
                <a href="javascript:;" class="soldOut">
                    单独购买
                </a>
            }
        </div>



        <input type="hidden" name="buyNow" value="1"/>
        <input type="hidden" name="invCustoms0" value="@pinInvDetail.getInvCustoms()"/>
        <input type="hidden" name="invArea0" value="@pinInvDetail.getInvArea()"/>
        <input type="hidden" name="invAreaNm0" value="@pinInvDetail.getInvAreaNm()"/>
        <input type="hidden" name="skuId0-0" value="@pinInvDetail.getId()"/>
        <input type="hidden" name="skuType0-0" value="@pinInvDetail.getSkuType()"/>
        <input type="hidden" name="skuTypeId0-0" value="@pinInvDetail.getSkuTypeId()"/>
        <input type="hidden" name="skuTitle0-0" value="@pinInvDetail.getPinTitle()"/>
        <input type="hidden" name="skuInvImg0-0" value="@pinInvDetail.getInvImg()"/>
        <input type="hidden" name="state0-0" value="@pinInvDetail.getStatus()"/>
        <input type="hidden" name="skuPrice0-0" value="@pinInvDetail.getInvPrice()"/>
        <input type="hidden" name="pinTieredPriceId0-0" id="pinTieredPriceId" value="0"/>
        <input type="hidden" id="curUrl" name="curUrl" value="" />



    </div>
    <div class="top">
        <img src="/assets/images/backtop.png">
    </div>
</div>
</form>
<!--该活动已结束-->
@if(pinInvDetail.isSoldOut() == true){
<div class="toup">
    <div class="bg"></div>
    <div class="con">
        <h3>该活动已结束，去看看其他拼购吧</h3>
        <div class="conaddr">
            <div>
                @for(pinPush <- SoldOutPushList){
                    <a href="/detail/@pinPush.getItemUrl()">
                        <div class="item">
                            <div>
                                <span>拼</span>
                                <p>@pinPush.getEndAt()</p>
                            </div>
                            <div class="conaddr-p">
                                <img src="@pinPush.getItemImg()" alt="">
                            </div>
                            <div class="txt-box">
                                <p>@pinPush.getItemTitle()</p>
                                <span class="txt-box-title">
                                   <i class="box-title-naw">￥@pinPush.getItemPrice()</i>
                                   <i class="box-title-agio">￥@pinPush.getItemSrcPrice()</i>
                                   <b>5折</b>
                                </span>
                            </div>
                        </div>
                    </a>
                }
                <!--<div class="item">-->
                    <!--<div>-->
                        <!--<span>拼</span>-->
                        <!--<p>截止3月17日下午5:16</p>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<img src="/assets/images/banner_03.jpg" alt="">-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<p>韩秘美 Crystalshop 施华洛世奇水晶。。施华洛世奇水晶施华洛世奇水晶。</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div>-->
                        <!--<span>拼</span>-->
                        <!--<p>截止3月17日下午5:16</p>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<img src="/assets/images/banner_03.jpg" alt="">-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<p>韩秘美 Crystalshop 施华洛世奇水晶。。。</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<div>-->
                        <!--<span>拼</span>-->
                        <!--<p>截止3月17日下午5:16</p>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<img src="/assets/images/banner_03.jpg" alt="">-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<p>韩秘美 Crystalshop 施华洛世奇水晶dfgd。。。</p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="item">-->
                    <!--<div>-->
                        <!--<span>拼</span>-->
                        <!--<p>截止3月17日下午5:16</p>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<img src="/assets/images/banner_03.jpg" alt="">-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<p>韩秘美 Crystalshop 施华洛世奇水晶dfgd。。。</p>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="item">-->
                    <!--<div>-->
                        <!--<span>拼</span>-->
                        <!--<p>截止3月17日下午5:16</p>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<img src="/assets/images/banner_03.jpg" alt="">-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<p>韩秘美 Crystalshop 施华洛世奇水晶dfgd。。。</p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="top">
        <img src="/assets/images/backtop.png">
    </div>
</div>
}
<!-- <div class="footer">
  <span>
    <i>韩秘美,只卖韩国正品!</i>
    <i>app首单立减10元</i>
  </span>
  <a href="javascript:;" class="bg">立即下载</a>
</div> -->
<div class="hint" id="tip" style="display:none"></div>
</body>

</html>