git <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>详情页 － 韩秘美</title>
    <link rel="stylesheet" href="/assets/stylesheets/detail.css">
</head>
<body>
<div id='screen_wrap'>
    <div class="nav_ban_detail">
        <a href="/" class="back">
            <i></i>
            <b></b>
        </a>
        <h1>拼团玩法</h1>
    </div>

    <div class="flow">
        <img src="/assets/images/img10.jpg"/>
    </div>
</div>

<div class="footer">
	  <span>
		<i>韩秘美,只卖韩国正品!</i>
		<i>app首单立减10元</i>
	  </span>
    <a href="javascript:;" class="bg">立即下载</a>
</div>

</body>
</html>