@(hisUrl:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页 － Kakao Gift</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/stylesheets/detail.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>

    <script>
    window.onload =function(){


        $(function(){
            //关闭下载添加cookie
            function addDownloadCookie(){
                //过期时间1小时
                var str = "downloadState=1";
                var date = new Date();
                var ms = 3600*1000;
                date.setTime(date.getTime() + ms);
                str += "; expires=" + date.toGMTString();
                document.cookie = str;
                $("#downloadDiv").hide();
                $("#topDiv").addClass("top-bottom");
                $("#col-bottom").css('margin-bottom','0px');
            };

            if($("#downloadDiv").css("display")=="none"){
                $("#col-bottom").css('margin-bottom','0px');
            }else{
                $("#col-bottom").css('margin-bottom','60px');

            }

            setTimeout(function () {
                $('.footer').hide();
                $("#col-bottom").css('margin-bottom','0px');
                $("#topDiv").addClass("top-bottom");
            },10000);


            $('.delete-down').click(function(){
                addDownloadCookie();
            });


        })
    }
    </script>


</head>
<body>

<div id='screen_wrap'>
    <div class="nav_ban_detail">
        <a href="@hisUrl" class="back">
            <i></i>
            <b></b>
        </a>
        <h1>拼团玩法</h1>
    </div>

    <div class="flow">
        <img src="/assets/images/img10.jpg"/>
    </div>
</div>

@download()
@comContent()

</body>
</html>