<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>拼团流程</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>详情页 － Kakao Gift</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/stylesheets/detail.css">
    <script src="/assets/javascripts/loading.js"></script>
</head>
<body>

<div id="loading">
    <img src="/assets/images/loading.gif"/>
</div>

<div class="fixed-box" style="position: fixed;width: 100%">
<div id='screen_wrap'>
    <div class="nav_ban_detail">
        <a href="/" class="back">
            <i></i>
            <b></b>
        </a>
        <h1>拼团玩法</h1>
    </div>

    <div class="flow">
        <img src="/assets/images/img10.jpg"/>
    </div>
</div>

<div class="footer">
	  <span>
		<i>Kakao Gift,只卖韩国正品!</i>
		<i>app首单立减10元</i>
	  </span>
    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.hanmimei" class="bg">立即下载</a>
</div>
@comContent()
</div>
</body>
</html>