
@(pinDetail:domain.PinInvDetail)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>详情页 － 韩秘美</title>
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/opengroup.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script>
        $(function(){
            $('ul li').click(function(){
                $(this).addClass('current').siblings().removeClass('current');

                $(this).parents('.warp').find('.choose-b span').html($(this).find('i').html())

                $(this).parents('.warp').find('.choose-b i').html($(this).find('span').html())

                $("#pinTieredPriceId").val($(this).find('input').val());
            })
        })
    </script>
</head>
<body>
<header class="head">
    <a href="/pin/list" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>选择</h1>
</header>

<div class="warp">
    <div class="choose-top clearfix">
        <img src="@pinDetail.getInvImg()" alt=""/>
        <h2>@pinDetail.getPinTitle()</h2>
    </div>
    <form id="settleForm" action="/settle" method="POST">
        <div class="choose-m">
            <p class="mold">选择拼购类型</p>

            <ul>
                @for((price,index) <- pinDetail.getPinTieredPrices().zipWithIndex){
                    @if(index == 0){
                        <li class="current first">
                            <input type="hidden" value="@price.getId()">
                            <div>
                                <b class="b-big">开团人数 : </b>
                                <span> @price.getPeopleNum()人</span>
                                <p><b class="sign">￥</b><i>@price.getPrice()</i></p>
                            </div>
                        </li>
                    }
                    @if(index != 0){
                        <li>
                            <input type="hidden" value="@price.getId()">
                            <div>
                                <b class="b-big">开团人数 : </b>
                                <span> @price.getPeopleNum()人</span>
                                <p><b class="sign">￥</b><i>@price.getPrice()</i></p>
                            </div>
                        </li>
                    }
                }

                <!--<li>-->
                    <!--<div>-->
                        <!--<b class="b-big">开团人数 : </b>-->
                        <!--<span> 3人</span>-->
                        <!--<p><b class="sign">￥</b><i>39</i></p>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>


        <input type="hidden" name="buyNow" value="1"/>
        <input type="hidden" name="invCustoms" value="@pinDetail.getInvCustoms()"/>
        <input type="hidden" name="invArea" value="@pinDetail.getInvArea()"/>
        <input type="hidden" name="invAreaNm" value="@pinDetail.getInvAreaNm()"/>
        <input type="hidden" name="cartId" value="0"/>
        <input type="hidden" name="skuId" value="@pinDetail.getId()"/>
        <input type="hidden" name="skuType" value="@pinDetail.getSkuType()"/>
        <input type="hidden" name="skuTypeId" value="@pinDetail.getSkuTypeId()"/>
        <input type="hidden" name="amount" value="1"/>
        <input type="hidden" name="state" value="@pinDetail.getStatus()"/>
        <input type="hidden" name="pinTieredPriceId" id="pinTieredPriceId" value="@pinDetail.getPinTieredPrices().get(0).getId()"/>
        <input type="hidden" name="payMethod" value="JD"/>
        <input type="hidden" name="pinActiveId" value="224177"/>


        <div class="choose-b" onclick="document.getElementById('settleForm').submit();">
            <p><b>立即开团</b> ( <span>@pinDetail.getFloorPricePersonNum()</span><b>元 / </b> <i>@pinDetail.getFloorPricePrice()人</i> )</p>
        </div>
    </form>
</div>

</body>
</html>