
@(pinDetail:domain.PinInvDetail)
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>详情页 － 韩秘美</title>
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/opengroup.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/pay.js"></script>
    <script>
        $(function(){
            $('ul li').click(function(){
                $(this).addClass('current').siblings().removeClass('current');

                $(this).parents('.warp').find('.choose-b span').html($(this).find('i').html())

                $(this).parents('.warp').find('.choose-b i').html($(this).find('span').html())

                $("#pinTieredPriceId").val($(this).find('input[name=priceId]').val());
                $("#skuPrice").val($(this).find('input[name=pinTieredPrice]').val());
            })
        })
    </script>
</head>
<body>
<header class="head">
    <a href="javascript:window.history.back()" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>选择</h1>
</header>

<div class="warp">
    <div class="choose-top clearfix">
        <img src="@pinDetail.getInvImg()" alt=""/>
        <h2>@pinDetail.getPinTitle()</h2>
    </div>
    <form id="settleForm" action="/settle" method="POST">
        <div class="choose-m">
            <p class="mold">选择拼购类型</p>

            <ul>
                @for((price,index) <- pinDetail.getPinTieredPrices().zipWithIndex){
                    @if(index == 0){
                        <li class="current first">
                            <input type="hidden" value="@price.getId()" name="priceId">
                            <input type="hidden" value="@price.getPrice()" name="pinTieredPrice">
                            <div>
                                <b class="b-big">开团人数 : </b>
                                <span> @price.getPeopleNum()人</span>
                                <p><b class="sign">￥</b><i>@price.getPrice()</i></p>
                            </div>
                        </li>
                    }
                    @if(index != 0){
                        <li>
                            <input type="hidden" value="@price.getId()" name="priceId">
                            <input type="hidden" value="@price.getPrice()" name="pinTieredPrice">
                            <div>
                                <b class="b-big">开团人数 : </b>
                                <span> @price.getPeopleNum()人</span>
                                <p><b class="sign">￥</b><i>@price.getPrice()</i></p>
                            </div>
                        </li>
                    }
                }

                <!--<li>-->
                    <!--<div>-->
                        <!--<b class="b-big">开团人数 : </b>-->
                        <!--<span> 3人</span>-->
                        <!--<p><b class="sign">￥</b><i>39</i></p>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>

        <!--命名不可改动-->
        <input type="hidden" name="isPinCheck" id="isPinCheck" value="1"/>
        <input type="hidden" name="buyNow" value="1"/>
        <input type="hidden" name="invCustoms0" value="@pinDetail.getInvCustoms()"/>
        <input type="hidden" name="invArea0" value="@pinDetail.getInvArea()"/>
        <input type="hidden" name="invAreaNm0" value="@pinDetail.getInvAreaNm()"/>
        <input type="hidden" name="skuId0-0" value="@pinDetail.getId()"/>
        <input type="hidden" name="skuType0-0" value="@pinDetail.getSkuType()"/>
        <input type="hidden" name="skuTypeId0-0" value="@pinDetail.getSkuTypeId()"/>
        <input type="hidden" name="skuTitle0-0" value="@pinDetail.getPinTitle()"/>
        <input type="hidden" name="skuInvImg0-0" value="@pinDetail.getInvImg()"/>
        <input type="hidden" name="state0-0" value="@pinDetail.getStatus()"/>
        @if(null!=pinDetail.getPinTieredPrices()&&pinDetail.getPinTieredPrices().size()>0){
        <input type="hidden" name="skuPrice0-0" id="skuPrice" value="@pinDetail.getPinTieredPrices().get(0).getPrice()"/>
        <input type="hidden" name="pinTieredPriceId0-0" id="pinTieredPriceId" value="@pinDetail.getPinTieredPrices().get(0).getId()"/>
        }
        <div class="choose-b pinSubmitBtn">
            <p><b>立即开团</b> ( <span>@pinDetail.getFloorPricePersonNum()</span><b>元 / </b> <i>@pinDetail.getFloorPricePrice()人</i> )</p>
        </div>
    </form>
</div>
<div class="hint" id="tip" style="display:none"></div>
</body>
</html>