@(pinTitle:String,invImg:String,pinTieredPriceList:List[domain.PinTieredPrice],floorPrice:Array[Object])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>详情页 － 韩秘美</title>
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/opengroup.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script>
        $(function(){
            $('ul li').click(function(){
                $(this).addClass('current').siblings().removeClass('current');

                $(this).parents('.warp').find('.choose-b span').html($(this).find('i').html())

                $(this).parents('.warp').find('.choose-b i').html($(this).find('span').html())
            })
        })
    </script>
</head>
<body>
<header class="head">
    <a href="/pin/list" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>选择</h1>
</header>

<div class="warp">
    <div class="choose-top clearfix">
        <img src="@invImg" alt=""/>
        <h2>@pinTitle</h2>
    </div>

    <div class="choose-m">
        <p class="mold">选择拼购类型</p>

        <ul>
            @for((price,index) <- pinTieredPriceList.zipWithIndex){
                @if(index == 0){
                    <li class="current first">
                        <div>
                            <b class="b-big">开团人数 : </b>
                            <span> @price.getPeopleNum()人</span>
                            <p><b class="sign">￥</b><i>@price.getPrice()</i></p>
                        </div>
                    </li>
                }
                @if(index != 0){
                    <li>
                        <div>
                            <b class="b-big">开团人数 : </b>
                            <span> @price.getPeopleNum()人</span>
                            <p><b class="sign">￥</b><i>@price.getPrice()</i></p>
                        </div>
                    </li>
                }
            }

            <!--<li>-->
                <!--<div>-->
                    <!--<b class="b-big">开团人数 : </b>-->
                    <!--<span> 3人</span>-->
                    <!--<p><b class="sign">￥</b><i>39</i></p>-->
                <!--</div>-->
            <!--</li>-->
        </ul>
    </div>

    <div class="choose-b">
        <p><b>立即开团</b> ( <span>@floorPrice(1)</span><b>元 / </b> <i>@floorPrice(0)人</i> )</p>
    </div>

</div>

</body>
</html>