@(themeBasic:domain.ThemeBasic,tagList:List[Array[Object]],itemList:List[List[domain.ThemeItem]])
@scripts = {
<link rel="stylesheet" href="/assets/stylesheets/list.css">
<script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
<script src="/assets/javascripts/list.js"></script>
<script src="/assets/javascripts/cartAmount.js"></script>
<script src="/assets/javascripts/echo.min.js"></script>
}


@layout(title="Kakao Gift,专卖韩国正品")(scripts) {

<div id="loading">
        <img src="/assets/images/loading.gif"/>
</div>

    <header class="head">
        <a href="/" class="back"></a>
        <h1>@themeBasic.getTitle()</h1>
        <a href="/cart" class="shopp">
            <span class="cart_num" id="cartAmountSpan"><i>0</i></span>
        </a>
    </header>


    @if(null!=themeBasic.getThemeImg()&&""!=themeBasic.getThemeImg()){
        <div class="banner scope" id="ad">
            <div class="big-box">
                <a href="javascript:;" class="banner-box">
                    <img src="@themeBasic.getThemeImg()">
                </a>
                @for(tag <- tagList){
                    @if(tag(4) == 0){
                        <a href="/detail/@tag(1)" class="right redirect-app"  style="left:@tag(2)%;top:@tag(0)%">
                            <div class="cartoon-right">
                                @tag(3)
                                <i class="right-arrow"></i>
                                <div class="ripple-right">
                                    <div class="c1"></div>
                                    <div class="c2"></div>
                                    <div class="c3"></div>
                                </div>
                            </div>
                        </a>
                    }
                    @if(tag(4) == 180){

                    <a href="/detail/@tag(1)" class="left redirect-app"  style="right:@tag(2)%;top:@tag(0)%">
                        <div class="cartoon">@tag(3)
                            <i></i>

                            <div class="ripple">
                                <div class="c1"></div>
                                <div class="c2"></div>
                                <div class="c3"></div>
                            </div>
                        </div>
                    </a>
                    }
                }

          </div>
        </div>
    }else{
        <div style="padding-top:54px"></div>
}


    <!--非拼购产品-->
    <div class="content scope">
        @if(null!=itemList&&itemList.size>0){
            @themeItemList(itemList)
        }
    </div>

}
