@(themeBasic:domain.ThemeBasic,tagList:List[Array[Object]],itemList:List[List[domain.ThemeItem]])
@scripts = {
<link rel="stylesheet" href="/assets/stylesheets/list.css">
<script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
<script src="/assets/javascripts/list.js"></script>
<script src="/assets/javascripts/cartAmount.js"></script>
<script src="/assets/javascripts/echo.min.js"></script>
}


@layout(title="Kakao Gift,专卖韩国正品")(scripts) {

<div id="loading">
        <img src="/assets/images/loading.gif"/>
</div>

    <header class="head">
        <a href="/" class="back"></a>
        <h1>@themeBasic.getTitle()</h1>
        <a href="/cart" class="shopp">
            <span class="cart_num" id="cartAmountSpan"><i>0</i></span>
        </a>
    </header>


    @if(null!=themeBasic.getThemeImg()&&""!=themeBasic.getThemeImg()){
        <div class="banner scope" id="ad">
            <div class="big-box">
                <a href="javascript:;" class="banner-box">
                    <img src="@themeBasic.getThemeImg()">
                </a>
                @for(tag <- tagList){
                    @if(tag(4) == 0){
                        <a href="/detail/@tag(1)" class="right redirect-app"  style="left:@tag(2)%;top:@tag(0)%">
                            <div class="cartoon-right">
                                @tag(3)
                                <i class="right-arrow"></i>
                                <div class="ripple-right">
                                    <div class="c1"></div>
                                    <div class="c2"></div>
                                    <div class="c3"></div>
                                </div>
                            </div>
                        </a>
                    }
                    @if(tag(4) == 180){

                    <a href="/detail/@tag(1)" class="left redirect-app"  style="right:@tag(2)%;top:@tag(0)%">
                        <div class="cartoon">@tag(3)
                            <i></i>

                            <div class="ripple">
                                <div class="c1"></div>
                                <div class="c2"></div>
                                <div class="c3"></div>
                            </div>
                        </div>
                    </a>
                    }
                }

          </div>
        </div>
    }else{
        <div style="padding-top:54px"></div>
}


    <!--非拼购产品-->
    <div class="content scope">
        <ul class="product">
            @for(rowList <- itemList){
            <li class="clearfix">
                @for(item <- rowList){
                    @if(item.getItemType == "item" || item.getItemType == "vary" || item.getItemType == "customize"){
                        <a class="redirect-app" href="/detail/@item.getItemUrl()">
                            <p class="figure figure-f">
                                @if(item.getState() != "Y"&&item.getState() != "P"){
                                    <span>已售罄</span>
                                }
                                <img src="/assets/images/z-l.png" data-echo="@item.getItemImg()">

                            </p>
                            <p class="title-hd">@item.getItemTitle()</p>
                            <span class="title-fd">
                                <i class="naw">￥@item.getItemPrice()</i>
                                 @if(null!=item.getItemDiscount()&&false==item.getItemDiscount().toString().startsWith("10")){
                                     <i class="agio">￥@item.getItemSrcPrice()</i>
                                     <b>@item.getItemDiscount()折</b>
                                }
                            </span>

                            @if(item.getState() == "P"){
                                <p class="obstruct">
                                   <span>即将上线</span>
                                </p>
                            }
                        </a>
                    }
                    @if(item.getItemType() == "pin"){
                        <a class="redirect-app"  href="/detail/@item.getItemUrl()">
                            <p class="product-box">
                                <span class="product-top"><i>@item.getEndAt()</i></span>
                            </p>

                            <p class="figure">
                                <img src="/assets/images/l-120.png" data-echo="@item.getItemImg()">
                            </p>

                            <p class="title-hd">@item.getItemTitle()</p>

                            <span class="title-fd">
                               <i class="naw">￥@item.getItemPrice()</i><i class="minimum">最低</i>
                                 @if(null!=item.getItemDiscount()&&false==item.getItemDiscount().toString().startsWith("10")){
                                    <!--<i class="agio">￥@item.getItemSrcPrice()</i>-->
                                    <!--<b>@item.getItemDiscount()折</b>-->
                               <i class="rate">低至@item.getItemDiscount()折</i>
                                }
                            </span>
                        </a>
                    }
                }
            </li>
            }

        </ul>

    </div>

}
