<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全部订单</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/obligation.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/obligation.js"></script>
</head>
<body>
<header class="head">
    <a href="/myhmm" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>全部订单</h1>
</header>
<div class="wrap">
    <div class="nav-tab">
        <div class="nav-tab-top box">
            <ul>
                <li class="current">未完成订单</li>
                <li>已完成订单</li>
            </ul>
        </div>
    </div>
    <div class="scroll-wrap">
        <div class="scroll-content">
            <!--全部订单-->
            <section class="current">
                <ul>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">订单状态</span>
                                <span class="day-r">未完成</span>
                            </div>
                            <a href="javascript:;" class="commodity">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>

                            </a>
                            <div class="payment">
                                <a href="javascript:;" class="left">取消订单</a>
                                <a href="javascript:;" class="right bg">立即支付</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">订单状态</span>
                                <span class="day-r">未完成</span>
                            </div>
                            <a href="javascript:;" class="commodity">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>

                            </a>
                            <div class="payment">
                                <a href="javascript:;" class="left">取消订单</a>
                                <a href="javascript:;" class="right bg">立即支付</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>

            <section>
                <ul>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">订单状态</span>
                                <span class="day-r">已完成</span>
                            </div>
                            <a href="javascript:;" class="commodity">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>

                            </a>
                            <div class="payment">
                                <a href="javascript:;" class="left">删除订单</a>
                                <a href="javascript:;" class="right bg">再次购买</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="con">
                            <div class="day">
                                <span class="day-l">订单状态</span>
                                <span class="day-r">已完成</span>
                            </div>
                            <a href="javascript:;" class="commodity">
                                <img src="/assets/images/one.png" alt=""/>
                                <h2>韩国发希陆新娃娃护手霜80ml深层滋润保湿五件套</h2>
                                <span class="commodity-rmb"><i class="rmb color">￥75.00</i><i class="number">数量: 1</i></span>

                            </a>
                            <div class="payment">
                                <a href="javascript:;" class="left">删除订单</a>
                                <a href="javascript:;" class="right bg">再次购买</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </section>





        </div>
    </div>
</div>






</body>
</html>