<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>身份证</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/carded.css">
</head>
<body>
<header class="head">
    <a href="/list" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>上传身份证信息</h1>
    <a href="/" class="shopp"></a>
</header>
<div class="scope wap">
    <div class="user">
          <div class="name">
            <label for="male" >真实姓名 :</label>
            <input id="male" class="name-inp">
          </div>

        <div>
            <label for="female">身份证号码 :</label>
            <input id="female">
        </div>
    </div>

    <div class="photo">
        <p>上传身份证正反图 :</p>
        <span>+</span>
        <span>+</span>
        <input type="file" class="face"/>
        <input type="file" class="opposite"/>

    </div>

    <button class="plus-add bg">上传信息</button>

</div>


</body>
</html>