
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?214871e7f7487087c593be4b2f77f267";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();

$(function(){
  //关闭下载添加cookie
  function addDownloadCookie(){
    //过期时间1小时
    var str = "downloadState=1";
    var date = new Date();
    var ms = 3600*1000;
    date.setTime(date.getTime() + ms);
    str += "; expires=" + date.toGMTString();
    document.cookie = str;
    $("#downloadDiv").hide();
    $("#topDiv").addClass("top-bottom");
    $("#col-bottom").css('margin-bottom','0px');
  };

  if($("#downloadDiv").css("display")=="none"){
    $("#col-bottom").css('margin-bottom','0px');
  }else{
    $("#col-bottom").css('margin-bottom','60px');

  }

  setTimeout(function () {
    $('.footer').hide();
    $("#col-bottom").css('margin-bottom','0px');
    $("#topDiv").addClass("top-bottom");
  },10000);


  $('.delete-down').click(function(){
    addDownloadCookie();
  });


})
</script>


