
<div class="hint" id="tip" style="display:none"></div>
<script>
//提示
function tip(tipContent){
    $("#tip").html(tipContent).show();
    setTimeout(function(){
    $("#tip").hide();
    },3000);
}
//H5跳转APP
$(document).on("click",".redirect-app",function(){
    var path = $(this).attr("href");
    appRedirect(path);
});

//亿起发广告来源
function adSource(){
       var html="";
       var arrStr = document.cookie.split("; ");
		for(var i = 0;i < arrStr.length;i ++){
		    var temp = arrStr[i].split("=");
			if(temp[0] == "aid"){
			    html+='<input type="hidden" class="aid" value="'+temp[1]+'"/>'
			}else if(temp[0] == "channel"){
			    html+='<input type="hidden" class="channel" value="'+temp[1]+'"/>'
			}else if(temp[0] == "cid"){
			    html+='<input type="hidden" class="cid" value="'+temp[1]+'"/>'
			}else if(temp[0] == "wi"){
			    html+='<input type="hidden" class="wi" value="'+temp[1]+'"/>'
			}
		}
		$(".adSourceCss").append(html);
}

</script>

<div style="display:none">
    <script src="https://s11.cnzz.com/z_stat.php?id=1260177504&web_id=1260177504" language="JavaScript"></script>
</div>
