<script>

$(function(){
/*
    var closeDownload=false;
    var arrStr = document.cookie.split("; ");
    for(var i = 0;i < arrStr.length;i ++){
        var temp = arrStr[i].split("=");
        if(temp[0] == "downloadState"){
            closeDownload=true;
        }
    }
    if(!closeDownload){
        $("#downloadDiv").show();
    }else{
        $("#downloadDiv").hide();
    }
*/
  //关闭下载添加cookie
  function addDownloadCookie(){
    //过期时间1小时
    var str = "downloadState=1";
    var date = new Date();
    var ms = 3600*1000;
    date.setTime(date.getTime() + ms);
    str += "; expires=" + date.toGMTString();
    document.cookie = str;
    $("#downloadDiv").hide();
    $("#topDiv").addClass("top-bottom");
  /*  $("#col-bottom").css('margin-bottom','0px');*/
  };

 /* if($("#downloadDiv").css("display")=="none"){
    $("#col-bottom").css('margin-bottom','0px');
  }else{
    $("#col-bottom").css('margin-bottom','60px');

  }
*/
  /*setTimeout(function () {
    //$('.footer').hide();
    $("#col-bottom").css('margin-bottom','0px');
    $("#topDiv").addClass("top-bottom");
  },10000);*/

  $('#closeDownloadBtn').click(function(){
    addDownloadCookie();
  });


    /*判断ios 安卓*/
    if(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {
        $('.footer').hide();
    };

    $('.footer a').click(function(){
        if(/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {

            window.location.href ="javascript:;";// 如果是苹果机，就打开苹果的页面

        }else if (/(Android)/i.test(navigator.userAgent)){
            //如果是安卓机，就打开安卓页面
            window.location.href ="/appdownload";// 如果是苹果机，就打开苹果的页面
        }
    });


})
</script>
<div class="footerbox">
<div class="footer" id="downloadDiv" style="display:none;">
    <p class="color">
        <span>
            <i class="large">下载Kakao Gift APP</i>
            <i class="small">买遍韩国正品</i>
        </span>
    </p>
    <b class="delete-down" id="closeDownloadBtn"></b>
    <a href="javascript:;" class="bg" target="_blank"></a>
</div>
</div>
