<script>

$(function(){
  //关闭下载添加cookie
  function addDownloadCookie(){
    //过期时间1小时
    var str = "downloadState=1";
    var date = new Date();
    var ms = 3600*1000;
    date.setTime(date.getTime() + ms);
    str += "; expires=" + date.toGMTString();
    document.cookie = str;
    $("#downloadDiv").hide();
    $("#topDiv").addClass("top-bottom");
    $("#col-bottom").css('margin-bottom','0px');
  };

  if($("#downloadDiv").css("display")=="none"){
    $("#col-bottom").css('margin-bottom','0px');
  }else{
    $("#col-bottom").css('margin-bottom','60px');

  }

  setTimeout(function () {
    $('.footer').hide();
    $("#col-bottom").css('margin-bottom','0px');
    $("#topDiv").addClass("top-bottom");
  },10000);

  $('.delete-down').click(function(){
    addDownloadCookie();
  });


})
</script>

<div class="footer" id="downloadDiv">
    <p class="color">
        <span>
            <i class="large">下载Kakao Gift APP</i>
            <i class="small">买遍韩国正品</i>
        </span>
    </p>
    <b class="delete-down"></b>
    <a href="/appdownload" class="bg" target="_blank"></a>
</div>

