@(curPosition:Int)
<footer class="foot scope" style="display:none;">
    <ul class="clearfix">
        <li>
            <a href="/" class="home">
                <i class="icon01"></i>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="/theme/2/1/1" class="buy">
                <i class="icon02"></i>
                <span>拼购</span>
            </a>
        </li>

        <li>
            <a href="/theme/3/1/1" class="story">
                <i id="icon03"></i>
                <span>礼品</span>
            </a>
        </li>

        <li>
            <a href="/cart" class="shopping">
                <i id="icon04"></i>
                <span>购物车</span>
            </a>
        </li>

        <li class="my-icon">
            <a href="/myView" class="my">
                <i id="icon05"></i>
                <span>我的</span>
            </a>
        </li>
    </ul>
</footer>
