<footer class="foot scope">
    <nav>
        <ul>
            <li>
                <a href="/" class="home">
                    <i class="icon01"></i>
                    <span>首页</span>
                </a>
            </li>

            <li>
                <a href="/list" class="buy">
                    <i class="icon02"></i>
                    <span>拼购</span>
                </a>
            </li>

            <li>
                <a href="" class="story">
                    <i id="icon03"></i>
                    <span>品牌故事</span>
                </a>
            </li>

            <li>
                <a href="/sho" class="shopping">
                    <i id="icon04"></i>
                    <span>购物车</span>
                </a>
            </li>

            <li class="my-icon">
                <a href="/myhmm" class="my">
                    <i id="icon05"></i>
                    <span>我的</span>
                </a>
            </li>


        </ul>

    </nav>

</footer>