@(curPosition:Int)
<footer class="foot scope">
    <ul class="clearfix">
        <li>
            <a href="/" class="home">
                <i class="icon01 @if(curPosition==1){current}"></i>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="/theme/2/1/1" class="buy">
                <i class="icon02 @if(curPosition==2){current}"></i>
                <span>拼购</span>
            </a>
        </li>

        <li>
            <a href="/theme/3/1/1" class="story">
                <i id="icon03" class="@if(curPosition==3){current}"></i>
                <span>礼品</span>
            </a>
        </li>

        <li>
            <a href="/cart" class="shopping">
                <i id="icon04" class="@if(curPosition==4){current}"></i>
                <span>购物车</span>
                <!--<span id="cartAmountSpan"><i>0</i></span>-->
            </a>
        </li>

        <li class="my-icon">
            <a href="/myView" class="my">
                <i id="icon05" class="@if(curPosition==5){current}"></i>
                <span>我的</span>
            </a>
        </li>
    </ul>
</footer>
