<!--
<footer class="foot scope">
    <cartempty>
        <ul>
            <li>
                <a href="/" class="home">
                    <i class="icon01"></i>
                    <span>首页</span>
                </a>
            </li>

            &lt;!&ndash;<li>
                <a href="/pin/list" class="buy">
                    <i class="icon02"></i>
                    <span>拼购</span>
                </a>
            </li>

            <li>
                <a href="javascript:;" class="story">
                    <i id="icon03"></i>
                    <span>品牌故事</span>
                </a>
            </li>&ndash;&gt;

            <li>
                <a href="/cart" class="shopping">
                    <i id="icon04"></i>
                    <span>购物车</span>
                </a>
            </li>

            <li class="my-icon">
                <a href="/myView" class="my">
                    <i id="icon05"></i>
                    <span>我的</span>
                </a>
            </li>


        </ul>

    </cartempty>

</footer>-->
