<!--
<footer class="foot scope">
    <cartempty>
        <ul>
            <li>
                <a href="/" class="home">
                    <i class="icon01"></i>
                    <span>首页</span>
                </a>
            </li>

            &lt;!&ndash;<li>
                <a href="/pin/list" class="buy">
                    <i class="icon02"></i>
                    <span>拼购</span>
                </a>
            </li>

            <li>
                <a href="javascript:;" class="story">
                    <i id="icon03"></i>
                    <span>品牌故事</span>
                </a>
            </li>&ndash;&gt;

            <li>
                <a href="/cart" class="shopping">
                    <i id="icon04"></i>
                    <span>购物车</span>
                </a>
            </li>

            <li class="my-icon">
                <a href="/myView" class="my">
                    <i id="icon05"></i>
                    <span>我的</span>
                </a>
            </li>


        </ul>

    </cartempty>

</footer>-->
<div class="hint" id="tip" style="display:none"></div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?214871e7f7487087c593be4b2f77f267";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
