
@(title: String = "Kakao Gift")(scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta name="keywords" content="KAKAOGIFT,北京可靠科技有限公司,跨境平台，跨境购物,海外直邮,韩国正品网站,韩国KAKAO公司,宠物用品,男士护理系列商品,跨境直邮">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    @scripts
</head>
<body>
    <div class="wrap">

        <div class="wap">

            @content

        </div>
    </div>
	<div id="mask" class="ui-mask" style="display: none;">
		<div id="circularG">
			<div id="circularG_1" class="circularG"></div>
			<div id="circularG_2" class="circularG"></div>
			<div id="circularG_3" class="circularG"></div>
			<div id="circularG_4" class="circularG"></div>
			<div id="circularG_5" class="circularG"></div>
			<div id="circularG_6" class="circularG"></div>
			<div id="circularG_7" class="circularG"></div>
			<div id="circularG_8" class="circularG"></div>
		</div>
	</div>
    @comContent()
</body>

</html>