<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/list.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/assets/javascripts/list.js"></script>
</head>

<body>

    <div class="header">
        <header class="head">
            <a href="/" class="back">
                <i></i>
                <b></b>
            </a>
            <h1>化妆品专场</h1>
            <a href="/sho" class="shopp"></a>
        </header>
    </div>



    <div class="banner scope">
        <a href="javascript:;"><img src="/assets/images/HMM--list_03.jpg"></a>
    </div>

    <!--拼购-->
    <div class="puy scope"><img src="/assets/images/HMM--list_02 .jpg"></div>
    <div id="time" class="scope timing"></div>


    <div class="purchase-box scope">
        <div class="purchase-big">
            <a href="/detail" class="purchase">
                <div class="purchase-box clearfix">
                    <div class="graph">
                        <img src="/assets/images/HMM--list_05.jpg">
                        <span><img src="/assets/images/pin.png"></span>
                    </div>
                    <div class="con-box">
                        <div class="con">
                            <h2>韩国发希fascy陆心媛娃娃护手霜80ml</h2>
                        </div>

                        <div class="ag">
                            <div class="sale">
                                <span class="sale-rate">20<i>%</i></span>
                                <i>打折率:</i>
                            </div>

                            <div class="money">
                                <span class="money-raw">市场价:<i>￥600</i></span>
                                <span class="now">折扣价:<i>￥480</i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fight">
                    <span>拼购打折</span><i>(两人拼购价)</i><b>￥480</b>
                </div>

            </a>
        </div>

        <div class="purchase-big">
            <a href="/detail" class="purchase">
                <div class="purchase-box clearfix">
                    <div class="graph">
                        <img src="/assets/images/HMM--list_05.jpg">
                        <span><img src="/assets/images/pin.png"></span>
                    </div>
                    <div class="con-box">
                        <div class="con">
                            <h2>韩国发希fascy陆心媛娃娃护手霜80ml</h2>
                        </div>

                        <div class="ag">
                            <div class="sale">
                                <span class="sale-rate">20<i>%</i></span>
                                <i>打折率:</i>
                            </div>

                            <div class="money">
                                <span class="money-raw">市场价:<i>￥600</i></span>
                                <span class="now">折扣价:<i>￥480</i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fight">
                    <span>拼购打折</span><i>(两人拼购价)</i><b>￥480</b>
                </div>

            </a>
        </div>

        <div class="purchase-big">
            <a href="/detail" class="purchase">
                <div class="purchase-box clearfix">
                    <div class="graph">
                        <img src="/assets/images/HMM--list_05.jpg">
                        <span><img src="/assets/images/pin.png"></span>
                    </div>
                    <div class="con-box">
                        <div class="con">
                            <h2>韩国发希fascy陆心媛娃娃护手霜80ml</h2>
                        </div>

                        <div class="ag">
                            <div class="sale">
                                <span class="sale-rate">20<i>%</i></span>
                                <i>打折率:</i>
                            </div>

                            <div class="money">
                                <span class="money-raw">市场价:<i>￥600</i></span>
                                <span class="now">折扣价:<i>￥480</i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fight">
                    <span>拼购打折</span><i>(两人拼购价)</i><b>￥480</b>
                </div>

            </a>
        </div>

    </div>

    <!--非拼购产品-->
    <div class="content scope">
        <ul class="product">

            <li>
                <a href="/detail">
                    <img src="/assets/images/HMM--list_01.jpg">
                   <p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
               </a>
               <a href="javascript:;">
                   <img src="/assets/images/HMM--list_01.jpg">
                    <p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
               </a>
            </li>

            <li>
                <a href="/detail"><img src="/assets/images/HMM--list_01.jpg">
                    <p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
                </a>
                <a href="javascript:;"><img src="/assets/images/HMM--list_01.jpg">
                    <p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
                </a>
            </li>

            <li>
                <a href="/detail"><img src="/assets/images/HMM--list_01.jpg">
                    <p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
                </a>
                <a href="javascript:;"><img src="/assets/images/HMM--list_01.jpg">
                    <p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
                </a>
            </li>

            <li>
                <a href="/detail"><img src="/assets/images/HMM--list_01.jpg">
                    <p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
                </a>
                <a href="javascript:;"><img src="/assets/images/HMM--list_01.jpg">
                    <p class="title-hd">德国原产 深层修护经典护手霜100ml</p>
                   <span class="title-fd">
                       <i class="naw">￥75.00</i>
                       <i class="agio">￥125.00</i>
                       <b>5.6折</b>
                   </span>
                </a>
            </li>

        </ul>

        <h2 class="footer">韩秘美 <span>只卖韩国正品</span></h2>

    </div>

     <div class="foot-box scope">
        <footer class="foot scope">
            <nav>
                <ul>
                    <li>
                        <a href="/" class="home">
                            <i></i>
                            <span>首页</span>
                        </a>
                    </li>

                    <li>
                        <a href="" class="buy">
                            <i></i>
                            <span>拼购</span>
                        </a>
                    </li>

                    <li>
                        <a href="" class="story">
                            <i></i>
                            <span>品牌故事</span>
                        </a>
                    </li>

                    <li>
                        <a href="/sho" class="shopping">
                            <i></i>
                            <span>购物车</span>
                        </a>
                    </li>

                    <li class="my-icon">
                        <a href="/myhmm" class="my">
                            <i></i>
                            <span>我的</span>
                        </a>
                    </li>


                </ul>

            </nav>

        </footer>
      </div>
      <div class="top">
          <img src="/assets/images/top.png">
      </div>


</body>
</html>

<script type="text/javascript">

        function clock(){

            var str = '';
            var oP = document.getElementById( 'time' );

            //用将来的时间 - 现在的时间，然后再将这个差值换算成我们需要的 天数 时 分 秒的格式。
            
            var newTime = new Date(2016,11,29,23,30);//即将到来的时间

            var nowTime = new Date();//现在的时间

            // 将得到的毫秒数转换成天数 时钟数 分钟  秒数( 123000秒 )
            // 86400 3600 60 
            
            var time = (newTime - nowTime)/1000; //两个时间的差值

            if( time <0 ){
                clearInterval(iTimer);
				alert('活动已结束');
                return;
            }else{
                str = '距离活动结束还有' +Math.floor((time/86400)) +'天'+ Math.floor( (time%86400)/3600 ) +'时'+ Math.floor((time%86400%3600)/60) +'分'+ Math.floor(time%86400%3600%60) +'秒';

                oP.innerHTML = str;
            }
 
        }

        clock();
        var iTimer = setInterval( clock,1000 );



        //alert( newTime - nowTime  );
        
    </script>
