<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" href="/assets/stylesheets/global.css">
    <link rel="stylesheet" href="/assets/stylesheets/means.css">
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/obligation.js"></script>

</head>

<body>

<!--灰层 结束-->

<header class="head">
    <a href="/install" class="back">
        <i></i>
        <b></b>
    </a>
    <h1>个人资料</h1>
</header>

<div class="wap scope ">
    <!--灰层 开始-->
    <div class="grayDiv scope">
        <div class="grayDiv-box">
            <span>从相册选择新头像<input type="file" class="face"/></span>
            <a href="javascript:;" class="closeBtn">取消</a>
        </div>

    </div>

    <div class="face-box spot">
        <a href="javascript:;" class="face ">
            <i>修改头像</i>
            <span></span>
        </a>
    </div>
    <div class="face-box">
        <a href="javascript:;" class="face ">
            <i>我的昵称</i>
            <span>aaimaaf</span>
        </a>
    </div>
    <div class="face-box">
        <a href="javascript:;" class="face ">
            <i>性别</i>
            <span>女</span>
        </a>
    </div>

</div>

<div class="footer">
  <span class="color">
    <i>韩秘美,只卖韩国正品!</i>
    <i>app首单立减10元</i>
  </span>
  <a href="javascript:;" class="bg">立即下载</a>

</div>

</body>
</html>