@(itemList:List[List[domain.ThemeItem]])
<ul class="product">
    @for(rowList <- itemList){
    <li class="clearfix">
        @for(item <- rowList){
        @if(item.getItemType == "item" || item.getItemType == "vary" || item.getItemType == "customize"){
        <a class="redirect-app clearfix" href="/detail/@item.getItemUrl()">
            <p class="figure figure-f">
                @if(item.getState() != "Y"&&item.getState() != "P"){
                <span>已售罄</span>
                }
                <!--<img src="/assets/images/z-l.png" data-echo="@item.getItemImg()">-->
                <img src="@item.getItemImg()">
            </p>
            <p class="title-hd">@item.getItemTitle()</p>
                            <span class="title-fd">
                                <i class="naw">￥@item.getItemPrice()</i>
                                 @if(null!=item.getItemDiscount()&&false==item.getItemDiscount().toString().startsWith("10")){
                                     <i class="agio">￥@item.getItemSrcPrice()</i>
                                     <b>@item.getItemDiscount()折</b>
                                }
                            </span>

            @if(item.getState() == "P"){
            <p class="obstruct">
                <span><img src="/assets/images/hmm_goods_yushou.png"/></span>
            </p>
            }
        </a>
        }
        @if(item.getItemType() == "pin"){
            <a class="redirect-app clearfix"  href="/detail/@item.getItemUrl()">
                <p class="product-box">
                    <span class="product-top"><i>@item.getEndAt()</i></span>
                </p>

                <p class="figure">
                    <img src="@item.getItemImg()">
                </p>

                <p class="title-hd">@item.getItemTitle()</p>
                    <span class="title-fd">
                       <i class="naw">￥@item.getItemPrice()</i><i class="minimum">最低</i>
                         @if(null!=item.getItemDiscount()&&false==item.getItemDiscount().toString().startsWith("10")){
                            <i class="rate">低至@item.getItemDiscount()折</i>
                        }
                    </span>
            </a>
         }
        }
    </li>
    }
</ul>

